
<table  width=100% border=0><tr><td>
</img></td><td style=position:absolute;left:250;top:40;><h2><font color = #346699>Toshiba TV New Email From Customer</font><h2></td></tr>
<tr><td colspan=2><br/><br/><strong>Dear {{ name }},</strong></td></tr>
<tr><td colspan=2><br/><font size=3>Sender - {{ sender }}</font><br/><br/>Message {{ message }}</td></tr>
<tr><td colspan=2><br/><br/>Kind Regards,<br>ToshibaCare support team.</td></tr>
{% if file != "" %} 
<tr><td colspan=2><br/><br/>Dosya : {{ file }}</td></tr>
{% endif %}
</table>