{% extends './panel/base.html.twig' %}
{% block body %}

<div class="content-wrapper">
<section class="content-header">
            <h1>
                Create Product
            </h1>
        </section>
<section class="panel" id="countrySelector">
<div class="card card-primary card-tabs">
  <div class="card-header p-0 pt-1">
    <input type="hidden" id="postID" data-id="">
    <ul class="nav nav-tabs">

    </ul>
  </div>
  </div>

</section>
<section class="panel">
<header class="panel-heading tab-bg-dark-navy-blue">
  <ul class="nav nav-pills">
    <li class="nav-item active"><a class="nav-link"  data-toggle="tab" href="#genel">General</a></li>
    <li class="nav-item" style="display:none;"><a class="nav-link" data-toggle="tab" href="#country">Countries</a></li>
    <li class="nav-item" style="display:none;"><a class="nav-link" data-toggle="tab" href="#meta">Meta</a></li>
    <li class="nav-item" style="display:none;"><a class="nav-link" data-toggle="tab" href="#photos">Photos</a></li>
    <li class="nav-item" style="display:none;"><a class="nav-link" data-toggle="tab" href="#files">Files</a></li>
    <li class="nav-item" style="display:none;"><a class="nav-link" data-toggle="tab" href="#spec">Specs</a></li>
    <li class="nav-item" style="display:none;"><a class="nav-link" data-toggle="tab" href="#highligted">Highligted Texts</a></li>
    <li class="nav-item" style="display:none;"><a class="nav-link" data-toggle="tab" href="#media">Media</a></li>
  </ul>
</header>
<div class="panel-body">
                           <div class="tab-content">


                             <div class="tab-content">
                                     <div id="genel" class="tab-pane">

                                       <form role="form" id="saveForm">

                                        <div class="form-group col-lg-12">
                                          <label>Status</label>
                                          <select name="status" class="form-control">
                                           {% for status in productStatus %}
                                             <option value="{{ status.id }}">{{ status.name }}
                                             </option>
                                           {% endfor %}
                                          </select>
                                        </div>

                                        <div class="form-group col-lg-12">
                                            <label>Product Name</label>
                                            <input type="text" name="product-name" id="product-name" class="form-control">
                                        </div>

                                      <div class="form-group col-lg-12">
                                            <label>ProductCode</label>
                                            <input type="text" name="code" id="product-code" class="form-control">
                                        </div>

                                         <div class="form-group col-lg-12">
                                            <label>Product EAN</label>
                                            <input type="text" name="ean" id="ean" class="form-control">
                                        </div>


                                        <div class="form-group col-lg-12">
                                            <label>Link</label>
                                            <input type="text" name="link" id="link" class="form-control">
                                        </div>

                                        <div class="form-group col-lg-12">
                                            <label>Priority</label>
                                            <input type="text" name="priority" id="priority" class="form-control">
                                        </div>

                                        <div class="form-group col-lg-12">
                                            <label>Active</label>
                                            <input type="text" name="active" id="active" class="form-control">
                                        </div>

                                         <div class="form-group col-lg-12">
                                          <label>Category</label>
                                          <select name="category" class="form-control">
                                           {% for category in categories %}
                                             <option value="{{ category.id }}">{{ category.name }}
                                             </option>
                                           {% endfor %}
                                          </select>
                                        </div>

                                          <div class="form-group col-lg-12">
                                            <label>
                                              Serie
                                            </label>
                                            <select name="serie" class="form-control">
                                              <option value="null">No Serie Selected</option>
                                                {% for serie in series %}
                                                  <option value="{{ serie.id }}">{{ serie.name }}</option>
                                                {% endfor %}
                                              </select>
                                          </div>



                                          <!-- <div class="col-sm-6">
                                            {image n=pp t="Product Photo" w=1280 h=850}
                                          </div> -->
                                          <!-- <div class="col-sm-6">
                                             <div class="form-group col-lg-4">
                                             <select id="featureID">
                                             {% for feature in features %}
                                             <option value="{{ feature.id }}">{{ feature.name }}
                                             </option>
                                             {% endfor %}
                                             </select>
                                            </div>
                                          </div> -->

                                          <div style="clear:both;"></div>
                                         <button class="btn btn-success" id="submit" type="submit">Next</button>
                                       </form>

                                     </div>
                                     <div id="meta" class="tab-pane metaboxes">
                                     </div>
                                     <div id="photos" class="tab-pane ">

                                       {filezone t=g sI=gallerySort}
                                     </div>
                                     <div id="files" class="tab-pane ">
                                       {filezone t=file}
                                     </div>
                                     <div id="spec" class="tab-pane ">

                                         {specConnector}

                                     </div>

                                     <div id="country" class="tab-pane">
                                        <table class="table table-striped">
                                          <thead>
                                            <tr>
                                              <td>
                                                Country
                                              </td>
                                              <td>
                                                Avaible
                                              </td>
                                            </tr>
                                          </thead>
                                          <tbody>
                                          {% for country in countries %}
                                            <tr>
                                              <td>
                                                <label style="float:left;">{{ country.name }}</label>
                                              </td>
                                              <td>
                                                <input style="float:left;" class="countryCheckBox" data-id="{{ country.id }}"  name="countrySelection[{{ country.id }}]" type="checkbox">
                                              </td>
                                            </tr>
                                          {% endfor %}
                                          </tbody>
                                        </table>
                                     </div>

                                 <div id="highligted" class="tab-pane ">
                                     <div class="col-lg-12">
                                         <div class="form-group col-md-7">
                                            <input type="text" class="form-control" id="newhighlightedText" placeholder="New Highligted Text">
                                         </div>
                                         <div class="form-group col-md-3">
                                             <input type="text" class="form-control" id="newHighlightedTextPriority" placeholder="New Higligted Priority">
                                         </div>
                                         <div class="form-group col-md-2">
                                            <button class="btn btn-success pull-right newHighligtedButton">Create</button>
                                         </div>
                                     </div>

                                     <div id="currentHighligted"></div>
                                 </div>

                                 <div id="media" class="tab-pane ">
                                     <div class="row">
                                         <div class="canAjaxUploader form-group col-md-3">
                                             <label>Thumbnail</label>
                                             <img width="100" class="img-thumbnail">
                                             <input readonly="readonly" type="hidden" id="newThumbnail" name="newThumbnail" class="form-control datav1" />
                                             <button type="button" class="btn btn-primary btn-xs up"><i class="fa fa-plus"></i></button>
                                         </div>
                                         <div class="canAjaxUploader form-group col-md-3">
                                             <label>Media Photo</label>
                                             <img width="100" class="img-thumbnail">
                                             <input readonly="readonly" type="hidden" id="newMediaPath" name="newMediaPath" class="form-control datav1" />
                                             <button type="button" class="btn btn-primary btn-xs up"><i class="fa fa-plus"></i></button>
                                         </div>
                                         <div class="canAjaxUploader form-group col-md-2">
                                             <label>Name</label>
                                             <input type="text" name="newMedia" id="newMediaName" class="form-control">
                                         </div>
                                         <div class="canAjaxUploader form-group col-md-2">
                                             <label>Priority</label>
                                             <input type="text" name="newMediaPrio" id="newMediaPrio" class="form-control">
                                         </div>
                                         <div class="form-group col-md-2">
                                             <button class="btn btn-success pull-right newMediaButton">Add</button>
                                         </div>
                                     </div>

                                     <div id="currentMedia"></div>

                                 </div>


                             </div>

<div class="col-sm-6">



          </div>
                           </div>
                       </div>


</section>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.4.0/bootbox.js" type="text/javascript"></script>
<script>
console.log(getCountry());
$('#saveForm').submit(function(e) {
    e.preventDefault();
    console.log("inSubmit")
    var form = $(this);
    console.log(form.serialize());
    $.ajax({
      type: "POST",
      url: "{{ path('listLanguage') }}",
      data: form.serialize(),
      success: function(data){
        console.log(data.product);
        $("#postID").attr("data-id", data.product);
        if(data.KOD === "SUCCESS") {
          $(".nav-item").css({"display":"block"});
        }
      }
    })
});
$("#meta").delegate("input", "keyup", function (e) {
  console.log(this.productId);
            var data = $(this).val();
            $(this).addClass("proccessing");
            var it = $(this);
            var name = $(this).attr("name");
              $.ajax({
                url:'{{ path('listLanguage') }}',
                type: "GET",
                data: {act: "meta", subact: "set", product: $('#postID').attr("data-id"), s:$(this).attr("data-sid"), country:  $('#hiddenLanguage').attr("data-id"), data:data, name:name },
                async: false,

                success: function(data)
                {
                  $(it).removeClass("proccessing");
                }
              });
        });

  $('input.countryCheckBox').change(function(){
    var isChecked = false;
    if($(this).is(':checked')) {
      isChecked = true;
    } else {
      isChecked = false;
    }
    var root = $(this).parent("div").parent("td").parent("tr").parent("div");
    $(root).find("div").hide();
    $(root).find(".miniLoding").show();
    $.ajax({
      url:'{{ path('listLanguage') }}',
      type: "GET",
      data: {act: "productCountry", subact: "set", isChecked: isChecked, product: $('#postID').attr("data-id"), s:$(this).attr("data-sid"), country:  $('#hiddenLanguage').attr("data-id") },
      async: false,

      success: function(data)
      {
        $(root).find("div").show();
        $(root).find(".miniLoding").hide();
        loadProductCountry();
      }
    });
  })



function loadProductCountry() {
        $.ajax({
            url:'{{ path('listLanguage') }}',
            type: "GET",
            data: {act: "productCountry", subact: "list"},
            async: false,

            success: function(data)
           {
             $("#countrySelector").find("ul").html(data);
           }
        });
    }

    loadProductCountry();

    $("#countrySelector").delegate("li", "click", function () {
            var data = $(this).find("a").attr("data-country");
            reloadCountry(data);
        });

    function reloadCountry(data) {
        $(".countrySwitch li.active").removeClass("active");
        $(".countrySwitch li a[data-country=" + data + "]").parent("li").addClass("active");
        $(".countryWanted").val(data);
        console.log( $(".countryWanted").val(data));
        console.log(data);
        setCountry(data);
        //reloadSpecInputs();
        //reloadHighligtedInputs();
        //reloadMediaInputs();
        loadMeta(data);
        $('.dropzone').each(function () {
            //var type = $(this).find("input[name=type]").val();
            //var id = $(this).find("input[name=parent]").val();
            //var $target = $(this).find("ul");
            //loadfiles(id, type, $target);
        })
    }

    function setCountry(data) {
        return $("#countrySwitch").attr("value", data);
    }

    function getCountry() {
      //console.log($("#countrySwitch").attr("value"))
        return $("#countrySwitch").attr("value");
    }

    function loadMeta(language) {
          $.ajax({
          url:'{{ path('listLanguage') }}',
          type: "GET",
          data: {act: "meta", subact: "get", language: language},
          async: false,

          success: function(data)
          {
            $("#meta").html(data);
          }
          });

        }

function loadFeatures() {
          $.ajax({
          url:'{{ path('listLanguage') }}',
          type: "GET",
          data: {act: "feature", subact: "list"},
          async: false,

          success: function(data)
          {
            $("#featureZone").html(data);
          }
          });

    }

    $("body").delegate("#featuresConnector", "click", function (e) {
        var id = $("#featureID").val();
        var type = $("#featureType").val();
       $.ajax({
          url:'{{ path('listLanguage') }}',
          type: "GET",
          data: {act: "feature", subact: "add", "feature": id, type: type},
          async: false,

          success: function(data)
          {
            loadFeatures();
          }
          });
    });

    loadFeatures();
</script>
{% endblock %}
