{% extends './panel/base.html.twig' %}
{% block body %}

<div class="content-wrapper">
<section class="content-header">
            <h1>
                Create Product
            </h1>
        </section>
<section class="panel" id="countrySelector">
  <header class="panel-heading tab-bg-dark-navy-blue">
    <ul class="nav nav-tabs">

    </ul>
  </header>
      
</section>
<section class="panel">
<header class="panel-heading tab-bg-dark-navy-blue">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#genel">General</a></li>
    <li><a data-toggle="tab" href="#country">Countries</a></li>
    <li ><a data-toggle="tab" href="#meta">Meta</a></li>
    <li><a data-toggle="tab" href="#photos">Photos</a></li>
    <li><a data-toggle="tab" href="#files">Files</a></li>
    <li><a data-toggle="tab" href="#spec">Specs</a></li>
    <li><a data-toggle="tab" href="#highligted">Highligted Texts</a></li>
    <li><a data-toggle="tab" href="#media">Media</a></li>
  </ul>
</header>
<div class="panel-body">
                           <div class="tab-content">


                             <div class="tab-content">
                                     <div id="genel" class="tab-pane">

                                       <form role="form" method="post">

                                        <div class="form-group col-lg-12">
                                          <label>Status</label>
                                          <select name="status" class="form-control">
                                           {% for status in productStatus %}
                                             <option value="{{ status.id }}">{{ status.name }}
                                             </option>
                                           {% endfor %}
                                          </select>
                                        </div>

                                      <div class="form-group col-lg-12">
                                            <label>ProductCode</label>
                                            <input type="text" name="code" id="code" class="form-control">
                                        </div>

                                         <div class="form-group col-lg-12">
                                            <label>Product EAN</label>
                                            <input type="text" name="sku" id="sku" class="form-control">
                                        </div>

                                        <div class="form-group col-lg-12">
                                            <label>Description</label>
                                            <input type="text" name="description" id="descr" class="form-control">
                                        </div>


                                         <div class="form-group col-lg-12">
                                          <label>Category</label>
                                          <select name="category" class="form-control">
                                           {% for category in categories %}
                                             <option value="{{ category.id }}">{{ category.name }}
                                             </option>
                                           {% endfor %}
                                          </select>
                                        </div>

                                          <div class="form-group col-lg-12">
                                            <label>
                                              Serie
                                            </label>
                                            <select name="serie" class="form-control">
                                              <option value="null">No Serie Selected</option>
                                                {% for serie in series %}
                                                  <option value="{{ serie.id }}">{{ serie.name }}</option>
                                                {% endfor %}
                                              </select>
                                          </div>

                                        

                                          <div class="col-sm-6">
                                            {image n=pp t="Product Photo" w=1280 h=850}
                                          </div>
                                          <div class="col-sm-6">
                                             <div class="form-group col-lg-4">
                                             <select id="featureID">
                                             {% for feature in features %}
                                             <option value="{{ feature.id }}">{{ feature.name }}
                                             </option>
                                             {% endfor %}
                                             </select> 
                                            </div>
                                          </div>

                                          <div style="clear:both;"></div>
                                         {send}
                                       </form>

                                     </div>
                                     <div id="meta" class="tab-pane metaboxes">
                                       meta
                                     </div>
                                     <div id="photos" class="tab-pane ">

                                       {filezone t=g sI=gallerySort}
                                     </div>
                                     <div id="files" class="tab-pane ">
                                       {filezone t=file}
                                     </div>
                                     <div id="spec" class="tab-pane ">

                                         {specConnector}

                                     </div>

                                     <div id="country" class="tab-pane ">
                                        {countrySelection}
                                     </div>

                                 <div id="highligted" class="tab-pane ">
                                     <div class="col-lg-12">
                                         <div class="form-group col-md-7">
                                            <input type="text" class="form-control" id="newhighlightedText" placeholder="New Highligted Text">
                                         </div>
                                         <div class="form-group col-md-3">
                                             <input type="text" class="form-control" id="newHighlightedTextPriority" placeholder="New Higligted Priority">
                                         </div>
                                         <div class="form-group col-md-2">
                                            <button class="btn btn-success pull-right newHighligtedButton">Create</button>
                                         </div>
                                     </div>

                                     <div id="currentHighligted"></div>
                                 </div>

                                 <div id="media" class="tab-pane ">
                                     <div class="row">
                                         <div class="canAjaxUploader form-group col-md-3">
                                             <label>Thumbnail</label>
                                             <img width="100" class="img-thumbnail">
                                             <input readonly="readonly" type="hidden" id="newThumbnail" name="newThumbnail" class="form-control datav1" />
                                             <button type="button" class="btn btn-primary btn-xs up"><i class="fa fa-plus"></i></button>
                                         </div>
                                         <div class="canAjaxUploader form-group col-md-3">
                                             <label>Media Photo</label>
                                             <img width="100" class="img-thumbnail">
                                             <input readonly="readonly" type="hidden" id="newMediaPath" name="newMediaPath" class="form-control datav1" />
                                             <button type="button" class="btn btn-primary btn-xs up"><i class="fa fa-plus"></i></button>
                                         </div>
                                         <div class="canAjaxUploader form-group col-md-2">
                                             <label>Name</label>
                                             <input type="text" name="newMedia" id="newMediaName" class="form-control">
                                         </div>
                                         <div class="canAjaxUploader form-group col-md-2">
                                             <label>Priority</label>
                                             <input type="text" name="newMediaPrio" id="newMediaPrio" class="form-control">
                                         </div>
                                         <div class="form-group col-md-2">
                                             <button class="btn btn-success pull-right newMediaButton">Add</button>
                                         </div>
                                     </div>

                                     <div id="currentMedia"></div>

                                 </div>


                             </div>

<div class="col-sm-6">



          </div>
                           </div>
                       </div>


</section>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.4.0/bootbox.js" type="text/javascript"></script>
<script>
function loadProductCountry() {
        $.ajax({
            url:'{{ path('listLanguage') }}',
            type: "GET",
            data: {act: "productCountry", subact: "list"},
            async: false,

            success: function(data)
           {
             $("#countrySelector").find("ul").html(data);
           }
        });
    }

    loadProductCountry();

    $("#countrySelector").delegate("li", "click", function () {
            var data = $(this).find("a").attr("data-country");
            reloadCountry(data);
        });

    function reloadCountry(data) {
        $(".countrySwitch li.active").removeClass("active");
        $(".countrySwitch li a[data-country=" + data + "]").parent("li").addClass("active");
        $(".countryWanted").val(data);
        console.log( $(".countryWanted").val(data));
        console.log(data);
        setCountry(data);
        //reloadSpecInputs();
        //reloadHighligtedInputs();
        //reloadMediaInputs();
        loadMeta();
        $('.dropzone').each(function () {
            //var type = $(this).find("input[name=type]").val();
            //var id = $(this).find("input[name=parent]").val();
            //var $target = $(this).find("ul");
            //loadfiles(id, type, $target);
        })
    }

    function setCountry(data) {
        return $("#countrySwitch").attr("value", data);
    }

    function getCountry() {
        return $("#countrySwitch").attr("value");
    }

    function loadMeta() {
         $.ajax({
          url:'{{ path('listLanguage') }}',
          type: "GET",
          data: {act: "meta", subact: "get"},
          async: false,

          success: function(data)
          {
            $("#meta").html(data);
          }
          });    
           
        }

function loadFeatures() {
          $.ajax({
          url:'{{ path('listLanguage') }}',
          type: "GET",
          data: {act: "feature", subact: "list"},
          async: false,

          success: function(data)
          {
            $("#featureZone").html(data);
          }
          });   
        
    }

    $("body").delegate("#featuresConnector", "click", function (e) {
        var id = $("#featureID").val();
        var type = $("#featureType").val();
       $.ajax({
          url:'{{ path('listLanguage') }}',
          type: "GET",
          data: {act: "feature", subact: "add", "feature": id, type: type},
          async: false,

          success: function(data)
          {
            loadFeatures();
          }
          }); 
    });

    loadFeatures();        
</script>
{% endblock %}
