{% extends './panel/base.html.twig' %}
{% block body %}

<div class="content-wrapper">
<section class="content-header">
            <h1>
                Create Product
            </h1>
        </section>
<section class="panel">
  <div class="container">

	<ul class="nav nav-pills" id="language-bar">
  {% for language in languages %}
	  <li class="lang-menu" data-id="{{ language.id }}"><a style="border:double;padding: 5px;" href="#mainTab{{language.id}}" data-toggle="tab">{{language.code}}</a></li>
  {% endfor %}  
	</ul>
  <form role="form" id="create-product">
  <div class="card-body">
	<div style="margin-top:20px;" class="tab-content">
  
  {% for language in languages %}
  
		<div class="newClass tab-pane fade " id="mainTab{{language.id}}" data-tab="{{ language.id }}">
			<ul class="nav nav-pills">
			  <li><a id="getLang" style="border:double;padding: 5px;" href="#genel" data-toggle="tab">Genel</a></li>
			  <li><a style="border:double;padding: 5px;" href="#country" data-toggle="tab">Country</a></li>
			  <li><a style="border:double;padding: 5px;" href="#images" data-toggle="tab">Images</a></li>
			</ul>
		</div>
	{% endfor %}	
  <div class="tab-content" style="margin-bottom:50px">
				<div class="tab-pane fade" id="genel">
          
      
              

        </div>
				<div class="tab-pane fade" id="country">
        <div class="form-group">
                <label for="exampleInputEmail12">Test</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
              </div>
        </div>
			</div>
  
	</div>
  <div class="card-footer">
  <button type="submit" class="btn btn-primary">Submit</button>
  </div>
  </div>
  </form>
 </div>

      
</section>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

<script>
$(".lang-menu").click(function() {
var langId = $(this).attr('data-id');
var html = $('<label for="exampleInputEmail1">Email address</label><input type="email" name="email" class="form-control" id="exampleInputEmail" placeholder="Enter email">"');
document.getElementById('genel').append(html);
})

</script>
{% endblock %}
