{% extends 'support-panel/support-base.html.twig' %}
{% block stylesheets %}

    <!-- Include Editor style. -->
    <link href="/assets/froala/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block body %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            {# <h1>General Form</h1> #}
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{{ path('support-faq-list') }}">Question/Answer List</a></li>
              <li class="breadcrumb-item active">Edit Question/Answer</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">FAQ CATEGORY ADD</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              {% if message != "" %}
                <p class="">
                {{message|raw}}
                </p> 
                {% endif %}
              <form role="form" method="post" action="{{path('add-faq-category')}}">
                <div class="card-body">
                  <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" name="name" class="form-control" id="faq-name">
                  </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                  <button type="submit" name="faq-submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>
          
            <!-- /.card -->

          </div>
          <!--/.col (left) -->
          <!-- right column -->
         
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
{% endblock %}
{% block javascripts %}
<script>
<script src="admin-lte/plugins/summernote/summernote-bs4.min.js"></script>

  $(document).ready(function() {
  $('.textarea').summernote();
});
</script>
{% endblock %}