{% extends 'support-panel/support-base.html.twig' %}
{% block body %}
<div class="content-wrapper">

<section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">APPROVED PRODUCTS</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example2" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th>Customer Name</th>
                    <th>Serial NO</th>
                    <th>Model Number</th>
                    <th>Sales Date</th>
                    <th>Sales Doc</th>
                    <th>Status</th>
                    <th>Created Date</th>
                    <th>Operations</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for product in products %}
                  <tr>
                    <td>{{product.user.name}} {{product.user.surname}}</td>
                    <td>{{product.serialNo}}</td>
                    <td>{{product.modelNo}}</td>
                    <td>{{product.salesDate|date("m/d/Y")}}</td>
                    <td>
                    <a target="_blank" href="../uploads/files/{{product.salesDoc}}">
                    <i class="fas fa-file-pdf" style="color: #f00; font-size: 14pt; margin-top: 8px;" aria-hidden="true"></i>
                    </a>
                    </td>
                    <td>{{product.status}}</td>
                    <td>{{product.createdAt|date("m/d/Y")}}</td>
                    <td>
                    <div class="btn-group pull-right">
                         <button disabled="disabled" class="btn btn-success"><i class="fa fa-check-circle"></i></button><br>
                         <a class="btn btn-warning" href="/edit-support-product?id={{product.id}}"><i class="fas fa-pencil-alt"></i></a>
                    </div>
                    </td>
                  </tr>
                  {% endfor %}  
                  </tfoot>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

           
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
</div>

{% endblock %}
