{% extends 'support-panel/support-base.html.twig' %}
{% block stylesheets %}

    <!-- Include Editor style. -->
    <link href="/assets/froala/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block body %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            {# <h1>General Form</h1> #}
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{{ path('video-list') }}">EDIT VIDEO LIST</a></li>
              <li class="breadcrumb-item active">Edit VIDEO</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">EDIT VIDEO</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" method="post" action="/edit-video?id={{video}}">
                <div class="card-body">
                {% for lang in langs %}
                {% if videoArray[lang.name] is defined %}
                  <div class="form-group">
                    <h3>{{lang.name}}</h3>
                    <label for="name">Title</label>
                    <input type="text" name="translate[{{lang.id}}][title]" class="form-control" id="title" value="{{videoArray[lang.name].title}}">
                    
                    <div class="col-sm-6">
                            <img src="https://i.ytimg.com/vi/{{videoArray[lang.name].url}}/mqdefault.jpg" class="thumbnail img-responsive">
                    </div>
                    <label for="name">Description</label>
                    <input type="text" name="translate[{{lang.id}}][description]" class="form-control" id="description" value="{{videoArray[lang.name].description}}">
                    <label for="name">Video</label>
                    <input type="text" name="translate[{{lang.id}}][video]" class="form-control" id="video" value="{{videoArray[lang.name].url}}">
                  </div>
                {% else %}
                <div class="form-group">
                    <h3>{{lang.name}}</h3>
                    <label for="name">Title</label>
                    <input type="text" name="translate[{{lang.id}}][title]" class="form-control" id="title" value="">
                    <label for="name">Description</label>
                    <input type="text" name="translate[{{lang.id}}][description]" class="form-control" id="description" value="">
                    <label for="name">Video</label>
                    <input type="text" name="translate[{{lang.id}}][video]" class="form-control" id="video" value="">
                  </div>
                {% endif %}  
                {% endfor %}
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" name="video-submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>
          
            <!-- /.card -->

          </div>
          <!--/.col (left) -->
          <!-- right column -->
         
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
{% endblock %}
