{% extends 'support-panel/support-base.html.twig' %}
{% block body %}
{% block stylesheets %}

    <style>
    .col-sm-6 {
        float: left!important;
    }
    </style>
{% endblock %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Registered Product Edit</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{{ path('approved-products') }}">Registered Products</a></li>
              <li class="breadcrumb-item active">PRODUCT REGISTER EDIT</li>
            </ol>
          </div>
        </div>
      </div>
    </section>

    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">PRODUCT REGISTER EDIT</h3>
              </div>
              <form role="form" method="post" action="/edit-support-product?id={{product.id}}">
                <div class="card-body">
                
                <div class="col-sm-6">
                    <label for="name">Customer Name</label>
                    <input type="text" name="username" class="form-control" id="username" value="{{ product.user.name }}" required=required>
                </div>

                <div class="col-sm-6">
                    <label for="datetime">Birth Date</label>
                    <input type="text" name="datetime" class="form-control" data-inputmask-alias="datetime" value="{{ product.user.birthDate|date("d-m-Y") }}" data-inputmask-inputformat="dd-mm-yyyy" data-mask="" im-insert="false" required=required> 
                </div>
            
                <div class="col-sm-6">
                    <label for="phone">Customer Phone</label>
                    <input type="text" name="phone" class="form-control" id="phone" value="{{ product.user.phone }}" required=required>
                </div>

                <div class="col-sm-6">
                    <label for="email">Customer Email</label>
                    <input type="email" name="email" class="form-control" id="email" value="{{ product.user.email }}" required=required>
                </div>

                <div class="col-sm-6">
                    <label for="address">Customer Address</label>
                    <input type="text" name="address" class="form-control" id="address" value="{{ product.user.address }}" required=required>
                </div>

                <div class="col-sm-6">
                    <label for="zipcode">Customer Zip Code</label>
                    <input type="text" name="zipcode" class="form-control" id="zipcode" value="{{ product.user.zipCode }}" required=required>
                </div>

                <div class="col-sm-6">
                <label for="country">Customer Country</label>
                <select name="country" id="country" class="form-control">
                    {% for country in countries %}
                    <option value="{{country.id}}" {% if product.user.country.id == country.id %} selected {% endif %} >{{country.name}}</option>
                    {% endfor %}
                </select>
                </div>

                <div class="col-sm-6">
                    <label for="serialnumber">Serial Number</label>
                    <input type="text" disabled name="zipcode" class="form-control" id="serialnumber" value="{{ product.serialNo }}" >
                </div>

                <div class="col-sm-6">
                    <label for="salesdate">Date of Purchase</label>
                    <input type="text" name="salesdate" class="form-control" data-inputmask-alias="datetime" required=required value="{{ product.salesDate|date("d-m-Y") }}" data-inputmask-inputformat="dd-mm-yyyy" data-mask="" im-insert="false">
                </div>

                <div class="col-sm-6">
                    <label for="dealer">Dealer</label>
                    <input type="text" name="dealer" class="form-control" id="dealer" required=required value="{{ product.dealer }}">
                </div>

                </div>
                <div class="card-footer">
                  <button type="submit" name="product-submit" class="btn btn-primary">Save</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

{% endblock %}
{% block javascripts %}

{% endblock %}