{% extends 'support-panel/support-base.html.twig' %}
{% block body %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>General Form</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{{ path('support-panel-faq-categories-list') }}">FAQ Category List</a></li>
              <li class="breadcrumb-item active">Edit FAQ Category</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">FAQ CATEGORY EDIT</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" method="post" action="/edit-faq-category?id={{faqCategory.id}}">
                <div class="card-body">
                {% for lang in langs %}
                {% if faqCategories[lang.name] is defined %}
                  <div class="form-group">
                    <label for="name">{{lang.name}}</label>
                    <input type="text" name="translate[{{faqCategories[lang.name].lang_id}}]["name"]" class="form-control" id="name" value="{{faqCategories[lang.name].name}}">
                  </div>
                {% else %}
                <div class="form-group">
                    <label for="name">{{lang.name}}</label>
                    <input type="text" name="translate[{{lang.id}}]["name"]" class="form-control" id="name" value="">
                  </div>
                {% endif %}  
                {% endfor %}
                
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" name="faq-submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>
          
            <!-- /.card -->

          </div>
          <!--/.col (left) -->
          <!-- right column -->
         
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
{% endblock %}