{% extends 'support-panel/support-base.html.twig' %}
{% block stylesheets %}

    <!-- Include Editor style. -->
    <link href="/assets/froala/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block body %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            {# <h1>General Form</h1> #}
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{{ path('support-faq-list') }}">Question/Answer List</a></li>
              <li class="breadcrumb-item active">Edit Question/Answer</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">QUESTION/ANSWER EDIT</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" method="post" action="/edit-faq?id={{faq.id}}">
                <div class="card-body">
                {% for lang in langs %}
                {% if faqContents[lang.name] is defined %}
                  <div class="form-group">
                    <h3>{{lang.name}}</h3>
                    <label for="name">Question</label>
                    <input type="text" name="translate[{{lang.id}}][question]" class="form-control" id="question" value="{{faqContents[lang.name].question}}">
                    <label for="name">Answer</label>
                    <textarea name="translate[{{lang.id}}][answer]" class="form-control textarea" id="answer" value="">{{faqContents[lang.name].answer}}</textarea>
                  </div>
                {% else %}
                <div class="form-group">
                    <h3>{{lang.name}}</h3>
                    <label for="name">Question</label>
                    <input type="text" name="translate[{{lang.id}}][question]" class="form-control" id="question" value="">
                    <label for="name">Answer</label>
                    <textarea name="translate[{{lang.id}}][answer]" class="form-control" id="answer" value=""></textarea>
                  </div>
                {% endif %}  
                {% endfor %}
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" name="faq-submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>
          
            <!-- /.card -->

          </div>
          <!--/.col (left) -->
          <!-- right column -->
         
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
{% endblock %}
{% block javascripts %}
<script>
<script src="admin-lte/plugins/summernote/summernote-bs4.min.js"></script>

  $(document).ready(function() {
  $('.textarea').summernote();
});
</script>
{% endblock %}