{% extends 'support-panel/support-base.html.twig' %}
{% block stylesheets %}

    <!-- Include Editor style. -->
    <link href="/assets/froala/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block body %}
<div class="content-wrapper">
<section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">FAQ Categories</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example2" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th>Category</th>
                    <th>Operation</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for faqCats in faqCategories %}
                  <tr>
                    <td>{{faqCats.name}}</td>
                    <td><a href="/edit-faq-category?id={{faqCats.id}}" class="btn btn-info">Edit</a>
                    </td>
                  </tr>
                  {% endfor %}  
                  </tfoot>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

           
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
</div>

{% endblock %}
