{% extends 'support-panel/support-base.html.twig' %}
{% block body %}
<div class="content-wrapper">
<section id="main-content">
    <section class="wrapper site-min-height">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading"><?php echo $title; ?>
                </header>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group col-sm-2 col-md-2">
                            <form action="" method="post" id="transForm">
                                <label for="exampleInputCountry">Choice</label>
                                <select name="choice" class="form-control choice">
                                    <option selected="selected" value="0">Day</option>
                                    <option value="1">Week</option>
                                    <option value="2">Month</option>
                                </select>
                            </form>
                        </div>
                    </div>
                    <table class="table table-striped dataTable" id="registration">
                        <thead>
                        <tr>
                            <th class="text-center">Country</th>
                            <th class="text-center">Count</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <button id="registrationButton" type="submit" class="btn btn-primary submit">Download</button>
                </div>
            </section>
        </div>
    </section>
</section>
</div>
{% block javascripts %}
<script src="assets/js/jquery.table2excel.min.js"></script>
<script>
    var documentName="registration-result";
    $(document).ready(function(){
        $.ajax({
            url:'',
            type:'POST',
            dataType:'json',
            data: {choiceData:0},
            success: function(data)
            {
                $.loadTable('registration',data);
            },
            error: function(err){
                console.log(err);
            }
        });

        $("#registrationButton").click(function(){
            $("#registration").table2excel({
                // exclude bu class verdiğiniz yerler aktarılmayacak.
                exclude: ".bunu_aktarma",
                filename: documentName
            });
        });
        var choice = $(this).val();

        $.loadTable = function(divId,data){
            $('#'+divId).find('tbody').html("");
            var html = '';
            $.each(data,function(idx,value){
                html += '<tr><td class="text-center">'+value.country+'</td><td class="text-center">'+value.count+'</td></tr>';
            });

            $('#'+divId).find('tbody').html(html);
        }

        $('.choice').on('change',function(){
            var choice = $(this).val();
            var file = "";
            var d = new Date();
            var strDate = d.getFullYear() + "/" + (d.getMonth()+1) + "/" + d.getDate();
            if(choice == 0) {
                var date = d.getFullYear() + "/" + (d.getMonth()+1) + "/" + (d.getDate()-1);
                file = date+"-"+strDate;
            }
            if(choice == 1) {
                var date = d.getFullYear() + "/" + (d.getMonth()+1) + "/" + (d.getDate()-7);
                file = date+"-"+strDate;
            }
            if(choice == 2) {
                var date = d.getFullYear() + "/" + (d.getMonth()) + "/" + d.getDate();
                file = date+"-"+strDate;
            }
            window.documentName ="registration-result-"+file;
            $.ajax({
                url:'',
                type:'POST',
                dataType:'json',
                data: {choiceData:choice},
                success: function(data)
                {
                    $.loadTable('registration',data);
                },
                error: function(err){
                    console.log(err);
                }
            });
        });
    });

</script>
<script>
 $(function () {
    $("#registration").DataTable({
      "responsive": true,
      "autoWidth": false,
    });
    
  });
</script>
{% endblock %}
{% endblock %}

