{% extends 'support-panel/support-base.html.twig' %}
{% block body %}
<div class="content-wrapper">
<section id="content">
    <section class="wrapper site-min-height">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading"><?php echo $title; ?>
                    <!--<a href="#" class="btn btn-success btn-xs pull-right">Create New</a>-->
                </header>

                <div class="col-md-12">
                    <div class="col-sm-2">
                        <label for="exampleInputCountry">Country</label>
                        <select name="country" id="country" class="form-control country selectFilter">
                            <option value="">Select Country</option>
                            {% for country in countries %}    
                                <option value="{{country.id}}">{{country.name}}</option>
                            {% endfor %}                           
                        </select>
                    </div>

                    <div class="col-sm-3">
                        <label for="exampleInputProfession">Profession</label>
                        <select name="profession" id="profession" class="form-control selectFilter">
                            <option value="">Select Profession</option>
                            {% for profession in professions %}
                                <option value="{{profession.id}}">{{profession.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <label for="exampleInputEducation">Education</label>
                        <select name="education" id="education" class="form-control selectFilter">
                            <option value="">Select Education</option>
                            {% for education in educations %}
                                <option value="{{education.id}}">{{education.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-4">
                        <a href="" class="btn btn-info pull-right" style="margin-top:20px">ALL</a>
                    </div>
                </div>

                <div class="panel-body">
                    <style>
                        .table{
                            font-size: 11px;
                        }
                        .table button{
                            font-size:11px;
                        }
                    </style>
                    <table class="table table-striped datatable" id="survey">
                        <thead>
                        <tr>
                            <th class="text-center">Question</th>
                            <th class="text-center">Answer</th>
                            <th class="text-center">Total</th>
                            <th class="text-center">Count</th>
                            <th class="text-center">Male</th>
                            <th class="text-center">Female</th>
                            <th class="text-center">Not Disclosed</th>
                            <th class="text-center">Age(0-24)</th>
                            <th class="text-center">Age(25-44)</th>
                            <th class="text-center">Age(45>)</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if outputs is not empty %}
                            {% for sur in outputs %}
                                <tr>
                                    <td class="text-center" style="word-break: break-word;">{{sur[0].question}}</td>
                                    <td class="text-center" style="white-space: nowrap;ertical-align: middle;">
                                        {% set counter = 0 %}
                                        {% for answer in sur %}
                                            {% if sur[0].question_type != 2 and sur[0].question_type != 3 %}
                                            {{answer.answer}}
                                            <br>
                                            
                                            {% elseif sur[0].question_type == 3 %}
                                                {% if counter == (sur.length - 1) %}
                                                    <button name="textAnswers" type="submit"
                                                        data-id="<?php echo $answer['question_id']; ?>"
                                                        class="btn btn-link submit textAnswers">{{answer.answer}}
                                                    </button>
                                                {% else %}    
                                                    {{answer.answer}}
                                                    <br>
                                                {% endif %}
                                            {% else %}
                                                <button name="textAnswers" type="submit"
                                                        data-id="{{answer.question_id}}"
                                                        class="btn btn-link submit textAnswers">Text Answers
                                                </button>
                                                <br>
                                            {% endif %}
                                            {% set counter = counter + 1 %}
                                        {% endfor %}
                                    </td>
                                    <td class="text-center" style="white-space: nowrap;vertical-align: middle;">{{sur[0].sum}}</td>
                                    <td class="text-center" style="white-space: nowrap;vertical-align: middle;">
                                    {% for answer in sur %}
                                        {{answer.cnt}}
                                        <br>
                                    {% endfor %}    
                                    </td>
                                    <td class="text-center" style="white-space: nowrap;vertical-align: middle;">
                                    {% for answer in sur %}
                                    %{{ answer.male|number_format(2, '.', ',') }} ({{answer.male_count}})
                                      <br>  
                                    {% endfor %}      
                                    </td>
                                    <td class="text-center" style="white-space: nowrap;vertical-align: middle;">
                                    {% for answer in sur %}
                                    %{{answer.female|number_format(2, '.', ',')}} ({{answer.female_count}})
                                        <br>
                                    {% endfor %} 
                                    </td>
                                    <td class="text-center" style="white-space: nowrap;vertical-align: middle;">
                                    {% for answer in sur %}
                                    %{{answer.disclosed|number_format(2, '.', ',')}} ({{answer.disclosed_count}})
                                       <br>
                                    {% endfor %}    
                                    </td>
                                    
                                    <td class="text-center" style="white-space: nowrap;vertical-align: middle;">
                                    {% for answer in sur %}
                                    %{{answer.under24|number_format(2, '.', ',')}} ({{answer.under24_count}})
                                        <br>
                                    {% endfor %}     
                                    </td>
                                    <td class="text-center" style="white-space: nowrap;vertical-align: middle;">
                                    {% for answer in sur %}
                                    %{{answer.under44|number_format(2, '.', ',')}} ({{answer.under44_count}})
                                        <br>
                                    {% endfor %}      
                                    </td>
                                    <td class="text-center" style="white-space: nowrap;vertical-align: middle;">
                                    {% for answer in sur %}
                                    %{{answer.above45|number_format(2, '.', ',')}} ({{answer.above45}})
                                        <br>
                                    {% endfor %}    
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                        {# <tfoot>
                            <tr>
                                <td class="text-center">Total Unique User</td>
                                <td class="text-center"></td>
                                <td class="text-center"><?php echo $surveyListSum["total"]; ?></td>
                                <td></td>
                                <td class="text-center"><?php echo $surveyListSum["male"]; ?></td>
                                <td class="text-center"><?php echo $surveyListSum["female"]; ?></td>
                                <td class="text-center"><?php echo $surveyListSum["disclosed"]; ?></td>
                                <td class="text-center"><?php echo $surveyListSum["under_24"]; ?></td>
                                <td class="text-center"><?php echo $surveyListSum["beetween_25_44"]; ?></td>
                                <td class="text-center"><?php echo $surveyListSum["above_45"]; ?></td>
                            </tr>
                        </tfoot> #}
                    </table>
                    <button id="surveyButton" type="submit" class="btn btn-primary submit">Download</button>
                </div>
            </section>
        </div>
    </section>
</section>

<div class="modal" tabindex="-1" id="answerTextReportModal" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="overflow-y: auto;">
                <table class="table table-striped dataTable" id="textAnswers">
                    <thead>
                    <tr>
                        <th class="text-center">Question</th>
                        <th class="text-center">Answers</th>
                        <th class="text-center">Total</th>
                        <th class="text-center">Count</th>
                        <th class="text-center">Male</th>
                        <th class="text-center">Female</th>
                        <th class="text-center">Age(0-24)</th>
                        <th class="text-center">Age(25-44)</th>
                        <th class="text-center">Age(45>)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="textAnswersDownload">Download</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</div>

{% block javascripts %}
<script src="assets/js/jquery.table2excel.js"></script>

<script>
    var documentName="survey-result";
    $(document).ready(function(){
        $("#surveyButton").click(function(){
            $("#survey").table2excel({
                exclude: ".bunu_aktarma",
                filename: documentName
            });
        });
        $("#textAnswersDownload").click(function(){
            $("#textAnswers").table2excel({
                exclude: ".bunu_aktarma",
                filename: "text-answers"
            });
        });
    });
    $(document).on('click','.textAnswers',function () {
        var questionId = $(this).data('id');
        
        var html = '';
        $.ajax({
            url: '',
            type: 'POST',
            dataType: 'json',
            data: {question:questionId},
            beforeSend: function () {
            },
            success: function (value) {
                html += '<tr><td class="text-center" style="word-break: break-word;">'+value[0].question+'</td>';
                var eachVal1 = "";
                $.each(value, function (idx,val) {
                    tdVal = val.answer;
                    eachVal1 += tdVal+'</br>';
                });
                html +='<td class="text-center" style="white-space: nowrap;vertical-align: middle;">'+ eachVal1 + '</td>';
                html += '<td class="text-center" style="white-space: nowrap;vertical-align: middle;">'+value[0].sum+'</td>';
                var eachVal2 = "";
                $.each(value, function (idx,val) {
                    eachVal2 += val.cnt+'</br>';
                });
                html+= '<td class="text-center" style="white-space: nowrap;vertical-align: middle;">'+ eachVal2 +'</td>';
                var eachVal3 = "";
                $.each(value, function (idx,val) {
                    eachVal3 += "%"+parseFloat(val.male || 0).toFixed(2)+'('+val.male_count+')'+'</br>';
                });
                html += '<td class="text-center" style="white-space: nowrap;vertical-align: middle;">'+ eachVal3 + '</td>';
                var eachVal4 = "";
                $.each(value, function (idx,val) {
                    eachVal4 += "%"+parseFloat(val.female || 0).toFixed(2)+'('+val.female_count+')'+'</br>';
                });
                html += '<td class="text-center" style="white-space: nowrap;vertical-align: middle;">'+eachVal4+'</td>';
                var eachVal5 = "";
                $.each(value, function (idx,val) {
                    eachVal5 += "%"+parseFloat(val.under24 || 0).toFixed(2)+'('+val.under24_count+')'+'</br>';
                });
                html += '<td class="text-center" style="white-space: nowrap;vertical-align: middle;">'+eachVal5+'</td>';
                var eachVal6 = "";
                $.each(value, function (idx,val) {
                    eachVal6 += "%"+parseFloat(val.under44 || 0).toFixed(2)+'('+val.under44_count+')'+'</br>';
                });
                html += '<td class="text-center" style="white-space: nowrap;vertical-align: middle;">'+eachVal6+'</td>';
                var eachVal7 = "";
                $.each(value, function (idx,val) {
                    eachVal7 +="%"+parseFloat(val.above45 || 0).toFixed(2)+'('+val.above45_count+')'+'</br>';
                });
                html += '<td class="text-center" style="white-space: nowrap;vertical-align: middle;">'+eachVal7+'</td>';
                $('#answerTextReportModal .modal-body table tbody').html(html);
                $('#answerTextReportModal').modal('show');
            },
            error: function(err){
                console.log(err);
            }
        });
    });

    $.loadTable = function(divId,data){
        var countryName = $("#country > option:selected").val();
        var countryId = $("#country").val();
        var html = '';
        $.each(data,function(idx,value){
            html += '<tr><td class="text-center" style="word-break: break-word;">'+value[0].question+'</td>';
            var eachVal1 = "";
            var counter = 0;
            $.each(value, function (idx,val) {
                if(val.question_type == 2) {
                    tdVal = '<button name="textAnswers" type="submit" data-id="'+val.question_id+'" class="btn btn-link submit textAnswers">Text Answers</button>';
                    eachVal1 += tdVal+'</br>';
                    return false;
                }else if(val.question_type == 3) {
                    if(counter == value.length - 1) {
                        tdVal = '<button name="textAnswers" type="submit" data-id="'+val.question_id+'" class="btn btn-link submit textAnswers">'+val.answer+'</button>';
                        eachVal1 += tdVal+'</br>';
                    }else {
                        tdVal = val.answer;
                        eachVal1 += tdVal+'</br>';
                    }
                } else{
                    tdVal = val.answer;
                    eachVal1 += tdVal+'</br>';
                }
                counter++;
            });
            html +='<td class="text-center" style="white-space: nowrap;vertical-align: middle;">'+ eachVal1 + '</td>';
            html += '<td class="text-center" style="white-space: nowrap;vertical-align: middle;">'+value[0].sum+'</td>';
            var eachVal2 = "";
            $.each(value, function (idx,val) {
                eachVal2 += val.cnt+'</br>';
            });
            html+= '<td class="text-center" style="white-space: nowrap;vertical-align: middle;">'+ eachVal2 +'</td>';
            var eachVal3 = "";
            $.each(value, function (idx,val) {
                eachVal3 += "%"+parseFloat(val.male || 0).toFixed(2)+'('+val.male_count+')'+'</br>';
            });
            html += '<td class="text-center" style="white-space: nowrap;vertical-align: middle;">'+ eachVal3 + '</td>';
            var eachVal4 = "";
            $.each(value, function (idx,val) {
                eachVal4 += "%"+parseFloat(val.female || 0).toFixed(2)+'('+val.female_count+')'+'</br>';
            });
            html += '<td class="text-center" style="white-space: nowrap;vertical-align: middle;">'+eachVal4+'</td>';
            var eachVal5 = "";
            $.each(value, function (idx,val) {
                eachVal5 += "%"+parseFloat(val.under24 || 0).toFixed(2)+'('+val.under24_count+')'+'</br>';
            });
            html += '<td class="text-center" style="white-space: nowrap;vertical-align: middle;">'+eachVal5+'</td>';
            var eachVal6 = "";
            $.each(value, function (idx,val) {
                eachVal6 += "%"+parseFloat(val.under44 || 0).toFixed(2)+'('+val.under44_count+')'+'</br>';
            });
            html += '<td class="text-center" style="white-space: nowrap;vertical-align: middle;">'+eachVal6+'</td>';
            var eachVal7 = "";
            $.each(value, function (idx,val) {
                eachVal7 +="%"+parseFloat(val.above45 || 0).toFixed(2)+'('+val.above45_count+')'+'</br>';
            });
            html += '<td class="text-center" style="white-space: nowrap;vertical-align: middle;">'+eachVal7+'</td>';
        });

        $('#'+divId).find('tbody').html(html);
    };

    $(document).on('change','.selectFilter',function () {
        var country = $('select[name="country"]').val();
        var profession = $('select[name="profession"]').val();
        var education = $('select[name="education"]').val();
        var countryName = $('select[name="country"]').find('option:selected').text();
        var professionName = $('select[name="profession"]').find('option:selected').text();
        var educationName = $('select[name="education"]').find('option:selected').text();
        window.documentName ="survey-result-country="+countryName+"-education="+educationName+"-profession="+professionName;
        var selectFilter = 'done';
        $.ajax({
            url:'',
            type:'POST',
            dataType:'json',
            data: {selectData:selectFilter,countryData:country,educationData:education,professionData:profession},
            beforeSend:function () {

            },
            success: function(data)
            {
                console.log(data);
                // $.loadTable('survey',data);
                var dtable = $('#survey').dataTable();
                dtable.fnDestroy();

                $.loadTable('survey',data);
                $('#survey').dataTable()
            },
            error: function(err){
                console.log(err);
            }
        });
    });
    /*$('.country').on('change',function(){
        var country = $(this).val();
        var countryName = $("#country > option:selected").html();
        window.documentName ="survey-result-country-"+countryName;
        $.ajax({
            url:'',
            type:'POST',
            dataType:'json',
            data: {countryData:country},
            beforeSend:function () {
            },
            success: function(data)
            {
                $.loadTable('survey',data);
            },
            error: function(err){
                console.log(err);
            }
        });
    });*/
/*    $('.education').on('change',function () {
        var education = $(this).val();
        var educationName = $("#education > option:selected").html();
        window.documentName ="survey-result-education-"+educationName;
        $.ajax({
            url:'',
            type:'POST',
            dataType:'json',
            data: {educationData:education},
            beforeSend:function () {

            },
            success: function(data)
            {
                $.loadTable('survey',data);
            },
            error: function(err){
                console.log(err);
            }
        });
    });*/
/*    $('.profession').on('change',function () {
        var profession = $(this).val();
        var professionName = $("#education > option:selected").html();
        window.documentName ="survey-result-profession-"+professionName;
        $.ajax({
            url:'',
            type:'POST',
            dataType:'json',
            data: {professionData:profession},
            beforeSend:function () {

            },
            success: function(data)
            {
                $.loadTable('survey',data);
            },
            error: function(err){
                console.log(err);
            }
        });
    });*/
</script>


{% endblock %}
{% endblock %}
