{% extends 'support-panel/support-base.html.twig' %}
{% block body %}
<div class="content-wrapper">
<section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">VIDEOS</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example2" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th>Title</th>
                    <th>Category</th>
                    <th>Video</th>
                    <th>Operations</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for video in videos %}
                  <tr>
                    <td>{{video.title}}</td>
                    <td>{{video.category}}</td>
                    <td><a href="https://www.youtube.com/watch?v={{video.url}}" target="_blank"><i style="color:red;" class="fab fa-youtube"></i></a></td>
                    <td><a href="/edit-video?id={{video.id}}" class="btn btn-warning"><i class="fas fa-pencil-alt"></i></a>
                    </td>
                  </tr>
                  {% endfor %}  
                  </tfoot>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

           
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
</div>

{% endblock %}
