{% extends 'base.html.twig' %}
{% block body %}
<section>
  <div class="full-section bg-red-carousel-org">
    <div class="padding-t-xxxl padding-b-xxl">
      
        {% if expiredMessage is defined %}
        <p class="text-xl-bold color-white text-align-center">{{ expiredMessage }}</p>
        {% else %}
        <p class="text-xl-bold color-white text-align-center">New Password</p>
      <div class="full-section">
        <div class="container-1620">
          <div class="wrapper-row-align-center-center">

            <div class="width-50-p min-height-100 wrapper-row-align-center-center align-items-stretchh">
              <div class="flex-0064 margin-t-m">
                <div class="width-100 bg-grey-100 padding-all-m">
                  <p class="margin-b-0 text-m-s color-grey-400">Change Your Password</p>
                  <form action="" method="POST">
                    <div class="width-100">
                      <div class="margin-t-ms">
                        <input class="register-input width-100 padding-l-s" type="password" name="password" placeholder="New Password">
                      </div>
                      <div class="margin-t-ms">
                        <input class="register-input width-100 padding-l-s" type="password" name="re-password" placeholder="Please Re-enter your password">
                      </div>
                      <div class="flex-between-center-nowrap">
                        <input class="btn-sm margin-t-xs" type="submit" name="submit" value="Send">
                        <div class="margin-l-xs">
                          <div class="margin-t-xxs">
                              {% if message is not empty %} {{ message }} {% endif %}
                          </div>
                        </div>
                      </div>
                    </div> 
                  </form>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
        {% endif %}
    </div>
  </div>
  <script>
    window.onload = function() {
      $('#idForm-0-input-2').datepicker();
    }
    
  </script>
  <script type="text/javascript" src="/assets/js/navbarStyler.js"></script>
  <script>navbarStyler('black');</script>
</section>
{% endblock %}    
