
<table  width=100% border=0><tr><td>
</img></td><td style=position:absolute;left:250;top:40;><h2><font color = #346699>Toshiba TV Registration</font><h2></td></tr>
<tr><td colspan=2><br/><br/><strong>Dear {{ name }},</strong></td></tr>
<tr><td colspan=2><br/><font size=3>Thank you for registering your Toshiba.</font><br/><br/>To reset your password, please click <a href="{{ url('passwordReset', {'country': country.code, 'language': lang.code, "email": email, "hash": hash}) }}">HERE</a>.<b></b></td></tr>
<tr><td colspan=2><br/>If you have any questions, please feel free to contact us via our support page:<br/><a href="https://toshiba-tv.com/uk-uk/support" target="_blank">https://toshiba-tv.com/uk-uk/support</a></td></tr>
<tr><td colspan=2><br/><br/>Kind Regards,<br>ToshibaCare support team.</td></tr></table>