

<footer>

    <div class="container">

        <div class="row">

        <div class="col-12">

            <div class="footer__copyright">

            <p>&copy; 2020 VESTEL</p>

            </div>

            <div class="footer__quick-links">

            <ul>

                <li>

                <a href="{{ path('aboutUs', { 'country': country.code, 'language': lang.code }) }}">{{staticText.MAINMENUABOUTUS}}</a>

                </li>

                <li>

                <a href="{{ path('environmentalPolicy', { 'country': country.code, 'language': lang.code }) }}">Environmental policy</a>

                </li>

                <li>

                <a href="{{ path('mediaLibrary', { 'country': country.code, 'language': lang.code }) }}">{{staticText.MEDIALIBRARYPAGETITLE}}</a>

                </li>

                <li>

                <a href="{{ path('listNews', { 'country': country.code, 'language': lang.code }) }}">News</a>

                </li>

                <li>

                <a href="{{ path('promotions', { 'country': country.code, 'language': lang.code }) }}">{{staticText.PROMOTIONS}}</a>

                </li>

            </ul>

            </div>

            <div class="footer__privacy">

            <ul>

                <li>

                <a href="{{ path('privacyPolicy', { 'country': country.code, 'language': lang.code }) }}">{{staticText.PRIVACYPOLICY}}</a>

                </li>

                <li>

                <a href="{{ path('termsOfUse', { 'country': country.code, 'language': lang.code }) }}">{{staticText.TERMSOFUSE}}</a>

                </li>

            </ul>

            </div>

            <div class="footer__country">

            <button type="button" style="border: none;" data-toggle="modal" data-target="#exampleModal">
              <img src="/assets/img/toshiba-new/flag-uk.svg" alt="UK" />
            </button>
                


            </div>

        </div>

        </div>

    </div>
  
    <div class="modal fade bd-example-modal-xl" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered language-bar-top" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Select Country</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-content">
          <div class="newsText">
                  <div class="row">
                    
                    <div class="col-md-8">
                      <table class="table languages">
                        <thead>
                          <tr>
                            <th width="10%"></th>
                            <th width="45%">Country</th>
                            <th width="45%">Language</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td><img src=""></img></span></td>
                            <td><span>United Kingdom</span></td>
                            <td>
                              <ul class="menu horizontal">
                                <li><a href="http://uk-uk.toshiba-tv.com">English</a></li>
                              </ul>
                            </td>
                          </tr>
                          <tr>
                            <td><span class="lang-lg" lang="ba"></span></td>
                            <td><span>Bosnia &amp; Herzegovina (Bosna i Hercegovina)</span></td>
                            <td>
                              <ul class="menu horizontal">
                                <li><a href="https://toshiba-tv.com/ba-bs/">Bosanski</a></li>
                                <li><a href="https://toshiba-tv.com/ba-hr/">Hrvatski</a></li>
                                <li><a href="https://toshiba-tv.com/ba-sr/">Srpski</a></li>
                                <li><a href="https://toshiba-tv.com/ba-en/">English</a></li>
                              </ul>
                            </td>
                          </tr>
                          <tr>
                            <td><span class="lang-lg" lang="bg"></span></td>
                            <td><span>Bulgaria (България)</span></td>
                            <td>
                              <ul class="menu horizontal">
                                <li><a href="https://toshiba-tv.com/bg-bg/">български</a></li>
                                <li><a href="https://toshiba-tv.com/bg-en/">English</a></li>
                              </ul>
                            </td>
                          </tr>
                          <tr>
                            <td><span class="lang-lg" lang="hr"></span></td>
                            <td><span>Croatia (Hrvatska)</span></td>
                            <td>
                              <ul class="menu horizontal">
                                <li><a href="https://toshiba-tv.com/hr-hr/">Hrvatski</a></li>
                                <li><a href="https://toshiba-tv.com/hr-en/">English</a></li>
                              </ul>
                            </td>
                          </tr>
                          <tr>
                            <td><span class="lang-lg" lang="cy"></span></td>
                            <td><span>Cyprus (Κύπρος)</span></td>
                            <td>
                              <ul class="menu horizontal">
                                <li><a href="https://toshiba-tv.com/cy-el/">Ελληνικά</a></li>
                                <li><a href="https://toshiba-tv.com/cy-en/">English</a></li>
                              </ul>
                            </td>
                          </tr>
                          <tr>
                            <td><span class="lang-lg" lang="cs"></span></td>
                            <td><span>Czech Republic (Česká republika)</span></td>
                            <td>
                              <ul class="menu horizontal">
                                <li><a href="https://toshiba-tv.com/cz-cs/">Čeština</a></li>
                                <li><a href="https://toshiba-tv.com/cz-en/">English</a></li>
                              </ul>
                            </td>
                          </tr>
                          <tr>
                            <td><span class="lang-lg" lang="de"></span></td>
                            <td><span>DACH (Deutschland - Österreich - Suisse)</span></td>
                            <td>
                              <ul class="menu horizontal">
                                <li><a href="https://toshiba-tv.com/de-de/">Deutsch</a></li>
                                <li><a href="https://toshiba-tv.com/de-fr/">Français</a></li>
                                <li><a href="https://toshiba-tv.com/de-en/">English</a></li>
                              </ul>
                            </td>
                          </tr>
                          <tr>
                            <td><span class="lang-lg" lang="da"></span></td>
                            <td><span>Denmark (Danmark)</span></td>
                            <td>
                              <ul class="menu horizontal">
                                <li><a href="https://toshiba-tv.com/dk-da/">Dansk</a></li>
                                <li><a href="https://toshiba-tv.com/dk-en/">English</a></li>
                              </ul>
                            </td>
                          </tr>
                          <tr>
                            <td><span class="lang-lg" lang="fi"></span></td>
                            <td><span>Finland (Suomi)</span></td>
                            <td>
                              <ul class="menu horizontal">
                                <li><a href="https://toshiba-tv.com/fi-fi/">Suomi</a></li>
                                <li><a href="https://toshiba-tv.com/fi-en/">English</a></li>
                              </ul>
                            </td>
                          </tr>
                          <tr>
                            <td><span class="lang-lg" lang="fr"></span></td>
                            <td><span>France (France)</span></td>
                            <td>
                              <ul class="menu horizontal">
                                <li><a href="https://toshiba-tv.com/fr-fr/">Français</a></li>
                                <li><a href="https://toshiba-tv.com/fr-en/">English</a></li>
                              </ul>
                            </td>
                          </tr>
                          <tr>
                            <td><span class="lang-lg" lang="el"></span></td>
                            <td><span>Greece (Ελλάς)</span></td>
                            <td>
                              <ul class="menu horizontal">
                                <li><a href="https://toshiba-tv.com/gr-el/">Ελληνικά</a></li>
                                <li><a href="https://toshiba-tv.com/gr-en/">English</a></li>
                              </ul>
                            </td>
                          </tr>
                          <tr>
                            <td><span class="lang-lg" lang="hu"></span></td>
                            <td><span>Hungary (Magyarország)</span></td>
                            <td>
                              <ul class="menu horizontal">
                                <li><a href="https://toshiba-tv.com/hu-hu/">Magyar</a></li>
                                <li><a href="https://toshiba-tv.com/hu-en/">English</a></li>
                              </ul>
                            </td>
                          </tr>
                          <tr>
                            <td><span class="lang-lg" lang="es"></span></td>
                            <td><span>Iberia (España - Portugal)</span></td>
                            <td>
                              <ul class="menu horizontal">
                                <li><a href="https://toshiba-tv.com/es-es/">Español</a></li>
                                <li><a href="https://toshiba-tv.com/es-pt/">Português</a></li>
                                <li><a href="https://toshiba-tv.com/es-en/">English</a></li>
                              </ul>
                            </td>
                          </tr>
                          <tr>
                            <td><span class="lang-lg" lang="it"></span></td>
                            <td><span>Italy (Italia)</span></td>
                            <td>
                              <ul class="menu horizontal">
                                <li><a href="https://toshiba-tv.com/it-it/">Italiano</a></li>
                                <li><a href="https://toshiba-tv.com/it-en/">English</a></li>
                              </ul>
                            </td>
                          </tr>
                          <tr>
                            <td><span class="lang-lg" lang="lt"></span></td>
                            <td><span>Lithuania (Lietuva)</span></td>
                            <td>
                              <ul class="menu horizontal">
                                <li><a href="https://toshiba-tv.com/lt-lt/">Lietuvių</a></li>
                                <li><a href="https://toshiba-tv.com/lt-en/">English</a></li>
                              </ul>
                            </td>
                          </tr>
                          <tr>
                            <td><span class="lang-lg" lang="mt"></span></td>
                            <td><span>Malta</span></td>
                            <td>
                              <ul class="menu horizontal">
                                
                                <li><a href="https://toshiba-tv.com/mt-en/">English</a></li>
                              </ul>
                            </td>
                          </tr>
                          <tr>
                            <td><span class="lang-lg" lang="nl"></span></td>
                            <td><span>Netherlands (Nederland)</span></td>
                            <td>
                              <ul class="menu horizontal">
                                <li><a href="https://toshiba-tv.com/nl-nl/">Nederlands</a></li>
                                <li><a href="https://toshiba-tv.com/nl-en/">English</a></li>
                              </ul>
                            </td>
                          </tr>
                          <tr>
                            <td><span class="lang-lg" lang="no"></span></td>
                            <td><span>Norway (Norge)</span></td>
                            <td>
                              <ul class="menu horizontal">
                                <li><a href="https://toshiba-tv.com/no-no/">Norsk</a></li>
                                <li><a href="https://toshiba-tv.com/no-en/">English</a></li>
                              </ul>
                            </td>
                          </tr>
                          <tr>
                            <td><span class="lang-lg" lang="pl"></span></td>
                            <td><span>Poland (Polska)</span></td>
                            <td>
                              <ul class="menu horizontal">
                                <li><a href="https://toshiba-tv.com/pl-pl/">Polski</a></li>
                                <li><a href="https://toshiba-tv.com/pl-en/">English</a></li>
                              </ul>
                            </td>
                          </tr>
                          
                          <tr>
                            <td><span class="lang-lg" lang="ro"></span></td>
                            <td><span>Romania (România)</span></td>
                            <td>
                              <ul class="menu horizontal">
                                <li><a href="https://toshiba-tv.com/ro-ro/">Român</a></li>
                                <li><a href="https://toshiba-tv.com/ro-en/">English</a></li>
                              </ul>
                            </td>
                          </tr>
                          <tr>
                            <td><span class="lang-lg" lang="sr"></span></td>
                            <td><span>Serbia (Srbija)</span></td>
                            <td>
                              <ul class="menu horizontal">
                                <li><a href="https://toshiba-tv.com/rs-sr/">Srpski</a></li>
                                <li><a href="https://toshiba-tv.com/rs-en/">English</a></li>
                              </ul>
                            </td>
                          </tr>
                          <tr>
                            <td><span class="lang-lg" lang="sk"></span></td>
                            <td><span>Slovakia (Slovensko)</span></td>
                            <td>
                              <ul class="menu horizontal">
                                <li><a href="https://toshiba-tv.com/sk-sk/">Slovenčina</a></li>
                                <li><a href="https://toshiba-tv.com/sk-en/">English</a></li>
                              </ul>
                            </td>
                          </tr>
                          <tr>
                            <td><span class="lang-lg" lang="si"></span></td>
                            <td><span>Slovenia (Slovenija)</span></td>
                            <td>
                              <ul class="menu horizontal">
                                <li><a href="https://toshiba-tv.com/si-sl/">Slovenščina</a></li>
                                <li><a href="https://toshiba-tv.com/si-en/">English</a></li>
                              </ul>
                            </td>
                          </tr>
                          <tr>
                            <td><span class="lang-lg" lang="sv"></span></td>
                            <td><span>Sweden (Sverige)</span></td>
                            <td>
                              <ul class="menu horizontal">
                                <li><a href="https://toshiba-tv.com/se-sv/">Svenska</a></li>
                                <li><a href="https://toshiba-tv.com/se-en/">English</a></li>
                              </ul>
                            </td>
                          </tr>
                          <tr>
                            <td><span class="lang-lg" lang="tr"></span></td>
                            <td><span>Turkey (Türkiye)</span></td>
                            <td>
                              <ul class="menu horizontal">
                                <li><a href="https://toshiba-tv.com/tr-tr/">Türkçe</a></li>
                                <li><a href="https://toshiba-tv.com/tr-en/">English</a></li>
                              </ul>
                            </td>
                          </tr>
                          <tr>
                            <td><span class="lang-lg" lang="ua"></span></td>
                            <td><span>Ukraine (Україна)</span></td>
                            <td>
                              <ul class="menu horizontal">
                                <li><a href="https://toshiba-tv.com/ua-ua/">Українська</a></li>
                                <li><a href="https://toshiba-tv.com/ua-en/">English</a></li>
                              </ul>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
        </div>
        
      </div>
    </div>
  </div>

</footer>



<div class="container-fluid disclaimer">

    <div class="container">

        <div class="row">

        <div class="col-12">

            <p>{{staticText.PARTNERGOOGLE}}</p>

        </div>

        </div>

    </div>

</div>

<div class="container-fluid mobile-header">

    <div class="mobile-header__container">

      <div class="mobile-header__search">

        <form method="POST" action="/uk/">

          <input name="globalSearchInput" placeholder="Search something..." />

          <button type="submit" name="submit">

            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15"><path d="M10.938-5.859l-.156.273L15-1.328,13.672,0,9.453-4.258l-.273.2a6.035,6.035,0,0,1-3.242.977,5.69,5.69,0,0,1-4.2-1.758A5.786,5.786,0,0,1,0-9.062a5.721,5.721,0,0,1,1.738-4.2A5.721,5.721,0,0,1,5.938-15a5.721,5.721,0,0,1,4.2,1.738,5.721,5.721,0,0,1,1.738,4.2A5.888,5.888,0,0,1,10.938-5.859Zm-1.68-6.523a4.52,4.52,0,0,0-3.32-1.367,4.52,4.52,0,0,0-3.32,1.367A4.52,4.52,0,0,0,1.25-9.062a4.52,4.52,0,0,0,1.367,3.32,4.52,4.52,0,0,0,3.32,1.367,4.52,4.52,0,0,0,3.32-1.367,4.541,4.541,0,0,0,1.406-3.32A4.541,4.541,0,0,0,9.258-12.383Z" transform="translate(0 15)" fill="#A6A1A1"/></svg>

          </button>

        </form>

      </div>

      <div class="mobile-header__navigation">

        <ul>

          <li class="has-children">

            <span>TVs</span>

            <div class="mobile-header__sub-navigation">

              <div class="mobile-header__title mobile-header__title--no-border">

                <h3>Explore TVs</h3>

                <a href="{{ path('allProduct', { 'country': country.code, 'language': lang.code }) }}">{{staticText.VIEWALLTVS}}</a>

              </div>

              <ul>

                <li class="mobile-header__tile--black">
                  <a href="{{ path('getCategoryBySef', { 'country': country.code, 'language': lang.code, 'sef' :categories[0].link }) }}">
                    UltraHD 4K TVs
                  </a>
                </li>

                <li class="mobile-header__tile--red">
                  <a href="{{ path('getCategoryBySef', { 'country': country.code, 'language': lang.code, 'sef' :categories[3].link }) }}">
                    Android TV
                  </a>
                </li>

                <li class="mobile-header__tile--grey">
                  <a href="{{ path('getCategoryBySef', { 'country': country.code, 'language': lang.code, 'sef' :categories[1].link }) }}">
                    Full HD &amp; HD TVs
                  </a>
                </li>

                <li>
                  <a href="{{ path('getCategoryBySef', { 'country': country.code, 'language': lang.code, 'sef' :categories[2].link }) }}">
                    {{staticText.SMART}} TVs
                  </a>
                </li>

              </ul>

              <div class="mobile-header__title">

                <h3>{{staticText.LEARNMORE}}</h3>

              </div>

              <ul>

                <li>
                  <a href="{{ path('buyingGuide', { 'country': country.code, 'language': lang.code }) }}">
                    {{staticText.BUYINGGUIDE}}
                  </a>
                </li>

                <li>
                  <a href="{{ path('truPictureEng', { 'country': country.code, 'language': lang.code }) }}">
                    TRU Picture Engine
                  </a>
                </li>

                <li>
                  <a href="{{ path('landingPage', { 'country': country.code, 'language': lang.code }) }}">
                    {{staticText.PREMIUMUHDHEADER}}
                  </a>
                </li>

                <li>
                  <a href="{{ path('sound', { 'country': country.code, 'language': lang.code }) }}">
                    {{staticText.BUYINGSOUND}}
                  </a>
                </li>

                {# <li>
                  <a href="{{ path('sound', { 'country': country.code, 'language': lang.code }) }}">
                    Sound
                  </a>
                </li> #}

                <li>
                  <a href="{{ path('smartTv', { 'country': country.code, 'language': lang.code }) }}">
                    {{staticText.SMART}} TV
                  </a>
                </li>

                <li>
                  <a href="{{ path('androidTv', { 'country': country.code, 'language': lang.code }) }}">
                    Android TV
                  </a>
                </li>

                {# <li>
                  <a href="{{ path('connectTv', { 'country': country.code, 'language': lang.code }) }}">
                    Toshiba Connect
                  </a>
                </li> #}

              </ul>

            </div>

          </li>

          <li>

            <a href="{{ path('sound', { 'country': country.code, 'language': lang.code }) }}">{{staticText.BUYINGSOUND}}</a>

          </li>

          <li class="has-children">

            <span>Support</span>

            <div class="mobile-header__sub-navigation">

              <ul>

                <li>
                  <a href="{{ path('supportHome', { 'country': country.code, 'language': lang.code }) }}">
                    Support home
                  </a>
                </li>

                <li>
                  <a href="{{ path('forumHome', { 'country': country.code, 'language': lang.code }) }}">
                    Forum
                  </a>
                </li>

                <li>
                  <a href="{{ path('buyingGuide', { 'country': country.code, 'language': lang.code }) }}"">
                    TV buying guide
                  </a>
                </li>

                <li>
                  <a href="{{ path('supportHome', { 'country': country.code, 'language': lang.code }) }}">
                    Our warranty
                  </a>
                </li>

                <li>
                  <a href="{{ path('supportContact', { 'country': country.code, 'language': lang.code }) }}">
                    Contact us
                  </a>
                </li>

              </ul>

            </div>

          </li>

        </ul>

      </div>

      <div class="mobile-header__image">

        <a href="{{ path('landingPage', { 'country': country.code, 'language': lang.code }) }}">

        </a>

      </div>

    </div>

  </div>

  <div class="to-top--mobile to-top">

    <img src="/assets/img/toshiba-new/to-top-icon.svg" alt="To The Top" />

  </div>