<header class="header--red-light" id="navbar--color" data-x ="{{  path(app.request.attributes.get('_route'),
     app.request.attributes.get('_route_params'))[6:]  }}" data-url="{{ path(app.request.attributes.get('_route'),
     app.request.attributes.get('_route_params')) }}" data-new="{{ app.request.pathinfo }}">

          <div class="header__logo">

              <a href="{{ path('index', { 'country': country.code, 'language': lang.code }) }}">

                {% set productSupport = "" %}
                {% if 'product/support' in path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) %}
                {% set productSupport = 1 %}
                {% endif %}


                {% set whiteLogoPages = ["privacy-policy","promotions","warranty","media-library","oled-tv","contact-new","newCategory/oled-tv","support-home","register-home","contact-new ","news","about-us","enviromental-policy","terms-of-use","support-home","register-home","register", "newCategory/androidtv"] %}
                {% if path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params'))[7:] in whiteLogoPages %}

                {% if isHomePage is not defined %}
                {% if productSupport == "" %}
                <svg xmlns="http://www.w3.org/2000/svg" width="138.662" height="21.127" viewBox="0 0 138.662 21.127"><g transform="translate(-1260.028 -240.13)"><path d="M1306.7,252.321l2.037-7.035h.037l2.036,7.035Zm6.5,8.315h5.989l-6.177-20.386h-8.5l-6.183,20.386h5.989l1.092-3.777h6.7Z" transform="translate(79.505 0.249)" fill="#ffffff"/><path d="M1272.4,250.691c0-1.12.027-1.79.052-2.273.154-3.147,1.4-3.516,3.815-3.516s3.655.369,3.818,3.516c.018.483.043,1.154.043,2.273s-.025,1.79-.043,2.273c-.163,3.147-1.4,3.513-3.818,3.513s-3.661-.366-3.815-3.513c-.025-.483-.052-1.151-.052-2.273m3.867,10.567c6.149,0,9.121-1.086,9.539-6.638.1-1.32.12-2.673.12-3.928s-.018-2.609-.12-3.934c-.418-5.546-3.39-6.626-9.539-6.626s-9.124,1.08-9.545,6.626c-.1,1.326-.117,2.676-.117,3.934s.019,2.609.117,3.928C1267.146,260.171,1270.115,261.257,1276.271,261.257Z" transform="translate(13.661)" fill="#ffffff"/><path d="M1260.028,240.25v5.082h6.095v15.306h6.1V245.332h6.095V240.25Z" transform="translate(0 0.249)" fill="#ffffff" fill-rule="evenodd"/><rect width="5.788" height="20.388" transform="translate(1347.816 240.498)" fill="#ffffff"/><path d="M1286.759,247.69v-7.44h-5.752v20.388h5.752v-7.861h6.69v7.861h5.753V240.25h-5.753v7.44Z" transform="translate(43.555 0.249)" fill="#ffffff" fill-rule="evenodd"/><path d="M1297.876,244.907h3.98a1.5,1.5,0,0,1,1.692,1.683,1.538,1.538,0,0,1-1.692,1.643h-3.98Zm0,7.352h3.98c1.619,0,1.956.711,1.956,1.858a1.715,1.715,0,0,1-1.956,1.855h-3.98Zm8.151-2.276c2.559-.661,3.31-2.193,3.31-4.4,0-4.488-2.821-5.331-6.829-5.331h-10.394v20.386h10.908c5.023,0,6.709-2.159,6.709-5.488C1309.731,252.829,1309.205,250.78,1306.028,249.983Z" transform="translate(66.616 0.249)" fill="#ffffff"/><path d="M1273.979,254.2h5.485c0,.987.136,1.655.613,2.015.541.4,1.033.544,2.654.544,1.56,0,3.267,0,3.267-1.916,0-1.526-.95-1.864-2.716-1.953-4.372-.231-5.949-.36-7.583-1.572-1.1-.818-1.679-2.43-1.679-4.6,0-3.695,1.286-4.99,3.144-5.888,1.923-.935,9.441-.935,11.465,0,2.547,1.172,2.627,3.707,2.627,6.063h-5.479c-.006-1.2-.274-1.538-.5-1.763a3.708,3.708,0,0,0-2.544-.612c-1.415,0-3.048.065-3.048,1.784,0,1.307.566,1.858,2.055,1.956,2.039.126,6.069.252,7.5,1.1,2.014,1.19,2.534,2.806,2.534,5.423,0,3.8-1.362,4.919-3.251,5.749-2.184.963-9.465.963-11.84-.068-2.648-1.163-2.7-3.467-2.7-6.272" transform="translate(28.967 0)" fill="#ffffff"/></g></svg>
                {% endif %}
                {% endif %}

                {% else %}
                    {% if isHomePage is not defined %}
                    {% if productSupport == "" %}
                  <svg xmlns="http://www.w3.org/2000/svg" width="138.662" height="21.127" viewBox="0 0 138.662 21.127"><g transform="translate(-1260.028 -240.13)"><path d="M1306.7,252.321l2.037-7.035h.037l2.036,7.035Zm6.5,8.315h5.989l-6.177-20.386h-8.5l-6.183,20.386h5.989l1.092-3.777h6.7Z" transform="translate(79.505 0.249)" fill="#c20020"/><path d="M1272.4,250.691c0-1.12.027-1.79.052-2.273.154-3.147,1.4-3.516,3.815-3.516s3.655.369,3.818,3.516c.018.483.043,1.154.043,2.273s-.025,1.79-.043,2.273c-.163,3.147-1.4,3.513-3.818,3.513s-3.661-.366-3.815-3.513c-.025-.483-.052-1.151-.052-2.273m3.867,10.567c6.149,0,9.121-1.086,9.539-6.638.1-1.32.12-2.673.12-3.928s-.018-2.609-.12-3.934c-.418-5.546-3.39-6.626-9.539-6.626s-9.124,1.08-9.545,6.626c-.1,1.326-.117,2.676-.117,3.934s.019,2.609.117,3.928C1267.146,260.171,1270.115,261.257,1276.271,261.257Z" transform="translate(13.661)" fill="#c20020"/><path d="M1260.028,240.25v5.082h6.095v15.306h6.1V245.332h6.095V240.25Z" transform="translate(0 0.249)" fill="#c20020" fill-rule="evenodd"/><rect width="5.788" height="20.388" transform="translate(1347.816 240.498)" fill="#c20020"/><path d="M1286.759,247.69v-7.44h-5.752v20.388h5.752v-7.861h6.69v7.861h5.753V240.25h-5.753v7.44Z" transform="translate(43.555 0.249)" fill="#c20020" fill-rule="evenodd"/><path d="M1297.876,244.907h3.98a1.5,1.5,0,0,1,1.692,1.683,1.538,1.538,0,0,1-1.692,1.643h-3.98Zm0,7.352h3.98c1.619,0,1.956.711,1.956,1.858a1.715,1.715,0,0,1-1.956,1.855h-3.98Zm8.151-2.276c2.559-.661,3.31-2.193,3.31-4.4,0-4.488-2.821-5.331-6.829-5.331h-10.394v20.386h10.908c5.023,0,6.709-2.159,6.709-5.488C1309.731,252.829,1309.205,250.78,1306.028,249.983Z" transform="translate(66.616 0.249)" fill="#c20020"/><path d="M1273.979,254.2h5.485c0,.987.136,1.655.613,2.015.541.4,1.033.544,2.654.544,1.56,0,3.267,0,3.267-1.916,0-1.526-.95-1.864-2.716-1.953-4.372-.231-5.949-.36-7.583-1.572-1.1-.818-1.679-2.43-1.679-4.6,0-3.695,1.286-4.99,3.144-5.888,1.923-.935,9.441-.935,11.465,0,2.547,1.172,2.627,3.707,2.627,6.063h-5.479c-.006-1.2-.274-1.538-.5-1.763a3.708,3.708,0,0,0-2.544-.612c-1.415,0-3.048.065-3.048,1.784,0,1.307.566,1.858,2.055,1.956,2.039.126,6.069.252,7.5,1.1,2.014,1.19,2.534,2.806,2.534,5.423,0,3.8-1.362,4.919-3.251,5.749-2.184.963-9.465.963-11.84-.068-2.648-1.163-2.7-3.467-2.7-6.272" transform="translate(28.967 0)" fill="#c20020"/></g></svg>
                  {% endif %}
                    {% endif %}
                {% endif %}

                {% if isHomePage is defined %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="138.662" height="21.127" viewBox="0 0 138.662 21.127"><g transform="translate(-1260.028 -240.13)"><path d="M1306.7,252.321l2.037-7.035h.037l2.036,7.035Zm6.5,8.315h5.989l-6.177-20.386h-8.5l-6.183,20.386h5.989l1.092-3.777h6.7Z" transform="translate(79.505 0.249)" fill="#ffffff"/><path d="M1272.4,250.691c0-1.12.027-1.79.052-2.273.154-3.147,1.4-3.516,3.815-3.516s3.655.369,3.818,3.516c.018.483.043,1.154.043,2.273s-.025,1.79-.043,2.273c-.163,3.147-1.4,3.513-3.818,3.513s-3.661-.366-3.815-3.513c-.025-.483-.052-1.151-.052-2.273m3.867,10.567c6.149,0,9.121-1.086,9.539-6.638.1-1.32.12-2.673.12-3.928s-.018-2.609-.12-3.934c-.418-5.546-3.39-6.626-9.539-6.626s-9.124,1.08-9.545,6.626c-.1,1.326-.117,2.676-.117,3.934s.019,2.609.117,3.928C1267.146,260.171,1270.115,261.257,1276.271,261.257Z" transform="translate(13.661)" fill="#ffffff"/><path d="M1260.028,240.25v5.082h6.095v15.306h6.1V245.332h6.095V240.25Z" transform="translate(0 0.249)" fill="#ffffff" fill-rule="evenodd"/><rect width="5.788" height="20.388" transform="translate(1347.816 240.498)" fill="#ffffff"/><path d="M1286.759,247.69v-7.44h-5.752v20.388h5.752v-7.861h6.69v7.861h5.753V240.25h-5.753v7.44Z" transform="translate(43.555 0.249)" fill="#ffffff" fill-rule="evenodd"/><path d="M1297.876,244.907h3.98a1.5,1.5,0,0,1,1.692,1.683,1.538,1.538,0,0,1-1.692,1.643h-3.98Zm0,7.352h3.98c1.619,0,1.956.711,1.956,1.858a1.715,1.715,0,0,1-1.956,1.855h-3.98Zm8.151-2.276c2.559-.661,3.31-2.193,3.31-4.4,0-4.488-2.821-5.331-6.829-5.331h-10.394v20.386h10.908c5.023,0,6.709-2.159,6.709-5.488C1309.731,252.829,1309.205,250.78,1306.028,249.983Z" transform="translate(66.616 0.249)" fill="#ffffff"/><path d="M1273.979,254.2h5.485c0,.987.136,1.655.613,2.015.541.4,1.033.544,2.654.544,1.56,0,3.267,0,3.267-1.916,0-1.526-.95-1.864-2.716-1.953-4.372-.231-5.949-.36-7.583-1.572-1.1-.818-1.679-2.43-1.679-4.6,0-3.695,1.286-4.99,3.144-5.888,1.923-.935,9.441-.935,11.465,0,2.547,1.172,2.627,3.707,2.627,6.063h-5.479c-.006-1.2-.274-1.538-.5-1.763a3.708,3.708,0,0,0-2.544-.612c-1.415,0-3.048.065-3.048,1.784,0,1.307.566,1.858,2.055,1.956,2.039.126,6.069.252,7.5,1.1,2.014,1.19,2.534,2.806,2.534,5.423,0,3.8-1.362,4.919-3.251,5.749-2.184.963-9.465.963-11.84-.068-2.648-1.163-2.7-3.467-2.7-6.272" transform="translate(28.967 0)" fill="#ffffff"/></g></svg>
                {% endif %}

                {% if productSupport == 1%}
                <svg xmlns="http://www.w3.org/2000/svg" width="138.662" height="21.127" viewBox="0 0 138.662 21.127"><g transform="translate(-1260.028 -240.13)"><path d="M1306.7,252.321l2.037-7.035h.037l2.036,7.035Zm6.5,8.315h5.989l-6.177-20.386h-8.5l-6.183,20.386h5.989l1.092-3.777h6.7Z" transform="translate(79.505 0.249)" fill="#ffffff"/><path d="M1272.4,250.691c0-1.12.027-1.79.052-2.273.154-3.147,1.4-3.516,3.815-3.516s3.655.369,3.818,3.516c.018.483.043,1.154.043,2.273s-.025,1.79-.043,2.273c-.163,3.147-1.4,3.513-3.818,3.513s-3.661-.366-3.815-3.513c-.025-.483-.052-1.151-.052-2.273m3.867,10.567c6.149,0,9.121-1.086,9.539-6.638.1-1.32.12-2.673.12-3.928s-.018-2.609-.12-3.934c-.418-5.546-3.39-6.626-9.539-6.626s-9.124,1.08-9.545,6.626c-.1,1.326-.117,2.676-.117,3.934s.019,2.609.117,3.928C1267.146,260.171,1270.115,261.257,1276.271,261.257Z" transform="translate(13.661)" fill="#ffffff"/><path d="M1260.028,240.25v5.082h6.095v15.306h6.1V245.332h6.095V240.25Z" transform="translate(0 0.249)" fill="#ffffff" fill-rule="evenodd"/><rect width="5.788" height="20.388" transform="translate(1347.816 240.498)" fill="#ffffff"/><path d="M1286.759,247.69v-7.44h-5.752v20.388h5.752v-7.861h6.69v7.861h5.753V240.25h-5.753v7.44Z" transform="translate(43.555 0.249)" fill="#ffffff" fill-rule="evenodd"/><path d="M1297.876,244.907h3.98a1.5,1.5,0,0,1,1.692,1.683,1.538,1.538,0,0,1-1.692,1.643h-3.98Zm0,7.352h3.98c1.619,0,1.956.711,1.956,1.858a1.715,1.715,0,0,1-1.956,1.855h-3.98Zm8.151-2.276c2.559-.661,3.31-2.193,3.31-4.4,0-4.488-2.821-5.331-6.829-5.331h-10.394v20.386h10.908c5.023,0,6.709-2.159,6.709-5.488C1309.731,252.829,1309.205,250.78,1306.028,249.983Z" transform="translate(66.616 0.249)" fill="#ffffff"/><path d="M1273.979,254.2h5.485c0,.987.136,1.655.613,2.015.541.4,1.033.544,2.654.544,1.56,0,3.267,0,3.267-1.916,0-1.526-.95-1.864-2.716-1.953-4.372-.231-5.949-.36-7.583-1.572-1.1-.818-1.679-2.43-1.679-4.6,0-3.695,1.286-4.99,3.144-5.888,1.923-.935,9.441-.935,11.465,0,2.547,1.172,2.627,3.707,2.627,6.063h-5.479c-.006-1.2-.274-1.538-.5-1.763a3.708,3.708,0,0,0-2.544-.612c-1.415,0-3.048.065-3.048,1.784,0,1.307.566,1.858,2.055,1.956,2.039.126,6.069.252,7.5,1.1,2.014,1.19,2.534,2.806,2.534,5.423,0,3.8-1.362,4.919-3.251,5.749-2.184.963-9.465.963-11.84-.068-2.648-1.163-2.7-3.467-2.7-6.272" transform="translate(28.967 0)" fill="#ffffff"/></g></svg>
                {% endif %}
              </a>

          </div>

          <div class="header__hamburger {{productSupport}}" >

              <span></span>
              <span></span>
              <span></span>

          </div>

          <div class="header__navigation">

              <ul>

                  <li class="has-children">

                      <a class="search-class" href="#">TVs</a>

                      <div class="header__sub-navigation">

                          <div class="container-fluid">

                              <div class="row">

                                  <div class="col-6">

                                      <div class="sub-navigation__title">

                                          <h3>{{staticText.EXPLORETVS}}/h3>

                                          <a href="{{ path('allProduct', { 'country': country.code, 'language': lang.code }) }}">{{staticText.VIEWALLTVS}}</a>

                                      </div>

                                      <div class="sub-navigation__tiles">

                                          <div class="sub-navigation__tile">

                                              <a href="{{ path('getCategoryBySef', { 'country': country.code, 'language': lang.code, 'sef' :categories[0].link}) }}" class="sub-navigation__tile--black">

                                                  <h3>
                                                      {{ categories[0].name }}
                                                  </h3>

                                              </a>

                                          </div>

                                          <div class="sub-navigation__tile">

                                              <a href="{{ path('getCategoryBySef', { 'country': country.code, 'language': lang.code, 'sef' :categories[3].link }) }}" class="sub-navigation__tile--red">

                                                  <h3>
                                                      {{ categories[3].name }}
                                                  </h3>

                                              </a>

                                          </div>

                                          <div class="sub-navigation__tile">

                                              <a href="{{ path('getCategoryBySef', { 'country': country.code, 'language': lang.code, 'sef' :categories[2].link }) }}" class="sub-navigation__tile--grey">

                                                  <h3>
                                                     Full HD & HD TV
                                                  </h3>

                                              </a>

                                          </div>

                                          <div class="sub-navigation__tile">

                                              <a href="{{ path('getCategoryBySef', { 'country': country.code, 'language': lang.code, 'sef' :categories[1].link }) }}" class="sub-navigation__tile--grey">

                                                  <h3>
                                                      {{staticText.SMART}}<br />
                                                      TV
                                                  </h3>

                                              </a>

                                          </div>

                                      </div>

                                  </div>

                                  <div class="col-2 offset-1">

                                      <div class="sub-navigation__navigation">

                                          <h3>{{staticText.LEARNMORE}}</h3>

                                          <ul>

                                              <li>

                                                  <a href="{{ path('buyingGuide', { 'country': country.code, 'language': lang.code }) }}">{{staticText.BUYINGGUIDE}}</a>

                                              </li>

                                              <li>

                                                  <a href="{{ path('truPictureEng', { 'country': country.code, 'language': lang.code }) }}">{{staticText.TRUPICTUREENGINE}}</a>

                                              </li>

                                              <li>

                                                  <a href="{{ path('landingPage', { 'country': country.code, 'language': lang.code }) }}">{{staticText.PREMIUMUHDHEADER}}</a>

                                              </li>

                                              <li>

                                                  <a href="{{ path('sound', { 'country': country.code, 'language': lang.code }) }}">{{staticText.BUYINGSOUND}}</a>

                                              </li>

                                              <li>

                                                  <a href="{{ path('smartTv', { 'country': country.code, 'language': lang.code }) }}">{{staticText.SMART}} TV</a>

                                              </li>

                                              {# <li>

                                                  <a href="{{ path('androidTv', { 'country': country.code, 'language': lang.code }) }}">Android TV</a>

                                              </li> #}



                                          </ul>

                                      </div>

                                  </div>

                                  <div class="col-3">

                                      <div class="sub-navigation__image">

                                          <a href="#">
                                            <img class="w-100 height-auto" src="/assets/img/navbar/android.png"/>

                                          </a>

                                      </div>

                                  </div>

                              </div>

                          </div>

                      </div>

                  </li>

                  <li>

                      <a class="search-class" href="{{ path('sound', { 'country': country.code, 'language': lang.code }) }}">{{staticText.BUYINGSOUND}}</a>

                  </li>

                  <li class="has-children">


                      <a class="search-class" href="{{ path('supportHome', { 'country': country.code, 'language': lang.code }) }}">{{staticText.MAINMENUSUPPORT}}</a>


                      <div class="header__sub-navigation">

                          <div class="container-fluid">

                              <div class="row">

                                  <div class="col-6">

                                      <div class="sub-navigation__cards">

                                          <div class="sub-navigation__card">

                                              <a href="{{ path('supportHome', { 'country': country.code, 'language': lang.code }) }}" class="sub-navigation__tile--black">

                                                  <h3>{{staticText.MAINMENUSUPPORT}}</h3>

                                                  <p>{{staticText.HOMEPRODUCTSUPPORTTEXT}}</p>

                                              </a>

                                          </div>

                                          <div class="sub-navigation__card">

                                              <a href="{{ path('registerHome', { 'country': country.code, 'language': lang.code }) }}" class="sub-navigation__tile--black">

                                                  <h3>{{staticText.SUPPORTREGISTERWARRANTY}}</h3>

                                                  <p>{{staticText.SUPPORTWARRANTYDESC}}</p>

                                              </a>

                                          </div>

                                      </div>

                                  </div>

                                  <div class="col-2 offset-1">

                                      <div class="sub-navigation__navigation">

                                          <h3>Quick links</h3>

                                          <ul>

                                              <li>

                                                  <a href="http://forum.toshiba-tv.com/" target="_blank">Forum</a>

                                              </li>

                                              <li>

                                                  <a href="{{ path('buyingGuide', { 'country': country.code, 'language': lang.code }) }}">{{staticText.BUYINGGUIDE}}</a>

                                              </li>

                                              <li>

                                                  <a href="{{ path('warranty', { 'country': country.code, 'language': lang.code }) }}">{{staticText.SUPPORTYWARRANTYBUTTON}}</a>

                                              </li>

                                              <li>

                                                  <a href="{{ path('supportContact', { 'country': country.code, 'language': lang.code }) }}">{{staticText.CONTACTUS}}</a>

                                              </li>

                                          </ul>

                                      </div>

                                  </div>

                                  <div class="col-3">

                                      <div class="sub-navigation__image">

                                          <a href="#">

                                          </a>

                                      </div>

                                  </div>

                              </div>

                          </div>

                      </div>

                  </li>

          </div>

          <div class="header__search">

              <form method="POST" action="{{ path('getSearchProduct', { 'country': country.code, 'language': lang.code }) }}">

                  <input name="globalSearchInput" placeholder="{{staticText.SEARCH}}" />

                  <button type="submit" name="submit">

                      <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15"><path d="M10.938-5.859l-.156.273L15-1.328,13.672,0,9.453-4.258l-.273.2a6.035,6.035,0,0,1-3.242.977,5.69,5.69,0,0,1-4.2-1.758A5.786,5.786,0,0,1,0-9.062a5.721,5.721,0,0,1,1.738-4.2A5.721,5.721,0,0,1,5.938-15a5.721,5.721,0,0,1,4.2,1.738,5.721,5.721,0,0,1,1.738,4.2A5.888,5.888,0,0,1,10.938-5.859Zm-1.68-6.523a4.52,4.52,0,0,0-3.32-1.367,4.52,4.52,0,0,0-3.32,1.367A4.52,4.52,0,0,0,1.25-9.062a4.52,4.52,0,0,0,1.367,3.32,4.52,4.52,0,0,0,3.32,1.367,4.52,4.52,0,0,0,3.32-1.367,4.541,4.541,0,0,0,1.406-3.32A4.541,4.541,0,0,0,9.258-12.383Z" transform="translate(0 15)" fill="#ffffff"/></svg>

                  </button>

              </form>

          </div>

      </header>

      <script type="text/javascript" src="/assets/js/navbar/navbarColor.js"></script>
