@use 'colors';
@use 'responsive';

$width: 248px;
$height: 60px;

$width-res: 165px;
$height-res: 45px;

$widthBig-res: 334px;
$heightBig-res: 45px;

$widthBig: 480px;
$heightBig: 60px;

$widthSm: 124px;
$heightSm: 40px;

%button-std {
  width: $width;
  height: $height;
  border: none;
  border-radius: 4px;
  transition: background 0.2s ease-in-out;
  font-size: 18px;
  @media only screen and (max-width: responsive.$tablet-l) {
    width: $width-res;
    height: $height-res;
    font-size: 14px;
  }
}

%button-nonresp {
  width: $width;
  height: $height;
  border: none;
  border-radius: 4px;
  transition: background 0.2s ease-in-out;
  font-size: 18px;
}

%button-brd {
  width: $width;
  height: $height;
  min-width: $width;
  border: 1px solid colors.$red-500;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
  font-size: 18px;
  box-sizing: border-box !important;
  @media only screen and (max-width: responsive.$tablet-l) {
    width: $width-res;
    height: $height-res;
    min-width: $width-res;
    font-size: 14px;
  }
}

%button-std-custom {
  width: $width;
  height: $height;
  border: none;
  border-radius: 4px;
  transition: background 0.2s ease-in-out;
  font-size: 18px;
  @media only screen and (max-width: responsive.$tablet-l) {
    width: 80%;
    height: $heightBig-res;
    font-size: 14px;
  }
}

%button-buy {
  width: $width !important;
  height: $height !important;
  border: none !important;
  border-radius: 4px !important;
  transition: background 0.2s ease-in-out;
  font-size: 18px !important;
  margin: 10px !important;
  @media only screen and (max-width: responsive.$tablet-l) {
    width: $width-res;
    height: $height-res;
    font-size: 14px;
  }
}

.CC_FI_887GE12_btn{
  @extend %button-buy;
  background: colors.$red-500 !important;
  color: white !important; 
}

.CC_FI_887GE12_btn:hover {
  background: colors.$red-600 !important;
}

%button-brd-custom {
  width: $width;
  height: $height;
  border: 1px solid colors.$red-500;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
  box-sizing: border-box !important;
  @media only screen and (max-width: responsive.$tablet-l) {
    width: 80%;
    height: $heightBig-res;
    font-size: 14px;
  }
}

%button-big {
  width: 100%;
  height: $heightBig;
  border: none;
  border-radius: 4px;
  transition: background 0.2s ease-in-out;
}

%button-brd-big {
  width: 100%;
  height: $heightBig;
  border: 1px solid colors.$red-500;
  border-radius: 4px;
  transition: background 0.2s ease-in-out;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

%button-sm {
  width: $widthSm;
  height: $heightSm;
  border: none;
  border-radius: 20px;
  transition: background 0.2s ease-in-out;
}

%button-sm-brd {
  width: $widthSm;
  height: $heightSm;
  border: 1px solid colors.$grey-500;
  border-radius: 20px;
  transition: background 0.2s ease-in-out;
}

// div a button innerText


.learn-more-button {
  @extend %button-std;
  background: colors.$red-500;
  color: white;
}

.learn-more-button-nonresp {
  @extend %button-nonresp;
  background: colors.$red-500;
  color: white;
}


.learn-more-button:hover {
  background: colors.$red-600;
}

.learn-more-button-gold {
  @extend %button-std;
  @include colors.gold-gradient;
}

.learn-more-button-frame {
  @extend %button-std;
}

.learn-more-button-gold:hover {
  opacity: 0.75;
}

.learn-more-button-dark-red {
  @extend %button-std;
  background: colors.$red-700;
  color: white;
}

.learn-more-button-dark-red.hover {
  background: colors.$red-800
}

.learn-more-button-white {
  @extend %button-std;
  background: white;
  color: colors.$grey-700
}

.learn-more-button-white:hover {
  background: colors.$grey-100;
}

.learn-more-button-border {
  @extend %button-brd;
  background: white;
  color: colors.$red-500
}

.learn-more-button-border:hover {
  background: colors.$red-600;
  color: white !important;
}


.learn-more-button-custom {
  @extend %button-std-custom;
  background: colors.$red-500;
  color: white;
}

.learn-more-button-custom:hover {
  background: colors.$red-600;
}

.learn-more-button-border-custom {
  @extend %button-brd-custom;
  background: white;
  color: colors.$red-500
}

.learn-more-button--border-custom:hover {
  background: colors.$red-600;
}





.learn-more-button-big {
  @extend %button-big;
  background: colors.$red-500;
  color: white;
}

.learn-more-button-big:hover {
  background: colors.$red-600;
}

.learn-more-button-gold-big {
  @extend %button-big;
  @include colors.gold-gradient;
}

.learn-more-button-gold-big:hover {
  opacity: 0.75;
}

.learn-more-button-dark-red-big {
  @extend %button-big;
  background: colors.$red-700;
  color: white;
}

.learn-more-button-dark-red-big:hover {
  background: colors.$red-800
}

.learn-more-button-white-big {
  @extend %button-big;
  background: white;
  color: colors.$grey-700
}

.learn-more-button-white-big:hover {
  background: colors.$grey-100;
}

.learn-more-button-border-big {
  @extend %button-brd-big;
  background: white;
  color: colors.$red-500;
}

.learn-more-button-border-big:hover {
  background: colors.$red-500;
  color: white;
}

.btn-sm {
  @extend %button-sm;
  background: colors.$red-500;
  color: white;
}

.btn-sm:hover {
  background: colors.$red-600;
}

.btn-sm-brd {
  @extend %button-sm-brd;
}

.flex-between-wrap-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 540px;
}