$grey-25: #FCFAF8;
$grey-50: #f8f6f8;
$grey-100: #F2EDF1;
$grey-150: #D9D7D8;
$grey-200: #707070;
$grey-300: #A6A1A1;
$grey-400: #8C8989;
$grey-500: #5A5A5A;
$grey-600: #262626;
$grey-700: #191919;

$red-100: #F8CACC;
$red-200: #F7969A;
$red-300: #EB5057;
$red-400: #DC011D;
$red-500: #C10019;
$red-600: #860011;
$red-700: #64000D;
$red-800: #45060E;

$gold-100: #E6D8C5;
$gold-200: #D5B891;
$gold-300: #C3A376;
$gold-400: #A58253;
$gold-500: #A67C42;
$gold-600: #79521D;
$gold-700: #664414;

$green-100: #2BA000;

$gold: linear-gradient(120deg, #D0B185,  #C3A376 , #E0C6A2 , #FFFFFF , #E0C6A2 , #C3A376 , #D0B185 );

$gold-long: linear-gradient(120deg, #D0B185, #D0B185, #D0B185, #D0B185, #D0B185, #FFFFFF, #D0B185, #D0B185, #D0B185, #D0B185, #D0B185);

@mixin gold-gradient {
  color: #D5AD6D;
  /*if no support for background-clip*/
  background-clip: text;
  opacity: inherit;
  background: $gold-long;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.color-green-circle {
  color: $green-100;
}

.color-grey-25 {
  color: $grey-25;
}

.color-grey-50 {
  color: $grey-50;
}

.color-grey-100 {
  color: $grey-100;
}

.color-grey-200 {
  color: $grey-200;
}

.color-grey-300 {
  color: $grey-300;
}

.color-grey-400 {
  color: $grey-400 ;
}

.color-grey-500 {
  color: $grey-500;
}

.color-grey-600 {
  color: $grey-600;
}

.color-grey-700 {
  color: $grey-700;
}



.color-red-100 {
  color: $red-100
}

.color-red-200 {
  color: $red-200
}

.color-red-300 {
  color: $red-300
}

.color-red-400 {
  color: $red-400
}

.color-red-500 {
  color: $red-500;
}

.color-red-600 {
  color: $red-600
}

.color-red-700 {
  color: $red-700
}

.color-red-800 {
  color: $red-800
}




.color-gold-100 {
  color: $gold-100
}

.color-gold-200 {
  color: $gold-200
}

.color-gold-300 {
  color: $gold-300
}

.color-gold-400 {
  color: $gold-400
}

.color-gold-500 {
  color: $gold-500
}

.color-gold-600 {
  color: $gold-600
}

.color-gold-700 {
  color: $gold-700
}

.color-gold-gradient {
  @include gold-gradient;
}

.color-gold {
  @include gold-gradient;
}


@mixin background($bg-source) {
  background: url($bg-source);
  background-repeat: repeat;
  background-size: cover;
}

@mixin background-page($bg-source) {
  background: url($bg-source);
  background-repeat: repeat;
  background-size: contain;
}

@mixin background-content($bg-source) {
  background: url($bg-source);
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: content-box;
}

.bg-black-gold-page {
  @include background-page('../img/black-bg.png')
}

.bg-black-gold {
  @include background('../img/black-bg.png');
}

.bg-red-carousel {
  @include background('../img/red-bg.png');
}

.bg-red-carousel-org {
  @include background('../img/red-bg-org.png');
}

.bg-red-carousel-org-page {
  @include background-page('../img/red-bg-org.png');
}


.bg-black-gold-content {
  @include background-content('../img/prdarkback.png');
}

.bg-red-carousel-content {
  @include background-content('../img/red-bg.png');
}

.bg-white {
  background: white;
}

.bg-white-content {
  background: white;
  background-clip: content-box;
}

.bg-gold {
  background: $gold;
}


.bg-grey-25 {
  background: $grey-25;
}

.bg-grey-50 {
  background: $grey-50;
}

.bg-grey-100 {
  background: $grey-100;
}

.bg-grey-200 {
  background: $grey-200;
}

.bg-grey-300 {
  background: $grey-300;
}

.bg-grey-400 {
  background: $grey-400;
}

.bg-grey-500 {
  background: $grey-500;
}

.bg-grey-600 {
  background: $grey-600;
}

.bg-grey-700 {
  background: $grey-700;
}





.bg-grey-50-content {
  background: $grey-50;
  background-clip: content-box;
}

.bg-grey-100-content {
  background: $grey-100;
  background-clip: content-box;
}

.bg-grey-200-content {
  background: $grey-200;
  background-clip: content-box;
}

.bg-grey-300-content {
  background: $grey-300;
  background-clip: content-box;
}

.bg-grey-400-content {
  background: $grey-400;
  background-clip: content-box;
}

.bg-grey-500-content {
  background: $grey-500;
  background-clip: content-box;
}

.bg-grey-600-content {
  background: $grey-600;
  background-clip: content-box;
}

.bg-grey-700-content {
  background: $grey-700;
  background-clip: content-box;
}





.bg-red-100 {
  background: $red-100;
}

.bg-red-200 {
  background: $red-200;
}

.bg-red-300 {
  background: $red-300;
}

.bg-red-400 {
  background: $red-400;
}

.bg-red-500 {
  background: $red-500;
}

.bg-red-600 {
  background: $red-600;
}

.bg-red-700 {
  background: $red-700;
}

.bg-red-800 {
  background: $red-800;
}





.bg-red-100-content {
  background: $red-100;
  background-clip: content-box;
}

.bg-red-200-content {
  background: $red-200;
  background-clip: content-box;
}

.bg-red-300-content {
  background: $red-300;
  background-clip: content-box;
}

.bg-red-400-content {
  background: $red-400;
  background-clip: content-box;
}

.bg-red-500-content {
  background: $red-500;
  background-clip: content-box;
}

.bg-red-600-content {
  background: $red-600;
  background-clip: content-box;
}

.bg-red-700-content {
  background: $red-700;
  background-clip: content-box;
}

.bg-red-800-content {
  background: $red-800;
  background-clip: content-box;
}




.bg-gold-100 {
  background: $gold-100;
}

.bg-gold-200 {
  background: $gold-200;
}

.bg-gold-300 {
  background: $gold-300;
}

.bg-gold-400 {
  background: $gold-400;
}

.bg-gold-500 {
  background: $gold-500;
}

.bg-gold-600 {
  background: $gold-600;
}

.bg-gold-700 {
  background: $gold-700;
}

.bg-gold-gradient {
  @include gold-gradient;
}




.bg-gold-100-content {
  background: $gold-100;
  box-sizing: content-box;
}

.bg-gold-200-content {
  background: $gold-200;
  box-sizing: content-box;
}

.bg-gold-300-content {
  background: $gold-300;
  box-sizing: content-box;
}

.bg-gold-400-content {
  background: $gold-400;
  box-sizing: content-box;
}

.bg-gold-500-content {
  background: $gold-500;
  box-sizing: content-box;
}

.bg-gold-600-content {
  background: $gold-600;
  box-sizing: content-box;
}

.bg-gold-700-content {
  background: $gold-700;
  box-sizing: content-box;
}

.bg-gold-gradient-content {
  @include gold-gradient;
  box-sizing: content-box;
}

.bg-white-opacity-01 {
  background: rgba(255, 255, 255, 0.1);
}

.bg-white-opacity-03 {
  background: rgba(255, 255, 255, 0.3);
}

.bg-white-opacity-05 {
  background: rgba(255, 255, 255, 0.5);
}

.bg-black-opacity-01 {
  background: rgba(0, 0, 0, 0.1);
}

.bg-black-opacity-03 {
  background: rgba(0, 0, 0, 0.3);
}

.bg-black-opacity-05 {
  background: rgba(0, 0, 0, 0.5);
}