@use 'colors';

.margin-r-60-wo-last {
  margin-right: 60px;
}

.margin-r-60-wo-last:last-child {
  margin-right: 0px;
}

// Paddings Start --------------------------------------

$padding-330: 330px;
$padding-xxxxl: 210px;
$padding-xxxl: 180px;
$padding-xxl: 120px;
$padding-xl: 100px;
$padding-l: 90px;
$padding-m: 60px;
$padding-ms: 45px;
$padding-s: 30px;
$padding-xs: 20px;
$padding-xxs: 10px;

$margin-xxxl: 180px;
$margin-xxl: 120px;
$margin-xl: 100px;
$margin-l: 90px;
$margin-m: 60px;
$margin-ms: 45px;
$margin-s: 30px;
$margin-xs: 20px;
$margin-xxs: 10px;

.margin-t-xxxl {
  margin-top: $margin-xxxl;
}

.margin-t-xxl {
  margin-top: $margin-xxl;
}

.margin-t-xl {
  margin-top: $margin-xl;
}

.margin-t-l {
  margin-top: $margin-l;
}

.margin-t-m {
  margin-top: $margin-m;
}

.margin-t-ms {
  margin-top: $margin-ms !important;
}

.margin-t-s {
  margin-top: $margin-s;
}

.margin-t-xs {
  margin-top: $margin-xs;
}

.margin-t-xxs {
  margin-top: $margin-xxs;
}

.margin-tp-16 {
  margin-top: 20%;
}

.margin-v-xxxl {
  margin-left: $margin-xxxl;
  margin-right: $margin-xxxl;
}

.margin-v-xxl {
  margin-left: $margin-xxl;
  margin-right: $margin-xxl;
}

.margin-v-xl {
  margin-left: $margin-xl;
  margin-right: $margin-xl;
}

.margin-v-l {
  margin-left: $margin-l;
  margin-right: $margin-l;
}

.margin-v-m {
  margin-left: $margin-m;
  margin-right: $margin-m;
}

.margin-v-ms {
  margin-left: $margin-ms;
  margin-right: $margin-ms;
}

.margin-v-s {
  margin-left: $margin-s;
  margin-right: $margin-s;
}

.margin-v-xs {
  margin-left: $margin-xs;
  margin-right: $margin-xs;
}

.margin-v-xxs {
  margin-left: $margin-xxs;
  margin-right: $margin-xxs;
}






.margin-all-0 {
  margin: 0px !important;
}

.logo-size {
  width: 250px;
  height: 50px;
}






.margin-r-xxl {
  margin-right: $margin-xxl;
}

.margin-r-xl {
  margin-right: $margin-xl;
}

.margin-r-l {
  margin-right: $margin-l;
}

.margin-r-m {
  margin-right: $margin-m;
}

.margin-r-ms {
  margin-right: $margin-ms;
}

.margin-r-s {
  margin-right: $margin-s;
}

.margin-r-xs {
  margin-right: $margin-xs;
}

.margin-r-xxs {
  margin-right: $margin-xxs;
}








.margin-l-0 {
  margin-left: 0px !important
}

.margin-l-xxl {
  margin-left: $margin-xxl;
}

.margin-l-xl {
  margin-left: $margin-xl;
}

.margin-l-l {
  margin-left: $margin-l;
}

.margin-l-m {
  margin-left: $margin-m;
}

.margin-l-ms {
  margin-left: $margin-ms;
}

.margin-l-s {
  margin-left: $margin-s;
}

.margin-l-xs {
  margin-left: $margin-xs;
}

.margin-l-xxs {
  margin-left: $margin-xxs;
}







.margin-b-xxxl {
  margin-bottom: $margin-xxxl;
}

.margin-b-xxl {
  margin-bottom: $margin-xxl;
}

.margin-b-xl {
  margin-bottom: $margin-xl;
}

.margin-b-l {
  margin-bottom: $margin-l;
}

.margin-b-m {
  margin-bottom: $margin-m;
}

.margin-b-ms {
  margin-bottom: $margin-ms;
}

.margin-b-s {
  margin-bottom: $margin-s;
}

.margin-b-xs {
  margin-bottom: $margin-xs;
}

.margin-b-xxs {
  margin-bottom: $margin-xxs;
}




.padding-t-330 {
  padding-top: $padding-330;
}

.padding-t-xxxxl {
  padding-top: $padding-xxxxl;
}

.padding-t-xxxl {
  padding-top: $padding-xxxl;
}

.padding-t-xxl {
  padding-top: $padding-xxl;
}

.padding-t-xl {
  padding-top: $padding-xl;
}

.padding-t-l {
  padding-top: $padding-l;
}

.padding-t-m {
  padding-top: $padding-m;
}

.padding-t-ms {
  padding-top: $padding-ms;
}

.padding-t-s {
  padding-top: $padding-s;
}

.padding-t-xs {
  padding-top: $padding-xs;
}

.padding-t-xxs {
  padding-top: $padding-xxs;
}











.padding-l-330 {
  padding-left: $padding-330;
}

.padding-l-xxxxl {
  padding-left: $padding-xxxxl;
}

.padding-l-xxxl {
  padding-left: $padding-xxxl;
}

.padding-l-xxl {
  padding-left: $padding-xxl;
}

.padding-l-xl {
  padding-left: $padding-xl;
}

.padding-l-l {
  padding-left: $padding-l;
}

.padding-l-m {
  padding-left: $padding-m;
}

.padding-l-ms {
  padding-left: $padding-ms;
}

.padding-l-s {
  padding-left: $padding-s;
}

.padding-l-xs {
  padding-left: $padding-xs;
}

.padding-l-xxs {
  padding-left: $padding-xxs;
}








.padding-r-330 {
  padding-right: $padding-330;
}

.padding-r-xxxxl {
  padding-right: $padding-xxxxl;
}

.padding-r-xxxl {
  padding-right: $padding-xxxl;
}

.padding-r-xxl {
  padding-right: $padding-xxl;
}

.padding-r-xl {
  padding-right: $padding-xl;
}

.padding-r-l {
  padding-right: $padding-l;
}

.padding-r-m {
  padding-right: $padding-m;
}

.padding-r-ms {
  padding-right: $padding-ms;
}

.padding-r-s {
  padding-right: $padding-s;
}

.padding-r-xs {
  padding-right: $padding-xs;
}

.padding-r-xxs {
  padding-right: $padding-xxs;
}

















.padding-b-330 {
  padding-bottom: $padding-330;
}

.padding-b-xxl {
  padding-bottom: $padding-xxl;
}

.padding-b-xl {
  padding-bottom: $padding-xl;
}

.padding-b-l {
  padding-bottom: $padding-l;
}

.padding-b-m {
  padding-bottom: $padding-m;
}

.padding-b-ms {
  padding-bottom: $padding-ms;
}

.padding-b-s {
  padding-bottom: $padding-s;
}

.padding-b-xs {
  padding-bottom: $padding-xs;
}

.padding-b-xxs {
  padding-bottom: $padding-xxs;
}

.padding-b-330 {
  padding-bottom: 330px;
}



.padding-h-p-xxs {
  padding-left: $padding-xxs;
  padding-right: $padding-xxs;
}

.padding-v-p-xxs {
  padding-top: $padding-xxs;
  padding-bottom: $padding-xxs;
}

.padding-h-p-xs {
  padding-left: $padding-xs;
  padding-right: $padding-xs;
}

.padding-v-p-xs {
  padding-top: $padding-xs;
  padding-bottom: $padding-xs;
}

.safari-img-height-1 {
  width: 250px;
  height: 50px;
}

.padding-h-p-s {
  padding-left: $padding-s;
  padding-right: $padding-s;
}

.padding-v-p-s {
  padding-top: $padding-s;
  padding-bottom: $padding-s;
}


.padding-all-xxl {
  padding: $padding-xxl;
}

.padding-all-xl {
  padding: $padding-xl;
}

.padding-all-l {
  padding: $padding-l;
}

.padding-all-m {
  padding: $padding-m;
}

.padding-all-ms {
  padding: $padding-ms;
}

.padding-all-s {
  padding: $padding-s;
}

.padding-all-xs {
  padding: $padding-xs;
}

.padding-all-xxs {
  padding: $padding-xxs;
}






.padding-v-xxxl {
  padding-top: $padding-xxxl;
  padding-bottom: $padding-xxxl;
}

.padding-v-xxl {
  padding-top: $padding-xxl;
  padding-bottom: $padding-xxl;
}

.padding-v-xl {
  padding-top: $padding-xl;
  padding-bottom: $padding-xl;
}

.padding-v-l {
  padding-top: $padding-l;
  padding-bottom: $padding-l;
}

.padding-v-m {
  padding-top: $padding-m;
  padding-bottom: $padding-m;
}

.padding-v-ms {
  padding-top: $padding-ms;
  padding-bottom: $padding-ms;
}

.padding-v-s {
  padding-top: $padding-s;
  padding-bottom: $padding-s;
}

.padding-v-xs {
  padding-top: $padding-xs;
  padding-bottom: $padding-xs;
}

.padding-v-xxs {
  padding-top: $padding-xxs;
  padding-bottom: $padding-xxs;
}








.padding-h-xxxl {
  padding-left: $padding-xxxl;
  padding-right: $padding-xxxl;
}

.padding-h-xxl {
  padding-left: $padding-xxl;
  padding-right: $padding-xxl;
}

.padding-h-xl {
  padding-left: $padding-xl;
  padding-right: $padding-xl;
}

.padding-h-l {
  padding-left: $padding-l;
  padding-right: $padding-l;
}

.padding-h-m {
  padding-left: $padding-m;
  padding-right: $padding-m;
}

.padding-h-ms {
  padding-left: $padding-ms;
  padding-right: $padding-ms;
}

.padding-h-s {
  padding-left: $padding-s;
  padding-right: $padding-s;
}

.padding-h-xs {
  padding-left: $padding-xs;
  padding-right: $padding-xs;
}

.padding-h-xxs {
  padding-left: $padding-xxs;
  padding-right: $padding-xxs;
}

.padding-all-90 {
  padding: 90px;
}

.padding-all-150 {
  padding: 150px;
}

// Paddings end --------------------------------------






// Section, container, wrapper start -----------------


.section-full {
  width: 100%;
}

.container-full {
  width: 100%;
}

.container-1720 {
  max-width: 1720px;
  margin: auto;
}

.container-1620 {
  max-width: 1620px;
  margin: auto;
}

.container-1620-full {
  max-width: 1620px;
  margin: auto;
}

.container-1620-width {
  width: 1620px;
  margin: auto;
}

.container-1520 {
  max-width: 1520px;
  margin: auto;
}

.container-1344 {
  max-width: 1344px;
  margin: auto;
}

.container-1340 {
  max-width: 1340px;
  margin: auto;
}

.container-1240 {
  max-width: 1240px;
  margin: auto;
}


// Section, container, wrapper end -----------------


// Complicated start -----------------------------------------------------------

.white-space-nowrap {
  white-space: nowrap;
}

.text-align-center {
  text-align: center;
}

.padding-product-row-4 {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 80px;
  padding-bottom: 80px;
}



// Complicated end ------------------------------------------------------------




// Flexbox start --------------------------------------

.inline-block {
  display: inline-block !important;
}

%flex-row {
  display: flex;
  flex-direction: row;
}

%flex-column {
  display: flex;
  flex-direction: column;
}

.wrapper-row-align-center-center {
  @extend %flex-row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
}

.wrapper-row-start {
  @extend %flex-row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.wrapper-row-start-a-center {
  @extend %flex-row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.wrapper-row-start-a-center-nowrap {
  @extend %flex-row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}

.wrapper-row-center {
  @extend %flex-row;
  justify-content: center;
  flex-wrap: wrap;
}

.wrapper-row-a-center {
  @extend %flex-row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}


.wrapper-row-start-nowrap {
  @extend %flex-row;
  justify-content: flex-start;
  flex-wrap: nowrap;
}


.wrapper-row-start-nowrap-a-center {
  @extend %flex-row;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.wrapper-row-center-nowrap {
  @extend %flex-row;
  justify-content: center;
  flex-wrap: nowrap;
}

.wrapper-column-start {
  @extend %flex-column;
  justify-content: flex-start;
}

.wrapper-column-center {
  @extend %flex-column;
  justify-content: center;
}

.wrapper-column-center-center {
  @extend %flex-column;
  justify-content: center;
  align-items: center;
  position: relative;
  > #close-video {
    width: 34px;
    height: 34px;
    position: absolute;
    top: -17px;
    right: -17px;
  }
}



.play-icon-img-container {
  position: relative;
  left: 60%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}




.flex-between {
  @extend %flex-row;
  justify-content: space-between;
  align-items: center;
}

.flex-between-wrap {
  @extend %flex-row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.container-row-2-wide {
  flex: 0 0 49%;
}

.flex-between-wrap-center {
  @extend %flex-row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.flex-between-wrap-reverse {
  @extend %flex-row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.flex-between-wrap-2 {
  @extend %flex-row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.flex-between-wrap-2-custom {
  @extend %flex-row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.flex-between-wrap-5 {
  @extend %flex-row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.flex-between-wrap-5::after {
  content: "";
  flex: auto;
}

.flex-between-center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flex-between-center-nowrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.flex-between-nowrap-start {
  @extend %flex-row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.flex-between-wrap-start {
  @extend %flex-row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
}

.flex-between-wrap-3 {
  @extend %flex-row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.flex-between-wrap-3-3 {
  @extend %flex-row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.flex-between-wrap-4::after {
  content: "";
  flex: 0 0 49.2%;
}

.flex-between-wrap-3::after {
  content: "";
  flex: 0 0 32.4%;
}

.flex-between-wrap-3-start {
  @extend %flex-row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.flex-between-wrap-3-between {
  @extend %flex-row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.flex-between-wrap-4 {
  @extend %flex-row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.padding-for-flex-3 {
  padding-left: $padding-xxs;
  padding-right: $padding-xxs;
}



/*

%first-wrapper-in-row {
  padding-left: 0px;
  padding-right: 0px;
}

%last-wrapper-in-row {
  padding-left: 0px;
  padding-right: 0px;
}

%wrapper-in-row {
  padding-left: 0px;
  padding-right: 0px;
}

%wrapper-in-row-no-padding {
  padding-left: 0px;
  padding-right: 0px;
}*/


%wrapper-in-row-no-padding {
  width: 100%;
}

%first-wrapper-in-row {
  width: 100%;
}

%last-wrapper-in-row {
  width: 100%;
}

%wrapper-in-row {
  width: 100%;
}

.container-row-2 {
  flex: 0 0 49%;
}

.container-row-2-2 {
  flex: 0 0 49%;
}

.container-row-2-50 {
  flex: 0 0 49%;
  max-width: 50%;
}

.container-row-2-full {
  flex: 0 0 50%;
}

.container-row-3 {
  flex: 0 0 32.4%;
}

/*Holds 3 in row until mobile */
.container-row-3-3 {
  flex: 0 0 32.4%;
}

.container-row-3-full {
  flex: 0 0 33%;
}

.container-row-4 {
  flex: 0 0 24%;
}

.container-row-4-2 {
  flex: 0 0 24%;
}

.container-row-4-2-nopadding {
  flex: 0 0 24%;
}


.container-row-4-full {
  flex: 0 0 25%;
}

.container-row-5 {
  flex: 0 0 19%;
}

.container-row-5-2 {
  flex: 0 0 19%;
}

.height-19vw {
  height: 19vw;
  min-height: 200px;
}

.container-row-5-full {
  flex: 0 0 20%;
}

.container-row-5-always {
  flex: 0 0 20%;
  padding-left: 10px;
  padding-right: 10px;
}

.container-row-6 {
  flex: 0 0 16%;
  min-width: 140px;
  box-sizing: content-box;
  padding: 10px;
}

.wrapper-in-row {
  @extend %wrapper-in-row;
}

.wrapper-in-row-no-padding {
  @extend %wrapper-in-row-no-padding;
}

.container-row-2:first-child .wrapper-in-row {
  @extend %first-wrapper-in-row;
}

.container-row-2:last-child .wrapper-in-row {
  @extend %last-wrapper-in-row;
}

.container-row-3:first-child .wrapper-in-row {
  @extend %first-wrapper-in-row;
}

.container-row-3:last-child .wrapper-in-row {
  @extend %last-wrapper-in-row;
}

.container-row-4:first-child .wrapper-in-row {
  @extend %first-wrapper-in-row;
}

.container-row-4:last-child .wrapper-in-row {
  @extend %last-wrapper-in-row;
}

.container-row-5:first-child .wrapper-in-row {
  @extend %first-wrapper-in-row;
}

.container-row-5:last-child .wrapper-in-row {
  @extend %last-wrapper-in-row;
}

.height-full {
  height: 100vh;
}

.w-64 {
  width: 64%;
}

.input-border {
  border: 2px solid #F2EDF1;
}

.w-32 {
  width: 32%;
}

.flex-0064 {
  flex: 0 0 64%;
}

.flex-0036 {
  flex: 0 0 36%;
}

.flex-0040 {
  flex: 0 0 44%;
}

.flex-0060 {
  flex: 0 0 56%;
}

.width-124 {
  width: 124px;
}

.flex-0032 {
  flex: 0 0 32%;
}

.flex-00327 {
  flex: 0 0 32.7%;
}

.max-height-744-px {
  max-height: 744px;
  overflow: hidden;
}

.height-450-px {
  height: 450px;
}

.height-360-px {
  height: 360px;
}

.news-page-icon {
  font-size: 36px;
  transition: all 0.05s ease-in-out;
}

.news-page-icon:active {
  transform: scale(1.2);
}

.news-border-dark {
  border: 1px solid colors.$grey-600;
  border-radius: 4px;
}

.news-border-light {
  border-right: 1px solid colors.$grey-500;
}

.height-200-px {
  height: 190px;
}

.flex-00654 {
  flex: 0 0 66.34%;
}

.flex-0018 {
  flex: 0 0 18%;
}

.flex-0050 {
  flex: 0 0 50%;
}

.flex-0025 {
  flex: 0 0 25%;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.float-rightt {
  float: right;
}

.float-leftt {
  float: left;
}

.margin-auto {
  margin: auto;
}


.display-none {
  display: none;
}

.display-flex {
  display: flex;
}

.display-none-important {
  display: none !important;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-wrap {
  overflow-wrap: break-word;
}


// Flexbox end --------------------------------------


/*
  Use names for paddings and margins
  Change them in media queries.
*/




.user-select-none {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}


.width-100 {
  width: 100%;
}

.max-width-540 {
  max-width: 540px;
}

.max-width-500-px {
  max-width: 500px;
}

.height-390-px {
  height: 390px;
  max-height: 390px;
}

.bg-for-500-px {
  background-size: 500px 400px;
  background-position: center;
  background-repeat: no-repeat;

}

.max-width-100 {
  max-width: 100%;
}

.max-width-50 {
  max-width: 50%;
}

.height-auto {
  height: auto;
}

.width-40 {
  width: 40%;
}

.width-200-px {
  width: 200px;
  max-width: 200px;
}

.index-card-img {
  width: 160px;
  height: auto;
}

.index-card-img-height {
  width: 100%;
  max-height: 345px;
}




// Static pages styling START -----------------------------------------------------------------

.register-border-red {
  border: 1px solid colors.$red-500 !important;
}

.max-height-144-px {
  max-height: 144px;
}

.max-width-270-px {
  max-width: 270px;
}

.margin-h-auto {
  margin-left: auto;
  margin-right: auto;
}

.max-width-200-px {
  max-width: 200px;
}

.max-width-250-px {
  max-width: 250px;
}

.max-width-600-px {
  max-width: 540px;
}

.width-1040 {
  max-width: 1040px;
  margin: auto;
}

.height-72-px {
  height: 72px;
  max-height: 72px;
}

.height-100-px {
  height: 100px;
  max-height: 100px;
}

.height-300 {
  height: 300px;
  max-height: 300px;
}

.max-height-700 {
  max-height: 700px;
}

.product-shadow-img-section {
  background: url('../img/TRUPicture_PDP_KeyVisual_Toshiba.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: auto;
}

.border-grey-300 {
  border: 1px solid colors.$grey-300;
  box-sizing: content-box;
}

.margin-t--250 {
  margin-top: -250px;
}

.image-sliding-over-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.border-bottom-white {
  border-bottom: 1px solid white;
}

.max-width-225 {
  max-width: 225px;
  height: auto;
}

.lp-img-slider {
  width: 8vw;
  height: 8vw;
  border-radius: 100px;
  background: white;
  float: right;
  z-index: 1002;
  top: 18vw;
  position: relative;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}



.slider-img-text-left {
  position: relative;
  top: 38vw;
  left: 35px;
  white-space: nowrap;
  overflow: hidden;
}

.slider-img-text-right {
  position: relative;
  top: 38vw;
  right: 35px;
  float: right;
  z-index: 2500;
}

.slider-img-text-top {
  position: relative;
  top: 2vw;
  right: -140px;
  float: right;
  z-index: 2499;
}



.four-images-first {
  background: url('../img/toshiba-tiny/OLED_ScreenResolution_BuyingGuide_KeyVisual_Toshiba.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 786px;
}

.four-images-second {
  background: url('../img/toshiba-tiny/UHD_ScreenResolution_BuyingGuide_KeyVisual_Toshiba.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 786px;
}

%three-cards-container-small {
  flex: 0 0 32%;

  @media only screen and (max-width: 1240px) {
    flex: 0 0 50%;
    padding: 10px;
  }

  @media only screen and (max-width: 768px) {
    flex: 0 0 100%;
    padding: 20px;
  }
}

%three-cards-container-big {
  flex: 0 0 36%;
  @media only screen and (max-width: 1240px) {
    flex: 0 0 50%;
    padding: 10px;
  }

  @media only screen and (max-width: 768px) {
    flex: 0 0 100%;
    padding: 20px;
  }
}

.three-cards-container-small {
  @extend %three-cards-container-small;
}

.three-cards-container-big {
  @extend %three-cards-container-big;
}



.four-images-third {
  background: url('../img/toshiba-tiny/FullHD_ScreenResolution_BuyingGuide_KeyVisual_Toshiba.png');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 786px;
}

.four-images-fourth {
  background: url('../img/toshiba-tiny/HDReady_ScreenResolution_BuyingGuide_KeyVisual_Toshiba.png');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 786px;
}

.selection-card-selected {
  border-top: 4px solid #C10019;
  background: white;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
  box-shadow: 10px 0px 10px 0px rgba(0,0,0,0.5);
}

.margin-r-13-wo-last {
  margin-right: 13px !important;
}

.margin-r-13-wo-last:last-child {
  margin-right: 0px !important;
}

.horizontal-line-gray {
  border-top: 2px solid #F2EDF1;
  width: 100px;
}

.custom-spacing {
  letter-spacing: 2px;
}

.custom-spacing-wide {
  letter-spacing: 4px;
}




.image-s-1{
  background: url("../img/VirtualDual_DAB_Sound_Toshiba.png");
  width: 100%;
  height: 810px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  z-index: 1001;
}

.image-s-2{
  background: url("../img/Levelling_DAB_Sound_Toshiba.png");
  width: 100%;
  height: 810px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  z-index: 1001;
}

.image-s-3{

  background: url("../img/Dialogue_DAB_Sound_Toshiba.png");
  width: 100%;
  height: 810px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  z-index: 1001;
}

.image-s-4{
  background: url("../img/VirtualSingle_DAB_Sound_Toshiba.png");
  width: 100%;
  height: 810px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  z-index: 1001;
}

@mixin imageOnTopBird($src) {
  background: url($src);
  width: 810px;
  height: 810px;
  background-position: 0% 20%;
  background-size: 1620px 1620px;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 1001;

  @media only screen and (max-width: 1650px) {
    width: 710px;
    height: 710px;
    background-size: 1420px 1420px;
  }

  @media only screen and (max-width: 1420px) {
    width: 640px;
    height: 640px;
    background-size: 1270px 1270px;
  }

  @media only screen and (max-width: 1280px) {
    width: 540px;
    height: 540px;
    background-size: 1080px 1080px;
  }

  @media only screen and (max-width: 1080px) {
    width: 46vw;
    height: 50vw;
    background-size: 100vw 100vw;
  }
}

@mixin imageOnTop($src) {
  background: url($src);
  width: 810px;
  height: 810px;
  background-position: 0% 20%;
  background-size: 1620px 810px;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 1001;

  @media only screen and (max-width: 1650px) {
    width: 710px ;
    height: 710px ;
    background-size: 1420px 710px;
  }

  @media only screen and (max-width: 1420px) {
    width: 640px;
    height: 640px;
    background-size: 1270px 640px;
  }

  @media only screen and (max-width: 1280px) {
    width: 540px;
    height: 540px;
    background-size: 1080px 540px;
  }

  @media only screen and (max-width: 1080px) {
    width: 46vw;
    height: 50vw;
    background-size: 100vw 50vw;
  }
}

@mixin imageOnBottom($src) {
  background: url($src);
  width: 1620px;
  height: 810px;
  background-position: 0% 20%;
  background-size: 1620px 810px;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 1000;

  @media only screen and (max-width: 1650px) {
    width: 1420px;
    height: 710px;
    background-size: 1420px 710px;
  }

  @media only screen and (max-width: 1420px) {
    width: 1280px;
    height: 640px;
    background-size: 1280px 640px;
  }

  @media only screen and (max-width: 1280px) {
    width: 1080px;
    height: 540px;
    background-size: 1080px 540px;
  }

  @media only screen and (max-width: 1080px) {
    width: 100vw;
    height: 50vw;
    background-size: 100vw 50vw;
  }
}

  @mixin imageOnBottomBird($src) {
    background: url($src);
    width: 1620px;
    height: 810px;
    background-position: 0% 20%;
    background-size: 1620px 1620px;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 1000;

    @media only screen and (max-width: 1650px) {
      width: 1420px;
      height: 710px;
      background-size: 1420px 1420px;
    }

    @media only screen and (max-width: 1420px) {
      width: 1280px;
      height: 640px;
      background-size: 1280px 1280px;
    }

    @media only screen and (max-width: 1280px) {
      width: 1080px;
      height: 540px;
      background-size: 1080px 1080px;
    }

    @media only screen and (max-width: 1080px) {
      width: 100vw;
      height: 50vw;
      background-size: 100vw 100vw;
    }
}

.image-1 {
  @include imageOnTopBird("../img/NotSaturated_WideColourGamut_Toshiba.png")
}

.image-2 {
  @include imageOnBottomBird("../img/Saturated_WideColourGamut_Toshiba.png")
}

.image-3 {
  @include imageOnTop("../img/NoHDR_DolbyVision_Toshiba.jpg")
}

.image-4 {
  @include imageOnBottom("../img/HDR_DolbyVision_Toshiba.png")
}

.image-5 {
  @include imageOnTop("../img/Standard_MicroDimming_Toshiba.png")
}

.image-6 {
  @include imageOnBottom("../img/Enhanced_MicroDimming_Toshiba.png");
}




.width-640{
  width: 640px;
  max-width: 640px;
  margin: auto;
}

.align-items-stretchh {
  align-items: stretch;
}

.max-width-650{
  max-width: 750px;
}


.height-100 {
  height: 100%;
}



.width-60 {
  width: 60%;
}

.line-height-inherit {
  line-height: inherit !important;
}

.width-p-150 {
  width: 120%;
  overflow-x: hidden;
}

.buying-guide-select {
  width: 100%;
  height: 33%;
  border: none;
  background: white;
  padding: $padding-xxs;
}

.width-710 {
  width: 710px;
  max-width: 710px;
}

.width-80 {
  width: 80%;
}

.width-850 {
  width: 850px;
  max-width: 850px;
  margin: auto;
}

.max-width-750 {
  max-width: 750px;
  margin: auto;
}

.height-345 {
  height: 345px;
}

.max-height-250 {
  height: 250px;
  max-height: 250px;
  min-height: 250px;
}

.height-500 {
  height: 500px;
}

.max-width-400 {
  max-width: 400px;
  margin: auto;
}

.max-width-240 {
  max-width: 240px;
  margin: auto;
}

.max-width-1250 {
  max-width: 1250px;
  margin: auto;
}

.height-1900 {
  height: 1900px;
}

.landing-img-container {
  position: relative;
  top: -250px;
}

#sticky-anchor {
  position: relative;
}

.padding-anchor-card {
  padding: 32px 50px;
}

.overflow-x-scroll {
  overflow-x: scroll;
}

.landing-relative-normalizer {
  margin-top: 310px
}

.margin-t-50vw {
  margin-top: calc(50% - 0px);
}

.height-280 {
  height: 280px;
}

.height-160 {
  height: 160px;
  min-height: 160px;
  max-height: 160px;
  overflow-y: scroll;
}

.margin-b-0 {
  margin-bottom: 0px !important;
}

.width-750 {
  width: 750px;
  max-width: 750px;
  margin: auto;
}

.width-185 {
  width: 185px;
  max-width: 185px;
  margin: auto;
}

.buying-guide-inchcm {
  border: 1px solid #191919;
  background: transparent;
  width: 64px;
  height: 36px;
  color: #191919
}

.buying-guide-inchcm-selected {
  border: 1px solid #191919;
  background: #191919;
  width: 64px;
  height: 36px;
  color: white;
}

.height-60 {
  height: 60px;
}

.image-row-2 {
  width: 100%;
}

.height-60-px {
  height: 60px;
  max-height: 60px;
}

.width-auto {
  width: auto;
}

.max-height-260-px {
  max-height: 260px;
}

.max-height-400-px {
  height: 400px;
  max-height: 400px;
  min-height: 400px;
}

.max-width-430-px {
  max-width: 430px;
  margin: auto;
}

.height-600 {
  height: 600px;
}


// Static pages styling END -----------------------------------------------------------------






// ALL PRODUCT STYLING START --------------------------------------------------


.width-for-card-header {
  // max-width: 250px;
  // width: 250px;
  margin: auto;
}

.height-for-card-header {
  min-height: 80px;
}


.all-product-box-list {
  margin-top: 30px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid #8c8989;
  width: 180px;
  border-radius: 4px;
  box-sizing: content-box;
}

.all-product-box-list-for-red-bg {
  margin-top: 30px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid #F2EDF1;
  width: 180px;
  border-radius: 4px;
  box-sizing: content-box;
}

.all-product-box-list-element {
  width: 60px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  box-sizing: content-box;
}

.all-product-box-list-element:hover {
  background: #8C8989;
  color: white !important;
}

.all-product-box-list-element-for-red-bg {
  width: 60px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  box-sizing: content-box;
}



.support-form {
  position: relative;
}

.all-product-box-list-element-for-red-bg:hover {
  p {
    color: #C10019 !important;
  }
  background: #F2EDF1;
}

// ALL PRODUCT STYLING END ---------------------------------------------------------



// REGISTER STYLING START ----------------------------------------------------------

.register-input {
  border: 2px solid colors.$grey-100;
  height: 64px;
  line-height: 64px;
}

.bg-obl-gray {
  background: #F2EDF1 !important;
  background-clip: content-box !important;
}

.div-btn {
  width: 248px;
  height: 60px;
  border: none;
  border-radius: 4px;
  transition: background 0.2s ease-in-out;
  font-size: 18px;
  background: #C10019;
  color: white;
}

.absolute-full {
  top: 0;
  bottom: 0 !important;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.7) !important;
  background-clip: content-box !important;
}

.z-5030 {
  z-index: 5030 !important;
}

.z-2001 {
  z-index: 2001;
}

.z-2002 {
  z-index: 2002;
}

.register-file {
  border: none;
  height: 60px;
  line-height: 60px;
}

input[type="file"] {
  display: none;
}

.max-width-522-px {
  max-width: 522px;
}

.custom-file-upload {
  border: 2px solid colors.$grey-100;
  display: inline-block;
  height: 60px;
  line-height: 60px;
  cursor: pointer;
  width: 100%;
  padding-left: 30px;
  color: colors.$grey-500;
}

.min-height-350-px {
  min-height: 350px;
}

.flex-between-wrap-edit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.flex-between-wrap-edit:nth-child(4n+0)::after {
  content: "";
  flex: 0 0 24%;
}

.min-height-240-px {
  min-height: 200px;
}

.flex-between-wrap-edit:nth-child(4n+1)::after {
  content: "";
  flex: 0 0 48%;
}

// REGISTER STYLING END ----------------------------------------------------------


// PRODUCT DETAIL START ---------------------------------------------

.product-banner-screen-size-container {
  max-width: 300px;
  margin-top: 200px;
}

// PRODUCT DETAIL END ----------------------------------------------

// ROKU START ----
.position-fixedd {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5000;
}

// ROKU END

.support-custom-height {
  height: 200px;
  @media only screen and (max-width: 992px) {
    height: 140px;
  }
}
