@use 'responsive';

@font-face {
  font-family: 'NeuzeitS LT Book';
  src: url("../fonts/Neuzeit_S_LT_Book.ttf") format('woff');
  font-weight: normal;
}

@font-face {
  font-family: 'NeuzeitS LT BookH';
  src: url("../fonts/Neuzeit_S_LT_BookHeavy.woff") format('woff');
  font-weight: bold;
}

$font: 'NeuzeitS LT Book';
$fontH: 'NeuzeitS LT BookH';

body {
  font-family: 'NeuzeitS LT Book';
  color: #252525;
}

.contact-phone {
  font-size: 32px;
}

$font-xxxl: 80px;
$font-xxl: 62px;
$font-xl: 44px;
$font-l: 36px;
$font-m-l: 28px;
$font-m: 24px;
$font-m-s: 18px;
$font-s: 16px;
$font-xs: 14px;
$font-xxs: 12px;

$line-xxxl: 92px;
$line-xxl: 72px;
$line-xl: 56px;
$line-l: 44px;
$line-m-l: 40px;
$line-m: 38px;
$line-m-s: 28px;
$line-s: 24px;
$line-xs: 20px;
$line-xxs: 16px;



%text-xxxl {
  font-size: $font-xxxl;
  line-height: $line-xxxl;
}

%text-xxl {
  font-size: $font-xxl;
  line-height: $line-xxl;
}

%text-xl {
  font-size: $font-xl;
  line-height: $line-xl;
}

%text-l {
  font-size: $font-l;
  line-height: $line-l;
}

%text-m-l {
  font-size: $font-m-l;
  line-height: $line-m-l;
}

%text-m {
  font-size: $font-m;
  line-height: $line-m;
}

%text-m-s {
  font-size: $font-m-s;
  line-height: $line-m-s;
}

%text-s {
  font-size: $font-s;
  line-height: $line-s;
}

%text-xs {
  font-size: $font-xs;
  line-height: $line-xs;
}

%text-xxs {
  font-size: $font-xxs;
  line-height: $line-xxs;
}

%cursor-pointer {
  cursor: pointer !important;
  &:hover {
    opacity: 0.75 !important;
  }
}

.cursor-pointer {
  @extend %cursor-pointer;
}




@mixin textSize($textSize, $lineHeigt) {
  font-size: $textSize;
  line-height: $lineHeigt;
}

.text-xxxl {
  @extend %text-xxxl;
  @media screen and (max-width: responsive.$tablet) {
    @include textSize($font-xl, $line-xl);
  }
}

.text-xxl {
  @extend %text-xxl;
  @media screen and (max-width: responsive.$tablet) {
    @include textSize($font-l, $line-l);
  }
}

.text-xl {
  @extend %text-xl;
  @media screen and (max-width: responsive.$tablet) {
    @include textSize($font-m-l, $line-m-l);
  }
}

.text-l {
  @extend %text-l;
  @media screen and (max-width: responsive.$tablet) {
    @include textSize($font-m, $line-m);
  }
}

.text-m-l {
  @extend %text-m-l;
  @media screen and (max-width: responsive.$tablet) {
    @include textSize($font-m, $line-m);
  }
}

.text-m {
  @extend %text-m;
  @media screen and (max-width: responsive.$tablet) {
    @include textSize($font-m-s, $line-m-s);
  }
}

.text-m-s {
  @extend %text-m-s;
  @media screen and (max-width: responsive.$tablet) {
    @include textSize($font-s, $line-s);
  }
}

.text-s {
  @extend %text-s;
  @media screen and (max-width: responsive.$tablet) {
    @include textSize($font-xs, $line-xs);
  }
}

.text-xs {
  @extend %text-xs;
  @media screen and (max-width: responsive.$tablet) {
    @include textSize($font-xxs, $line-xxs);
  }
}

.text-xxs {
  @extend %text-xxs;
  @media screen and (max-width: responsive.$tablet) {
    @include textSize($font-xxs, $line-xxs);
  }
}



.text-xxxl-bold {
  @extend %text-xxxl;
  font-family: $fontH;
  @media screen and (max-width: responsive.$tablet) {
    @include textSize($font-xl, $line-xl);
  }
}

.text-xxl-bold {
  @extend %text-xxl;
  font-family: $fontH;
  @media screen and (max-width: responsive.$tablet) {
    @include textSize($font-l, $line-l);
  }
}

.text-xl-bold {
  @extend %text-xl;
  font-family: $fontH;
  @media screen and (max-width: responsive.$tablet) {
    @include textSize($font-m-l, $line-m-l);
  }
}

.text-l-bold {
  @extend %text-l;
  font-family: $fontH;
  @media screen and (max-width: responsive.$tablet) {
    @include textSize($font-m, $line-m);
  }
}

.text-m-l-bold {
  @extend %text-m-l;
  font-family: $fontH;
  @media screen and (max-width: responsive.$tablet) {
    @include textSize($font-m, $line-m);
  }
}

.text-m-bold {
  @extend %text-m;
  font-family: $fontH;
  @media screen and (max-width: responsive.$tablet) {
    @include textSize($font-m-s, $line-m-s);
  }
}

.text-m-s-bold {
  @extend %text-m-s;
  font-family: $fontH;
  @media screen and (max-width: responsive.$tablet) {
    @include textSize($font-s, $line-s);
  }
}

.text-s-bold {
  @extend %text-s;
  font-family: $fontH;
  @media screen and (max-width: responsive.$tablet) {
    @include textSize($font-xs, $line-xs);
  }
}

.text-xs-bold {
  @extend %text-xs;
  font-family: $fontH;
  @media screen and (max-width: responsive.$tablet) {
    @include textSize($font-xxs, $line-xxs);
  }
}

.text-xxs-bold {
  @extend %text-xxs;
  font-family: $fontH;
  @media screen and (max-width: responsive.$tablet) {
    @include textSize($font-xxs, $line-xxs);
  }
}





.text-xxxl-link {
  @extend %text-xxxl;
  @extend %cursor-pointer;
  text-decoration: underline !important;
}

.text-xxl-link {
  @extend %text-xxl;
  @extend %cursor-pointer;
  text-decoration: underline !important;
}

.text-xl-link {
  @extend %text-xl;
  @extend %cursor-pointer;
  text-decoration: underline !important;
}

.text-l-link {
  @extend %text-l;
  @extend %cursor-pointer;
  text-decoration: underline !important;
}

.text-ml-link {
  @extend %text-m-l;
  @extend %cursor-pointer;
  text-decoration: underline !important;
}

.text-m-link {
  @extend %text-m;
  @extend %cursor-pointer;
  text-decoration: underline !important;
}

.text-ms-link {
  @extend %text-m-s;
  @extend %cursor-pointer;
  text-decoration: underline !important;
}

.text-s-link {
  @extend %text-s;
  @extend %cursor-pointer;
  text-decoration: underline !important;
}

.text-xs-link {
  @extend %text-xs;
  @extend %cursor-pointer;
  text-decoration: underline !important;
}

.text-xxs-link {
  @extend %text-xxs;
  @extend %cursor-pointer;
  text-decoration: underline !important;
}



.text-xxxl-link-bold {
  @extend %text-xxxl;
  @extend %cursor-pointer;
  font-family: $fontH;
}

.text-xxl-link-bold {
  @extend %text-xxl;
  @extend %cursor-pointer;
  font-family: $fontH;
}

.text-xl-link-bold {
  @extend %text-xl;
  @extend %cursor-pointer;
  font-family: $fontH;
}

.text-l-link-bold {
  @extend %text-l;
  @extend %cursor-pointer;
  font-family: $fontH;
}

.text-ml-link-bold {
  @extend %text-m-l;
  @extend %cursor-pointer;
  font-family: $fontH;
}

.text-m-link-bold {
  @extend %text-m;
  @extend %cursor-pointer;
  font-family: $fontH;
}

.text-ms-link-bold {
  @extend %text-m-s;
  @extend %cursor-pointer;
  font-family: $fontH;
}

.text-s-link-bold {
  @extend %text-s;
  @extend %cursor-pointer;
  font-family: $fontH;
}

.text-xs-link-bold {
  @extend %text-xs;
  @extend %cursor-pointer;
  font-family: $fontH;
}

.text-xxs-link-bold {
  @extend %text-xxs;
  @extend %cursor-pointer;
  font-family: $fontH;
}







.text-xxxl-res {
  font-size: 80px;
  line-height: 92px;
}

.text-xxl-res {
  font-size: 62px;
  line-height: 72px;
}

.text-xl-res {
  font-size: 44px;
  line-height: 56px;
}

.text-l-res {
  font-size: 36px;
  line-height: 44px;
}

.text-m-l-res {
  font-size: 28px;
  line-height: 40px;
}

.text-m-res {
  font-size: 24px;
  line-height: 38px;
}

.text-m-s-res {
  font-size: 18px;
  line-height: 28px;
}

.text-s-res {
  font-size: 16px;
  line-height: 24px;
}

.text-xs-res {
  font-size: 14px;
  line-height: 20px;
}

.text-xxs-res {
  font-size: 12px;
  line-height: 16px;
}



.text-xxxl-bold-res {
  font-size: 80px;
  line-height: 92px;
  font-family: 'NeuzeitS LT BookH';
}

.text-xxl-bold-res {
  font-size: 62px;
  line-height: 72px;
  font-family: 'NeuzeitS LT BookH';
}

.text-xl-bold-res {
  font-size: 44px;
  line-height: 56px;
  font-family: 'NeuzeitS LT BookH';
}

.text-l-bold-res {
  font-size: 36px;
  line-height: 44px;
  font-family: 'NeuzeitS LT BookH';
}

.text-m-l-bold-res {
  font-size: 28px;
  line-height: 40px;
  font-family: 'NeuzeitS LT BookH';
}

.text-m-bold-res {
  font-size: 24px;
  line-height: 38px;
  font-family: 'NeuzeitS LT BookH';
}

.text-m-s-bold-res {
  font-size: 18px;
  line-height: 28px;
  font-family: 'NeuzeitS LT BookH';
}

.text-s-bold-res {
  font-size: 16px;
  line-height: 24px;
  font-family: 'NeuzeitS LT BookH';
}

.text-xs-bold-res {
  font-size: 14px;
  line-height: 20px;
  font-family: 'NeuzeitS LT BookH';
}

.text-xxs-bold-res {
  font-size: 12px;
  line-height: 16px;
  font-family: 'NeuzeitS LT BookH';
}
























