@use 'colors';

.contact-widget {
  height: 60px;
  border: none;
  width: 100%;
  background: white;
  border-radius: 80px;
  padding-right: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 70px;
}

.contact-widget-icon-container {
  min-width: 54px;
  max-width: 54px;
  width: 54px;
  min-height: 54px;
  height: 54px;
  max-height: 54px;
  border-radius: 50%;
  margin-left: 4px;
  margin-right: 20px;
  background: colors.$grey-100;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contact-widget-icon {
  font-size: 28px;
  color: colors.$grey-700;
  position: relative;
  left: 4px;
}

.max-width-422-px {
  max-width: 422px;
}

.green-circle-container {
  position: relative;
  left: 4px;
  top: -8px;

}

.green-circle {
  background: colors.$green-100;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  border: 2px solid white;
}