@use 'colors';

.ui-datepicker {
  background: colors.$grey-700 !important;
}

 .ui-widget {
  background: colors.$grey-700 !important;
}

.ui-widget-content {
  background: colors.$grey-700 !important;
}

.ui-widget-header {
  background: colors.$grey-500 !important;
}

.ui-helper-clearfix {
  background: colors.$grey-700 !important;
}

.ui-corner-all {
  background: colors.$grey-700 !important;
  border: none !important;
}

.ui-datepicker-header {
  border: none !important;
  background: colors.$grey-600 !important;
}

.ui-widget-header {
  border: none !important;
  color: white !important;
}

.ui-datepicker-calendar th {
  color: white !important;
}

.ui-datepicker td {
  border: none !important;
  padding-top: 4px !important;
  padding-bottom: 4px !important;
  border-radius: 50% !important;
}

.ui-datepicker td:hover {
  background: white !important;
  color: black !important;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  border: none !important;
  
  
}

.ui-state-default:hover, .ui-widget-content:hover .ui-state-default:hover, .ui-widget-header:hover .ui-state-default:hover {
  border: none !important;
  color: black;
}

.ui-state-active {
  color: white !important;
}

td .ui-state-default {
  background: transparent !important;
}

.ui-state-default {
  background: colors.$grey-700 !important;
}

td a {
  text-align: center !important;
}

td:hover a {
  text-align: center !important;
  color: black;
}