@use 'colors';

.filter-section-mobile {
  width: 100%;
  position: fixed;
  top: 60px;
  background: rgba(0, 0, 0, 0.8);
  display: none;
}

.filter-selector-mobile {
  background: transparent;
  border: 1px solid #F7969A;
  border-radius: 30px;
  width: 125px;
  height: 45px;
  line-height: 45px;
  padding-left: 16px;
  color: #F7969A;
}


.filter-selector-mobile-bottom {
  background: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 30px;
  min-width: 70px;
  height: 40px;
  line-height: 40px;
  padding-left: 16px;
  padding-right: 16px;
  margin-right: 10px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.filter-selector-mobile-bottom:last-of-type {
  background: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 30px;
  min-width: 70px;
  height: 40px;
  line-height: 40px;
  padding-left: 16px;
  margin-right: 0px;
} 


.filter-header-section {
  width: 100vw;
  padding-top: 180px;
}

.filter-header-container {
  max-width: 1710px;
  margin: auto;
}

.filter-header-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 40px 32px;
  border-radius: 4px;
}

.filter-header-left-text {
  margin-right: 32px;

}

.filter-selector {
  background: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 4px;
  width: 152px;
  height: 40px;
  line-height: 40px;
  padding-left: 16px;
}

.filter-selector-pink {
  background: transparent;
  border: 1px solid colors.$red-200;
  border-radius: 20px;
  width: 152px;
  height: 40px;
  line-height: 40px;
  padding-left: 16px;
}

.filter-selector-red {
  background: transparent;
  border: 1px solid colors.$red-500;
  border-radius: 20px;
  width: 152px;
  height: 40px;
  line-height: 40px;
  padding-left: 16px;
}



.filter-selector-wrapped {
  display:none;
  margin-right: 10px;
  background: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 4px;
  width: 152px;
  height: 40px;
  line-height: 40px;
  padding-left: 16px;
}

.filter-selector-wide {
  margin-right: 10px;
  background: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 4px;
  width: 180px;
  height: 40px;
  line-height: 40px;
  padding-left: 16px;
}

.filter-header-left-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.filter-header-left-container-button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.filter-header-left-container-wrappable {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.filter-header-right-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-left: 10px;
}

.filter-header-left-button {
  border: none;
  width: 125px;
  height: 40px;
  margin-left: 10px;
  border-radius: 20px;
}

.filter-header-left-button-grey {
  border: 2px solid #8C8989;
  width: 125px;
  height: 40px;
  margin-left: 10px;
  border-radius: 20px;
}

.filter-header-left-icon {
  color: palevioletred;
  font-size: 20px;
  margin-left: 10px;
}

.filter-header-right-text {
  height: 40px;
  line-height: 40px;
  margin-right: 45px;
}
