@use 'colors';
@use 'button';
@use 'common';
@use 'constants';
@use 'responsive';
@use 'filter';
@use 'productInfo';
@use 'register';
@use 'radio';
@use 'datepickerCustomEdit';
@use 'contact';

html {
  max-width: 100vw;
  overflow-x: hidden;
}

.min-height-100 {
  min-height: 100% !important;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

.navbar-item-updated {
  width: 33%;
}

.arrow-dropdown {
  color: white;
}

.after-banner {
  display: none;
}

.tvs-dropdown-right-list-item {
  padding-top: 5px;
}

.nav-item {
  width: 22%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 60px;
  cursor: pointer;
}

.nav-item-search {
  width: 34%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 60px;
  color: white;
}

#nav-item-search:hover {
  background: transparent;
}

.navbar-custom-toggler {
  color: white !important;
}

.navbar-button-search-icon {
  box-sizing: content-box;
  font-size: 28px;
}

.height-210 {
  height: 210px;
  max-height: 210px;
}


.tvs-dropdown-right-image {
  width: auto;
  height: auto;
}

.height-28 {
  height: 28px !important;
}




.tvs-dropdown-section {
  position: absolute;
  width: 100vw;
  z-index: 1005 !important;
  top: 60px;
  left: 0px;
  background: #191919;
  padding-left: 40px !important;
  padding-right: 40px !important;
  padding-bottom: 40px !important;
  padding-top: 60px !important;
  display: none;
  cursor: default;
}

.tvs-dropdown-left-container {
  width: 100%;
}

.tvs-dropdown-container {
  width: 100%;
}

.tvs-dropdown-wrapper {
  width: 100%;
  color: white;
  display: flex;
  flex-direction: row;
}

.tvs-dropdown-left-section {
  width: 60%;
  max-width: 60%;
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tvs-dropdown-left-top-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tvs-dropdown-left-top-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
  width: calc(80% + 60px);
}

.tvs-dropdown-left-bottom-container {
  width: 100%;
  margin-top: 10px;
}

.tvs-dropdown-left-bottom-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.tvs-dropdown-left-bottom-element {
  max-width: 20%;
  flex: 0 0 20%;
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 10px !important;
  flex-wrap: wrap;
}

.support-dropdown-left-bottom-element-wrapper {
  max-width: 42%;
  flex: 0 0 42%;
  margin: 10px !important;
  flex-wrap: wrap;
}

.support-dropdown-left-bottom-element {
  width: 100%;
  height: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}

.tvs-dropdown-link-black-bg {
  background: url('../img/blackback.png');
  text-align: center;
}

.tvs-dropdown-link-red-bg {
  background: url('../img/redbackground.png');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.tvs-dropdown-link-gray-bg {
  background: gray;
  text-align: center;
}

.tvs-dropdown-right-section {
  width: 40%;
}

.tvs-dropdown-right-container {
  width: 100%;
}

.tvs-dropdown-right-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tvs-dropdown-right-list-wrapper {
  padding: 0;
}


.tvs-dropdown-left-bottom-element-link {
  width: 100%;
  height: 100%;
  text-align: center;
}

.tvs-dropdown-left-bottom-element-link:hover {
  color: inherit;
  opacity: 0.75;
}


.tvs-dropdown-right-image-container {
  width: 60%;
}

.tvs-dropdown-right-image-wrapper a {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

ul.leftImagecontent {
  position: relative;
  top: 20%;
  right: -25%;
}

.right-banner-img {
  width: 16%;
  height: auto;
  min-width: 276px;
}

.custom-spacing {
  letter-spacing: 2px;
}

.custom-spacing-wide {
  letter-spacing: 4px;
}

#index-left-img {
  background: url("../img/TRUPicture_PDP_KeyVisual_Toshiba.jpg");
  background-size: 50vw 56.25vw;
  height: 56.25vw;
}

#index-right-img {
  background: url("../img/red-bg.png");
  background-size: 50vw 56.25vw;
  height: 56.25vw;
}

#index-after-img {
  background: url("../img/TRUPicture_PDP_KeyVisual_Toshiba.jpg");
  background-size: 50vw 56.25vw;
  height: 56.25vw;
  display: none;
}