@use 'colors';
@use 'responsive';

.product-info-custom-container {
  padding-left: 8%;
  padding-right: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;

  @media only screen and (max-width: responsive.$tablet) {
    padding-left: 4%;
    padding-right: 4%;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
  }
}

.main-text-container {
  max-width: 540px;
  @media only screen and (max-width: responsive.$tablet) {
    max-width: 270px;
  }
}

.section-custom {
  width: 100%;
  padding-bottom: 60px;
}

// Needs breakpoints
%product-img-custom {
  width: 700px;
  min-width: 700px;
  position: absolute;
  height: auto;
  @media only screen and (max-width: responsive.$desktop) {
    width: 500px;
    min-width: 500px;
  }

  @media only screen and (max-width: responsive.$tablet) {
    width: 92%;
    min-width: 100px;
  }
}

.play-icon-img {
  font-size: 80px;
  color: white;
  position: absolute;
}

%product-img-custom-2 {
  width: 700px;
  height: 700px;
  min-width: 700px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  @media only screen and (max-width: responsive.$desktop) {
    width: 500px;
    height: 500px;
    min-width: 500px;
  }

  @media only screen and (max-width: responsive.$tablet) {
    width: 100%;
    min-width: 100px;
    height: auto;
  }

  @media only screen and (max-width: responsive.$tablet-s) {
    width: 100%;
    min-width: 100px;
    height: auto;
  }

  @media only screen and (max-width: responsive.$phone) {
    width: 100%;
    min-width: 100px;
    height: 75vw;
  }

  @media only screen and (max-width: responsive.$phone-s) {
    width: 100%;
    min-width: 100px;
    height: auto;
  }
}

.product-img-custom-2 {
  @extend %product-img-custom-2;
}


.product-img-custom-container {
  width: 700px;
  height: 700px;
  min-width: 700px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  @media only screen and (max-width: responsive.$desktop) {
    width: 500px;
    height: 500px;
    min-width: 500px;
  }

  @media only screen and (max-width: responsive.$tablet) {
    width: 100%;
    min-width: 100px;
    height: 90vw;
  }

  @media only screen and (max-width: responsive.$tablet-s) {
    width: 100%;
    min-width: 100px;
    height: 90vw;
  }

  @media only screen and (max-width: responsive.$phone) {
    width: 100%;
    min-width: 100px;
    height: 90vw;
  }

  @media only screen and (max-width: responsive.$phone-s) {
    width: 100%;
    min-width: 100px;
    height: 90vw;
  }
}

.z-index-2 {
  z-index: 2;
}

.product-img-custom {
  @extend %product-img-custom;
}

%banner-wrapper-custom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  @media only screen and (max-width: 1610px) {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
  }
}

%product-banner-thumbnail-wrapper {
  padding-top: 150px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  max-height: 360px;
  white-space: nowrap;
  box-sizing: content-box;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  width: 90px;
  @media only screen and (max-width: 1610px) {
    margin-top: 20px;
    padding-top: 0px;
    padding-bottom: 100px;
    flex-direction: row;
    overflow-y: visible;
    overflow-x: scroll;
    white-space: nowrap;
    max-width: 360px;
    width: 360px;
  }
}

.product-banner-thumbnail-wrapper {
  @extend %product-banner-thumbnail-wrapper;
}


.banner-wrapper-custom {
  @extend %banner-wrapper-custom
}

%product-banner-thumbnail-inner-wrapper {
  width: 70px;
  min-width: 70px;
  height: 70px;
  min-height: 70px;
  margin-bottom: 20px;
  border: 1px solid #A6A1A1;
  @media only screen and (max-width: 1610px) {
    margin-bottom: 0px;
    margin-right: 20px;
  }
}


.product-banner-thumbnail-inner-wrapper {
  @extend %product-banner-thumbnail-inner-wrapper
}

%product-banner-thumbnail-inner-wrapper-white {
  width: 70px;
  min-width: 70px;
  height: 70px;
  min-height: 70px;
  margin-bottom: 20px;
  border: 1px solid white;
  @media only screen and (max-width: 1610px) {
    margin-bottom: 0px;
    margin-right: 20px;
  }
}


.product-banner-thumbnail-inner-wrapper-white {
  @extend %product-banner-thumbnail-inner-wrapper-white
}

%size-container-custom {
  flex: 0 0 19%;
  padding: 10px;
}

.size-container-custom {
  @extend %size-container-custom
}

.card-image-height {
  height: 260px;
  width: auto;
}

.border-grey-600 {
  border: 1px solid colors.$grey-600
}

.product-banner-screen-size-code-bright {
  border-top: 1px solid colors.$grey-100;
  background: rgba(255, 255, 255, 0.25);
  height: 32px;
  line-height: 32px;
}

.product-banner-screen-size-code-dark {
  border-top: 1px solid colors.$grey-500;
  background: rgba(255, 255, 255, 0.25);
  height: 32px;
  line-height: 32px;
}



.active-size-gold {
  .active-border {
    border: 1px solid colors.$gold-400;
    box-sizing: content-box;
  }
  .product-banner-screen-size-code {
    background: rgba(166, 124, 66, 0.50);
    border-top: 1px solid colors.$gold-400;
    height: 32px;
    line-height: 32px;
  }
}

.passive-border-white {
  border: 1px solid white;
}

.passive-border-grey-100 {
  border: 1px solid colors.$grey-100;
}

.passive-border-grey-500 {
  border: 1px solid colors.$grey-500;
}

.active-size-dark {
  .active-border {
    border: 1px solid colors.$red-400;
    box-sizing: content-box;
  }
  .product-banner-screen-size-code {
    background: rgba(220, 1, 29, 0.2);
    border-top: 1px solid colors.$red-400;
    height: 32px;
    line-height: 32px;
  }
}

.active-size-bright {
  .active-border {
    border: 1px solid colors.$red-700;
    box-sizing: content-box;
  }
  .product-banner-screen-size-code {
    /*background: rgba(193, 0, 25, 0.5);*/
    background: rgba(0, 0, 0, 0.3);
    border-top: 1px solid colors.$grey-700;
    height: 32px;
    line-height: 32px;
  }

  .product-banner-screen-size-text {
    color: colors.$red-500;
  }
}