@use 'colors';
@use 'common';

/* Styling for round checkbox ------------------------------------------ */ 
/* It basically gives display none to checkboxes and inserts custom checkbox with its */
/* emtpy border and check icon content before and after label respectively. */

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  /*position: absolute;*/
  display: none;
  /*left: -9999px;*/
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left:0; top: 2px;
  width: 24px;
  height: 24px;
  border: 1px solid #aaa;
  background: #f8f8f8;
  border-radius: 50%;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.3)
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: "\f383";
  font-family: "Ionicons";
  font-weight: 800;
  position: absolute;
  top: -4px; left: 2px;
  font-size: 24px;
  color: black;
  transition: all .2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 1px dotted black;
}

/* hover style just for information */
label:hover:before {
  border: 1px solid black!important;
}

/* Custom Round Checkbox Styling Ended --------------------- */



.grey-line {
  width: 100%;
  border-top: 2px solid colors.$grey-400;
}

.checkbox-container {
  display: inline-block;
  padding-left: common.$padding-xxs;
  padding-right: common.$padding-s;
  padding-top: common.$padding-xxs;
  padding-bottom: common.$padding-xxs;
  border-radius: 20px;
  margin-top: 10px;
}

.checkbox-container {
  margin-left: 0px;
  margin-right: 20px;
}

.checkbox-style {
  width: 24px;
  height: 24px;
  outline: none;
  border: 1px solid #ddd;
}

.input[type=checkbox]+label {
  color: colors.$grey-700;
}

.input[type=checkbox]+label:before {
  content: '';
  color: colors.$grey-700;
  border-radius: 50px;
}

input[type=checkbox]:checked+label {
  color: white !important;
}

label {
  margin-bottom: 0px !important;
}

.min-height-120-px {
  min-height: 120px;
}

.vertical-line {
  height: 50px;
  border-right: 2px solid colors.$grey-150;
}

.border-grey-left {
  border-left: 1px solid colors.$grey-150;
}

.border-grey-right {
  border-right: 1px solid colors.$grey-150;
}

.width-50-p {
  width: 50%;
}

.add-icon {
  font-size: 42px;
  color: colors.$grey-400;
}

.add-product-border {
  border: 2px dashed colors.$grey-300;
}

.border-grey-top {
  border-top: 1px solid colors.$grey-150;
}

.dashboard-logout-icon {
  font-size: 30px;
  color: inherit;
  position: relative;
  left: 10px;
}




.border-radius-custom {
  border-radius: 4px;
}

.register-icon-big {
  font-size: 54px;
}