@use 'common';

$desktop-xl: 1760px;
$desktop-l: 1650px;
$desktop: 1420px;
$desktop-s: 1280px;
$tablet-l: 1080px;
$tablet: 992px;
$tablet-s: 768px;
$phone: 576px;
$phone-s: 440px;

// @media only screen and (max-width: $desktop-xl) {
//   .container-1720 {
//     width: 100%;
//     padding-left: common.$padding-m;
//     padding-right: common.$padding-m;
//   }
// }

@media only screen and (max-width: $desktop-l) {

  .margin-t-50vw {
    margin-top: calc(10% - 0px);
  }

  /*.image-1 {
    width: 50%;
    height: 50%;
  }

  .image-2 {
    width: 100%;
    height: 50%;
  }

  .image-3 {
    width: 50%;
    height: 50%;
  }

  .image-4 {
    width: 100%;
    height: 50%;
  }

  .image-5 {
    width: 50%;
    height: 50%;
  }

  .image-6 {
    width: 100%;
    height: 50%;
  }*/

  .container-1620 {
    width: 100%;
    padding-left: common.$padding-m;
    padding-right: common.$padding-m;
  }

  .image-sliding-over-container {
    height: 710px;
  }
  
  .flex-between-wrap-5 {
    justify-content: space-around;
  }

  .cotnainer-1620-full {
    width: 100%;
  }

  .container-1620-width {
    width: 1420px;
    margin: auto;
  }

  .filter-header-left-container-wrappable {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }

  .filter-header-right-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
  }

  .filter-selector-pink {
    margin-top: 20px;
    margin-right: 10px;
  }

  .filter-selector {
    margin-right: 10px;
    background: rgba(255, 255, 255, 0.5);
    border: none;
    border-radius: 4px;
    width: 180px;
    height: 40px;
    line-height: 40px;
    padding-left: 16px;
    margin-top: 20px;
  }

  .filter-selector-wide {
    margin-right: 10px;
    background: rgba(255, 255, 255, 0.5);
    border: none;
    border-radius: 4px;
    width: 180px;
    height: 40px;
    line-height: 40px;
    padding-left: 16px;
    margin-top: 20px;
  }

  .filter-header-right-text {
    margin-top: 20px;
    height: 40px;
    line-height: 40px;
    margin-right: 45px;
  }

  .filter-header-left-container-button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
  }

  .filter-header-left-button {
    border: none;
    width: 125px;
    height: 40px;
    margin-left: 10px;
    border-radius: 20px;
    margin-top: 20px;
  }
  
  .filter-header-left-button-grey {
    margin-top: 20px;
    border: 2px solid #8C8989;
    width: 125px;
    height: 40px;
    margin-left: 10px;
    border-radius: 20px;
  }

  .filter-header-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px 32px;
    border-radius: 4px;
  }

  .filter-header-left-text {
    margin-right: 32px;
    margin-top: 20px;
  }

  
  

}


@media only screen and (max-width: $desktop) {

  .image-sliding-over-container {
    height: 640px;
  }

  .container-1620 {
    width: 100%;
    padding-left: common.$padding-m;
    padding-right: common.$padding-m;
  }

  .container-1620-width {
    width: 1280px;
    margin: auto;
  }

  .container-1344 {
    width: 100%;
    padding-left: common.$padding-m;
    padding-right: common.$padding-m;
  }

  
}


@media only screen and (max-width: $desktop-s) {

  .container-1620 {
    width: 100%;
    padding-left: common.$padding-m;
    padding-right: common.$padding-m;
  }

  .image-sliding-over-container {
    height: 540px;
  }

  .container-1620-width {
    width: 1080px;
    margin: auto;
  }

  .container-1240 {
    width: 100%;
    padding-left: common.$padding-m;
    padding-right: common.$padding-m;
  }

  .container-row-3 {
    flex: 0 0 49%;
    padding-top: common.$padding-xs;
    padding-right: common.$padding-xxs;
    padding-left: common.$padding-xxs;
  }

  .flex-between-wrap-3 {
    justify-content: center;
  }

  .flex-between-wrap-3::after {
    content: "";
    flex: 0 0 49%;
  }
}


@media only screen and (max-width: $tablet-l) {

  .flex-between-wrap-center {
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
  }

  .container-row-2-wide {
    flex: 0 0 100%;
  }

  .container-row-3-3 {
    padding-right: common.$padding-xs;
    padding-left: common.$padding-xs;
  }

  .container-row-2 {
    flex: 0 0 100%;
    margin-top: common.$margin-s;
    text-align: center;
  }

  .image-row-2 {
    width: 80%;
  }

  .flex-between-wrap-reverse {
    flex-direction: column-reverse !important;
    justify-content: center !important;
    align-items: center !important;
  }

  .flex-between-wrap-button {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    flex-wrap: wrap !important;
    max-width: 100% !important;
  }

  .flex-between-wrap-2-custom {
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
  }

  .image-sliding-over-container {
    height: 50vw;
  }

  .right-banner-img {
    width: 16%;
    height: auto;
    min-width: 200px !important;
  }

  .max-width-50 {
    max-width: 100%;
  }
  

  .flex-between-wrap-2 {
    flex-wrap: wrap;
    padding-right: common.$padding-m;
    padding-left: common.$padding-m;
  }

  .container-row-2-50 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .container-1720 {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }

  .container-1620 {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }

  .container-1620-width {
    width: 100%;
  }


  .filter-section-mobile {
    display: block !important;
  }

  #filter-header-section {
    display: none;
  }

  .container-row-4 {
    flex: 0 0 49%;
    padding-top: common.$padding-xs !important;
  }

  .container-row-4-2 {
    flex: 0 0 49%;
    padding-top: common.$padding-xs !important;
  }

  .container-row-4-2-nopadding {
    flex: 0 0 49%;
  }

  .flex-between-wrap-4 {
    padding-right: common.$padding-m;
    padding-left: common.$padding-m;
  }

  .container-row-3 {
    flex: 0 0 49%;
    padding-top: common.$padding-xs;
    padding-right: common.$padding-xxs;
    padding-left: common.$padding-xxs;
  }

  .flex-between-wrap-3 {
    justify-content: center;
    padding-right: common.$padding-m;
    padding-left: common.$padding-m;
  }

  .flex-between-wrap-3::after {
    content: "";
    flex: 0 0 49%;
  }

  .flex-between-wrap-3-between {
    padding-right: common.$padding-m;
    padding-left: common.$padding-m;
  }
}


@media only screen and (max-width: $tablet) {

  #index-left-img {
    display: none;
    background-repeat: no-repeat !important;
  }
  
  #index-right-img {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    height: 100vh !important;
  }
  
  #index-after-img {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    height: 100vh !important;
    display: block !important;
  }

  /*.slider-img-text-left {
    position: relative;
    top: 75%;
  }
  
  .slider-img-text-right {
    position: relative;
    top: 75%;
  }*/

  .container-1620 {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }

  .width-850 {
    width: 100%;
    padding-right: common.$padding-m;
    padding-left: common.$padding-m;
  }

  .container-row-4 {
    flex: 0 0 49%;
    padding-top: common.$padding-xs !important;
  }

  .container-row-4-2 {
    flex: 0 0 49%;
    padding-top: common.$padding-xs !important;
  }

  .container-row-4-2-nopadding {
    flex: 0 0 49%;
  }

  .flex-between-wrap-4 {
    padding-right: common.$padding-m;
    padding-left: common.$padding-m;
  }

  .left-banner {
    display: none;
  }

  .after-banner {
    display: block !important;
  }

  .container-row-2-full {
    flex: 0 0 100%;
  }

  ul.leftImagecontent {
    position: absolute;
    top: 20%;
    right: 0% !important;
  }

  .container-row-4 {
    flex: 0 0 49%;
    padding-top: common.$padding-xs !important;
  }

  .container-row-4-2 {
    flex: 0 0 49%;
    padding-top: common.$padding-xs !important;
  }

  .container-row-4-2-nopadding {
    flex: 0 0 49%;
  }

  .container-row-3 {
    flex: 0 0 100%;
    padding-top: common.$padding-xs;
  }

  .flex-between-wrap-3 {
    justify-content: center;
    padding-right: common.$padding-m;
    padding-left: common.$padding-m;
  }

  .flex-between-wrap-3::after {
    content: "";
    flex: 0 0 100%;
  }

  .flex-between-wrap-3-between {
    padding-right: common.$padding-m;
    padding-left: common.$padding-m;
  }

}


@media only screen and (max-width: $tablet-s) {

  .container-row-5 {
    flex: 0 0 100%;
    padding-left: common.$padding-xs;
    padding-right: common.$padding-xs;
  }

  .container-row-5-2 {
    flex: 0 0 49%;
    padding-left: common.$padding-xxs;
    padding-right: common.$padding-xxs;
  }

  .height-19vw {
    height: 49vw;
  }
  
  .container-1620 {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }

  .flex-between-wrap-4 {
    padding-right: common.$padding-m;
    padding-left: common.$padding-m;
  }

  .container-row-4 {
    flex: 0 0 100%;
    padding-top: common.$padding-xs !important;
  }

  .container-row-4-2 {
    flex: 0 0 49%;
    padding-top: common.$padding-xs !important;
  }

  .container-row-4-2-nopadding {
    flex: 0 0 49%;
  }

  .container-row-3 {
    flex: 0 0 100%;
    padding-top: common.$padding-xs;
  }

  .flex-between-wrap-3 {
    justify-content: center;
    padding-right: common.$padding-xs;
    padding-left: common.$padding-xs;
  }

  .flex-between-wrap-3::after {
    content: "";
    flex: 0 0 100%;
  }

  .flex-between-wrap-3-between {
    padding-right: common.$padding-xs;
    padding-left: common.$padding-xs;
  }
}


@media only screen and (max-width: $phone) {

  .container-row-3-3 {
    flex: 0 0 100%;
    padding-right: common.$padding-xs;
    padding-left: common.$padding-xs;
    margin-top: common.$margin-ms;
  }

  .flex-between-wrap-2 {
    flex-wrap: wrap;
    padding-right: common.$padding-xxs;
    padding-left: common.$padding-xxs;
  }

  .container-1620 {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }

  .container-1240 {
    width: 100%;
    padding-left: common.$padding-xs;
    padding-right: common.$padding-xs;
  }



  .flex-between-wrap-4 {
    padding-right: common.$padding-xs;
    padding-left: common.$padding-xs;
  }

  .container-row-4 {
    flex: 0 0 100%;
    padding-top: common.$padding-xs !important;
  }

  .container-row-4-2 {
    flex: 0 0 49%;
    padding-top: common.$padding-xs !important;
  }

  .container-row-4-2-nopadding {
    flex: 0 0 49%;
  }

  .container-row-3 {
    flex: 0 0 100%;
    padding-top: common.$padding-xs;
  }

  .flex-between-wrap-3 {
    justify-content: center;
    padding-right: common.$padding-xs;
    padding-left: common.$padding-xs;
  }

  .flex-between-wrap-3::after {
    content: "";
    flex: 0 0 100%;
  }

  .flex-between-wrap-3-between {
    padding-right: common.$padding-xs;
    padding-left: common.$padding-xs;
  }

}


@media only screen and (max-width: $phone-s) {
  
  .container-1620 {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }

  .flex-between-wrap-4 {
    padding-right: common.$padding-xs;
    padding-left: common.$padding-xs;
  }

  .container-row-4 {
    flex: 0 0 100%;
    padding-top: common.$padding-xs !important;
  }

  .container-row-4-2 {
    flex: 0 0 49%;
    padding-top: common.$padding-xs !important;
  }

  .container-row-4-2-nopadding {
    flex: 0 0 49%;
  }

  .container-row-3 {
    flex: 0 0 100%;
    padding-top: common.$padding-xs;
  }

  .flex-between-wrap-3 {
    justify-content: center;
    padding-right: common.$padding-xs;
    padding-left: common.$padding-xs;
  }

  .flex-between-wrap-3::after {
    content: "";
    flex: 0 0 100%;
  }

  .flex-between-wrap-3-between {
    padding-right: common.$padding-xs;
    padding-left: common.$padding-xs;
  }

}