
#gold-black-section {
  background: url("../img/blackback.png");
}

.all-product-black-gold-bg {
  background: url("../img/blackback.png");
  background-repeat: repeat;
  background-size: cover;
}

.all-product-white-bg {
  background: white;
  background-repeat: repeat;
  background-size: contain;
}

.product-section-header-container {
  width: 100%;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 110px;
  padding-bottom: 60px;
  margin-bottom: 0 !important;
}

.product-header {
  max-width: 406px;
  margin: auto;
}

.product-code {
  margin-top: 10px;
  /* margin-bottom: 30px; */
}

.all-product-section {
  width: 100%;
}

.all-product-container {
  max-width: 1620px;
  margin: auto;
}

.all-product-wrapper {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.all-product-box-container {
  flex: 0 0 33%;
  max-width: 33%;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 60px;
}

.all-product-box-wrapper {
  width: 100%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media only screen and (max-width: 992px) {
  .all-product-box-img {
    max-width: 200px !important;
  }
}

.all-product-box-img {
  /* max-width: 280px; */
  cursor: pointer;
  width: auto;
  margin: auto;
  max-height: 280px;
  margin-top: 60px;
  margin-bottom: 40px;
}

.background-red {
  background: url("../img/redbackground.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.background-none {
  background: none;
}



.all-product-box-button {
  width: 90%;
  box-sizing: content-box;
  border: none;
  height: 60px;
  line-height: 60px;
  text-align: center;
  margin: 0px auto;
  padding: 0px !important;
}

.all-product-box-button-border {
  width: 90%;
  box-sizing: content-box;
  border: 1px solid #C10019;
  height: 60px;
  line-height: 60px;
  text-align: center;
  margin: 0px auto;
  box-sizing: border-box;
  background: white;
  padding: 0px !important;
}

.all-product-box-button-text {
  line-height: 60px;
  margin: 0;
}
