.allproduct-fullspecs-section {
  width: 100%;
  padding-bottom: 60px;
}

.allproduct-fullspecs-container {
  max-width: 1660px;
  width: 1700px;
  margin: auto;
}

.allproduct-fullspecs-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.allproduct-fullspecs-screen-size-code {
  border-top: 1px solid white;
  background: rgba(255, 255, 255, 0.25);
  height: 32px;
  line-height: 32px;
}

.allproduct-fullspecs-screen-size-container {
  max-width: 270px;
  margin-top: 200px;
}

.allproduct-fullspecs-screen-size-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 40px;
}

.allproduct-fullspecs-size-wrapper {
  width: 124px;
  text-align: center;
}

.allproduct-fullspecs-screen-size {
  height: 63px;
  line-height: 63px;
}

.allproduct-fullspecs-screen-size-button-wrapper {
  margin-right:10px;
  opacity: 0.25
}

.border-for-black-bg .allproduct-fullspecs-screen-size-button-wrapper{
  border: 1px solid white;
}

.border-for-black-bg .active-list-size {
  border: 1px solid white;
  opacity: 1;
}

.border-for-black-bg .active .allproduct-fullspecs-screen-size-code{
  border-top: 1px solid white;
}

.allproduct-fullspecs-list-section {
  width: 100%;

}

.allproduct-fullspecs-list-container {
  width: 100%;
  margin-top: 20px;
}

.allproduct-fullspecs-list-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}


.allproduct-fullspecs-list {
  width: 100%;
  margin: 0;
  padding: 0px 0px;
  overflow: hidden;
  transition: height 0.5s ease-in-out;
}

.allproduct-fullspecs-list-h-auto {
  height: auto;
}

.allproduct-fullspecs-list-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}


.allproduct-fullspecs-list-header p {
  margin: 0;
  margin-left: 25px;
  margin-right: 25px;
}

.allproduct-fullspecs-list-element {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 63px;
}

.allproduct-fullspecs-list-element p {
  margin: 0;
  margin-left: 25px;
  margin-right: 25px;
}

.allproduct-fullspecs-half-container {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 10px;
}

.allproduct-fullspecs-list-expander p {
  margin: 0px 20px;
}

.allproduct-fullspecs-list-expander {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #262626;
  height: 80px;
  line-height: 80px;
  border: none;
}

.fullspecs-button-container {
  padding: 0px 0px;
}

.allproduct-fullspecs-header {
  margin-top: 60px;
  margin-bottom: 60px;
}