.buying-guide-calculator-result {
    position: relative;
}
.buying-guide-calculator-result > #calculator-result {
    position: absolute;
    top: calc(50% - .9em);
    left: calc(50% - .8em);
    font-size: 5rem;
    font-weight: bold;
    color: #fff;
}
