.section-full {
  width: 100%;
}

.container-full {
  width: 100%;
}

.padding-t-80 {
  padding-top: 80px;
}



.padding-t-20 {
  padding-top: 20px;
}

.padding-h-45 {
  padding-left: 45px;
  padding-right: 45px;
}

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    }

.popup-modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 9999999999999; /* Sit on top */
padding-top: 100px; /* Location of the box */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
    

#myImg1 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  }
/* Modal Content (Image) */
    .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    }

    /* Caption of Modal Image (Image Text) - Same Width as the Image */
    #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
    }
    #caption1 {
      margin: auto;
      display: block;
      width: 80%;
      max-width: 700px;
      text-align: center;
      color: #ccc;
      padding: 10px 0;
      height: 150px;
      }

    /* Add Animation - Zoom in the Modal */
    .modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
    }
    .modal-content, #caption1 {
      animation-name: zoom;
      animation-duration: 0.6s;
      }

    @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
    }

    /* The Close Button */
    .close-serial {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    }

    .close-serial:hover,
    .close-serial:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
    }

    .close-model {
      position: absolute;
      top: 15px;
      right: 35px;
      color: #f1f1f1;
      font-size: 40px;
      font-weight: bold;
      transition: 0.3s;
      }
  
      .close-model:hover,
      .close-model:focus {
      color: #bbb;
      text-decoration: none;
      cursor: pointer;
      }

    /* 100% Image Width on Smaller Screens */
    @media only screen and (max-width: 700px){
    .modal-content {
    width: 100%;
    }
    }
.margin-t-20 {
  margin-top: 20px;
}

.padding-b-20 {
  padding-bottom: 20px;
}

.margin-t-160 {
  margin-top: 160px;
}

.wrapper-normal {
  width: 100%
}

.button-container {
  position: relative;
    top: 5px;
    left: 318px;
    padding: 6px;
    width: 36px;
    height: 36px;
}

.button-container div {
  position: absolute;
  top: 0;
  right: 0;
}
#close-video {
  border: none;
  background: none;
  color: red;
  font-size: 23px;
}
#close-video1 {
  border: none;
  background: none;
  color: red;
  font-size: 23px;
}

.input-group-addon {
  display: table-cell;
  text-align: center;
  border-left: 0; 
  background-color: #eee;
  border: 1px solid #ccc; 
  line-height: 1; 
  font-weight: normal; 
  font-size: 14px; 
  color: #555;
  cursor: pointer;
}

.special-icon-width {
  width: 50px !important;
  height: 50px !important;
}

.input-wide {
  height: 80px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 100%;
  background: rgba(255, 255 ,255, 0.25);
  border: none;
  border-radius: 100px;
  
}
.input-wide::placeholder {
  font-size: 18px;
}
.support-search-icon {
  font-size: 24px;
  color: white;
}

.w-750 {
  width: 750px;
  min-width: 750px;
  margin: auto;
}

.padding-t-60 {
  padding-top: 60px;
}

.padding-all-150 {
  padding: 150px;
}

.transparent-button {
  background: transparent;
  border: none;
  position: absolute;
  right: 250px;
  top: 30px;
}

.input-wide::placeholder {
  color: white;
}

.link-on-input {
  position :absolute;
  right: 20px;
  top: 30px;
}

.margin-t-30 {
  margin-top: 30px;
}

.padding-all-25 {
  padding: 25px;
}



.container-1620-slider {
  width: 1620px;
  max-width: 1620px;
  margin: auto;
  overflow: hidden;
}

.wrapper-slider {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.wrapper-slider-transition {
  transition: transform 0.5s ease 0.4s;
}

.wrapper-product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 13px;
}

.padding-all-80 {
  padding: 80px;
}

.padding-l-24 {
  padding-left: 24px;
}

.wrapper-row-align-center {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
}

.close-icon {
  margin-left: 6px;
  padding: 4px;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.close-icon:hover {
  color: rgba(255, 255 ,255, 0.75)
}

.container-row-2 {
  flex: 0 0 50%;
}


.card-image-style {
  height: 345px;
  background-position: center !important;
  background-size: 800px 500px !important;
}

.border-top-red {
  border-top: 4px solid #C10019;
  box-sizing: content-box;
}

.width-480 {
  width: 480px;
  max-width: 480px;
  margin: auto
}









.wrapper-row-4 {
  padding: 0px 13px;
  width: 100%;
}

.wrapper-row-4-mod {
  padding: 0px 0px;
  width: 100%;
}

.screen-size-selector:hover {
  background: gray;
}

.screen-size-selector-disabled:hover {
  background: transparent;
}

.screen-size-selector-disabled {
  opacity: 0.1;
}

.product-year-section {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 180px;
}

.margin-t-15 {
  margin-top: 15px;
}

.margin-b-60 {
  margin-bottom: 60px;
}

.wrapper-row-2 {
  padding: 0px 13px;
  width: 100%;
}



.padding-h-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.padding-t-13 {
  padding-top: 13px;
}

.padding-b-13 {
  padding-bottom: 13px;
}

.padding-t-25 {
  padding-top: 25px;
}

.padding-b-25 {
  padding-bottom: 25px;
}

.margin-t-10 {
  margin-top: 10px;
}

.padding-t-5 {
  padding-top: 5px;
}

.responsive-header-margin {
  padding-top: 120px;
}

.flex-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-start {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-end {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}



.padding-h-30 {
  padding-left: 30px;
  padding-right: 30px;
}

.padding-h-32 {
  padding-left: 32px;
  padding-right: 32px;
}

.w-p-75 {
  width: 75%;
}

.w-p-66 {
  width: 66%;
}

.flex-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-between-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}







.margin-b-30 {
  margin-bottom: 30px;
}

.card-modal-container {
  position: relative;
}

.card-modal {
  position: absolute;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0 ,0, 0.9);
  width: 100%;
  height: 1100px;
  z-index: 2000; 
}

.card-modal-notification {
  border-radius: 100px;
  height: 200px;
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}




.margin-t-180 {
  margin-top: 180px;
}

.landing-img-container {
  position: relative;
  top: -250px;
}


.w-300 {
  width: 300px;
  max-width: 300px;
}



.margin-t-13 {
  margin-top: 13px;
}

.border-vertical-gray {
  border-top: 2px solid #F2EDF1;
  border-bottom: 2px solid #F2EDF1;
}

.margin-b-13 {
  margin-bottom: 13px;
}

.w-50 {
  width: 50px;
  max-width: 50px;
}

.padding-all-30 {
  padding: 30px;
}

.flex-between-align-start {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.padding-t-45 {
  padding-top: 45px;
}

.white-border-top {
  border-top: 1px solid white;
}

.padding-h-13 {
  padding: 0px 13px;
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-t-60 {
  margin-top: 60px;
}

.padding-v-20 {
  padding-top: 20px;
  padding-bottom: 20px
}



.padding-h-60 {
  padding-left: 60px;
  padding-right: 60px;
}


.card-top-image {
  width: 60%;
  margin: auto;
}

.padding-all-55 {
  padding: 55px;
}


.image-sliding-over {
  height: auto;
  width: 100%;
  
}

.image-sliding-over-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -36%;
  overflow: hidden;
  width: 100%;
}

.image-sliding-over-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  top: -36%;
}

.image-sliding-over-wrapper-bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -36%;
  overflow: hidden;
}

.image-sliding-over-absolute-wrapper-bottom
{
  position: absolute;
  z-index: 1000;
  width: 1620px;
  height: 810px;
  overflow: hidden;
}

.image-sliding-over-absolute-wrapper-top {
  position: absolute;
  z-index: 1001;
  width: 1620px;
  height: 810px;
  overflow: hidden;
}





.padding-r-200 {
  padding-right: 200px;
}

.padding-ltb-80 {
  padding-left: 80px;
  padding-bottom: 80px;
  padding-top: 80px;
}





.width-1100 {
  width: 1100px;
  min-width: 1100px;
  margin: auto;
}

.margin-h-60 {
  margin-left: 60px;
  margin-right: 60px;
}



.padding-v-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}



.padding-h-150 {
  padding-left: 150px;
  padding-right: 150px;
}

.margin-t-65 {
  margin-top: 65px;
}

.padding-l-105 {
  padding-left: 105px;
}













.padding-v-75 {
  padding-top: 75px;
  padding-bottom: 75px;
}



.max-width-302 {
  width: 302px;
  max-width: 302px;
}

.margin-auto {
  margin: auto;
}

.wrapper-row-5 {
  padding: 0px 13px;
  width: 100%;
}

.wrapper-row-6 {
  padding: 0px 13px;
  width: 100%;
}

.h-200 {
  height: 200px;
}

.h-300 {
  height: 300px;
}

.display-none {
  display: none;
}

.h-340 {
  height: 340px;
}

.modal-container {
  width: 50%;
  height: 50%;
  max-height: 80%;
  background: white;
  border-radius: 16px;
  text-align: center;
  padding: 60px;
  overflow-y: scroll;
}

.padding-warranty {
  padding: 60px 120px;
}

.display-flex {
  display: flex;
}

.h-full {
  height: 100%;
}

.full-screen-section {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 2000;
  background: rgba(0, 0, 0, 0.3);
  top: 0;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.padding-h-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.user-select-none {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.padding-t-180 {
  padding-top: 180px;
}

.padding-t-340 {
  padding-top: 340px;
}

.padding-b-60 {
  padding-bottom: 60px;
}

.padding-t-55 {
  padding-top: 55px;
}

.padding-b-45 {
  padding-bottom: 45px;
}

.padding-h-125 {
  padding-left: 125px;
  padding-right: 125px;
}

.padding-h-140 {
  padding-left: 140px;
  padding-right: 140px;
}

.padding-h-180 {
  padding-left: 180px;
  padding-right: 180px;
}

.margin-t-80 {
  margin-top: 80px;
}

.padding-t-120 {
  padding-top: 120px;
}

.margin-b-26 {
  margin-bottom: 26px;
}

.margin-h-125 {
  margin-left: 125px;
  margin-right: 125px;
}

.margin-t-40 {
  margin-top: 40px;
}



.card-image-w-h {
  width: 824px;
  height: 515px
}

.padding-b-45 {
  padding-bottom: 45px;
}

.margin-t-45 {
  margin-top: 45px;
}

.padding-b-80 {
  padding-bottom: 80px;
}

.padding-b-120 {
  padding-bottom: 120px;
}

.margin-t-120 {
  margin-top: 120px;
}

.margin-b-15 {
  margin-bottom: 15px;
}



.padding-all-45 {
  padding: 45px;
}

.h-125 {
  height: 125px;
}

.support-number-container {
  border-radius: 20px;
  width: 40px;
  height: 30px;
  line-height: 30px;
  border: none;
  background: #C10019;
}

.support-number-container:hover {
  border-radius: 20px;
  width: 40px;
  height: 30px;
  line-height: 30px;
  border: none;
  background: #64000D;
}

.support-number-container:hover p {
  opacity: 0.75;
}

.margin-all-10 {
  margin: 10px;
}

.margin-r-10 {
  margin-right: 10px;
}

.margin-all-30 {
  margin: 30px;
}

.margin-r-30 {
  margin-right: 30px;
}

.margin-t-55 {
  margin-top: 55px;
}



.width-248 {
  width: 248px;
}

.padding-product-45 {
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 45px;
  padding-bottom: 0px;
}


.margin-b-20 {
  margin-bottom: 20px;
}

.margin-b-45 {
  margin-bottom: 45px;
}

.padding-all-20 {
  padding: 20px;
}

.margin-t-35 {
  margin-top: 35px;
}

.margin-b-120 {
  margin-bottom: 120px;
}

.padding-all-8 {
  padding: 8px;
}

.product-learn-more-button {
  border: none;
  border-radius: 4px;
  background: #C10019;
  transition: background 0.2s ease-in-out;
}

.product-learn-more-button:hover {
  background: #64000D
}

.outer-circle {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.support-learn-more-button {
  width: 196px;
  height: 49px;
  border: 1px solid #C10019;
  /* border-radius: 4px; */
  transition: background 0.2s ease-in-out;
  font-size: 18px;
  background: white;
}

.support-learn-more-button-text {
  line-height: 49px;
  margin: 0;
  color:#C10019;
}


.support-learn-more-button:hover {
  background: #64000D;
}

.loader {
  margin: auto;
  border: 16px solid #ffffff;
  border-radius: 50%;
  border-top: 16px solid #C10019;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.padding-t-160 {
  padding-top: 160px;
}

.display-none-important {
  display: none !important;
}

.padding-h-68 {
  padding-left: 68px;
  padding-right: 68px;
}

.padding-v-160 {
  padding-top: 160px;
  padding-bottom: 160px;
}

.padding-h-120 {
  padding-left: 120px;
  padding-right: 120px;
}

.width-800 {
  width: 800px;
  height: 720px;
}

.padding-all-10 {
  padding: 10px;
}

.padding-all-60 {
  padding: 60px;
}

.loader-container {
  width: 100vw;
  margin-top: 40px;
  left: 0;
  position: absolute;
  z-index: 1000;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.outer-circle-2 {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.outer-circle-border {
  border: 1px #C10019 solid;
}

.inner-circle {
  width: 8px;
  height: 8px;
  border-radius: 8px;
}





.my-shadow {
  box-shadow: 10px 5px 5px 1px black;
}



.wrapper-column-center-center {
  @extend %flex-column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.wrapper-column-center-center > #close-video {
  width: 34px;
  height: 34px;
  position: absolute;
  top: -17px;
  right: -17px;
}