.text-xxxl {
  font-size: 80px;
  line-height: 92px;
}

.text-xxl {
  font-size: 62px;
  line-height: 72px;
}

.text-xl {
  font-size: 44px;
  line-height: 56px;
}

.text-l {
  font-size: 36px;
  line-height: 44px;
}

.text-m-l {
  font-size: 28px;
  line-height: 40px;
}

.text-m {
  font-size: 24px;
  line-height: 38px;
}

.text-m-s {
  font-size: 18px;
  line-height: 28px;
}

.text-s {
  font-size: 16px;
  line-height: 24px;
}

.text-xs {
  font-size: 14px;
  line-height: 20px;
}

.text-xxs {
  font-size: 12px;
  line-height: 16px;
}







.text-xxxl-res {
  font-size: 80px;
  line-height: 92px;
}

.text-xxl-res {
  font-size: 62px;
  line-height: 72px;
}

.text-xl-res {
  font-size: 44px;
  line-height: 56px;
}

.text-l-res {
  font-size: 36px;
  line-height: 44px;
}

.text-m-l-res {
  font-size: 28px;
  line-height: 40px;
}

.text-m-res {
  font-size: 24px;
  line-height: 38px;
}

.text-m-s-res {
  font-size: 18px;
  line-height: 28px;
}

.text-s-res {
  font-size: 16px;
  line-height: 24px;
}

.text-xs-res {
  font-size: 14px;
  line-height: 20px;
}

.text-xxs-res {
  font-size: 12px;
  line-height: 16px;
}








.text-xxxl-bold {
  font-size: 80px;
  line-height: 92px;
  font-family: 'NeuzeitS LT BookH';
}

.text-xxl-bold {
  font-size: 62px;
  line-height: 72px;
  font-family: 'NeuzeitS LT BookH';
}

.text-xl-bold {
  font-size: 44px;
  line-height: 56px;
  font-family: 'NeuzeitS LT BookH';
}

.text-l-bold {
  font-size: 36px;
  line-height: 44px;
  font-family: 'NeuzeitS LT BookH';
}

.text-m-l-bold {
  font-size: 28px;
  line-height: 40px;
  font-family: 'NeuzeitS LT BookH';
}

.text-m-bold {
  font-size: 24px;
  line-height: 38px;
  font-family: 'NeuzeitS LT BookH';
}

.text-m-s-bold {
  font-size: 18px;
  line-height: 28px;
  font-family: 'NeuzeitS LT BookH';
}

.text-s-bold {
  font-size: 16px;
  line-height: 24px;
  font-family: 'NeuzeitS LT BookH';
}

.text-xs-bold {
  font-size: 14px;
  line-height: 20px;
  font-family: 'NeuzeitS LT BookH';
}

.text-xxs-bold {
  font-size: 12px;
  line-height: 16px;
  font-family: 'NeuzeitS LT BookH';
}






.text-xxxl-bold-res {
  font-size: 80px;
  line-height: 92px;
  font-family: 'NeuzeitS LT BookH';
}

.text-xxl-bold-res {
  font-size: 62px;
  line-height: 72px;
  font-family: 'NeuzeitS LT BookH';
}

.text-xl-bold-res {
  font-size: 44px;
  line-height: 56px;
  font-family: 'NeuzeitS LT BookH';
}

.text-l-bold-res {
  font-size: 36px;
  line-height: 44px;
  font-family: 'NeuzeitS LT BookH';
}

.text-m-l-bold-res {
  font-size: 28px;
  line-height: 40px;
  font-family: 'NeuzeitS LT BookH';
}

.text-m-bold-res {
  font-size: 24px;
  line-height: 38px;
  font-family: 'NeuzeitS LT BookH';
}

.text-m-s-bold-res {
  font-size: 18px;
  line-height: 28px;
  font-family: 'NeuzeitS LT BookH';
}

.text-s-bold-res {
  font-size: 16px;
  line-height: 24px;
  font-family: 'NeuzeitS LT BookH';
}

.text-xs-bold-res {
  font-size: 14px;
  line-height: 20px;
  font-family: 'NeuzeitS LT BookH';
}

.text-xxs-bold-res {
  font-size: 12px;
  line-height: 16px;
  font-family: 'NeuzeitS LT BookH';
}












.text-xxxl-link-bold {
  font-size: 80px;
  line-height: 92px;
  text-decoration: underline !important;
  cursor: pointer;
}

.text-xxl-link-bold {
  font-size: 62px;
  line-height: 72px;
  text-decoration: underline !important;
  cursor: pointer;
}

.text-xl-link-bold {
  font-size: 44px;
  line-height: 56px;
  text-decoration: underline !important;
  cursor: pointer;
}

.text-l-link-bold {
  font-size: 36px;
  line-height: 44px;
  text-decoration: underline !important;
  cursor: pointer;
}

.text-ml-link-bold {
  font-size: 28px;
  line-height: 40px;
  text-decoration: underline !important;
  cursor: pointer;
}

.text-m-link-bold {
  font-size: 24px;
  line-height: 38px;
  text-decoration: underline !important;
  cursor: pointer;
}

.text-ms-link-bold {
  font-size: 18px;
  line-height: 28px;
  text-decoration: underline !important;
  cursor: pointer;
}

.text-s-link-bold {
  font-size: 16px;
  line-height: 24px;
  text-decoration: underline !important;
  cursor: pointer;
}

.text-xs-link-bold {
  font-size: 14px;
  line-height: 20px;
  text-decoration: underline !important;
  cursor: pointer;
}

.text-xxs-link-bold {
  font-size: 12px;
  line-height: 16px;
  text-decoration: underline !important;
  cursor: pointer;
}





.text-xxxl-link {
  font-size: 80px;
  line-height: 92px;
  text-decoration: underline !important;
  cursor: pointer;
}

.text-xxl-link {
  font-size: 62px;
  line-height: 72px;
  text-decoration: underline !important;
  cursor: pointer;
}

.text-xl-link {
  font-size: 44px;
  line-height: 56px;
  text-decoration: underline !important;
  cursor: pointer;
}

.text-l-link {
  font-size: 36px;
  line-height: 44px;
  text-decoration: underline !important;
  cursor: pointer;
}

.text-ml-link {
  font-size: 28px;
  line-height: 40px;
  text-decoration: underline !important;
  cursor: pointer;
}

.text-m-link {
  font-size: 24px;
  line-height: 38px;
  text-decoration: underline !important;
  cursor: pointer;
}

.text-ms-link {
  font-size: 18px;
  line-height: 28px;
  text-decoration: underline !important;
  cursor: pointer;
}

.text-s-link {
  font-size: 16px;
  line-height: 24px;
  text-decoration: underline !important;
  cursor: pointer;
}

.text-xs-link {
  font-size: 14px;
  line-height: 20px;
  text-decoration: underline !important;
  cursor: pointer;
}

.text-xxs-link {
  font-size: 12px;
  line-height: 16px;
  text-decoration: underline !important;
  cursor: pointer;
}


.color-pink {
  color: #F7969A;
}

.pink-bg {
  background: #F7969A;
}

.color-static-gold {
  color: #D5AD6D !important;
}

.color-gold-dark {
  color: #664414;
}

.color-gold-text {
  color: #C3A376;
}

.color-white {
  color: white;
}

.color-grey100 {
  color: #F2EDF1
}

.color-grey200 {
  color: #A6A1A1;
}

.color-red500 {
  color: #C10019 !important;
}

.color-grey300 {
  color: #A6A1A1
}

.color-grey400 {
  color: #8C8989
}

.color-grey500 {
  color: #5A5A5A
}

.color-grey600 {
  color: #262626
}

.color-grey700 {
  color: #191919
}

.color-spec-list {
  color: #E0DDDF;
}

.white-bg {
  background: white;
}

.white-bg-content {
  background: white;
  background-clip: content-box;
}

.black-bg {
  background: #191919 !important;
}

.gold-bg {
  background: linear-gradient(120deg, #D0B185,  #C3A376 , #E0C6A2 , #FFFFFF , #E0C6A2 , #C3A376 , #D0B185 );
}

.gold-static-bg {
  background: #D5AD6D;
}

.red-100-bg {
  background: #F8CACC;
}

.red-200-bg {
  background: #F7969A;
}

.red-500-bg {
  background: #C10019;
}
.red-700-bg {
  background: #64000D;
}

.gray-20-bg {
  background: #FCFAF8;
}

.gray-100-bg {
  background: #F2EDF1;
}
.gray-100-bg-content {
  background: #F2EDF1;
  background-clip: content-box;
}

.grey-300-bg-content {
  background: #a6a1a1;
  background-clip: content-box;
}

.grey-400-bg-content {
  background: #8C8989;
  background-clip: content-box;
}

.grey-300-bg {
  background: #a6a1a1;
}

.grey-400-bg {
  background: #8C8989;
}

.grey-500-bg {
  background: #5A5A5A;
}

.grey-550-bg {
  background: #3B3A3B;
}

.grey-600-bg {
  background: #262626;
}

.grey-650-bg {
  background: #262626;
}

.grey-700-bg {
  background: #191919;
}

.black-gold-bg {
  background: url("../img/blackback.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.black-gold-bg-content {
  /* background: url("../img/blackback.png"); */
  background: url("../img/toshiba-new/black-pattern-background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: content-box;
}

.red-carousel-bg-content {
  /* background: url("../img/redbackground.png"); */
  background: url("../img/toshiba-new/red-pattern-background.svg");
  background-color: var(--red5);
  background-repeat: no-repeat;
  background-color: #000;
  /* url("../img/toshiba-new/black-pattern-background.svg") */
  background-size: cover;
  background-clip: content-box;
}


.red-carousel-bg {
  background: url("../img/redbackground.png");
  background-repeat: repeat;
  background-size: cover;
}

.bg-white-opacity-01 {
  background: rgba(255, 255, 255, 0.1);
}

.bg-white-opacity-05 {
  background: rgba(255, 255, 255, 0.5) !important;
}

.bg-black-opacity-01 {
  background: rgba(0, 0, 0, 0.1);
}

.bg-black-opacity-03 {
  background: rgba(0, 0, 0, 0.3) !important;
}

.bg-black-opacity-05 {
  background: rgba(0, 0, 0, 0.5) !important;
}

.bg-black-opacity-08 {
  background: rgba(0, 0, 0, 0.8) !important;
}


.bg-white-opacity-03 {
  background: rgba(255, 255, 255, 0.3) !important;
}


