@charset "UTF-8";
.color-green-circle {
  color: #2BA000;
}

.color-grey-25 {
  color: #FCFAF8;
}

.color-grey-50 {
  color: #f8f6f8;
}

.color-grey-100 {
  color: #F2EDF1;
}

.color-grey-200 {
  color: #707070;
}

.color-grey-300 {
  color: #A6A1A1;
}

.color-grey-400 {
  color: #8C8989;
}

.color-grey-500 {
  color: #5A5A5A;
}

.color-grey-600 {
  color: #262626;
}

.color-grey-700 {
  color: #191919;
}

.color-red-100 {
  color: #F8CACC;
}

.color-red-200 {
  color: #F7969A;
}

.color-red-300 {
  color: #EB5057;
}

.color-red-400 {
  color: #DC011D;
}

.color-red-500 {
  color: #C10019;
}

.color-red-600 {
  color: #860011;
}

.color-red-700 {
  color: #64000D;
}

.color-red-800 {
  color: #45060E;
}

.color-gold-100 {
  color: #E6D8C5;
}

.color-gold-200 {
  color: #D5B891;
}

.color-gold-300 {
  color: #C3A376;
}

.color-gold-400 {
  color: #A58253;
}

.color-gold-500 {
  color: #A67C42;
}

.color-gold-600 {
  color: #79521D;
}

.color-gold-700 {
  color: #664414;
}

.color-gold-gradient {
  color: #D5AD6D;
  /*if no support for background-clip*/
  background-clip: text;
  opacity: inherit;
  background: linear-gradient(120deg, #D0B185, #D0B185, #D0B185, #D0B185, #D0B185, #FFFFFF, #D0B185, #D0B185, #D0B185, #D0B185, #D0B185);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.color-gold {
  color: #D5AD6D;
  /*if no support for background-clip*/
  background-clip: text;
  opacity: inherit;
  background: linear-gradient(120deg, #D0B185, #D0B185, #D0B185, #D0B185, #D0B185, #FFFFFF, #D0B185, #D0B185, #D0B185, #D0B185, #D0B185);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-black-gold-page {
  background: url("../img/black-bg.png");
  background-repeat: repeat;
  background-size: contain;
}

.bg-black-gold {
  background: url("../img/black-bg.png");
  background-repeat: repeat;
  background-size: cover;
}

.bg-red-carousel {
  background: url("../img/red-bg.png");
  background-repeat: repeat;
  background-size: cover;
}

.bg-red-carousel-org {
  background: url("../img/red-bg-org.png");
  background-repeat: repeat;
  background-size: cover;
}

.bg-red-carousel-org-page {
  background: url("../img/red-bg-org.png");
  background-repeat: repeat;
  background-size: contain;
}

.bg-black-gold-content {
  background: url("../img/prdarkback.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: content-box;
}

.bg-red-carousel-content {
  background: url("../img/red-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: content-box;
}

.bg-white {
  background: white;
}

.bg-white-content {
  background: white;
  background-clip: content-box;
}

.bg-gold {
  background: linear-gradient(120deg, #D0B185, #C3A376, #E0C6A2, #FFFFFF, #E0C6A2, #C3A376, #D0B185);
}

.bg-grey-25 {
  background: #FCFAF8;
}

.bg-grey-50 {
  background: #f8f6f8;
}

.bg-grey-100 {
  background: #F2EDF1;
}

.bg-grey-200 {
  background: #707070;
}

.bg-grey-300 {
  background: #A6A1A1;
}

.bg-grey-400 {
  background: #8C8989;
}

.bg-grey-500 {
  background: #5A5A5A;
}

.bg-grey-600 {
  background: #262626;
}

.bg-grey-700 {
  background: #191919;
}

.bg-grey-50-content {
  background: #f8f6f8;
  background-clip: content-box;
}

.bg-grey-100-content {
  background: #F2EDF1;
  background-clip: content-box;
}

.bg-grey-200-content {
  background: #707070;
  background-clip: content-box;
}

.bg-grey-300-content {
  background: #A6A1A1;
  background-clip: content-box;
}

.bg-grey-400-content {
  background: #8C8989;
  background-clip: content-box;
}

.bg-grey-500-content {
  background: #5A5A5A;
  background-clip: content-box;
}

.bg-grey-600-content {
  background: #262626;
  background-clip: content-box;
}

.bg-grey-700-content {
  background: #191919;
  background-clip: content-box;
}

.bg-red-100 {
  background: #F8CACC;
}

.bg-red-200 {
  background: #F7969A;
}

.bg-red-300 {
  background: #EB5057;
}

.bg-red-400 {
  background: #DC011D;
}

.bg-red-500 {
  background: #C10019;
}

.bg-red-600 {
  background: #860011;
}

.bg-red-700 {
  background: #64000D;
}

.bg-red-800 {
  background: #45060E;
}

.bg-red-100-content {
  background: #F8CACC;
  background-clip: content-box;
}

.bg-red-200-content {
  background: #F7969A;
  background-clip: content-box;
}

.bg-red-300-content {
  background: #EB5057;
  background-clip: content-box;
}

.bg-red-400-content {
  background: #DC011D;
  background-clip: content-box;
}

.bg-red-500-content {
  background: #C10019;
  background-clip: content-box;
}

.bg-red-600-content {
  background: #860011;
  background-clip: content-box;
}

.bg-red-700-content {
  background: #64000D;
  background-clip: content-box;
}

.bg-red-800-content {
  background: #45060E;
  background-clip: content-box;
}

.bg-gold-100 {
  background: #E6D8C5;
}

.bg-gold-200 {
  background: #D5B891;
}

.bg-gold-300 {
  background: #C3A376;
}

.bg-gold-400 {
  background: #A58253;
}

.bg-gold-500 {
  background: #A67C42;
}

.bg-gold-600 {
  background: #79521D;
}

.bg-gold-700 {
  background: #664414;
}

.bg-gold-gradient {
  color: #D5AD6D;
  /*if no support for background-clip*/
  background-clip: text;
  opacity: inherit;
  background: linear-gradient(120deg, #D0B185, #D0B185, #D0B185, #D0B185, #D0B185, #FFFFFF, #D0B185, #D0B185, #D0B185, #D0B185, #D0B185);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-gold-100-content {
  background: #E6D8C5;
  box-sizing: content-box;
}

.bg-gold-200-content {
  background: #D5B891;
  box-sizing: content-box;
}

.bg-gold-300-content {
  background: #C3A376;
  box-sizing: content-box;
}

.bg-gold-400-content {
  background: #A58253;
  box-sizing: content-box;
}

.bg-gold-500-content {
  background: #A67C42;
  box-sizing: content-box;
}

.bg-gold-600-content {
  background: #79521D;
  box-sizing: content-box;
}

.bg-gold-700-content {
  background: #664414;
  box-sizing: content-box;
}

.bg-gold-gradient-content {
  color: #D5AD6D;
  /*if no support for background-clip*/
  background-clip: text;
  opacity: inherit;
  background: linear-gradient(120deg, #D0B185, #D0B185, #D0B185, #D0B185, #D0B185, #FFFFFF, #D0B185, #D0B185, #D0B185, #D0B185, #D0B185);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  box-sizing: content-box;
}

.bg-white-opacity-01 {
  background: rgba(255, 255, 255, 0.1);
}

.bg-white-opacity-03 {
  background: rgba(255, 255, 255, 0.3);
}

.bg-white-opacity-05 {
  background: rgba(255, 255, 255, 0.5);
}

.bg-black-opacity-01 {
  background: rgba(0, 0, 0, 0.1);
}

.bg-black-opacity-03 {
  background: rgba(0, 0, 0, 0.3);
}

.bg-black-opacity-05 {
  background: rgba(0, 0, 0, 0.5);
}

.margin-r-60-wo-last {
  margin-right: 60px;
}

.margin-r-15-wo-last {
  margin-right: 15px;
}

.margin-r-60-wo-last:last-child {
  margin-right: 0px;
}

.margin-t-xxxl {
  margin-top: 180px;
}

.margin-t-xxl {
  margin-top: 120px;
}

.margin-t-xl {
  margin-top: 100px;
}

.margin-t-l {
  margin-top: 90px;
}

.margin-t-m {
  margin-top: 60px;
}

.margin-t-ms {
  margin-top: 45px !important;
}

.margin-t-s {
  margin-top: 30px;
}

.margin-t-xs {
  margin-top: 20px;
}

.margin-t-xxs {
  margin-top: 10px;
}

.margin-tp-16 {
  margin-top: 20%;
}

.margin-v-xxxl {
  margin-left: 180px;
  margin-right: 180px;
}

.margin-v-xxl {
  margin-left: 120px;
  margin-right: 120px;
}

.margin-v-xl {
  margin-left: 100px;
  margin-right: 100px;
}

.margin-v-l {
  margin-left: 90px;
  margin-right: 90px;
}

.margin-v-m {
  margin-left: 60px;
  margin-right: 60px;
}

.margin-v-ms {
  margin-left: 45px;
  margin-right: 45px;
}

.margin-v-s {
  margin-left: 30px;
  margin-right: 30px;
}

.margin-v-xs {
  margin-left: 20px;
  margin-right: 20px;
}

.margin-v-xxs {
  margin-left: 10px;
  margin-right: 10px;
}

.margin-all-0 {
  margin: 0px !important;
}

.logo-size {
  width: 250px;
  height: 50px;
}

.margin-r-xxl {
  margin-right: 120px;
}

.margin-r-xl {
  margin-right: 100px;
}

.margin-r-l {
  margin-right: 90px;
}

.margin-r-m {
  margin-right: 60px;
}

.margin-r-ms {
  margin-right: 45px;
}

.margin-r-s {
  margin-right: 30px;
}

.margin-r-xs {
  margin-right: 20px;
}

.margin-r-xxs {
  margin-right: 10px;
}

.margin-l-0 {
  margin-left: 0px !important;
}

.margin-l-xxl {
  margin-left: 120px;
}

.margin-l-xl {
  margin-left: 100px;
}

.margin-l-l {
  margin-left: 90px;
}

.margin-l-m {
  margin-left: 60px;
}

.margin-l-ms {
  margin-left: 45px;
}

.margin-l-s {
  margin-left: 30px;
}

.margin-l-xs {
  margin-left: 20px;
}

.margin-l-xxs {
  margin-left: 10px;
}

.margin-b-xxxl {
  margin-bottom: 180px;
}

.margin-b-xxl {
  margin-bottom: 120px;
}

.margin-b-xl {
  margin-bottom: 100px;
}

.margin-b-l {
  margin-bottom: 90px;
}

.margin-b-m {
  margin-bottom: 60px;
}

.margin-b-ms {
  margin-bottom: 45px;
}

.margin-b-s {
  margin-bottom: 30px;
}

.margin-b-xs {
  margin-bottom: 20px;
}

.margin-b-xxs {
  margin-bottom: 10px;
}

.padding-t-330 {
  padding-top: 330px;
}

.padding-t-xxxxl {
  padding-top: 210px;
}

.padding-t-xxxl {
  padding-top: 180px;
}

.padding-t-xxl {
  padding-top: 120px;
}

.padding-t-xl {
  padding-top: 100px;
}

.padding-t-l {
  padding-top: 90px;
}

.padding-t-m {
  padding-top: 60px;
}

.padding-t-ms {
  padding-top: 45px;
}

.padding-t-s {
  padding-top: 30px;
}

.padding-t-xs {
  padding-top: 20px;
}

.padding-t-xxs {
  padding-top: 10px;
}

.padding-l-330 {
  padding-left: 330px;
}

.padding-l-xxxxl {
  padding-left: 210px;
}

.padding-l-xxxl {
  padding-left: 180px;
}

.padding-l-xxl {
  padding-left: 120px;
}

.padding-l-xl {
  padding-left: 100px;
}

.padding-l-l {
  padding-left: 90px;
}

.padding-l-m {
  padding-left: 60px;
}

.padding-l-ms {
  padding-left: 45px;
}

.padding-l-s {
  padding-left: 30px;
}

.padding-l-xs {
  padding-left: 20px;
}

.padding-l-xxs {
  padding-left: 10px;
}

.padding-r-330 {
  padding-right: 330px;
}

.padding-r-xxxxl {
  padding-right: 210px;
}

.padding-r-xxxl {
  padding-right: 180px;
}

.padding-r-xxl {
  padding-right: 120px;
}

.padding-r-xl {
  padding-right: 100px;
}

.padding-r-l {
  padding-right: 90px;
}

.padding-r-m {
  padding-right: 60px;
}

.padding-r-ms {
  padding-right: 45px;
}

.padding-r-s {
  padding-right: 30px;
}

.padding-r-xs {
  padding-right: 20px;
}

.padding-r-xxs {
  padding-right: 10px;
}

.padding-b-330 {
  padding-bottom: 330px;
}

.padding-b-xxl {
  padding-bottom: 120px;
}

.padding-b-xl {
  padding-bottom: 100px;
}

.padding-b-l {
  padding-bottom: 90px;
}

.padding-b-m {
  padding-bottom: 60px;
}

.padding-b-ms {
  padding-bottom: 45px;
}

.padding-b-s {
  padding-bottom: 30px;
}

.padding-b-xs {
  padding-bottom: 20px;
}

.padding-b-xxs {
  padding-bottom: 10px;
}

.padding-b-330 {
  padding-bottom: 330px;
}

.padding-h-p-xxs {
  padding-left: 10px;
  padding-right: 10px;
}

.padding-v-p-xxs {
  padding-top: 10px;
  padding-bottom: 10px;
}

.padding-h-p-xs {
  padding-left: 20px;
  padding-right: 20px;
}

.padding-v-p-xs {
  padding-top: 20px;
  padding-bottom: 20px;
}

.safari-img-height-1 {
  width: 250px;
  height: 50px;
}

.padding-h-p-s {
  padding-left: 30px;
  padding-right: 30px;
}

.padding-v-p-s {
  padding-top: 30px;
  padding-bottom: 30px;
}

.padding-all-xxl {
  padding: 120px;
}

.padding-all-xl {
  padding: 100px;
}

.padding-all-l {
  padding: 90px;
}

.padding-all-m {
  padding: 60px;
}

.padding-all-ms {
  padding: 45px;
}

.padding-all-s {
  padding: 30px;
}

.padding-all-xs {
  padding: 20px;
}

.padding-all-xxs {
  padding: 10px;
}

.padding-v-xxxl {
  padding-top: 180px;
  padding-bottom: 180px;
}

.padding-v-xxl {
  padding-top: 120px;
  padding-bottom: 120px;
}

.padding-v-xl {
  padding-top: 100px;
  padding-bottom: 100px;
}

.padding-v-l {
  padding-top: 90px;
  padding-bottom: 90px;
}

.padding-v-m {
  padding-top: 60px;
  padding-bottom: 60px;
}

.padding-v-ms {
  padding-top: 45px;
  padding-bottom: 45px;
}

.padding-v-s {
  padding-top: 30px;
  padding-bottom: 30px;
}

.padding-v-xs {
  padding-top: 20px;
  padding-bottom: 20px;
}

.padding-v-xxs {
  padding-top: 10px;
  padding-bottom: 10px;
}

.padding-h-xxxl {
  padding-left: 180px;
  padding-right: 180px;
}

.padding-h-xxl {
  padding-left: 120px;
  padding-right: 120px;
}

.padding-h-xl {
  padding-left: 100px;
  padding-right: 100px;
}

.padding-h-l {
  padding-left: 90px;
  padding-right: 90px;
}

.padding-h-m {
  padding-left: 60px;
  padding-right: 60px;
}

.padding-h-ms {
  padding-left: 45px;
  padding-right: 45px;
}

.padding-h-s {
  padding-left: 30px;
  padding-right: 30px;
}

.padding-h-xs {
  padding-left: 20px;
  padding-right: 20px;
}

.padding-h-xxs {
  padding-left: 10px;
  padding-right: 10px;
}

.padding-all-90 {
  padding: 90px;
}

.padding-all-150 {
  padding: 150px;
}

.section-full {
  width: 100%;
}

.container-full {
  width: 100%;
}

.container-1720 {
  max-width: 1720px;
  margin: auto;
}

.container-1620 {
  max-width: 1620px;
  margin: auto;
}

.container-1620-full {
  max-width: 1620px;
  margin: auto;
}

.container-1620-width {
  width: 1620px;
  margin: auto;
}

.container-1520 {
  max-width: 1520px;
  margin: auto;
}

.container-1344 {
  max-width: 1344px;
  margin: auto;
}

.container-1340 {
  max-width: 1340px;
  margin: auto;
}

.container-1240 {
  max-width: 1240px;
  margin: auto;
}

.white-space-nowrap {
  white-space: nowrap;
}

.text-align-center {
  text-align: center;
}

.padding-product-row-4 {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.inline-block {
  display: inline-block !important;
}

.flex-between-wrap-4, .flex-between-wrap-3-between, .flex-between-wrap-3-start, .flex-between-wrap-3-3, .flex-between-wrap-3, .flex-between-wrap-start, .flex-between-nowrap-start, .flex-between-wrap-5, .flex-between-wrap-2-custom, .flex-between-wrap-2, .flex-between-wrap-reverse, .flex-between-wrap-center, .flex-between-wrap, .flex-between, .wrapper-row-center-nowrap, .wrapper-row-start-nowrap-a-center, .wrapper-row-start-nowrap, .wrapper-row-a-center, .wrapper-row-center, .wrapper-row-start-a-center-nowrap, .wrapper-row-start-a-center, .wrapper-row-start, .wrapper-row-align-center-center {
  display: flex;
  flex-direction: row;
}

.wrapper-column-center-center, .wrapper-column-center, .wrapper-column-start {
  display: flex;
  flex-direction: column;
}

.wrapper-row-align-center-center {
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
}

.wrapper-row-start {
  justify-content: flex-start;
  flex-wrap: wrap;
}

.wrapper-row-start-a-center {
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.wrapper-row-start-a-center-nowrap {
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}

.wrapper-row-center {
  justify-content: center;
  flex-wrap: wrap;
}

.wrapper-row-a-center {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.wrapper-row-start-nowrap {
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.wrapper-row-start-nowrap-a-center {
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.wrapper-row-center-nowrap {
  justify-content: center;
  flex-wrap: nowrap;
}

.wrapper-column-start {
  justify-content: flex-start;
}

.wrapper-column-center {
  justify-content: center;
}

.wrapper-column-center-center {
  justify-content: center;
  align-items: center;
  position: relative;
}
.wrapper-column-center-center > #close-video {
  width: 34px;
  height: 34px;
  position: absolute;
  top: -17px;
  right: -17px;
}

.play-icon-img-container {
  position: relative;
  left: 60%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-between {
  justify-content: space-between;
  align-items: center;
}

.flex-between-wrap {
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.container-row-2-wide {
  flex: 0 0 49%;
}

.flex-between-wrap-center {
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.flex-between-wrap-reverse {
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.flex-between-wrap-2 {
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.flex-between-wrap-2-custom {
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.flex-between-wrap-5 {
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.flex-between-wrap-5::after {
  content: "";
  flex: auto;
}

.flex-between-center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flex-between-center-nowrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.flex-between-nowrap-start {
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.flex-between-wrap-start {
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
}

.flex-between-wrap-3 {
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.flex-between-wrap-3-3 {
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.flex-between-wrap-4::after {
  content: "";
  flex: 0 0 49.2%;
}

.flex-between-wrap-3::after {
  content: "";
  flex: 0 0 32.4%;
}

.flex-between-wrap-3-start {
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.flex-between-wrap-3-between {
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.flex-between-wrap-4 {
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.padding-for-flex-3 {
  padding-left: 10px;
  padding-right: 10px;
}

/*

%first-wrapper-in-row {
  padding-left: 0px;
  padding-right: 0px;
}

%last-wrapper-in-row {
  padding-left: 0px;
  padding-right: 0px;
}

%wrapper-in-row {
  padding-left: 0px;
  padding-right: 0px;
}

%wrapper-in-row-no-padding {
  padding-left: 0px;
  padding-right: 0px;
}*/
.wrapper-in-row-no-padding {
  width: 100%;
}

.container-row-5:first-child .wrapper-in-row, .container-row-4:first-child .wrapper-in-row, .container-row-3:first-child .wrapper-in-row, .container-row-2:first-child .wrapper-in-row {
  width: 100%;
}

.container-row-5:last-child .wrapper-in-row, .container-row-4:last-child .wrapper-in-row, .container-row-3:last-child .wrapper-in-row, .container-row-2:last-child .wrapper-in-row {
  width: 100%;
}

.wrapper-in-row {
  width: 100%;
}

.container-row-2 {
  flex: 0 0 49%;
}

.container-row-2-2 {
  flex: 0 0 49%;
}

.container-row-2-50 {
  flex: 0 0 49%;
  max-width: 50%;
}

.container-row-2-full {
  flex: 0 0 50%;
}

.container-row-3 {
  flex: 0 0 32.4%;
}

/*Holds 3 in row until mobile */
.container-row-3-3 {
  flex: 0 0 32.4%;
}

.container-row-3-full {
  flex: 0 0 33%;
}

.container-row-4 {
  flex: 0 0 24%;
}

.container-row-4-2 {
  flex: 0 0 24%;
}

.container-row-4-2-nopadding {
  flex: 0 0 24%;
}

.container-row-4-full {
  flex: 0 0 25%;
}

.container-row-5 {
  flex: 0 0 19%;
}

.container-row-5-2 {
  flex: 0 0 19%;
}

.height-19vw {
  height: 19vw;
  min-height: 200px;
}

.container-row-5-full {
  flex: 0 0 20%;
}

.container-row-5-always {
  flex: 0 0 20%;
  padding-left: 10px;
  padding-right: 10px;
}

.container-row-6 {
  flex: 0 0 16%;
  min-width: 140px;
  box-sizing: content-box;
  padding: 10px;
}

.height-full {
  height: 100vh;
}

.w-64 {
  width: 64%;
}

.input-border {
  border: 2px solid #F2EDF1;
}

.w-32 {
  width: 32%;
}

.flex-0064 {
  flex: 0 0 64%;
}

.flex-0036 {
  flex: 0 0 36%;
}

.flex-0040 {
  flex: 0 0 44%;
}

.flex-0060 {
  flex: 0 0 56%;
}

.width-124 {
  width: 124px;
}

.flex-0032 {
  flex: 0 0 32%;
}

.flex-00327 {
  flex: 0 0 32.7%;
}

.max-height-744-px {
  max-height: 744px;
  overflow: hidden;
}

.height-450-px {
  height: 450px;
}

.height-360-px {
  height: 360px;
}

.news-page-icon {
  font-size: 36px;
  transition: all 0.05s ease-in-out;
}

.news-page-icon:active {
  transform: scale(1.2);
}

.news-border-dark {
  border: 1px solid #262626;
  border-radius: 4px;
}

.news-border-light {
  border-right: 1px solid #5A5A5A;
}

.height-200-px {
  height: 190px;
}

.flex-00654 {
  flex: 0 0 66.34%;
}

.flex-0018 {
  flex: 0 0 18%;
}

.flex-0050 {
  flex: 0 0 50%;
}

.flex-0025 {
  flex: 0 0 25%;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.float-rightt {
  float: right;
}

.float-leftt {
  float: left;
}

.margin-auto {
  margin: auto;
}

.display-none {
  display: none;
}

.display-flex {
  display: flex;
}

.display-none-important {
  display: none !important;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-wrap {
  overflow-wrap: break-word;
}

/*
  Use names for paddings and margins
  Change them in media queries.
*/
.user-select-none {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.width-100 {
  width: 100%;
}

.max-width-540 {
  max-width: 540px;
}

.max-width-500-px {
  max-width: 500px;
}

.height-390-px {
  height: 390px;
  max-height: 390px;
}

.bg-for-500-px {
  background-size: 500px 400px;
  background-position: center;
  background-repeat: no-repeat;
}

.max-width-100 {
  max-width: 100%;
}

.max-width-50 {
  max-width: 50%;
}

.height-auto {
  height: auto;
}

.width-40 {
  width: 40%;
}

.width-200-px {
  width: 200px;
  max-width: 200px;
}

.index-card-img {
  width: 160px;
  height: auto;
}

.index-card-img-height {
  width: 100%;
  max-height: 345px;
}

.register-border-red {
  border: 1px solid #C10019 !important;
}

.max-height-144-px {
  max-height: 144px;
}

.max-width-270-px {
  max-width: 270px;
}

.margin-h-auto {
  margin-left: auto;
  margin-right: auto;
}

.max-width-200-px {
  max-width: 200px;
}

.max-width-250-px {
  max-width: 250px;
}

.max-width-600-px {
  max-width: 540px;
}

.width-1040 {
  max-width: 1040px;
  margin: auto;
}

.height-72-px {
  height: 72px;
  max-height: 72px;
}

.height-100-px {
  height: 100px;
  max-height: 100px;
}

.height-300 {
  height: 300px;
  max-height: 300px;
}

.max-height-700 {
  max-height: 700px;
}

.product-shadow-img-section {
  background: url("../img/TRUPicture_PDP_KeyVisual_Toshiba.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: auto;
}

.border-grey-300 {
  border: 1px solid #A6A1A1;
  box-sizing: content-box;
}

.margin-t--250 {
  margin-top: -250px;
}

.image-sliding-over-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.border-bottom-white {
  border-bottom: 1px solid white;
}

.max-width-225 {
  max-width: 225px;
  height: auto;
}

.lp-img-slider {
  width: 8vw;
  height: 8vw;
  border-radius: 100px;
  background: white;
  float: right;
  z-index: 1002;
  top: 18vw;
  position: relative;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

.slider-img-text-left {
  position: relative;
  top: 38vw;
  left: 35px;
  white-space: nowrap;
  overflow: hidden;
}

.slider-img-text-right {
  position: relative;
  top: 38vw;
  right: 35px;
  float: right;
  z-index: 2500;
}

.slider-img-text-top {
  position: relative;
  top: 2vw;
  /* right: -140px; */
  float: right;
  z-index: 2499;
}

.four-images-first {
  background: url("../img/toshiba-tiny/OLED_ScreenResolution_BuyingGuide_KeyVisual_Toshiba.jpg");
    background: url('../img/toshiba-tiny/FullHD_ScreenResolution_BuyingGuide_KeyVisual_Toshiba.png');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 786px;
}

.four-images-second {
  background: url("../img/toshiba-tiny/UHD_ScreenResolution_BuyingGuide_KeyVisual_Toshiba.jpg");
    background: url('../img/toshiba-tiny/FullHD_ScreenResolution_BuyingGuide_KeyVisual_Toshiba.png');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 786px;
}

.three-cards-container-small {
  flex: 0 0 32%;
}
@media only screen and (max-width: 1240px) {
  .three-cards-container-small {
    flex: 0 0 50%;
    padding: 10px;
  }
}
@media only screen and (max-width: 768px) {
  .three-cards-container-small {
    flex: 0 0 100%;
    padding: 20px;
  }
}

.three-cards-container-big {
  flex: 0 0 36%;
}
@media only screen and (max-width: 1240px) {
  .three-cards-container-big {
    flex: 0 0 50%;
    padding: 10px;
  }
}
@media only screen and (max-width: 768px) {
  .three-cards-container-big {
    flex: 0 0 100%;
    padding: 20px;
  }
}

.four-images-third {
  background: url("../img/toshiba-tiny/FullHD_ScreenResolution_BuyingGuide_KeyVisual_Toshiba.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 786px;
}

.four-images-fourth {
  background: url("../img/toshiba-tiny/HDReady_ScreenResolution_BuyingGuide_KeyVisual_Toshiba.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 786px;
}

.selection-card-selected {
  border-top: 4px solid #C10019;
  background: white;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 10px 0px 10px 0px rgba(0, 0, 0, 0.5);

  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
}

.margin-r-13-wo-last {
  margin-right: 13px !important;
}

.margin-r-13-wo-last:last-child {
  margin-right: 0px !important;
}

.horizontal-line-gray {
  border-top: 2px solid #F2EDF1;
  width: 100px;
}

.custom-spacing {
  letter-spacing: 2px;
}

.custom-spacing-wide {
  letter-spacing: 4px;
}

.image-s-1 {
  background: url("../img/VirtualDual_DAB_Sound_Toshiba.png");
  width: 100%;
  height: 810px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  z-index: 1001;
}

.image-s-2 {
  background: url("../img/Levelling_DAB_Sound_Toshiba.png");
  width: 100%;
  height: 810px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  z-index: 1001;
}

.image-s-3 {
  background: url("../img/Dialogue_DAB_Sound_Toshiba.png");
  width: 100%;
  height: 810px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  z-index: 1001;
}

.image-s-4 {
  background: url("../img/VirtualSingle_DAB_Sound_Toshiba.png");
  width: 100%;
  height: 810px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  z-index: 1001;
}

.image-1 {
  background: url("../img/NotSaturated_WideColourGamut_Toshiba.png");
  width: 810px;
  height: 810px;
  background-position: 0% 20%;
  background-size: 1620px 1620px;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 1001;
}
@media only screen and (max-width: 1650px) {
  .image-1 {
    width: 710px;
    height: 710px;
    background-size: 1420px 1420px;
  }
}
@media only screen and (max-width: 1420px) {
  .image-1 {
    width: 640px;
    height: 640px;
    background-size: 1270px 1270px;
  }
}
@media only screen and (max-width: 1280px) {
  .image-1 {
    width: 540px;
    height: 540px;
    background-size: 1080px 1080px;
  }
}
@media only screen and (max-width: 1080px) {
  .image-1 {
    width: 46vw;
    height: 50vw;
    background-size: 100vw 100vw;
  }
}

.image-2 {
  background: url("../img/Saturated_WideColourGamut_Toshiba.png");
  width: 1620px;
  height: 810px;
  background-position: 0% 20%;
  background-size: 1620px 1620px;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 1000;
}
@media only screen and (max-width: 1650px) {
  .image-2 {
    width: 1420px;
    height: 710px;
    background-size: 1420px 1420px;
  }
}
@media only screen and (max-width: 1420px) {
  .image-2 {
    width: 1280px;
    height: 640px;
    background-size: 1280px 1280px;
  }
}
@media only screen and (max-width: 1280px) {
  .image-2 {
    width: 1080px;
    height: 540px;
    background-size: 1080px 1080px;
  }
}
@media only screen and (max-width: 1080px) {
  .image-2 {
    width: 100vw;
    height: 50vw;
    background-size: 100vw 100vw;
  }
}

.image-3 {
  background: url("../img/NoHDR_DolbyVision_Toshiba.jpg");
  width: 810px;
  height: 810px;
  background-position: 0% 20%;
  background-size: 1620px 810px;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 1001;
}
@media only screen and (max-width: 1650px) {
  .image-3 {
    width: 710px;
    height: 710px;
    background-size: 1420px 710px;
  }
}
@media only screen and (max-width: 1420px) {
  .image-3 {
    width: 640px;
    height: 640px;
    background-size: 1270px 640px;
  }
}
@media only screen and (max-width: 1280px) {
  .image-3 {
    width: 540px;
    height: 540px;
    background-size: 1080px 540px;
  }
}
@media only screen and (max-width: 1080px) {
  .image-3 {
    width: 46vw;
    height: 50vw;
    background-size: 100vw 50vw;
  }
}

.image-4 {
  background: url("../img/HDR_DolbyVision_Toshiba.png");
  width: 1620px;
  height: 810px;
  background-position: 0% 20%;
  background-size: 1620px 810px;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 1000;
}
@media only screen and (max-width: 1650px) {
  .image-4 {
    width: 1420px;
    height: 710px;
    background-size: 1420px 710px;
  }
}
@media only screen and (max-width: 1420px) {
  .image-4 {
    width: 1280px;
    height: 640px;
    background-size: 1280px 640px;
  }
}
@media only screen and (max-width: 1280px) {
  .image-4 {
    width: 1080px;
    height: 540px;
    background-size: 1080px 540px;
  }
}
@media only screen and (max-width: 1080px) {
  .image-4 {
    width: 100vw;
    height: 50vw;
    background-size: 100vw 50vw;
  }
}

.image-5 {
  background: url("../img/Standard_MicroDimming_Toshiba.png");
  width: 810px;
  height: 810px;
  background-position: 0% 20%;
  background-size: 1620px 810px;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 1001;
}
@media only screen and (max-width: 1650px) {
  .image-5 {
    width: 710px;
    height: 710px;
    background-size: 1420px 710px;
  }
}
@media only screen and (max-width: 1420px) {
  .image-5 {
    width: 640px;
    height: 640px;
    background-size: 1270px 640px;
  }
}
@media only screen and (max-width: 1280px) {
  .image-5 {
    width: 540px;
    height: 540px;
    background-size: 1080px 540px;
  }
}
@media only screen and (max-width: 1080px) {
  .image-5 {
    width: 46vw;
    height: 50vw;
    background-size: 100vw 50vw;
  }
}

.image-6 {
  background: url("../img/Enhanced_MicroDimming_Toshiba.png");
  width: 1620px;
  height: 810px;
  background-position: 0% 20%;
  background-size: 1620px 810px;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 1000;
}
@media only screen and (max-width: 1650px) {
  .image-6 {
    width: 1420px;
    height: 710px;
    background-size: 1420px 710px;
  }
}
@media only screen and (max-width: 1420px) {
  .image-6 {
    width: 1280px;
    height: 640px;
    background-size: 1280px 640px;
  }
}
@media only screen and (max-width: 1280px) {
  .image-6 {
    width: 1080px;
    height: 540px;
    background-size: 1080px 540px;
  }
}
@media only screen and (max-width: 1080px) {
  .image-6 {
    width: 100vw;
    height: 50vw;
    background-size: 100vw 50vw;
  }
}

.width-640 {
  width: 640px;
  max-width: 640px;
  margin: auto;
}

.align-items-stretchh {
  align-items: stretch;
}

.max-width-650 {
  max-width: 750px;
}

.height-100 {
  height: 100%;
}

.width-60 {
  width: 60%;
}

.line-height-inherit {
  line-height: inherit !important;
}

.width-p-150 {
  width: 120%;
  overflow-x: hidden;
}

.buying-guide-select {
  width: 100%;
  height: 33%;
  border: none;
  background: white;
  padding: 10px;
}

.width-710 {
  width: 710px;
  max-width: 710px;
}

.width-80 {
  width: 80%;
}

.width-850 {
  width: 850px;
  max-width: 850px;
  margin: auto;
}

.max-width-750 {
  max-width: 750px;
  margin: auto;
}

.height-345 {
  height: 345px;
}

.max-height-250 {
  height: 250px;
  max-height: 250px;
  min-height: 250px;
}

.height-500 {
  height: 500px;
}

.max-width-400 {
  max-width: 400px;
  margin: auto;
}

.max-width-240 {
  max-width: 240px;
  margin: auto;
}

.max-width-1250 {
  max-width: 1250px;
  margin: auto;
}

.height-1900 {
  height: 1900px;
}

.landing-img-container {
  position: relative;
  top: -250px;
}

#sticky-anchor {
  position: relative;
}

.padding-anchor-card {
  padding: 32px 50px;
}

.overflow-x-scroll {
  overflow-x: scroll;
}

.landing-relative-normalizer {
  margin-top: 310px;
}

.margin-t-50vw {
  margin-top: calc(50% - 0px);
}

.height-280 {
  height: 280px;
}

.height-160 {
  height: 160px;
  min-height: 160px;
  max-height: 160px;
  /* overflow-y: scroll; */
}

.margin-b-0 {
  margin-bottom: 0px !important;
}

.width-750 {
  width: 750px;
  max-width: 750px;
  margin: auto;
}

.width-185 {
  width: 185px;
  max-width: 185px;
  margin: auto;
}

.buying-guide-inchcm {
  border: 1px solid #191919;
  background: transparent;
  width: 64px;
  height: 36px;
  color: #191919;
}

.buying-guide-inchcm-selected {
  border: 1px solid #191919;
  background: #191919;
  width: 64px;
  height: 36px;
  color: white;
}

.height-60 {
  height: 60px;
}

.image-row-2 {
  width: 100%;
}

.height-60-px {
  height: 60px;
  max-height: 60px;
}

.width-auto {
  width: auto;
}

.max-height-260-px {
  max-height: 260px;
}

.max-height-400-px {
  height: 400px;
  max-height: 400px;
  min-height: 400px;
}

.max-width-430-px {
  max-width: 430px;
  margin: auto;
}

.height-600 {
  height: 600px;
}

.width-for-card-header {
  /* max-width: 406px; */
  /* width: 250px; */
  margin: auto;
}

.height-for-card-header {
  min-height: 80px;
}

.all-product-box-list {
  margin-top: 30px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid #8c8989;
  width: 180px;
  border-radius: 4px;
  box-sizing: content-box;
}

.all-product-box-list-for-red-bg {
  margin-top: 30px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid #F2EDF1;
  width: 180px;
  border-radius: 4px;
  box-sizing: content-box;
}

.all-product-box-list-element {
  width: 60px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  box-sizing: content-box;
}

.all-product-box-list-element:hover {
  background: #8C8989;
  color: white !important;
}

.all-product-box-list-element-for-red-bg {
  width: 60px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  box-sizing: content-box;
}

.support-form {
  position: relative;
}

.all-product-box-list-element-for-red-bg:hover {
  background: #F2EDF1;
}
.all-product-box-list-element-for-red-bg:hover p {
  color: #C10019 !important;
}

.register-input {
  border: 2px solid #F2EDF1;
  height: 64px;
  line-height: 64px;
}

.bg-obl-gray {
  background: #F2EDF1 !important;
  background-clip: content-box !important;
}

.div-btn {
  width: 248px;
  height: 60px;
  border: none;
  border-radius: 4px;
  transition: background 0.2s ease-in-out;
  font-size: 18px;
  background: #C10019;
  color: white;
}

.absolute-full {
  top: 0;
  bottom: 0 !important;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.7) !important;
  background-clip: content-box !important;
}

.z-5030 {
  z-index: 5030 !important;
}

.z-2001 {
  z-index: 2001;
}

.z-2002 {
  z-index: 2002;
}

.register-file {
  border: none;
  height: 60px;
  line-height: 60px;
}

input[type=file] {
  display: none;
}

.max-width-522-px {
  max-width: 522px;
}

.custom-file-upload {
  border: 2px solid #F2EDF1;
  display: inline-block;
  height: 60px;
  line-height: 60px;
  cursor: pointer;
  width: 100%;
  padding-left: 30px;
  color: #5A5A5A;
}

.min-height-350-px {
  min-height: 350px;
}

.flex-between-wrap-edit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.flex-between-wrap-edit:nth-child(4n+0)::after {
  content: "";
  flex: 0 0 24%;
}

.min-height-240-px {
  min-height: 200px;
}

.flex-between-wrap-edit:nth-child(4n+1)::after {
  content: "";
  flex: 0 0 48%;
}

.product-banner-screen-size-container {
  max-width: 300px;
  margin-top: 200px;
}

.position-fixedd {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5000;
}

.support-custom-height {
  height: 200px;
}
@media only screen and (max-width: 992px) {
  .support-custom-height {
    height: 140px;
  }
}

@media only screen and (max-width: 1650px) {
  .margin-t-50vw {
    margin-top: calc(10% - 0px);
  }

  /*.image-1 {
    width: 50%;
    height: 50%;
  }

  .image-2 {
    width: 100%;
    height: 50%;
  }

  .image-3 {
    width: 50%;
    height: 50%;
  }

  .image-4 {
    width: 100%;
    height: 50%;
  }

  .image-5 {
    width: 50%;
    height: 50%;
  }

  .image-6 {
    width: 100%;
    height: 50%;
  }*/
  .container-1620 {
    width: 100%;
    padding-left: 60px;
    padding-right: 60px;
  }

  .image-sliding-over-container {
    height: 710px;
  }

  .flex-between-wrap-5 {
    justify-content: space-around;
  }

  .cotnainer-1620-full {
    width: 100%;
  }

  .container-1620-width {
    width: 1420px;
    margin: auto;
  }

  .filter-header-left-container-wrappable {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }

  .filter-header-right-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
  }

  .filter-selector-pink {
    margin-top: 20px;
    margin-right: 10px;
  }

  .filter-selector {
    margin-right: 10px;
    background: rgba(255, 255, 255, 0.5);
    border: none;
    border-radius: 4px;
    width: 180px;
    height: 40px;
    line-height: 40px;
    padding-left: 16px;
    margin-top: 20px;
  }

  .filter-selector-wide {
    margin-right: 10px;
    background: rgba(255, 255, 255, 0.5);
    border: none;
    border-radius: 4px;
    width: 180px;
    height: 40px;
    line-height: 40px;
    padding-left: 16px;
    margin-top: 20px;
  }

  .filter-header-right-text {
    margin-top: 20px;
    height: 40px;
    line-height: 40px;
    margin-right: 45px;
  }

  .filter-header-left-container-button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
  }

  .filter-header-left-button {
    border: none;
    width: 125px;
    height: 40px;
    margin-left: 10px;
    border-radius: 20px;
    margin-top: 20px;
  }

  .filter-header-left-button-grey {
    margin-top: 20px;
    border: 2px solid #8C8989;
    width: 125px;
    height: 40px;
    margin-left: 10px;
    border-radius: 20px;
  }

  .filter-header-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px 32px;
    border-radius: 4px;
  }

  .filter-header-left-text {
    margin-right: 32px;
    margin-top: 20px;
  }
}
@media only screen and (max-width: 1420px) {
  .image-sliding-over-container {
    height: 640px;
  }

  .container-1620 {
    width: 100%;
    padding-left: 60px;
    padding-right: 60px;
  }

  .container-1620-width {
    width: 1280px;
    margin: auto;
  }

  .container-1344 {
    width: 100%;
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media only screen and (max-width: 1280px) {
  .container-1620 {
    width: 100%;
    padding-left: 60px;
    padding-right: 60px;
  }

  .image-sliding-over-container {
    height: 540px;
  }

  .container-1620-width {
    width: 1080px;
    margin: auto;
  }

  .container-1240 {
    width: 100%;
    padding-left: 60px;
    padding-right: 60px;
  }

  .container-row-3 {
    flex: 0 0 49%;
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .flex-between-wrap-3 {
    justify-content: center;
  }

  .flex-between-wrap-3::after {
    content: "";
    flex: 0 0 49%;
  }
}
@media only screen and (max-width: 1080px) {
  .flex-between-wrap-center {
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
  }

  .container-row-2-wide {
    flex: 0 0 100%;
  }

  .container-row-3-3 {
    padding-right: 20px;
    padding-left: 20px;
  }

  .container-row-2 {
    flex: 0 0 100%;
    margin-top: 30px;
    text-align: center;
  }

  .image-row-2 {
    width: 80%;
  }

  .flex-between-wrap-reverse {
    flex-direction: column-reverse !important;
    justify-content: center !important;
    align-items: center !important;
  }

  .flex-between-wrap-button {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    flex-wrap: wrap !important;
    max-width: 100% !important;
  }

  .flex-between-wrap-2-custom {
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
  }

  .image-sliding-over-container {
    height: 50vw;
  }

  .right-banner-img {
    width: 16%;
    height: auto;
    min-width: 200px !important;
  }

  .max-width-50 {
    max-width: 100%;
  }

  .flex-between-wrap-2 {
    flex-wrap: wrap;
    padding-right: 60px;
    padding-left: 60px;
  }

  .container-row-2-50 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .container-1720 {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }

  .container-1620 {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }

  .container-1620-width {
    width: 100%;
  }

  .filter-section-mobile {
    display: block !important;
  }

  #filter-header-section {
    display: none;
  }

  .container-row-4 {
    flex: 0 0 49%;
    padding-top: 20px !important;
  }

  .container-row-4-2 {
    flex: 0 0 49%;
    padding-top: 20px !important;
  }

  .container-row-4-2-nopadding {
    flex: 0 0 49%;
  }

  .flex-between-wrap-4 {
    padding-right: 60px;
    padding-left: 60px;
  }

  .container-row-3 {
    flex: 0 0 49%;
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .flex-between-wrap-3 {
    justify-content: center;
    padding-right: 60px;
    padding-left: 60px;
  }

  .flex-between-wrap-3::after {
    content: "";
    flex: 0 0 49%;
  }

  .flex-between-wrap-3-between {
    padding-right: 60px;
    padding-left: 60px;
  }
}
@media only screen and (max-width: 992px) {
  #index-left-img {
    display: none;
    background-repeat: no-repeat !important;
  }

  #index-right-img {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    height: 100vh !important;
  }

  #index-after-img {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    height: 100vh !important;
    display: block !important;
  }

  /*.slider-img-text-left {
    position: relative;
    top: 75%;
  }

  .slider-img-text-right {
    position: relative;
    top: 75%;
  }*/
  .container-1620 {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }

  .width-850 {
    width: 100%;
    padding-right: 60px;
    padding-left: 60px;
  }

  .container-row-4 {
    flex: 0 0 49%;
    padding-top: 20px !important;
  }

  .container-row-4-2 {
    flex: 0 0 49%;
    padding-top: 20px !important;
  }

  .container-row-4-2-nopadding {
    flex: 0 0 49%;
  }

  .flex-between-wrap-4 {
    padding-right: 60px;
    padding-left: 60px;
  }

  .left-banner {
    display: none;
  }

  .after-banner {
    display: block !important;
  }

  .container-row-2-full {
    flex: 0 0 100%;
  }

  ul.leftImagecontent {
    position: absolute;
    top: 20%;
    right: 0% !important;
  }

  .container-row-4 {
    flex: 0 0 49%;
    padding-top: 20px !important;
  }

  .container-row-4-2 {
    flex: 0 0 49%;
    padding-top: 20px !important;
  }

  .container-row-4-2-nopadding {
    flex: 0 0 49%;
  }

  .container-row-3 {
    flex: 0 0 100%;
    padding-top: 20px;
  }

  .flex-between-wrap-3 {
    justify-content: center;
    padding-right: 60px;
    padding-left: 60px;
  }

  .flex-between-wrap-3::after {
    content: "";
    flex: 0 0 100%;
  }

  .flex-between-wrap-3-between {
    padding-right: 60px;
    padding-left: 60px;
  }
}
@media only screen and (max-width: 768px) {
  .container-row-5 {
    flex: 0 0 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .container-row-5-2 {
    flex: 0 0 49%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .height-19vw {
    height: 49vw;
  }

  .container-1620 {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }

  .flex-between-wrap-4 {
    padding-right: 60px;
    padding-left: 60px;
  }

  .container-row-4 {
    flex: 0 0 100%;
    padding-top: 20px !important;
  }

  .container-row-4-2 {
    flex: 0 0 49%;
    padding-top: 20px !important;
  }

  .container-row-4-2-nopadding {
    flex: 0 0 49%;
  }

  .container-row-3 {
    flex: 0 0 100%;
    padding-top: 20px;
  }

  .flex-between-wrap-3 {
    justify-content: center;
    padding-right: 20px;
    padding-left: 20px;
  }

  .flex-between-wrap-3::after {
    content: "";
    flex: 0 0 100%;
  }

  .flex-between-wrap-3-between {
    padding-right: 20px;
    padding-left: 20px;
  }
}
@media only screen and (max-width: 576px) {
  .container-row-3-3 {
    flex: 0 0 100%;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 45px;
  }

  .flex-between-wrap-2 {
    flex-wrap: wrap;
    padding-right: 10px;
    padding-left: 10px;
  }

  .container-1620 {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }

  .container-1240 {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .flex-between-wrap-4 {
    padding-right: 20px;
    padding-left: 20px;
  }

  .container-row-4 {
    flex: 0 0 100%;
    padding-top: 20px !important;
  }

  .container-row-4-2 {
    flex: 0 0 49%;
    padding-top: 20px !important;
  }

  .container-row-4-2-nopadding {
    flex: 0 0 49%;
  }

  .container-row-3 {
    flex: 0 0 100%;
    padding-top: 20px;
  }

  .flex-between-wrap-3 {
    justify-content: center;
    padding-right: 20px;
    padding-left: 20px;
  }

  .flex-between-wrap-3::after {
    content: "";
    flex: 0 0 100%;
  }

  .flex-between-wrap-3-between {
    padding-right: 20px;
    padding-left: 20px;
  }
}
@media only screen and (max-width: 440px) {
  .container-1620 {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }

  .flex-between-wrap-4 {
    padding-right: 20px;
    padding-left: 20px;
  }

  .container-row-4 {
    flex: 0 0 100%;
    padding-top: 20px !important;
  }

  .container-row-4-2 {
    flex: 0 0 49%;
    padding-top: 20px !important;
  }

  .container-row-4-2-nopadding {
    flex: 0 0 49%;
  }

  .container-row-3 {
    flex: 0 0 100%;
    padding-top: 20px;
  }

  .flex-between-wrap-3 {
    justify-content: center;
    padding-right: 20px;
    padding-left: 20px;
  }

  .flex-between-wrap-3::after {
    content: "";
    flex: 0 0 100%;
  }

  .flex-between-wrap-3-between {
    padding-right: 20px;
    padding-left: 20px;
  }
}
.learn-more-button-white, .learn-more-button-dark-red, .learn-more-button-frame, .learn-more-button-gold, .learn-more-button {
  width: 248px;
  height: 60px;
  border: none;
  border-radius: 4px;
  transition: background 0.2s ease-in-out;
  font-size: 18px;
}
@media only screen and (max-width: 1080px) {
  .learn-more-button-white, .learn-more-button-dark-red, .learn-more-button-frame, .learn-more-button-gold, .learn-more-button {
    width: 165px;
    height: 45px;
    font-size: 14px;
  }
}

.learn-more-button-nonresp {
  width: 196px;
  height: 49px;
  border: none;
  border-radius: 4px;
  transition: background 0.2s ease-in-out;
  font-size: 18px;
}

.learn-more-button-border {
  width: 196px;
  height: 49px;
  min-width: 248px;
  border: 1px solid #C10019;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
  font-size: 18px;
  box-sizing: border-box !important;
}
@media only screen and (max-width: 1080px) {
  .learn-more-button-border {
    width: 165px;
    height: 45px;
    min-width: 165px;
    font-size: 14px;
  }
}

.learn-more-button-custom {
  width: 248px;
  height: 60px;
  border: none;
  border-radius: 4px;
  transition: background 0.2s ease-in-out;
  font-size: 18px;
}
@media only screen and (max-width: 1080px) {
  .learn-more-button-custom {
    width: 80%;
    height: 45px;
    font-size: 14px;
  }
}

.CC_FI_887GE12_btn {
  width: 248px !important;
  height: 60px !important;
  border: none !important;
  border-radius: 4px !important;
  transition: background 0.2s ease-in-out;
  font-size: 18px !important;
  margin: 10px !important;
}
@media only screen and (max-width: 1080px) {
  .CC_FI_887GE12_btn {
    width: 165px;
    height: 45px;
    font-size: 14px;
  }
}

.CC_FI_887GE12_btn {
  background: #C10019 !important;
  color: white !important;
}

.CC_FI_887GE12_btn:hover {
  background: #860011 !important;
}

.learn-more-button-border-custom {
  width: 248px;
  height: 60px;
  border: 1px solid #C10019;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
  box-sizing: border-box !important;
}
@media only screen and (max-width: 1080px) {
  .learn-more-button-border-custom {
    width: 80%;
    height: 45px;
    font-size: 14px;
  }
}

.learn-more-button-white-big, .learn-more-button-dark-red-big, .learn-more-button-gold-big, .learn-more-button-big {
  width: 100%;
  height: 60px;
  border: none;
  border-radius: 4px;
  transition: background 0.2s ease-in-out;
}

.learn-more-button-border-big {
  width: 100%;
  height: 60px;
  border: 1px solid #C10019;
  border-radius: 4px;
  transition: background 0.2s ease-in-out;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btn-sm {
  width: 124px;
  height: 40px;
  border: none;
  border-radius: 20px;
  transition: background 0.2s ease-in-out;
}

.btn-sm-brd {
  width: 124px;
  height: 40px;
  border: 1px solid #5A5A5A;
  border-radius: 20px;
  transition: background 0.2s ease-in-out;
}

.learn-more-button {
  background: #C10019;
  color: white;
}

.learn-more-button-nonresp {
  background: #C10019;
  color: white;
}

.learn-more-button:hover {
  background: #860011;
}

.learn-more-button-gold {
  color: #D5AD6D;
  /*if no support for background-clip*/
  background-clip: text;
  opacity: inherit;
  background: linear-gradient(120deg, #D0B185, #D0B185, #D0B185, #D0B185, #D0B185, #FFFFFF, #D0B185, #D0B185, #D0B185, #D0B185, #D0B185);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.learn-more-button-gold:hover {
  opacity: 0.75;
}

.learn-more-button-dark-red {
  background: #64000D;
  color: white;
}

.learn-more-button-dark-red.hover {
  background: #45060E;
}

.learn-more-button-white {
  background: white;
  color: #191919;
}

.learn-more-button-white:hover {
  background: #F2EDF1;
}

.learn-more-button-border {
  background: white;
  color: #C10019;
}

.learn-more-button-border:hover {
  background: #860011;
  color: white !important;
}

.learn-more-button-custom {
  background: #C10019;
  color: white;
}

.learn-more-button-custom:hover {
  background: #860011;
}

.learn-more-button-border-custom {
  background: white;
  color: #C10019;
}

.learn-more-button--border-custom:hover {
  background: #860011;
}

.learn-more-button-big {
  background: #C10019;
  color: white;
}

.learn-more-button-big:hover {
  background: #860011;
}

.learn-more-button-gold-big {
  color: #D5AD6D;
  /*if no support for background-clip*/
  background-clip: text;
  opacity: inherit;
  background: linear-gradient(120deg, #D0B185, #D0B185, #D0B185, #D0B185, #D0B185, #FFFFFF, #D0B185, #D0B185, #D0B185, #D0B185, #D0B185);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.learn-more-button-gold-big:hover {
  opacity: 0.75;
}

.learn-more-button-dark-red-big {
  background: #64000D;
  color: white;
}

.learn-more-button-dark-red-big:hover {
  background: #45060E;
}

.learn-more-button-white-big {
  background: white;
  color: #191919;
}

.learn-more-button-white-big:hover {
  background: #F2EDF1;
}

.learn-more-button-border-big {
  background: white;
  color: #C10019;
}

.learn-more-button-border-big:hover {
  background: #C10019;
  color: white;
}

.btn-sm {
  background: #C10019;
  color: white;
}

.btn-sm:hover {
  background: #860011;
}

.flex-between-wrap-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 540px;
}

@font-face {
  font-family: "NeuzeitS LT Book";
  src: url("../fonts/Neuzeit_S_LT_Book.ttf") format("woff");
  font-weight: normal;
}
@font-face {
  font-family: "NeuzeitS LT BookH";
  src: url("../fonts/Neuzeit_S_LT_BookHeavy.woff") format("woff");
  font-weight: bold;
}
body {
  font-family: "NeuzeitS LT Book";
  color: #252525;
}

.contact-phone {
  font-size: 32px;
}

.text-xxxl-link-bold, .text-xxxl-link, .text-xxxl-bold, .text-xxxl {
  font-size: 80px;
  line-height: 92px;
}

.text-xxl-link-bold, .text-xxl-link, .text-xxl-bold, .text-xxl {
  font-size: 62px;
  line-height: 72px;
}

.text-xl-link-bold, .text-xl-link, .text-xl-bold, .text-xl {
  font-size: 44px;
  line-height: 56px;
}

.text-l-link-bold, .text-l-link, .text-l-bold, .text-l {
  font-size: 36px;
  line-height: 44px;
}

.text-ml-link-bold, .text-ml-link, .text-m-l-bold, .text-m-l {
  font-size: 28px;
  line-height: 40px;
}

.text-m-link-bold, .text-m-link, .text-m-bold, .text-m {
  font-size: 24px;
  line-height: 38px;
}

.text-ms-link-bold, .text-ms-link, .text-m-s-bold, .text-m-s {
  font-size: 18px;
  line-height: 28px;
}

.text-s-link-bold, .text-s-link, .text-s-bold, .text-s {
  font-size: 16px;
  line-height: 24px;
}

.text-xs-link-bold, .text-xs-link, .text-xs-bold, .text-xs {
  font-size: 14px;
  line-height: 20px;
}

.text-xxs-link-bold, .text-xxs-link, .text-xxs-bold, .text-xxs {
  font-size: 12px;
  line-height: 16px;
}

.text-xxs-link-bold, .text-xs-link-bold, .text-s-link-bold, .text-ms-link-bold, .text-m-link-bold, .text-ml-link-bold, .text-l-link-bold, .text-xl-link-bold, .text-xxl-link-bold, .text-xxxl-link-bold, .text-xxs-link, .text-xs-link, .text-s-link, .text-ms-link, .text-m-link, .text-ml-link, .text-l-link, .text-xl-link, .text-xxl-link, .text-xxxl-link, .cursor-pointer {
  cursor: pointer !important;
}
.text-xxs-link-bold:hover, .text-xs-link-bold:hover, .text-s-link-bold:hover, .text-ms-link-bold:hover, .text-m-link-bold:hover, .text-ml-link-bold:hover, .text-l-link-bold:hover, .text-xl-link-bold:hover, .text-xxl-link-bold:hover, .text-xxxl-link-bold:hover, .text-xxs-link:hover, .text-xs-link:hover, .text-s-link:hover, .text-ms-link:hover, .text-m-link:hover, .text-ml-link:hover, .text-l-link:hover, .text-xl-link:hover, .text-xxl-link:hover, .text-xxxl-link:hover {
  opacity: 0.75 !important;
}

@media screen and (max-width: 992px) {
  .text-xxxl {
    font-size: 44px;
    line-height: 56px;
  }
}

@media screen and (max-width: 992px) {
  .text-xxl {
    font-size: 36px;
    line-height: 44px;
  }
}

@media screen and (max-width: 992px) {
  .text-xl {
    font-size: 28px;
    line-height: 40px;
  }
}

@media screen and (max-width: 992px) {
  .text-l {
    font-size: 24px;
    line-height: 38px;
  }
}

@media screen and (max-width: 992px) {
  .text-m-l {
    font-size: 24px;
    line-height: 38px;
  }
}

@media screen and (max-width: 992px) {
  .text-m {
    font-size: 18px;
    line-height: 28px;
  }
}

@media screen and (max-width: 992px) {
  .text-m-s {
    font-size: 16px;
    line-height: 24px;
  }
}

@media screen and (max-width: 992px) {
  .text-s {
    font-size: 14px;
    line-height: 20px;
  }
}

@media screen and (max-width: 992px) {
  .text-xs {
    font-size: 12px;
    line-height: 16px;
  }
}

@media screen and (max-width: 992px) {
  .text-xxs {
    font-size: 12px;
    line-height: 16px;
  }
}

.text-xxxl-bold {
  font-family: "NeuzeitS LT BookH";
}
@media screen and (max-width: 992px) {
  .text-xxxl-bold {
    font-size: 44px;
    line-height: 56px;
  }
}

.text-xxl-bold {
  font-family: "NeuzeitS LT BookH";
}
@media screen and (max-width: 992px) {
  .text-xxl-bold {
    font-size: 36px;
    line-height: 44px;
  }
}

.text-xl-bold {
  font-family: "NeuzeitS LT BookH";
}
@media screen and (max-width: 992px) {
  .text-xl-bold {
    font-size: 28px;
    line-height: 40px;
  }
}

.text-l-bold {
  font-family: "NeuzeitS LT BookH";
}
@media screen and (max-width: 992px) {
  .text-l-bold {
    font-size: 24px;
    line-height: 38px;
  }
}

.text-m-l-bold {
  font-family: "NeuzeitS LT BookH";
}
@media screen and (max-width: 992px) {
  .text-m-l-bold {
    font-size: 24px;
    line-height: 38px;
  }
}

.text-m-bold {
  font-family: "NeuzeitS LT BookH";
}
@media screen and (max-width: 992px) {
  .text-m-bold {
    font-size: 18px;
    line-height: 28px;
  }
}

.text-m-s-bold {
  font-family: "NeuzeitS LT BookH";
}
@media screen and (max-width: 992px) {
  .text-m-s-bold {
    font-size: 16px;
    line-height: 24px;
  }
}

.text-s-bold {
  font-family: "NeuzeitS LT BookH";
}
@media screen and (max-width: 992px) {
  .text-s-bold {
    font-size: 14px;
    line-height: 20px;
  }
}

.text-xs-bold {
  font-family: "NeuzeitS LT BookH";
}
@media screen and (max-width: 992px) {
  .text-xs-bold {
    font-size: 12px;
    line-height: 16px;
  }
}

.text-xxs-bold {
  font-family: "NeuzeitS LT BookH";
}
@media screen and (max-width: 992px) {
  .text-xxs-bold {
    font-size: 12px;
    line-height: 16px;
  }
}

.text-xxxl-link {
  text-decoration: underline !important;
}

.text-xxl-link {
  text-decoration: underline !important;
}

.text-xl-link {
  text-decoration: underline !important;
}

.text-l-link {
  text-decoration: underline !important;
}

.text-ml-link {
  text-decoration: underline !important;
}

.text-m-link {
  text-decoration: underline !important;
}

.text-ms-link {
  text-decoration: underline !important;
}

.text-s-link {
  text-decoration: underline !important;
}

.text-xs-link {
  text-decoration: underline !important;
}

.text-xxs-link {
  text-decoration: underline !important;
}

.text-xxxl-link-bold {
  font-family: "NeuzeitS LT BookH";
}

.text-xxl-link-bold {
  font-family: "NeuzeitS LT BookH";
}

.text-xl-link-bold {
  font-family: "NeuzeitS LT BookH";
}

.text-l-link-bold {
  font-family: "NeuzeitS LT BookH";
}

.text-ml-link-bold {
  font-family: "NeuzeitS LT BookH";
}

.text-m-link-bold {
  font-family: "NeuzeitS LT BookH";
}

.text-ms-link-bold {
  font-family: "NeuzeitS LT BookH";
}

.text-s-link-bold {
  font-family: "NeuzeitS LT BookH";
}

.text-xs-link-bold {
  font-family: "NeuzeitS LT BookH";
}

.text-xxs-link-bold {
  font-family: "NeuzeitS LT BookH";
}

.text-xxxl-res {
  font-size: 80px;
  line-height: 92px;
}

.text-xxl-res {
  font-size: 62px;
  line-height: 72px;
}

.text-xl-res {
  font-size: 44px;
  line-height: 56px;
}

.text-l-res {
  font-size: 36px;
  line-height: 44px;
}

.text-m-l-res {
  font-size: 28px;
  line-height: 40px;
}

.text-m-res {
  font-size: 24px;
  line-height: 38px;
}

.text-m-s-res {
  font-size: 18px;
  line-height: 28px;
}

.text-s-res {
  font-size: 16px;
  line-height: 24px;
}

.text-xs-res {
  font-size: 14px;
  line-height: 20px;
}

.text-xxs-res {
  font-size: 12px;
  line-height: 16px;
}

.text-xxxl-bold-res {
  font-size: 80px;
  line-height: 92px;
  font-family: "NeuzeitS LT BookH";
}

.text-xxl-bold-res {
  font-size: 62px;
  line-height: 72px;
  font-family: "NeuzeitS LT BookH";
}

.text-xl-bold-res {
  font-size: 44px;
  line-height: 56px;
  font-family: "NeuzeitS LT BookH";
}

.text-l-bold-res {
  font-size: 36px;
  line-height: 44px;
  font-family: "NeuzeitS LT BookH";
}

.text-m-l-bold-res {
  font-size: 28px;
  line-height: 40px;
  font-family: "NeuzeitS LT BookH";
}

.text-m-bold-res {
  font-size: 24px;
  line-height: 38px;
  font-family: "NeuzeitS LT BookH";
}

.text-m-s-bold-res {
  font-size: 18px;
  line-height: 28px;
  font-family: "NeuzeitS LT BookH";
}

.text-s-bold-res {
  font-size: 16px;
  line-height: 24px;
  font-family: "NeuzeitS LT BookH";
}

.text-xs-bold-res {
  font-size: 14px;
  line-height: 20px;
  font-family: "NeuzeitS LT BookH";
}

.text-xxs-bold-res {
  font-size: 12px;
  line-height: 16px;
  font-family: "NeuzeitS LT BookH";
}

.filter-section-mobile {
  width: 100%;
  position: fixed;
  top: 60px;
  background: rgba(0, 0, 0, 0.8);
  display: none;
}

.filter-selector-mobile {
  background: transparent;
  border: 1px solid #F7969A;
  border-radius: 30px;
  width: 125px;
  height: 45px;
  line-height: 45px;
  padding-left: 16px;
  color: #F7969A;
}

.filter-selector-mobile-bottom {
  background: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 30px;
  min-width: 70px;
  height: 40px;
  line-height: 40px;
  padding-left: 16px;
  padding-right: 16px;
  margin-right: 10px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.filter-selector-mobile-bottom:last-of-type {
  background: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 30px;
  min-width: 70px;
  height: 40px;
  line-height: 40px;
  padding-left: 16px;
  margin-right: 0px;
}

.filter-header-section {
  width: 100vw;
  padding-top: 180px;
}

.filter-header-container {
  max-width: 1710px;
  margin: auto;
}

.filter-header-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 40px 32px;
  border-radius: 4px;
}

.filter-header-left-text {
  margin-right: 32px;
}

.filter-selector {
  background: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 4px;
  width: 152px;
  height: 40px;
  line-height: 40px;
  padding-left: 16px;
}

.filter-selector-pink {
  background: transparent;
  border: 1px solid #F7969A;
  border-radius: 20px;
  width: 152px;
  height: 40px;
  line-height: 40px;
  padding-left: 16px;
}

.filter-selector-red {
  background: transparent;
  border: 1px solid #C10019;
  border-radius: 20px;
  width: 152px;
  height: 40px;
  line-height: 40px;
  padding-left: 16px;
}

.filter-selector-wrapped {
  display: none;
  margin-right: 10px;
  background: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 4px;
  width: 152px;
  height: 40px;
  line-height: 40px;
  padding-left: 16px;
}

.filter-selector-wide {
  margin-right: 10px;
  background: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 4px;
  width: 180px;
  height: 40px;
  line-height: 40px;
  padding-left: 16px;
}

.filter-header-left-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.filter-header-left-container-button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.filter-header-left-container-wrappable {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.filter-header-right-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-left: 10px;
}

.filter-header-left-button {
  border: none;
  width: 125px;
  height: 40px;
  margin-left: 10px;
  border-radius: 20px;
}

.filter-header-left-button-grey {
  border: 2px solid #8C8989;
  width: 125px;
  height: 40px;
  margin-left: 10px;
  border-radius: 20px;
}

.filter-header-left-icon {
  color: palevioletred;
  font-size: 20px;
  margin-left: 10px;
}

.filter-header-right-text {
  height: 40px;
  line-height: 40px;
  margin-right: 45px;
}

.product-info-custom-container {
  padding-left: 8%;
  padding-right: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}
@media only screen and (max-width: 992px) {
  .product-info-custom-container {
    padding-left: 4%;
    padding-right: 4%;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
  }
}

.main-text-container {
  max-width: 540px;
}
@media only screen and (max-width: 992px) {
  .main-text-container {
    max-width: 270px;
  }
}

.section-custom {
  width: 100%;
  padding-bottom: 60px;
}

.product-img-custom {
  width: 700px;
  min-width: 700px;
  position: absolute;
  height: auto;
}
@media only screen and (max-width: 1420px) {
  .product-img-custom {
    width: 500px;
    min-width: 500px;
  }
}
@media only screen and (max-width: 992px) {
  .product-img-custom {
    width: 92%;
    min-width: 100px;
  }
}

.play-icon-img {
  font-size: 80px;
  color: white;
  position: absolute;
}

.product-img-custom-2 {
  width: 700px;
  height: 700px;
  min-width: 700px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 1420px) {
  .product-img-custom-2 {
    width: 500px;
    height: 500px;
    min-width: 500px;
  }
}
@media only screen and (max-width: 992px) {
  .product-img-custom-2 {
    width: 100%;
    min-width: 100px;
    height: auto;
  }
}
@media only screen and (max-width: 768px) {
  .product-img-custom-2 {
    width: 100%;
    min-width: 100px;
    height: auto;
  }
}
@media only screen and (max-width: 576px) {
  .product-img-custom-2 {
    width: 100%;
    min-width: 100px;
    height: 75vw;
  }
}
@media only screen and (max-width: 440px) {
  .product-img-custom-2 {
    width: 100%;
    min-width: 100px;
    height: auto;
  }
}

.product-img-custom-container {
  width: 700px;
  height: 700px;
  min-width: 700px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 1420px) {
  .product-img-custom-container {
    width: 500px;
    height: 500px;
    min-width: 500px;
  }
}
@media only screen and (max-width: 992px) {
  .product-img-custom-container {
    width: 100%;
    min-width: 100px;
    height: 90vw;
  }
}
@media only screen and (max-width: 768px) {
  .product-img-custom-container {
    width: 100%;
    min-width: 100px;
    height: 90vw;
  }
}
@media only screen and (max-width: 576px) {
  .product-img-custom-container {
    width: 100%;
    min-width: 100px;
    height: 90vw;
  }
}
@media only screen and (max-width: 440px) {
  .product-img-custom-container {
    width: 100%;
    min-width: 100px;
    height: 90vw;
  }
}

.z-index-2 {
  z-index: 2;
}

.banner-wrapper-custom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media only screen and (max-width: 1610px) {
  .banner-wrapper-custom {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
  }
}

.product-banner-thumbnail-wrapper {
  padding-top: 150px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  max-height: 360px;
  white-space: nowrap;
  box-sizing: content-box;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  width: 90px;
}
@media only screen and (max-width: 1610px) {
  .product-banner-thumbnail-wrapper {
    margin-top: 20px;
    padding-top: 0px;
    padding-bottom: 100px;
    flex-direction: row;
    overflow-y: visible;
    overflow-x: scroll;
    white-space: nowrap;
    max-width: 360px;
    width: 360px;
  }
}

.product-banner-thumbnail-inner-wrapper {
  width: 70px;
  min-width: 70px;
  height: 70px;
  min-height: 70px;
  margin-bottom: 20px;
  border: 1px solid #A6A1A1;
}
@media only screen and (max-width: 1610px) {
  .product-banner-thumbnail-inner-wrapper {
    margin-bottom: 0px;
    margin-right: 20px;
  }
}

.product-banner-thumbnail-inner-wrapper-white {
  width: 70px;
  min-width: 70px;
  height: 70px;
  min-height: 70px;
  margin-bottom: 20px;
  border: 1px solid white;
}
@media only screen and (max-width: 1610px) {
  .product-banner-thumbnail-inner-wrapper-white {
    margin-bottom: 0px;
    margin-right: 20px;
  }
}

.size-container-custom {
  flex: 0 0 19%;
  padding: 10px;
}

.card-image-height {
  height: 260px;
  width: auto;
}

.border-grey-600 {
  border: 1px solid #262626;
}

.product-banner-screen-size-code-bright {
  border-top: 1px solid #F2EDF1;
  background: rgba(255, 255, 255, 0.25);
  height: 32px;
  line-height: 32px;
}

.product-banner-screen-size-code-dark {
  border-top: 1px solid #5A5A5A;
  background: rgba(255, 255, 255, 0.25);
  height: 32px;
  line-height: 32px;
}

.active-size-gold .active-border {
  border: 1px solid #A58253;
  box-sizing: content-box;
}
.active-size-gold .product-banner-screen-size-code {
  background: rgba(166, 124, 66, 0.5);
  border-top: 1px solid #A58253;
  height: 32px;
  line-height: 32px;
}

.passive-border-white {
  border: 1px solid white;
}

.passive-border-grey-100 {
  border: 1px solid #F2EDF1;
}

.passive-border-grey-500 {
  border: 1px solid #5A5A5A;
}

.active-size-dark .active-border {
  border: 1px solid #DC011D;
  box-sizing: content-box;
}
.active-size-dark .product-banner-screen-size-code {
  background: rgba(220, 1, 29, 0.2);
  border-top: 1px solid #DC011D;
  height: 32px;
  line-height: 32px;
}

.active-size-bright .active-border {
  border: 1px solid #64000D;
  box-sizing: content-box;
}
.active-size-bright .product-banner-screen-size-code {
  /*background: rgba(193, 0, 25, 0.5);*/
  background: rgba(0, 0, 0, 0.3);
  border-top: 1px solid #191919;
  height: 32px;
  line-height: 32px;
}
.active-size-bright .product-banner-screen-size-text {
  color: #C10019;
}

/* Styling for round checkbox ------------------------------------------ */
/* It basically gives display none to checkboxes and inserts custom checkbox with its */
/* emtpy border and check icon content before and after label respectively. */
/* Base for label styling *//*
[type=checkbox]:not(:checked),
[type=checkbox]:checked {
  /*position: absolute;*//*
  display: none;
  /*left: -9999px;*//*
}

[type=checkbox]:not(:checked) + label,
[type=checkbox]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

/* checkbox aspect *//*
[type=checkbox]:not(:checked) + label:before,
[type=checkbox]:checked + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 2px;
  width: 24px;
  height: 24px;
  border: 1px solid #aaa;
  background: #f8f8f8;
  border-radius: 50%;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
}

/* checked mark aspect *//*
[type=checkbox]:not(:checked) + label:after,
[type=checkbox]:checked + label:after {
  content: "";
  font-family: "Ionicons";
  font-weight: 800;
  position: absolute;
  top: -4px;
  left: 2px;
  font-size: 24px;
  color: black;
  transition: all 0.2s;
}

/* checked mark aspect changes *//*
[type=checkbox]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}

[type=checkbox]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

/* disabled checkbox *//*
[type=checkbox]:disabled:not(:checked) + label:before,
[type=checkbox]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}

[type=checkbox]:disabled:checked + label:after {
  color: #999;
}

[type=checkbox]:disabled + label {
  color: #aaa;
}

/* accessibility *//*
[type=checkbox]:checked:focus + label:before,
[type=checkbox]:not(:checked):focus + label:before {
  border: 1px dotted black;
}

/* hover style just for information */
label:hover:before {
  border: 1px solid black !important;
}

/* Custom Round Checkbox Styling Ended --------------------- */
.grey-line {
  width: 100%;
  border-top: 2px solid #8C8989;
}

.checkbox-container {
  display: inline-block;
  padding-left: 10px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
  margin-top: 10px;
}

.checkbox-container {
  margin-left: 0px;
  margin-right: 20px;
}

.checkbox-style {
  width: 24px;
  height: 24px;
  outline: none;
  border: 1px solid #ddd;
}

.input[type=checkbox] + label {
  color: #191919;
}

.input[type=checkbox] + label:before {
  content: "";
  color: #191919;
  border-radius: 50px;
}

input[type=checkbox]:checked + label {
  color: white !important;
}

label {
  margin-bottom: 0px !important;
}

.min-height-120-px {
  min-height: 120px;
}

.vertical-line {
  height: 50px;
  border-right: 2px solid #D9D7D8;
}

.border-grey-left {
  border-left: 1px solid #D9D7D8;
}

.border-grey-right {
  border-right: 1px solid #D9D7D8;
}

.width-50-p {
  width: 50%;
}

.add-icon {
  font-size: 42px;
  color: #8C8989;
}

.add-product-border {
  border: 2px dashed #A6A1A1;
}

.border-grey-top {
  border-top: 1px solid #D9D7D8;
}

.dashboard-logout-icon {
  font-size: 30px;
  color: inherit;
  position: relative;
  left: 10px;
}

.border-radius-custom {
  border-radius: 4px;
}

.register-icon-big {
  font-size: 54px;
}

[type=radio]:not(:checked),
[type=radio]:checked {
  /*position: absolute;*/
  display: none;
  /*left: -9999px;*/
}

[type=radio]:not(:checked) + label,
[type=radio]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

/* radio aspect */
[type=radio]:not(:checked) + label:before,
[type=radio]:checked + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 2px;
  width: 24px;
  height: 24px;
  border: 1px solid #aaa;
  background: #f8f8f8;
  border-radius: 50%;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
}

/* checked mark aspect */
[type=radio]:not(:checked) + label:after,
[type=radio]:checked + label:after {
  content: "";
  font-family: "Ionicons";
  font-weight: 800;
  position: absolute;
  top: -4px;
  left: 2px;
  font-size: 24px;
  color: black;
  transition: all 0.2s;
}

/* checked mark aspect changes */
[type=radio]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}

[type=radio]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

/* disabled radio */
[type=radio]:disabled:not(:checked) + label:before,
[type=radio]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}

[type=radio]:disabled:checked + label:after {
  color: #999;
}

[type=radio]:disabled + label {
  color: #aaa;
}

/* accessibility */
[type=radio]:checked:focus + label:before,
[type=radio]:not(:checked):focus + label:before {
  border: 1px dotted black;
}

.ui-datepicker {
  background: #191919 !important;
}

.ui-widget {
  background: #191919 !important;
}

.ui-widget-content {
  background: #191919 !important;
}

.ui-widget-header {
  background: #5A5A5A !important;
}

.ui-helper-clearfix {
  background: #191919 !important;
}

.ui-corner-all {
  background: #191919 !important;
  border: none !important;
}

.ui-datepicker-header {
  border: none !important;
  background: #262626 !important;
}

.ui-widget-header {
  border: none !important;
  color: white !important;
}

.ui-datepicker-calendar th {
  color: white !important;
}

.ui-datepicker td {
  border: none !important;
  padding-top: 4px !important;
  padding-bottom: 4px !important;
  border-radius: 50% !important;
}

.ui-datepicker td:hover {
  background: white !important;
  color: black !important;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  border: none !important;
}

.ui-state-default:hover, .ui-widget-content:hover .ui-state-default:hover, .ui-widget-header:hover .ui-state-default:hover {
  border: none !important;
  color: black;
}

.ui-state-active {
  color: white !important;
}

td .ui-state-default {
  background: transparent !important;
}

.ui-state-default {
  background: #191919 !important;
}

td a {
  text-align: center !important;
}

td:hover a {
  text-align: center !important;
  color: black;
}

.contact-widget {
  height: 60px;
  border: none;
  width: 100%;
  background: white;
  border-radius: 80px;
  padding-right: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 70px;
}

.contact-widget-icon-container {
  min-width: 54px;
  max-width: 54px;
  width: 54px;
  min-height: 54px;
  height: 54px;
  max-height: 54px;
  border-radius: 50%;
  margin-left: 4px;
  margin-right: 20px;
  background: #F2EDF1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contact-widget-icon {
  font-size: 28px;
  color: #191919;
  position: relative;
  left: 4px;
}

.max-width-422-px {
  max-width: 422px;
}

.green-circle-container {
  position: relative;
  left: 4px;
  top: -8px;
}

.green-circle {
  background: #2BA000;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  border: 2px solid white;
}

html {
  max-width: 100vw;
  overflow-x: hidden;
}

.min-height-100 {
  min-height: 100% !important;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

.navbar-item-updated {
  width: 33%;
}

.arrow-dropdown {
  color: white;
}

.after-banner {
  display: none;
}

.tvs-dropdown-right-list-item {
  padding-top: 5px;
}

.nav-item {
  width: 22%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 60px;
  cursor: pointer;
}

.nav-item-search {
  width: 34%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 60px;
  color: white;
}

#nav-item-search:hover {
  background: transparent;
}

.navbar-custom-toggler {
  color: white !important;
}

.navbar-button-search-icon {
  box-sizing: content-box;
  font-size: 28px;
}

.height-210 {
  height: 210px;
  max-height: 210px;
}

.tvs-dropdown-right-image {
  width: auto;
  height: auto;
}

.height-28 {
  height: 28px !important;
}

.tvs-dropdown-section {
  position: absolute;
  width: 100vw;
  z-index: 1005 !important;
  top: 60px;
  left: 0px;
  background: #191919;
  padding-left: 40px !important;
  padding-right: 40px !important;
  padding-bottom: 40px !important;
  padding-top: 60px !important;
  display: none;
  cursor: default;
}

.tvs-dropdown-left-container {
  width: 100%;
}

.tvs-dropdown-container {
  width: 100%;
}

.tvs-dropdown-wrapper {
  width: 100%;
  color: white;
  display: flex;
  flex-direction: row;
}

.tvs-dropdown-left-section {
  width: 60%;
  max-width: 60%;
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tvs-dropdown-left-top-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tvs-dropdown-left-top-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
  width: calc(80% + 60px);
}

.tvs-dropdown-left-bottom-container {
  width: 100%;
  margin-top: 10px;
}

.tvs-dropdown-left-bottom-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.tvs-dropdown-left-bottom-element {
  max-width: 20%;
  flex: 0 0 20%;
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 10px !important;
  flex-wrap: wrap;
}

.support-dropdown-left-bottom-element-wrapper {
  max-width: 42%;
  flex: 0 0 42%;
  margin: 10px !important;
  flex-wrap: wrap;
}

.support-dropdown-left-bottom-element {
  width: 100%;
  height: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}

.tvs-dropdown-link-black-bg {
  background: url("../img/blackback.png");
  text-align: center;
}

.tvs-dropdown-link-red-bg {
  background: url("../img/redbackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.tvs-dropdown-link-gray-bg {
  background: gray;
  text-align: center;
}

.tvs-dropdown-right-section {
  width: 40%;
}

.tvs-dropdown-right-container {
  width: 100%;
}

.tvs-dropdown-right-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tvs-dropdown-right-list-wrapper {
  padding: 0;
}

.tvs-dropdown-left-bottom-element-link {
  width: 100%;
  height: 100%;
  text-align: center;
}

.tvs-dropdown-left-bottom-element-link:hover {
  color: inherit;
  opacity: 0.75;
}

.tvs-dropdown-right-image-container {
  width: 60%;
}

.tvs-dropdown-right-image-wrapper a {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

ul.leftImagecontent {
  position: relative;
  top: 20%;
  right: -25%;
}

.right-banner-img {
  width: 16%;
  height: auto;
  min-width: 276px;
}

.custom-spacing {
  letter-spacing: 2px;
}

.custom-spacing-wide {
  letter-spacing: 4px;
}

#index-left-img {
  background: url("../img/TRUPicture_PDP_KeyVisual_Toshiba.jpg");
  background-size: 50vw 56.25vw;
  height: 56.25vw;
}

#index-right-img {
  background: url("../img/red-bg.png");
  background-size: 50vw 56.25vw;
  height: 56.25vw;
}

#index-after-img {
  background: url("../img/TRUPicture_PDP_KeyVisual_Toshiba.jpg");
  background-size: 50vw 56.25vw;
  height: 56.25vw;
  display: none;
}

/*# sourceMappingURL=index.css.map */




.bgTabs{
  position: relative;
  display: block;
}

/*
.bgTabs > div.selection-card-selected::after{
  content: "";
  position: absolute;
  /* top: 50px; *//*
  left: 0;
  background-color: #fff;
  padding-bottom: 50%;
  width: 50.7%;
  z-index: 9999999;
  transform-origin: 0 0;
  transform: rotate(-14deg) skewX(61deg);
  bottom: -9vw;
  left: -52%;
}*/


.bgTabs > div.selection-card-selected::before {
  content: '';
  position: absolute;
  left: 0;
  height: 50%;
  width: 50%;
  background: #fff;
  transform: skew(0deg, 15deg);
  top: 50%;
  z-index: 9999999;
}
.bgTabs > div.selection-card-selected::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  height: 50%;
  width: 50%;
  background: #fff;
  transform: skew(0deg, -15deg);
  z-index: 9999999;
}

.bgTabs > div.selection-card-selected p {
  z-index: 9999999999;
}

.padding6-index {
  padding-left: 6rem !important;
  padding-right: var(--spacing5) !important;
}

.max-width-custom {
  max-width: 203px;
}

.custom-col {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  max-width: 20%;
}