    /* Theme Name: Vestel - Toshiba TV 
   Author: Merve BASTURK KAPLAN
   Version: 1.0.0
   Created: September 2019
   File Description: Main CSS file of the Toshiba Tv Template
*/
    /*
@font-face {
    font-family: 'NeuzeitS LT Book';
    src: url('../fonts/NeuzeitSLT-Book.woff2') format('woff2'), url('../fonts/NeuzeitSLT-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    letter-spacing: -0.62px;
}
*/
    
    body {
        font-family: 'NeuzeitS LT Book';
        color: #252525;
        box-sizing: border-box !important;
    }
    
    p {
        color: #262626;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font: Bold 44px/56px 'NeuzeitS LT Book';
        font-size: 18px;
    }
    
    h1.light {
        color: white;
    }
    
    h1.dark {
        color: #333;
    }
    
    a {
        font-family: 'NeuzeitS LT Book';
        text-decoration: none !important;
        outline: none !important;
    }
    
    ul {
        list-style: none;
    }
    
    a.bigUrl {
        color: #860011;
        text-decoration: underline!important;
    }
    
    a.bigUrl h1 {
        font-size: 15px;
    }
    /*keyframe animations*/
    
    @keyframes bounce {
        0%,
        100%,
        20%,
        50%,
        80% {
            -webkit-transform: translateY(0);
            -ms-transform: translateY(0);
            transform: translateY(0)
        }
        40% {
            -webkit-transform: translateY(-30px);
            -ms-transform: translateY(-30px);
            transform: translateY(-30px)
        }
        60% {
            -webkit-transform: translateY(-15px);
            -ms-transform: translateY(-15px);
            transform: translateY(-15px)
        }
    }
    /*======================
        helper css
========================*/
    
    .mtop30 {
        margin-top: 30px;
    }
    
    .mbottom30 {
        margin-bottom: 30px;
    }
    
    .mleft30 {
        margin-left: 30px;
    }
    
    .mright30 {
        margin-right: 30px;
    }
    
    .mtop15 {
        margin-top: 15px;
    }
    
    .mbottom15 {
        margin-bottom: 15px;
    }
    
    .mleft15 {
        margin-left: 15px;
    }
    
    .mright15 {
        margin-right: 15px;
    }
    
    .ptop30 {
        padding-top: 30px;
    }
    
    .pbottom30 {
        padding-bottom: 30px;
    }
    
    .pleft30 {
        padding-left: 30px;
    }
    
    .pright30 {
        padding-right: 30px;
    }
    
    .ptop15 {
        padding-top: 15px;
    }
    
    .pbottom15 {
        padding-bottom: 15px;
    }
    
    .pleft15 {
        padding-left: 15px!important;
    }
    
    .pright15 {
        padding-right: 15px!important;
    }
    
    .mtop80 {
        margin-top: 80px;
    }
    
    .centerText {
        text-align: center;
        font-size: 28px;
        font-weight: bold;
        line-height: 34px;
    }
    
    a.uLine {
        display: inherit;
        text-decoration: underline!important;
        font-size: 13px;
        font-weight: normal;
    }
    
    a.redUrl {
        color: #C10019;
    }
    
    a.redUrl.uLine {
        text-decoration: underline;
    }
    
    a.goldUrl {
        color: #C3A376;
    }
    
    a.whiteUrl {
        color: #fff;
    }
    
    .img-responsive {
        background-size: cover;
    }
    
    img.smalllImg {
        width: 50px;
        position: relative;
        top: -8px;
    }
    
    .fright {
        float: right;
    }
    
    .fleft {
        float: left;
    }
    
    p.contentText {
        color: #262626;
        font-size: 15px!important;
    }
    
    ion-icon.fit {
        position: relative;
        top: 2px;
    }
    /*======================
        site css
========================*/
    /* Buttons */
    
    Button.resetRadius {
        border-radius: 2px;
        font-size: 13px;
        padding: 12px 45px;
        border: none;
    }
    
    Button.resetRadius.white {
        background: white;
        color: #262626;
    }
    
    Button.resetRadius.red {
        background: #C10019;
        color: white;
    }
    
    Button.resetRadius.red.large {
        min-height: 50px;
    }
    
    Button.resetRadius.red:hover {
        background: rgb(156, 1, 22);
        color: white;
    }
    
    Button.resetRadius.red:hover {
        background: rgb(156, 1, 22);
        color: white;
    }
    
    Button.resetRadius.gold {
        background: transparent linear-gradient(102deg, #D0B185 0%, #C9A97D 20%, #C3A376 36%, #E0C6A2 44%, #FFFFFF 52%, #E0C6A2 59%, #C3A376 66%, #D0B185 100%) 0% 0% no-repeat padding-box;
        border-radius: 2px;
        opacity: 0.6;
        color: #664414;
    }
    
    Button.resetRadius.gold:hover {
        opacity: 1;
    }
    
    Button.resetRadius.darkRed {
        background: #64000D;
        color: white;
    }
    
    Button.rounded.darkRed {
        background: #860011;
        color: white;
        border-radius: 50px!important;
    }
    
    Button.rounded.red {
        background: #C10019;
        color: white;
        border-radius: 50px!important;
        font-size: 13px;
    }
    
    Button.rounded.red:hover {
        background: rgb(170, 5, 27);
    }
    
    Button.resetRadius.darkRed:hover {
        background: rgb(59, 5, 13);
        color: white;
    }
    
    Button.ellipse {
        border-radius: 20px;
        border: none;
        font-size: 13px;
        padding: 7px 17px;
    }
    
    Button.ellipse:active {
        box-shadow: none;
        background: rgb(173, 7, 29) 0% 0% no-repeat padding-box!important;
    }
    
    Button.ellipse:focus {
        border: none!important;
        box-shadow: none!important;
    }
    
    Button.ellipse.red {
        background: #C10019 0% 0% no-repeat padding-box;
    }
    
    Button.ellipse.red:hover {
        background: rgb(155, 6, 26) 0% 0% no-repeat padding-box!important;
    }
    
    .progress-bar.thin {
        background: #C20020;
    }
    
    .progress.red {
        background: white;
        height: 10px;
        border-radius: 50px;
        position: relative;
        top: -17px;
        left: 37px;
        width: 80%;
    }
    
    .dropdown-item {
        display: block;
        width: 100%;
        padding: .25rem 1.5rem;
        clear: both;
        font-weight: 400;
        color: #ffffff;
        text-align: inherit;
        white-space: nowrap;
        background-color: transparent;
        border: 0;
        border-bottom: 1px solid #ffffff38;
    }
    
    .dropdown-menu {
        background: rgba(255, 255, 255, 0.363);
        border-radius: 0;
    }
    
    .productCount {
        position: absolute;
        right: 0;
        top: 2px;
    }
    
    .productCount span.count {
        position: relative;
        font-size: 12px;
        left: 10px;
        top: -2px;
    }
    
    .dropdown.filterOptions {
        float: right;
        position: relative;
        top: -5px;
        margin-right: 5px;
    }
    
    .dropdown button.btn-secondary {
        color: #fff!important;
        background-color: #fdfdfd29!important;
        border-radius: 0!important;
        border: none;
        font-size: 12px;
    }
    
    .dropdown.gray button.btn-secondary {
        background-color: #F2EDF1!important;
        color: #333!important;
    }
    
    .dropdown.light.gray button.btn-secondary {
        background-color: #F2EDF1!important;
    }
    
    .dropdown.light button.btn-secondary {
        color: #333!important;
        background-color: white!important;
        border-radius: 0!important;
        border: none;
        font-size: 12px;
        position: relative;
        top: 7px;
    }
    
    .dropdown.light .dropdown-item {
        color: #333;
        font-size: 13px;
        border-bottom: 1px solid rgb(243, 242, 242);
    }
    
    .fullDrop a.PrBox {
        display: inline-table;
    }
    
    .fullDrop a.PrBox .centerText {
        position: relative;
        top: 74px;
    }
    
    a.dropGraybox {
        background: #8C8989;
        padding: 10px;
        color: white;
        margin-right: 20px;
        display: inline-table;
    }
    
    a.dropGraybox h2 {
        padding: 55px 100px;
    }
    
    .btn-outline-danger.red {
        padding: 9px 30px;
        font-size: 13px;
        border-color: #C10019!important;
        color: #C10019;
        border-radius: 0!important;
    }
    
    .btn-outline-danger.red.radius {
        border-radius: 27px!important;
        padding: 4px 13px;
        position: relative;
        top: -4px
    }
    
    .btn-outline-primary.pink {
        display: initial;
        padding: 5px 13px;
        font-size: 13px;
        border-color: #F7969A!important;
        color: #F7969A;
        border-radius: 20px;
        position: relative;
        top: -4px;
    }
    
    .btn-primary.pink {
        position: relative;
        padding: 6px 20px;
        font-size: 13px;
        border: none;
        background: #F7969A!important;
        color: #fff;
        border-radius: 20px;
        top: -6px;
        margin-left: 20px;
    }
    
    .btn-primary.pink:focus {
        box-shadow: none;
    }
    
    .btn-outline-primary.pink:hover {
        background-color: #F7969A;
        color: white;
    }
    
    .btn-outline-primary.pink:hover .pinkIcon {
        color: white;
    }
    
    .btn-outline-danger.red:hover {
        background: #C10019!important;
        color: white;
    }
    /* footer */
    
    .customfooter {
        background: #F2EDF1!important;
        padding-top: 51px!important;
    }
    
    .customfooter p {
        font-size: 13px;
    }
    
    .customfooter ul {
        float: left;
    }
    
    .customfooter ul li {
        float: left;
        margin-left: 10px;
        font-size: 13px;
        text-decoration: underline;
    }
    
    ul.footerMenu {
        display: inline-block;
    }
    
    .customfooter ul li a {
        color: #C10019!important;
    }
    
    ul.footerMenu li.ptop30 {
        padding-top: 0;
    }
    /* Product List */
    
    h2.gold {
        color: #D5AD6D;
        /*if no support for background-clip*/
        background: -webkit-linear-gradient(transparent, transparent), -webkit-linear-gradient(120deg, #D0B185 0%, #C3A376 36%, #E0C6A2 44%, #FFFFFF 52%, #E0C6A2 59%, #C3A376 66%, #D0B185 100%) 0% 0% no-repeat padding-box;
        background: -o-linear-gradient(transparent, transparent);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    h2.gold.large {
        font-size: 42px;
    }
    
    h2.bigHead {
        padding: 10px 0;
        font-size: 40px;
        line-height: 1;
    }
    
    h2.bigHead.light {
        color: white;
    }
    
    .PrBox img {
        display: inline-block;
        position: relative;
        height: auto;
        text-align: center;
    }
    
    .red h2 {
        color: white;
    }
    
    .boldText {
        font-weight: bold;
    }
    
    .gold .PrBoxListItem {
        background-image: url(../img/prdarkback.png)
    }
    
    .gold .PrBoxListItem:hover {
        background-image: url(../img/prdarkback.png)
    }
    
    .red .PrBoxListItem {
        background-image: url(../img/prredback.png)
    }
    
    .gray .PrBoxListItem {
        background-color: #F2EDF1!important;
        color: #333;
    }
    
    .PrBoxListItem:hover {
        float: left;
        margin: 0;
        transition: all 0.5s ease-in-out;
        background-size: 105%;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
    }
    
    .transparent .PrBoxListItem {
        background: transparent;
    }
    
    .dropLink ul li.a {
        font-weight: normal;
    }
    
    .grayBox {
        background: #F2EDF1;
        display: inline-block;
        padding: 20px;
    }
    
    .darkBox {
        background: #262626;
        display: inline-block;
        padding: 20px;
    }
    /* Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */
    /* Extra small devices (portrait phones, less than 576px)*/
    
    @media (max-width: 575.98px) {}
    /* Small devices (landscape phones, 576px and up)*/
    
    @media (max-width: 767.98px) {
        .col {
            padding: 0;
        }
        .mobileDblock {
            display: block!important;
        }
        .leftImagecontent li.imgleftLargeHead {
            width: 100%;
            font-size: 59px;
            line-height: 69px;
            margin: 0;
        }
        /*.PrBox {
            width: 100%;
            margin: 10px;
        }*/
        .PrBoxListItem {
            width: 100%;
        }
        .PrBoxListItem.menuItem {
            padding-bottom: 0;
        }
        .leftImagecontent {
            position: absolute;
            top: 0%;
            color: white;
            text-align: center;
        }
        .customfooter ul {
            float: none;
            text-align: left;
        }
        ul.footerMenu {
            text-align: left;
        }
        ul.footerMenu li.pleft30 {
            padding-left: 0;
        }
        .customfooter ul li {
            width: 100%;
            border-bottom: 1px solid white;
            margin: 10px 0;
            padding-bottom: 10px;
        }
        .copyr p {
            float: left;
        }
        .helpListItem.mright30 {
            margin-right: 0;
        }
        .LandingPageHeader .headingText h1 {
            padding: 0 2%!important;
        }
        .form-inline .form-control {
            width: auto;
        }
        .fullDrop a.PrBox {
            display: inherit;
        }
        .fullDrop a.PrBox .centerText {
            font-size: 18px;
            position: relative;
            top: 0;
        }
        span.searchThinText {
            position: absolute!important;
            top: 0!important;
            left: 29%;
        }
    }
    /* Medium devices (tablets, 768px and up)*/
    
    @media (min-width: 768px) and (max-width: 991.98px) {
        .PrBoxListItem {
            width: 100%;
        }
        ul li.PrBox {
            width: 45%;
        }
        ul.leftImagecontent {
            position: absolute;
            top: 0%;
            color: white;
            text-align: center;
        }
        .LandingPageHeader .headingText h1 {
            padding: 0 8%!important;
        }
    }
    /* Extra large devices (large desktops, 1200px and up)*/
    
    @media (min-width: 992px) and (max-width: 1199.98px) {
        .bigSearchHeader span {
            left: 55%!important;
        }
    }
    /* Extra large devices (large desktops, 1200px and up)*/
    
    @media (min-width: 1200px) {
        .PrBoxListItem.menuItem {
            width: 217px;
            height: 230px;
            float: left;
        }
        input#bigSearch {
            width: 500px;
        }
    }
    
    span.smalltext {
        font-size: 14px;
        color: #333;
    }
    
    span.smalltext.review {
        position: relative;
        left: 60px;
    }
    
    span.smalltext.light {
        font-size: 14px;
        color: rgba(255, 255, 255, 0.699);
    }
    
    ul.leftImagecontent {
        position: absolute;
        text-align: center;
        padding: 10px;
        list-style: none;
        color: white;
        width: 100%;
    }
    
    .productContent {
        text-align: center;
    }
    
    .PrBoxList {
        display: inline-flex;
    }
    
    .PrBoxListItem {
        background: #F2EDF1;
        height: auto;
        float: left;
        padding-bottom: 38px;
    }
    
    /*ul.leftImagecontent li {
        margin-bottom: 25px;
    }*/
    
    li.imgleftsmallHead {
        font-weight: regular;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0px;
        margin-bottom: 0px !important;
    }

    .imgleftButton {
        margin-top: 40px;
    }
    
    header.otherPage {
        border-top: 3px solid #C10019;
    }
    
    .bigPrBox {
        text-align: center;
        padding: 10px;
    }
    
    .bigPrBoxList {
        background: #F2EDF1;
    }
    
    .bigPrBox img {
        width: 100%;
    }
    
    .bigPrBoxList .dark {
        background: #262626;
        color: #D9D7D8;
    }
    
    .bigPrBoxList .light {
        background: #fff;
    }
    
    img.bigPrBoxlogo {
        width: 200px !important;
    }
    
    .testimonial {
        text-align: center;
    }
    
    .helpList {
        text-align: center;
    }
    
    .helpListItem {
        background: #F2EDF1;
        padding: 20px;
    }
    
    .helpListItem.light {
        background: white;
        padding: 45px;
        margin: 10px;
    }
    
    .helpListItem h3 {
        font-size: 27px;
        font-weight: bold;
        letter-spacing: -0.79px;
    }
    /*product page css*/
    
    .otherPageHeader {
        width: 100%;
        height: 100%;
        background: url(./img/redbackground.png) center center no-repeat!important;
        background-size: cover;
    }
    /*search result css*/
    
    .resultHeader {
        width: 100%;
        height: 100%;
        background-image: url(../img/redbackground.png);
        position: relative;
        top: 0;
        height: 250px;
    }
    
    h1.centerText.head {
        color: white;
        font-size: 40px!important;
        position: relative;
        top: 47%;
    }
    
    h1.light.large {
        color: white;
        font-size: 30px;
        font-weight: bold;
    }
    
    h1.centerText.headdark {
        color: #262626;
        font-size: 32px!important;
    }
    
    h1.big {
        font-size: 30px;
    }
    
    .PrBoxListItem.result {
        width: inherit!important;
        padding: 10px;
    }
    
    .tvCode {
        color: #A6A1A1;
        text-align: center;
        width: 100%;
        display: inline-block;
        font-size: 12px;
    }
    
    .tvCode.large {
        font-size: 20px;
        text-align: left;
    }
    
    p.incBox {
        display: inline-block;
        text-align: center;
        padding: 2px 22px;
        border-radius: 20px;
        background: rgba(128, 128, 128, 0.425);
        color: white;
        font-size: 12px;
        position: relative;
        left: 35%;
    }
    
    span.resultCount {
        color: #262626;
        font-size: 12px;
        margin-left: 10px;
    }
    
    .PrBoxPageSearchList .pageResult {
        float: left;
        background: #F2EDF1;
        padding: 10px;
    }
    
    span.redText {
        color: #C10019;
        font-weight: bold;
    }
    
    .pageResultItem h3 {
        padding: 16px;
    }
    /*landing Page Css*/
    
    .LandingPageHeader {
        height: 600px;
        background: #F2EDF1;
    }
    
    .LandingPageHeader.light {
        background: #fff;
    }
    
    .LandingPageHeader .headingText {
        position: relative;
        top: 20%;
    }
    
    .LandingPageHeader .headingText h1 {
        font-size: 50px;
        font-weight: bold;
        padding: 0 35%;
    }
    
    .LandingPageHeader .headingText.small h1 {
        font-size: 40px;
        font-weight: bold;
        padding: 0 20%;
        text-align: center;
    }
    
    .LandingPageHeader .headingText p {
        font-weight: normal
    }
    
    .landingTopImage {
        display: inline-flex;
        position: relative;
        top: -250px;
    }
    
    p.LandingText {
        color: #8C8989;
        font-size: 17px;
    }
    
    p.LandingText.bold {
        font-weight: bold;
    }
    
    .landingTopImage .landingTopImageFootMenu {
        display: inline-block;
        background: #F2EDF1;
        padding: 0 10px;
        height: 60px;
        line-height: 60px;
        position: relative
    }
    
    .landingTopImage ul.landingTopImageFootMenu li {
        float: left;
        font-weight: normal;
        font-size: 13px;
        color: #262626;
        padding-left: 15px;
    }
    
    ul.refList {
        display: inline-block;
    }
    
    ul.refList li {
        float: left;
        width: 235px;
        display: inline-flex;
        height: 63px;
    }
    
    .negativeTop250 {
        margin-top: -150px;
    }
    
    ul.tripleLogo {
        display: inline-block;
    }
    
    ul.tripleLogo li {
        float: left;
        padding-left: 30px;
    }
    /*image comparision slider*/
    /* Panels. */
    
    .SliderText h1 {
        font-size: 40px;
        font-weight: bold;
    }
    
    .cd-image-container {
        position: relative;
        max-width: fit-content;
    }
    
    .cd-image-container img {
        display: block;
    }
    
    @media only screen and (min-width: 768px) {
        .cd-image-container {
            margin: 4em auto;
        }
    }
    
    .cd-image-label {
        position: absolute;
        bottom: 0;
        right: 0;
        color: #ffffff;
        padding: 1em;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        opacity: 0;
        -webkit-transform: translateY(20px);
        -moz-transform: translateY(20px);
        -ms-transform: translateY(20px);
        -o-transform: translateY(20px);
        transform: translateY(20px);
        -webkit-transition: -webkit-transform 0.3s 0.7s, opacity 0.3s 0.7s;
        -moz-transition: -moz-transform 0.3s 0.7s, opacity 0.3s 0.7s;
        transition: transform 0.3s 0.7s, opacity 0.3s 0.7s;
    }
    
    .cd-image-label.is-hidden {
        visibility: hidden;
    }
    
    .is-visible .cd-image-label {
        opacity: 1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
    
    .cd-resize-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        overflow: hidden;
        background: url(../img/changeimage2.png) no-repeat left top;
        background-size: auto 100%;
        /* Force Hardware Acceleration in WebKit */
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        box-shadow: 0px 0px 4px #ffffff85;
    }
    
    .cd-resize-img.dolby-vision-hdr {
        background: url(../img/changeimage4.png) no-repeat left top;
    }
    
    .cd-resize-img .cd-image-label {
        right: auto;
        left: 0;
    }
    
    .is-visible .cd-resize-img {
        width: 50%;
        /* bounce in animation of the modified image */
        -webkit-animation: cd-bounce-in 0.7s;
        -moz-animation: cd-bounce-in 0.7s;
        animation: cd-bounce-in 0.7s;
    }
    
    @-webkit-keyframes cd-bounce-in {
        0% {
            width: 0;
        }
        60% {
            width: 55%;
        }
        100% {
            width: 50%;
        }
    }
    
    @-moz-keyframes cd-bounce-in {
        0% {
            width: 0;
        }
        60% {
            width: 55%;
        }
        100% {
            width: 50%;
        }
    }
    
    @keyframes cd-bounce-in {
        0% {
            width: 0;
        }
        60% {
            width: 55%;
        }
        100% {
            width: 50%;
        }
    }
    
    .cd-handle {
        position: absolute;
        height: 44px;
        width: 44px;
        /* center the element */
        left: 50%;
        top: 50%;
        margin-left: -22px;
        margin-top: -22px;
        border-radius: 50%;
        background: white url(../img/left-and-right-small-triangular-arrows-couple.png) no-repeat center center;
        cursor: move;
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0) scale(0);
        -moz-transform: translate3d(0, 0, 0) scale(0);
        -ms-transform: translate3d(0, 0, 0) scale(0);
        -o-transform: translate3d(0, 0, 0) scale(0);
        transform: translate3d(0, 0, 0) scale(0);
    }
    
    .cd-handle.draggable {
        /* change background color when element is active */
        background-color: #445b7c;
    }
    
    .is-visible .cd-handle {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0) scale(1);
        -moz-transform: translate3d(0, 0, 0) scale(1);
        -ms-transform: translate3d(0, 0, 0) scale(1);
        -o-transform: translate3d(0, 0, 0) scale(1);
        transform: translate3d(0, 0, 0) scale(1);
        -webkit-transition: -webkit-transform 0.3s 0.7s, opacity 0s 0.7s;
        -moz-transition: -moz-transform 0.3s 0.7s, opacity 0s 0.7s;
        transition: transform 0.3s 0.7s, opacity 0s 0.7s;
    }
    
    .transition-back {
        position: relative;
        top: -131px;
        color: white;
        background: transparent linear-gradient(180deg, #00000000 0%, #000000 100%) 0% 0% no-repeat padding-box;
        z-index: 999;
    }
    
    .transition-back.reverse {
        position: relative;
        color: white;
        background: transparent linear-gradient(180deg, #000000 0%, #00000000 100%) 0% 0% no-repeat padding-box;
        z-index: 999;
        top: 203px;
    }
    
    .transition-back span {
        color: white;
    }
    
    .darkRectangle {
        position: relative;
        top: -194px;
        height: 80px;
        background: #000000;
    }
    
    .topfit {
        position: relative;
        top: -75px;
    }
    
    .darkBgProductlist {
        background: url(../img/blackback.png);
        padding: 20px;
    }
    
    .darkBgProductlist h1 {
        color: white;
        text-align: center;
        font-size: 50px;
        font-weight: bold;
        padding: 20px 35%;
        line-height: 60px;
    }
    /*Support Home*/
    
    .bigSearchHeader {
        width: 100%;
        height: 100%;
        position: relative;
        top: 0;
        height: 500px;
        background: url(../img/redbackground.png) no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    
    .TVfilterHeader {
        width: 100%;
        height: 100%;
        min-height: 500px;
        position: relative;
        padding-bottom: 178px;
        top: 0;
        background: url(../img/blackback.png) no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    
    .TVfilterHeader.pdp1 {
        background: url(../img/redbackground.png) no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        display: inline-block;
    }
    
    .filterHeader .TVfilterHeader.HD {
        width: 100%;
        height: 100%;
        min-height: 500px;
        position: relative;
        padding-bottom: 178px;
        top: 0;
        background: #F2EDF1;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    
    .TVfilterHeader.HD .filterProducts .light h2.centerText {
        color: white!important;
    }
    
    .TVfilterHeader.UltraHD {
        width: 100%;
        height: 100%;
        min-height: 500px;
        position: relative;
        padding-bottom: 178px;
        top: 0;
        background: url(../img/redbackground.png) no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    
    .TVfilterHeader.PremiumTv {
        width: 100%;
        height: 100%;
        min-height: 500px;
        position: relative;
        padding-bottom: 178px;
        top: 0;
        background: url(../img/blackback.png) no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    
    .TVfilterHeader .filterTag {
        padding: 5px 10px;
        background: rgba(255, 255, 255, 0.5);
        border-radius: 20px;
        float: left;
        margin-right: 5px;
        font-size: 12px;
        position: relative;
        top: -2px;
    }
    
    .TVfilterHeader.HD .filterTag {
        padding: 5px 10px;
        background: rgba(140, 137, 137, 0.233);
        border-radius: 20px;
        float: left;
        margin-right: 5px;
        font-size: 12px;
        position: relative;
        top: -2px;
    }
    
    #filterHeader.scrolledFilter {
        position: fixed;
        top: 0;
        background: #ffffffde;
        color: #333;
        transition: background-color 200ms linear;
        z-index: 9999;
    }
    
    .social.scrolled {
        position: fixed;
    }
    
    #filterHeader.scrolledFilter .btn-outline-primary.pink {
        border-color: rgb(221, 19, 46)!important;
        color: rgb(221, 19, 46)!important;
    }
    
    #filterHeader.scrolledFilter a {
        color: #333;
    }
    
    .filterTag a {
        color: white;
    }
    
    .filterTag a:hover {
        color: rgb(216, 42, 48);
    }
    
    .bigSearchHeader input {
        background: rgba(255, 255, 255, 0.473) 0% 0% no-repeat padding-box;
        border-radius: 40px;
        height: 60px;
        width: 600px;
    }
    
    .bigSearchHeader input:focus {
        background: #ffffff00;
    }
    
    .form-inline.tsbSearch.bigSearch {
        position: relative;
        top: 200px;
    }
    
    .bigSearchHeader span {
        float: right;
        position: relative;
        top: 60px;
    }
    
    .bigSearchHeader h1 {
        text-align: center;
        color: white;
        font-size: 50px;
        position: relative;
        top: 170px;
    }
    
    .bigSearchHeader span a {
        text-decoration: underline;
        color: #333;
        font-size: 13px;
        position: relative;
        top: -38px;
        float: right;
        padding-right: 20px;
    }
    
    .searchHomeIcon {
        color: white;
        font-size: 25px;
        position: absolute;
        left: -66px;
        background: rgba(255, 255, 255, 0.411);
        padding: 16px;
        border-radius: 50%;
        top: 3px;
    }
    
    p.searchBottomText {
        position: relative;
        top: 218px;
        text-align: center;
        font-size: 13px;
    }
    
    p.light {
        opacity: 0.5;
    }
    
    p.redlargeText {
        color: #C10019;
        font-size: 40px;
    }
    
    .bigSearchHeader input:focus+.searchHomeIcon {
        display: block;
    }
    
    a.bottomActionBox {
        width: 180px;
        height: 200px;
        padding: 0;
        display: inline-grid;
        color: white;
        font-weight: normal;
        margin-right: 20px;
    }
    
    a.bottomActionBox h2 {
        position: relative;
        top: 60px;
    }
    
    a.bottomActionBox .light {
        color: #333;
    }
    
    a.bottomActionBox .gold {
        background: url(../img/blackback.png);
        background-size: cover;
    }
    
    a.bottomActionBox .red {
        background: url(../img/redbackground.png);
        background-size: cover;
    }
    
    a.bottomActionBox .light {
        background-color: #F2EDF1;
    }
    
    a.bottomActionBox .gray {
        background-color: #8C8989;
        color: white;
    }
    
    a.bottomActionBox .light .arrow {
        color: rgba(51, 51, 51, 0.541);
    }
    
    a.bottomActionBox .arrow {
        color: rgba(255, 255, 255, 0.589);
        z-index: 999;
        font-size: 30px;
        position: relative;
        top: 80px;
        left: 44%;
        -webkit-animation-duration: 1.5s;
        animation-duration: 1.5s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        -webkit-animation-iteration-count: infinite;
    }
    
    a.bottomActionBox:hover .arrow {
        color: white;
        animation-name: bounce;
        -moz-animation-name: bounce;
    }
    
    a.selectsizeItem .lightGray {
        background: #F2EDF1;
        height: 150px;
        width: 170px;
        margin-right: 20px;
    }
    
    a.selectsizeItem h2 {
        position: relative;
        top: 50px;
        color: rgba(51, 51, 51, 0.459);
    }
    
    a.selectsizeItem .arrow {
        position: relative;
        top: 60px;
        font-size: 25px;
        opacity: 0.5;
        color: rgba(51, 51, 51, 0.432);
    }
    
    a.selectsizeItem .lightGray:hover {
        background: #5A5A5A;
        color: white;
    }
    
    a.selectsizeItem .lightGray:hover h2 {
        color: white;
    }
    
    a.selectsizeItem .lightGray:hover .arrow {
        color: white;
    }
    
    a.darklinkIcon {
        color: #333;
    }
    
    .social a .redIcon {
        color: #C10019;
        font-size: 20px;
        margin-right: 10px;
    }
    
    .pinkIcon {
        color: #F7969A;
    }
    
    ul.topicRightList {
        list-style: none;
        position: relative;
    }
    
    ul.topicRightList li {
        float: left;
        list-style: none;
        margin-right: 10px;
    }
    
    ul.topicRightList li.radiusText {
        background: #C10019;
        border-radius: 20px;
        padding: 0 25px;
        color: white
    }
    
    a.topicSelect {
        display: inline-block;
        background: white;
        padding: 34px 10px 13px 20px;
        margin: 10px;
        color: #262626;
    }
    
    .carousel-indicators {
        bottom: -40px;
    }
    
    .onlyMobileCarouselItem .carouselBox {
        display: inline-flex;
        margin-right: 20px;
    }
    
    a.btn-floating {
        font-size: 25px;
        color: red;
        padding: 0;
    }
    
    a.btn-floating .right {
        float: right;
        position: relative;
    }
    
    a.btn-floating .left {
        float: left;
        position: relative;
    }
    
    .carousel-indicators li {
        width: 7px;
        height: 7px;
        background-color: #fff;
        background-clip: padding-box;
        border: 2px solid #f32b2b;
        border-radius: 50%;
    }
    
    .carousel-indicators li.active {
        background-color: #f32b2b;
    }
    /*Footer Contact Custom*/
    
    .contactColumn {
        padding: 20px;
        background: white;
        height: 232px;
    }
    
    .contactColumn.sidebar {
        background: #F2EDF1;
        font-size: 14px;
    }
    
    .contactColumn span.redText {
        color: #C10019;
        font-weight: normal;
        position: relative;
        top: 12px;
        right: 10px;
        font-size: 13px;
    }
    
    .contactColumn span.redText.big {
        font-size: 35px;
        text-align: left;
    }
    
    .contactColumn h1 {
        color: #333;
        font-weight: normal;
        font-size: 25px;
        text-align: left;
        margin-right: 20px;
    }
    
    .sidebar .onlineBox {
        background: #fff;
    }
    
    .onlineBox {
        display: inline-block;
        width: 100%;
        height: 45px;
        background: #F2EDF1;
        color: #333;
        border-radius: 50px;
    }
    
    .sidebar .onlineBox .user {
        background: #F2EDF1;
    }
    
    .onlineBox .user {
        background: white;
        padding: 10px;
        border-radius: 50%;
        position: relative;
        top: 4px;
        left: 5px;
    }
    
    .onlineBox .status {
        position: relative;
        top: 12px;
        left: 15px;
    }
    
    .onlineBox .online {
        background: green;
        width: 11px;
        height: 11px;
        position: absolute;
        top: 124px;
        border-radius: 50%;
        left: 52px;
        border: 2px solid white;
    }
    
    .onlineBox .offline {
        background: #C10019;
        width: 11px;
        height: 11px;
        position: absolute;
        top: 124px;
        border-radius: 50%;
        left: 52px;
        border: 2px solid white;
    }
    
    .mobileDblock span {
        font-weight: bold;
        font-size: 14px;
    }
    /*quick support page css*/
    
    .accordion .card-header:after {
        font-family: 'Eina';
        content: "\f48a";
        float: right;
    }
    
    .accordion .card-header.collapsed:after {
        /* symbol for "collapsed" panels */
        content: "\f463";
    }
    
    .accordion>.card .card-header {
        background: #F2EDF1;
        border-bottom: 4px solid white;
    }
    
    .accordion>.card .card-header.light {
        background: #fff;
        border-bottom: 4px solid #f2edf1;
    }
    
    .accordion .card-body {
        background: #F2EDF1;
        font-size: 13px;
        padding: 0;
    }
    
    .accordion .card-body p {
        font-size: 13px;
        padding: 20px;
    }
    
    .accordion .card-body p .accordion .card {
        border: none;
    }
    
    .accordioItem.light .accordion .card-body {
        background: white;
    }
    /*
    .accordioItem {
        margin-bottom: 10px;
    } */
    
    .accordioItem.light .accordion>.card {
        border: none;
    }
    
    .accordioItem.light .accordion .card-body {
        background: white;
    }
    
    .bigPrVideoBox {
        padding: 0;
        background: white;
        margin-right: 20px;
        font-size: 13px;
    }
    
    .bigPrVideoBox p.videoContext {
        width: 75%;
        padding: 10px;
    }
    
    .bigPrVideoBox p.time {
        padding: 10px;
        width: 15%;
        font-weight: bold;
    }
    /*TV Filter Bar*/
    
    .TVfilterBar {
        position: relative;
        top: 150px;
        width: 100%;
        padding: 20px;
        height: 60px;
        color: white;
        background: rgba(242, 237, 241, 0.24) 0% 0% no-repeat padding-box;
        border-radius: 4px;
    }
    
    .TVfilterBar.light {
        color: #333;
        background: #D9D7D8;
    }
    
    .filterProducts {
        position: relative;
        top: 170px;
    }
    
    .filterProducts .light h2.centerText {
        color: #262626;
    }
    /*support model css*/
    
    .leftGraytvBox {
        display: inline-block;
        width: 500px;
        height: 500px;
        background: #F2EDF1;
    }
    
    .leftGraytvBox img {
        position: relative;
        top: 45px;
    }
    
    .rightTVdetail {
        padding-left: 50px;
    }
    
    ul.tvCodeBox {
        text-align: center;
        display: inline-block;
        padding: 0;
    }
    
    ul.tvCodeBox li {
        display: inline-block;
        float: left;
        width: 100px;
        height: 85px;
        border: 1px solid #8C8989;
        border-radius: 2px;
        opacity: 1;
        margin-right: 10px;
    }
    
    ul.tvCodeBox li .incLarge {
        font-size: 25px;
        font-weight: bold;
        position: relative;
        text-align: center;
        top: 10px;
        color: #8C8989;
    }
    
    hr.m0 {
        margin: 0;
        position: relative;
        top: 13px;
    }
    
    hr.light {
        border: 1px solid #fff;
    }
    
    hr.b2 {
        border: 1px solid #D9D7D8;
    }
    
    ul.tvCodeBox li span.tvCode {
        position: relative;
        top: 12px;
        height: 33px;
        padding-top: 8px;
        background: #e2dddd;
        border-top: 1px solid;
    }
    
    .accordionDarkContent ul.tvCodeBox li span.tvCode {
        background: rgba(255, 255, 255, 0.137);
    }
    
    .accordionDarkContent ul.tvCodeBox li.active span.tvCode {
        border: 1px solid white;
    }
    
    .accordionDarkContent ul.tvCodeBox li.active .incLarge {
        color: white;
    }
    
    .accordionDarkContent ul.tvCodeBox li.active span.tvCode {
        color: white;
    }
    
    ul.tvCodeBox li.active span.tvCode {
        color: #000;
    }
    
    ul.tvCodeBox li.active .incLarge {
        color: #000;
    }
    
    ul.tvCodeBox li.active {
        border: 1px solid #000;
    }
    
    .accordionDarkContent ul.tvCodeBox li.active {
        border: 1px solid white;
    }
    /*Press Page*/
    
    .largePressBox,
    .pressBox {
        height: 487px;
        text-align: left;
    }
    
    .largePressBox,
    .pressBox .content {
        padding-bottom: 49px;
        background: white;
    }
    
    .largePressBox,
    .pressBox .content.gray {
        padding-bottom: 49px;
        background: #F2EDF1;
        min-height: 211px;
    }
    
    .pressBox h2,
    .largePressBox h2 {
        line-height: 1.5;
        font-size: 23px;
        overflow: ellipsis;
    }
    
    span.date {
        font-size: 13px;
        color: #8C8989;
    }
    
    .largePressBox .category {
        width: 128px;
        height: 42px;
        padding: 5px;
        color: white;
        position: absolute;
        background: #c10019;
        font-size: 13px;
        top: 1px;
        text-align: center;
        padding-top: 12px;
    }
    
    .pagination {
        font-size: 13px;
        color: darkgray;
        padding: 14px;
    }
    
    .pagination a:hover .pIcon {
        color: red;
    }
    
    .pagination .pIcon {
        border: 1px solid darkgray;
        color: darkgray;
        padding: 5px;
    }
    
    .pagination .pIcon.left {
        border-right: none;
        border-radius: 4px 0 0 4px;
    }
    
    .pagination .pIcon.right {
        border-radius: 0 4px 4px 0;
    }
    
    .pagination .number {
        font-size: 12px;
        color: darkgray;
        position: relative;
        right: 10px;
        top: 4px;
    }
    /*Forum Page*/
    
    ul li.forumItem {
        height: 180px;
        background: #F2EDF1 0% 0% no-repeat padding-box;
        padding: 20px;
    }
    
    ul li.forumItem p.name {
        text-align: left;
        letter-spacing: -0.4px;
        color: #262626;
        font-size: 13px;
        font-weight: bold;
    }
    
    span.thrCount {
        font-size: 12px;
        color: #8C8989;
    }
    
    ul li.forumItem span.redText {
        text-align: left;
    }
    
    ul li.forumItem p.comment {
        font-size: 14px;
        text-align: left;
    }
    
    ul li.forumItem span.dateLog {
        color: #8C8989;
        font-weight: normal;
    }
    
    span.dot {
        font-size: 26px!important;
        padding: 0;
        line-height: 0;
        padding: 0 9px;
        color: #8C8989;
        position: relative;
        top: -2px;
    }
    
    ul.commentList .commentLog {
        background: #F2EDF1 0% 0% no-repeat padding-box;
        padding: 20px;
        border-left: 2px solid white;
        float: left;
        height: 180px;
        text-align: left;
    }
    
    ul.cLogIconlist li {
        float: left;
    }
    
    ul.cLogIconlist {
        position: relative;
        top: 56px;
        font-size: 13px;
    }
    
    ul.cLogIconlist li {
        margin-right: 25px;
    }
    
    ul.cLogIconlist li .iSolved,
    .iView,
    .iComment {
        font-size: 18px;
        color: darkgray;
        padding-right: 5px;
        top: 4px;
    }
    
    ul.cLogIconlist li.done .iSolved {
        color: #2BA000;
    }
    
    ul.cLogIconlist li.done {
        color: #2BA000;
    }
    
    p.forumText {
        text-align: justify;
        font-size: 14px;
    }
    
    h3.done {
        color: #2BA000;
    }
    
    h3.big {
        text-align: left;
        line-height: 1.5;
        font-size: 21px;
    }
    
    .acceptTextBox {
        background: #2BA00010;
        border-top: 2px solid #2BA000;
        padding: 20px;
        height: auto;
        font-size: 14px;
        color: #103304;
    }
    
    .acceptTextBox .dateLog {
        color: #2BA000;
    }
    
    form.contact .form-control {
        color: #8C8989!important;
        font-size: 14px;
        border-radius: 2px;
        min-height: 50px;
    }
    
    form.contact textarea.form-control {
        min-height: 150px;
    }
    
    p.note {
        color: #8C8989;
        position: relative;
        top: 16px;
    }
    
    .guestBox,
    .questionList {
        background: #F2EDF1;
        padding-bottom: 20px;
    }
    
    .guestBox p {
        padding: 20px 20px 0px 20px;
    }
    
    .guestBox ul.cLogIconlist {
        top: 20px;
        width: max-content;
    }
    
    .guestBox ul.cLogIconlist li {
        margin-top: 20px;
    }
    
    .questionList h3 {
        padding: 20px 20px 0px 20px;
    }
    
    ul.questions li {
        margin-bottom: 10px;
    }
    
    h3.divider {
        position: relative;
        top: -12px;
        text-align: center;
        font-size: 13px;
        color: #8C8989;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    
    h1.tvmodelName {
        width: 70%;
        text-align: left;
        font-size: 38px;
        color: white;
    }
    
    .tvCarousel {
        position: relative;
        top: 120px;
    }
    
    .tvCarousel h2.bigHead.point {
        display: contents;
        color: #45060E;
    }
    
    h2.bigHead.point.red {
        color: #c20020;
        display: inline-block;
        font-size: 31px;
        position: relative;
        top: -5px;
        left: 10px;
    }
    
    .one,
    .half {
        font-size: 30px;
        color: #45060E;
    }
    
    .one.small {
        font-size: 15px!important;
    }
    
    span.istar {
        display: block;
    }
    
    .one.red,
    .half.red {
        font-size: 35px;
        color: #C20020;
    }
    
    .one.red.thin {
        font-size: 15px;
        float: left;
        position: relative;
        top: 1px;
        right: 10px;
    }
    
    .tvCarousel p.reviewCount {
        font-size: 13px;
    }
    
    .union {
        background-image: url(../img/label.png);
        background-size: contain;
        background-repeat: no-repeat;
        width: 70px;
        float: right;
    }
    
    .union span {
        font-size: 13px;
        display: inline-block;
        position: relative;
        top: -18px;
        left: 13px;
    }
    
    .tvCarousel .incLarge {
        color: rgba(255, 255, 255, 0.7)!important;
    }
    
    .tvCarousel li.active .incLarge {
        color: #333!important;
    }
    
    .tvCarousel li.active span.tvCode {
        border-top: 1px solid #333!important;
    }
    
    .tvCarousel span.tvCode {
        background: rgba(255, 255, 255, 0.205)!important;
        color: #fff;
        border-top: 1px solid rgba(255, 255, 255, 0.616)!important;
    }
    
    .tvCarousel ul.tvCodeBox li {
        border: 1px solid rgba(255, 255, 255, 0.616);
    }
    
    .tvCarousel ul.tvCodeBox li.active {
        border: 1px solid #333;
    }
    
    .tvCarousel a.help {
        color: white;
        text-decoration: underline!important;
        font-size: 13px;
        opacity: 0.6;
    }
    
    .tvCarousel a.help:hover {
        opacity: 1;
    }
    
    .tvCarouselimg {
        position: relative;
        top: 150px;
    }
    
    .tvCarouselimg img.carouselImage {
        position: relative;
        top: 10%;
        left: 15%;
    }
    
    .buyItems .buyItem {
        background: rgba(255, 255, 255, 0.25);
        padding: 10px;
        height: 65px;
    }
    
    .buyItem img {
        width: 120px;
        position: relative;
        top: -5px;
    }
    
    .buyItem .stock {
        margin-top: -20px;
        color: white;
        position: relative;
        top: 10px;
    }
    
    .stockStat {
        position: relative;
        top: -5px;
        right: 10px;
    }
    
    .content-carousel {
        width: 600px;
        display: block;
        margin: 0 auto;
    }
    
    .tvthumbnails {
        position: relative;
        z-index: 999;
        left: 10%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        line-height: 0;
    }
    
    .tvthumbnails li {
        -webkit-box-flex: 1;
        -ms-flex: auto;
        flex: auto;
    }
    
    .tvthumbnails a {
        display: inline-block;
        padding: 5px;
        margin-bottom: 10px;
    }
    
    .tvthumbnails a:hover,
    a:focus,
    a:visited,
    a:active {
        background: #ffffff00;
    }
    
    .tvthumbnails img {
        width: 40px;
        height: 40px;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: top;
        object-position: top;
    }
    
    .tvslides {
        overflow: hidden;
    }
    
    .tvslides,
    .tvslides li {
        width: 100%;
    }
    
    .tvslides li {
        position: absolute;
        z-index: 1;
    }
    
    @-webkit-keyframes slide {
        0% {
            -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
        }
        100% {
            -webkit-transform: translateY(0%);
            transform: translateY(0%);
        }
    }
    
    @keyframes slide {
        0% {
            -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
        }
        100% {
            -webkit-transform: translateY(0%);
            transform: translateY(0%);
        }
    }
    
    .tvslides li:target {
        z-index: 3;
        -webkit-animation: slide 1s 1;
    }
    
    @-webkit-keyframes hidden {
        0% {
            z-index: 2;
        }
        100% {
            z-index: 2;
        }
    }
    
    @keyframes hidden {
        0% {
            z-index: 2;
        }
        100% {
            z-index: 2;
        }
    }
    
    .tvslides li:not(:target) {
        -webkit-animation: hidden 1s 1;
    }
    
    .darkImageArea {
        background: #000;
        display: inline-block;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .darkImagebar {
        background: rgb(32, 32, 32);
        display: inline-block;
        padding: 20px;
        color: white;
        padding: 23px 35px 13px 35px;
        margin: 20px;
        position: relative;
        top: 80px;
    }
    
    .darkImagebar ul li {
        float: left;
        margin-left: 20px;
        font-weight: normal;
    }
    
    .darkImagebar ul li a {
        color: white;
        font-size: 14px;
    }
    
    .darkImageArea h2.bigHead {
        font-size: 55px;
        position: relative;
        top: -30px;
    }
    
    .crossContent .text {
        position: relative;
        top: 100px;
        padding: 50px;
        text-align: center;
    }
    
    .darkLogoBox {
        width: 262px;
        height: 150px;
        padding: 20px;
        background: #191919;
        color: white;
        text-align: center;
        margin-bottom: 20px;
    }
    
    a.accordionMenu {
        display: inline-block;
        background: #191919;
        padding: 20px;
        color: #D9D7D8!important;
        text-align: center;
        cursor: pointer!important;
    }
    
    a.accordionMenu:hover {
        color: white;
    }
    
    .accordionDarkContent {
        transition: visibility 0s, opacity 0.5s linear;
        background: #191919;
        padding: 20px;
        color: white;
        float: left;
        width: 100%;
    }
    
    .accordion.dark>.card .card-header {
        background: #262626;
    }
    
    .accordion.dark>.card {
        border: none;
    }
    
    .accordion.dark>.card a {
        color: #E0DDDF;
    }
    
    .accordion.dark .card-header:after {
        font-family: 'FontAwesome';
        content: "\f056";
        float: right;
    }
    
    .accordion.dark .card a.collapsed .card-header:after {
        /* symbol for "collapsed" panels */
        content: "\f055";
    }
    
    .accordion.dark .card-header:first-child {
        border-radius: 0;
        border: 0;
    }
    
    ul.accordContentList {
        display: inline-block;
    }
    
    ul.accordContenList li {
        padding: 10px;
        color: white;
    }
    
    ul.accordContenList li.dgray {
        background: #3B3A3B;
    }
    
    ul.accordContenList li.lgray {
        background: #454445;
    }
    
    span.changetext {
        position: relative;
        right: 5px;
    }
    
    .whiteBar {
        display: inline-block;
        background: white;
        padding: 10px;
    }
    
    .whiteBar .dropdown button.btn-secondary {
        background: #F2EDF1;
    }
    
    .Commentstar {
        font-size: 13px;
    }
    
    .Commentstar .verify span {
        color: #8C8989;
        position: relative;
        top: -10px;
        left: 10px;
    }

    .wide-container {
        width: 100%;
        margin: auto;
    }

    .card-photo {
        width: 80%;
    }

    
    .center-child:nth-child(odd) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        float: left;
    }

    .center-child:nth-child(even) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        float: right;
    }

    .mbottom75 {
        margin-bottom: 75px;
    }