/*******************************
        NAVBAR
*******************************/

.megamenu {
    position: static;
}

.megamenu .dropdown-menu {
    background: none;
    border: none;
    width: 100%;
}

.fullDrop {
    background: #262626;
}

.bg-dark {
    background: #000000bd!important;
    /*height: calc(var(--vh, 1vh) * 100);*/
}

.nav>li.dropdown.open {
    position: static;
}

.nav>li.dropdown.open .dropdown-menu {
    display: table;
    border-radius: 0px;
    width: 100%;
    text-align: center;
    left: 0;
    right: 0;
}

.dropdown-menu>li {
    display: table-cell;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
}

.bigSearchHeader .form-control,
.navbar .form-control {
    color: white;
}

.bigSearchHeader ::placeholder,
.navbar ::placeholder {
    color: white;
}

.bigSearchHeader ::placeholder,
.navbar :-ms-input-placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white!important;
    opacity: 1;
    /* Firefox */
}

.bigSearchHeader :-ms-input-placeholder,
.navbar :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: white;
}

.bigSearchHeader ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #333;
}

.dark::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #333!important;
    opacity: 1;
    /* Firefox */
}

.dark:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #333;
}

.dark::-ms-input-placeholder {
    /* Microsoft Edge */
    color: white;
}

.form-control:focus {
    box-shadow: none;
    background: transparent;
}

.form-control {
    background: #FFFFFF 0% 0% no-repeat padding-box;
}

.iconsearch {
    font-size: 20px;
    color: white;
    position: relative;
    top: 3px;
}

.iconsearch.lg {
    font-size: 25px;
}

.ml-auto .dropdown-menu {
    left: auto !important;
    right: 0px;
    padding-top: 20px;
    top: 40px;
}

.largeRight {
    width: 100%;
}

.navbar-brand {
    padding: 15px;
}

.tsbSearch input {
    background: transparent;
    border: none;
    box-shadow: none;
}

form.tsbSearch {
    background: #ffffff41;
    border-radius: 41px;
}

input.tsbinput {
    font-size: 13px!important;
    position: relative!important;
    top: 4px;
}

#topnav.scrolled {
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#FF280C00', endColorstr='#004A1D00');
    /* for IE */
    background: #191919;
    /* for firefox 3.6+ */
    transition: background-color 200ms linear;
}

#topnav.hide {
    display: none;
}

.list-unstyled {
    float: left;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    font-weight: normal!important;
    font-size: 14px;
}

.navbar-light .navbar-nav .nav-link {
    color: #333;
    font-size: 14px;
    font-weight: normal!important;
}

.nav-item:hover {
    background: #191919;
    color: white;
}

.nav-item {
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 60px;
    padding-left: 40px;
    padding-right: 40px;
}

.navbar-light form.tsbSearch {
    border-radius: 20px;
    opacity: 0.2;
    background: #8C8989 0% 0% no-repeat padding-box;
}

.largeRight {
    width: 100%;
    display: inherit;
    position: relative;
}

.fullDrop .right ul li {
    color: white;
    font-size: 13px;
    padding-bottom: 5px;
}

ul.dropLink {
    display: inline-block;
}

ul.dropLink a {
    color: white;
}

@media (min-width: 768px) {
    #topnav .navigation-menu>li.has-submenu:hover>.submenu {
        visibility: visible;
        opacity: 1;
        margin-top: 0;
    }
    #topnav .navigation-menu>li.has-submenu:hover>.submenu>li.has-submenu:hover>.submenu {
        visibility: visible;
        opacity: 1;
        margin-left: 0;
        margin-right: 0;
    }
    .navbar-toggle {
        display: block;
    }
}

@media (max-width: 988px) {
    /* #topnav {
        background-color: #ffffff !important;
        box-shadow: 0 10px 33px rgba(0, 0, 0, .1) !important;
    }*/
    .dropdown-menu>li {
        display: block;
    }
    .navbar-toggler.search span.navbar-toggler-icon {
        background-image: url()
    }
    .search ul.navbar-nav {
        background: #191919c7;
    }
    ul.navbar-nav {
        width: 100%;
        background: #191919;
        height: calc(var(--vh, 1vh) * 100);
    }
    ul.dropLink {
        width: 100%;
    }
    ul.dropLink li {
        padding-bottom: 10px;
        margin-top: 15px;
    }
    .navbar ul li {
        border-bottom: 1px solid #f8f9fa44;
    }
    .navbar ul li:first-child {
        margin-top: 0px;
    }
    .navbar ul li:last-child {
        border-bottom: none;
    }
    .navbar-dark .navbar-nav .nav-link {
        padding: 20px;
    }
    .dropdown-menu {
        background: transparent;
    }
    .dropdown-item {
        color: white;
    }
    input.search {
        background: #262626;
    }
    .input-group.tsbSearch input {
        background: transparent;
        padding: 27px;
    }
    .bg-dark {
        overflow: scroll;
    }
}


/* Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 992px) and (max-width: 1199.98px) {
    .dropdown:hover .dropdown-menu {
        display: block;
    }
}

@media (min-width: 1200px) {
    .navbar-collapse ul li.nav-item {
        float: left;
    }
    .dropdown-menu ul li.nav-item {
        width: 200px;
    }
    .dropdown-menu ul li.nav-item h2 {
        font-size: 30px;
        padding-top: 90px;
        line-height: 34px;
        font-weight: bold;
    }
    .dropdown:hover .dropdown-menu {
        display: block;
    }
}


/*carousel slider css */

.carousel-item .carouselBox {
    float: left;
}

#selectSizeboxArea a.gray {
    position: absolute;
    right: 0;
    color: #A6A1A1;
    font-size: 13px;
    text-decoration: underline!important;
}

#selectSizeboxArea a.gray:hover {
    color: #333;
}

.headerBottom {
    padding: 15px 0 0 0;
    background: #F2EDF1;
    height: 62px;
}

.search {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}