@media only screen and (max-width: 1024px) {
  

  .text-xxl-bold {
    font-size: 36px;
    line-height: 44px;
    font-family: 'NeuzeitS LT BookH';
  }

  .responsive-header-margin {
    padding-top: 300px;
  }

  .trademarks-img-wrapper {
    flex: 0 0 50%;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 45px;
    padding: 0px;
  }





}





@media only screen and (max-width: 992px) {
  .learn-more-button {
    width: 165px;
    height: 45px;
    box-sizing: content-box;
    border: none;
    line-height: 45px;
    text-align: center;
    margin: 0px auto;
    border-radius: 4px;
    background: #C10019;
    transition: background 0.2s ease-in-out;
  }

  .text-l-bold {
    font-size: 28px;
    line-height: 40px;
    font-family: 'NeuzeitS LT BookH';
  }

  .text-s-link {
    font-size: 16px;
    line-height: 24px;
    font-family: 'NeuzeitS LT Book';
  }

  .text-xl-bold {
    font-size: 28px;
    line-height: 40px;
    font-family: 'NeuzeitS LT BookH';
  }

  .text-ms-link {
    font-size: 16px;
    line-height: 24px;
    font-family: 'NeuzeitS LT Book';
  }

  .imgleftButton {
    margin-top: 20px;
  }
  
  .learn-more-button-white {
    width: 165px;
    height: 45px;
    padding: 0px;
    box-sizing: content-box;
    border: none;
    line-height: 45px;
    text-align: center;
    margin: 0px auto;
    border-radius: 4px;
    background: #F2EDF1;
    transition: background 0.2s ease-in-out;
  }
  
  .learn-more-button-white:hover {
    background: #a6a1a1;
  }
  
  .learn-more-button:hover {
    background: #64000D;
  }


}

@media only screen and (min-width: 1620px) and (max-width: 1720px) {
  .container-1720 {
    width: 1620px;
    max-width: 1620px;
    margin: auto;
  }
}

@media only screen and (min-width: 1500px) and (max-width: 1620px) {

  .container-1720 {
    width: 1500px;
    max-width: 1500px;
    margin: auto;
  }

  .container-1620 {
    width: 1500px;
    max-width: 1500px;
    margin: auto;
  }

  .padding-product-row-4 {
    padding-left: 27px;
    padding-right: 27px;
    padding-top: 74px;
    padding-bottom: 74px;
  }

  .container-row-4 .text-l-bold {
    font-size: 28px;
    line-height: 40px;
    font-family: 'NeuzeitS LT BookH';
  }

  .container-row-3 .padding-h-125 {
    padding-left: 115px; 
    padding-right: 115px;
  }

  .container-row-3 .padding-b-45 {
    padding-bottom: 42px;
  }

  .container-row-3 .text-m-l-bold {
    font-size: 24px;
    line-height: 38px;
    font-family: 'NeuzeitS LT BookH';
  }

  /* All Product CSS */

  

}








@media only screen and (min-width: 1260px) and (max-width: 1500px) {

  .container-1720 {
    width: 1260px;
    max-width: 1260px;
    margin: auto;
  }

  .container-1620 {
    width: 1260px;
    max-width: 1260px;
    margin: auto;
  }

  .container-1240 {
    width: 1000px;
  }

  .padding-product-row-4 {
    padding-left: 23px;
    padding-right: 23px;
    padding-top: 62px;
    padding-bottom: 62px;
  }

  .container-row-4 .text-l-bold {
    font-size: 28px;
    line-height: 40px;
    font-family: 'NeuzeitS LT BookH';
  }

  .container-row-3 .padding-h-125 {
    padding-left: 97px; 
    padding-right: 97px;
  }

  .container-row-3 .padding-b-45 {
    padding-bottom: 35px;
  }

  .container-row-3 .text-m-l-bold {
    font-size: 24px;
    line-height: 38px;
    font-family: 'NeuzeitS LT BookH';
  }
}



@media only screen and (min-width: 1100px) and (max-width: 1260px) {


  .container-1720 {
    width: 1100px;
    max-width: 1100px;
    margin: auto;
  }

  .container-1620 {
    width: 1100px;
    max-width: 1100px;
    margin: auto;
  }


  .container-1240 {
    width: 940px;
  }




  .container-row-4 .text-l-bold {
    font-size: 18px;
    line-height: 28px;
    font-family: 'NeuzeitS LT BookH';
  }

  .container-row-4 .margin-t-80 {
    margin-top: 54px !important;
  }

  .container-row-3 .padding-h-125 {
    padding-left: 60px; 
    padding-right: 60px;
  }

  .container-row-3 .padding-b-45 {
    padding-bottom: 30px;
  }

  .container-row-3 .text-m-l-bold {
    font-size: 24px;
    line-height: 38px;
    font-family: 'NeuzeitS LT BookH';
  }
}






@media only screen and (min-width: 992px) and (max-width: 1100px) {

  .container-1720 {
    width: 992px;
    max-width: 992px;
    margin: auto;
  }

  .container-1620 {
    width: 992px;
    max-width: 992px;
    margin: auto;
  }

  .container-1240 {
    width: 860px;
  }

  .padding-product-row-4 {
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 49px;
    padding-bottom: 49px;
  }

  .container-row-4 .text-l-bold {
    font-size: 18px;
    line-height: 28px;
    font-family: 'NeuzeitS LT BookH';
  }

  .container-row-4 .margin-t-80 {
    margin-top: 49px !important;
  }

  .container-row-3 .padding-h-125 {
    padding-left: 45px; 
    padding-right: 45px;
  }

  .container-row-3 .padding-b-45 {
    padding-bottom: 27px;
  }

  .container-row-3 .text-m-l-bold {
    font-size: 24px;
    line-height: 38px;
    font-family: 'NeuzeitS LT BookH';
  }
}


@media only screen and (min-width: 908px) and (max-width: 992px) {


  .container-1720 {
    width: 1500px;
    max-width: 1500px;
    margin: auto;
  }

  .container-1620 {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
  }

  .padding-t-120 {
    padding-top: 60px;
  }

  .padding-b-80 {
    padding-bottom: 60px;
  }

  .padding-b-60 {
    padding-bottom: 45px;
  }

  .container-1240 {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .container-row-4 {
    flex: 0 0 50%;
  }

  .container-row-3 {
    flex: 0 0 50%;
  }

  .wrapper-row-4 {
    padding-top: 30px;
  }

  .wrapper-row-3 {
    padding-top: 45px;
  }

  .wrapper-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .container-row-4 .text-l-bold {
    font-size: 28px;
    line-height: 40px;
    font-family: 'NeuzeitS LT BookH';
  }

  .container-row-3 .text-m-l-bold {
    font-size: 24px;
    line-height: 38px;
    font-family: 'NeuzeitS LT BookH';
  }

  .container-row-3 .padding-h-125 {
    padding-left: 45px; 
    padding-right: 45px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 908px) {



  .container-1620 {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
  }

  .padding-t-120 {
    padding-top: 60px;
  }

  .padding-b-80 {
    padding-bottom: 60px;
  }

  .padding-b-60 {
    padding-bottom: 45px;
  }

  .container-1240 {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .container-row-4 {
    flex: 0 0 50%;
  }

  .container-row-3 {
    flex: 0 0 50%;
  }

  .wrapper-row-4 {
    padding-top: 30px;
  }

  .wrapper-row-3 {
    padding-top: 45px;
  }

  .wrapper-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .container-row-4 .text-l-bold {
    font-size: 28px;
    line-height: 40px;
    font-family: 'NeuzeitS LT BookH';
  }

  .container-row-3 .text-m-l-bold {
    font-size: 24px;
    line-height: 38px;
    font-family: 'NeuzeitS LT BookH';
  }

  .container-row-3 .padding-h-125 {
    padding-left: 45px; 
    padding-right: 45px;
  }
}



@media only screen and (min-width: 400px) and (max-width: 768px) {

  .container-1620 {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
  }

  .padding-product-row-4 {
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .padding-t-120 {
    padding-top: 60px;
  }

  .padding-b-80 {
    padding-bottom: 60px;
  }

  .padding-b-60 {
    padding-bottom: 45px;
  }

  .margin-t-80 {
    margin-top: 60px;
  }

  .margin-b-20 {
    margin-bottom: 15px;
  }

  .container-1240 {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .container-row-4 {
    flex: 0 0 100%;
  }

  .container-row-3 {
    flex: 0 0 100%;
  }

  .wrapper-row-4 {
    padding-top: 30px;
  }

  .wrapper-row-3 {
    padding-top: 45px;
  }

  .wrapper-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .container-row-4 .text-l-bold {
    font-size: 28px;
    line-height: 40px;
    font-family: 'NeuzeitS LT BookH';
  }

  .container-row-3 .text-m-l-bold {
    font-size: 24px;
    line-height: 38px;
    font-family: 'NeuzeitS LT BookH';
  }

  .container-row-3 .padding-h-125 {
    padding-left: 45px; 
    padding-right: 45px;
  }
}

@media only screen and (min-width: 276px) and (max-width: 400px) {
  .container-1620 {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
  }

  .padding-product-row-4 {
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .padding-t-120 {
    padding-top: 60px;
  }

  .padding-b-80 {
    padding-bottom: 60px;
  }

  .padding-b-60 {
    padding-bottom: 45px;
  }

  .margin-t-80 {
    margin-top: 60px;
  }

  .margin-b-20 {
    margin-bottom: 15px;
  }

  .container-1240 {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .container-row-4 {
    flex: 0 0 100%;
  }

  .container-row-3 {
    flex: 0 0 100%;
  }

  .wrapper-row-4 {
    padding-top: 30px;
  }

  .wrapper-row-3 {
    padding-top: 45px;
  }

  .wrapper-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .container-row-4 .text-l-bold {
    font-size: 28px;
    line-height: 40px;
    font-family: 'NeuzeitS LT BookH';
  }

  .container-row-3 .text-m-l-bold {
    font-size: 24px;
    line-height: 38px;
    font-family: 'NeuzeitS LT BookH';
  }

  .container-row-3 .padding-h-125 {
    padding-left: 45px; 
    padding-right: 45px;
  }

  li.imgleftsmallHead {
    font-size: 14px;
    line-height: 20px;
    font-family: 'NeuzeitS LT Book';
  }

  .right-banner-text-big-bold-top {
    font-size: 24px;
    line-height: 38px;
    font-family: 'NeuzeitS LT BookH';
    letter-spacing: 4px;
    margin-top: 20px;
    margin-bottom: 0px;
  }

  .right-banner-text-big-bold-bottom {
    font-size: 24px;
    line-height: 38px;
    font-family: 'NeuzeitS LT BookH';
    letter-spacing: 4px;
    margin-bottom: 12px;
  }

  .right-banner-text-big {
    font-size: 24px;
    line-height: 38px;
    font-family: 'NeuzeitS LT Book';
  }

}


/* After thatin mobile, everything is in one row. Therefore, styles will be normal as they are except from flex values. */