@media only screen and (min-width: 1024px) {
  .mobile-buttons-section {
    display: none !important;
  }
  .list-mobile-section {
    display: none !important;
  }
}

.mobile-buttons-section {
  float: right;
  padding-bottom: 10px;
}

.list-mobile-search-icon {
  color: gray;
  font-size: 28px;
}

.list-mobile-search-icon-link {
  position: absolute;
  top: 27px;
  left: 24px;
}

.list-mobile-input {
  width: 100%;
  border-radius: 20px;
  border: none;
  padding: 10px;
  opacity: 0.1;
  padding-left: 40px;
  padding-right: 20px;
  background: white;
}

.ionicon-icon {
  font-size: 28px;
  color: white;
  padding: 8px;
}

.list-mobile-section {
  position: absolute;
  background: #191919;
  width: 100vw;
  height: 100vh;
  top: 60px;
  left: 0;
}

.list-mobile-container {
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.list-mobile-wrapper {
  width: 100%;
  padding: 20px;
}

.list-mobile-header {
  padding-bottom: 15px;
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.list-mobile-content:last-child{
  border: none !important;
}

.list-mobile-content {
  border-bottom: 1px solid #5A5A5A;
}

.list-mobile-content-link {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.list-mobile-content-container {
  margin-top: 5px;
}

.list-mobile-img-container {
  width: 100%;
}

.list-mobile-content-img {
  width: 100%;
  height: auto;
  max-width: 367px;
}

.list-mobile-content-wrapper {
  width: 100%;
}

.list-mobile-content-wrapper-for-img {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 40px;
}

.explore-more-container {
  width: 100%;
}

.explore-more-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.list-mobile-ul {
  padding: 0;
}

.no-display {
  display: none;
}