.navigation-bar-section {
  position: fixed;
  width: 100vw;
  background: transparent;
  padding: 0;
  margin: 0;
  transition: background 0.2s ease-in-out;
  z-index: 5000;
}
.scrolled > .navigation-bar-section {
  background: #191919 !important;
}

.navigation-bar-container {
  width: 100%;
}

.navigation-bar-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.navigation-bar-left-container {
  width: 50%;
  min-width: 50%;
  float: left;
}

.navigation-bar-left-wrapper {
  width: 100%;
}

.navigation-bar-right-container {
  float: right;
  width: 50%;

}

.navigation-bar-right-wrapper {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  float: right;
}

.navigation-bar-right-button-list {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  margin-bottom: 0 !important;
}

.navigation-bar-right-input {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 40px;
  padding-right: 20px;
  border: none;
  border-radius: 20px;
  opacity: 0.5;
}

.navigation-bar-right-input-icon {
  color: white;
}

.navigation-bar-right-input-icon-link {
  position: absolute;
  top: 6px;
  font-size: 26px;
  transform: translate(40%, 30%);
  z-index: 1000;
}

@media only screen and (max-width: 1024px) {
  .navigation-bar-right-wrapper {
    display: none;
  }
}