



@media only screen and (max-width: 1500px) {

  .tvs-dropdown-right-image {
    width: 100% !important;
  }

  .right-banner-text-big-bold-top {
    font-size: 44px;
    line-height: 56px;
    font-family: 'NeuzeitS LT BookH';
    letter-spacing: 4px;
    margin-top: 40px;
    margin-bottom: 12px;
  }
  
  .right-banner-text-big-bold-bottom {
    font-size: 44px;
    line-height: 56px;
    font-family: 'NeuzeitS LT BookH';
    letter-spacing: 4px;
    margin-bottom: 40px;
  }
  
  .right-banner-text-big {
    font-size: 44px;
    line-height: 56px;
    font-family: 'NeuzeitS LT Book';
  }

  .nav-item:hover {
    background: #191919;
  }

.nav-item {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .nav-item-search {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 60px;
    color: white;
    cursor: pointer;
  }



  .text-l-res {
    font-size: 28px !important;
    line-height: 40px !important;
  }
  
  .text-m-l-res {
    font-size: 24px !important;
    line-height: 38px !important;
  }
  
  .text-m-res {
    font-size: 18px !important;
    line-height: 28px !important;
  }
  
  .text-m-s-res {
    font-size: 16px !important;
    line-height: 24px !important;
  }
  
  .text-s-res {
    font-size: 14px !important;
    line-height: 20px !important;
  }
  
  .text-xs-res {
    font-size: 12px !important;
    line-height: 16px !important;
  }
  
  .text-xxs-res {
    font-size: 12px !important;
    line-height: 16px !important;
  }






  .text-l-bold-res {
    font-size: 28px !important;
    line-height: 40px !important;
  }
  
  .text-m-l-bold-res {
    font-size: 24px !important;
    line-height: 38px !important;
  }
  
  .text-m-bold-res {
    font-size: 18px !important;
    line-height: 28px !important;
  }
  
  .text-m-s-bold-res {
    font-size: 16px !important;
    line-height: 24px !important;
  }
  
  .text-s-bold-res {
    font-size: 14px !important;
    line-height: 20px !important;
  }
  
  .text-xs-bold-res {
    font-size: 12px !important;
    line-height: 16px !important;
  }
  
  .text-xxs-bold-res {
    font-size: 12px !important;
    line-height: 16px !important;
  }

  .tvs-dropdown-left-bottom-element {
    max-width: 20%;
    flex: 0 0 20%;
    padding-top: 40px !important;
    padding-bottom: 40px !important;
    margin: 10px !important;
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 1260px) {
  .tvs-dropdown-left-bottom-element {
    max-width: 20%;
    flex: 0 0 20%;
    padding-top: 28px !important;
    padding-bottom: 28px !important;
    margin: 10px !important;
    flex-wrap: wrap;
  }
}








@media only screen and (max-width: 1100px) {
  .right-banner-text-big-bold-top {
    font-size: 36px;
    line-height: 44px;
    font-family: 'NeuzeitS LT BookH';
    letter-spacing: 4px;
    margin-top: 28px;
    margin-bottom: 12px;
  }
  
  .right-banner-text-big-bold-bottom {
    font-size: 36px;
    line-height: 44px;
    font-family: 'NeuzeitS LT BookH';
    letter-spacing: 4px;
    margin-bottom: 40px;
  }
  
  .right-banner-text-big {
    font-size: 36px;
    line-height: 44px;
    font-family: 'NeuzeitS LT Book';
  }

  .nav-item:hover {
    background: #191919;
  }

  .nav-item {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 60px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .nav-item-search {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 60px;
    color: white;
    cursor: pointer;
  }
}




@media only screen and (min-width: 576px) and (max-width: 992px) {

  .nav-item {
    width: 100%;
  }


  .right-banner-text-big-bold-top {
    font-size: 62px;
    line-height: 72px;
    font-family: 'NeuzeitS LT BookH';
    letter-spacing: 4px;
    margin-top: 50px;
    margin-bottom: 12px;
  }
  
  .right-banner-text-big-bold-bottom {
    font-size: 62px;
    line-height: 72px;
    font-family: 'NeuzeitS LT BookH';
    letter-spacing: 4px;
    margin-bottom: 40px;
  }
  
  .right-banner-text-big {
    font-size: 62px;
    line-height: 72px;
    font-family: 'NeuzeitS LT Book';
  }

  .PrBoxList {
    padding: 0 20px;
}

  .PrBox {
    max-width: 50% !important;
    flex: 0 0 50% !important;
  }
}





@media only screen and (max-width: 576px) {

  ul.leftImagecontent {
    position: absolute;
    top: 20%;
  }

  .right-banner-text-big-bold-top {
    font-size: 28px;
    line-height: 40px;
    font-family: 'NeuzeitS LT BookH';
    letter-spacing: 4px;
    margin-top: 28px;
    margin-bottom: 0px;
  }
  
  .right-banner-text-big-bold-bottom {
    font-size: 28px;
    line-height: 40px;
    font-family: 'NeuzeitS LT BookH';
    letter-spacing: 4px;
    margin-bottom: 20px;
  }
  
  .right-banner-text-big {
    font-size: 28px;
    line-height: 40px;
    font-family: 'NeuzeitS LT Book';
  }

  li.imgleftsmallHead {
    font-size: 16px;
    line-height: 24px;
    font-family: 'NeuzeitS LT Book';
  }
  .left-banner {
    display: none;
  }
  .after-banner {
    display: block;
  }

  .PrBox {
    max-width: 90% !important;
    flex: 0 0 90% !important;
    margin: auto;
  }
}


