.product-banner-wrapper {
  width: 100%;
}

.product-banner-section {
  width: 100%;
  height: 1080px;
  background-size: cover;
}

.product-banner-container {
  width: 100%;
  padding-left: 150px;
  padding-right: 50px;
  padding-top: 150px;
}

.product-banner-wrapper {
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.product-banner-left-container {
  padding-right: 150px;
}

.product-banner-left-wrapper {
  width: 670px;
  min-width: 670px;;
}

.product-banner-screen-size-button-wrapper {
  margin-right:10px;
}

.border-for-black-bg .product-banner-screen-size-button-wrapper{
  border: 1px solid #A6A1A1;
}

.border-for-black-bg .product-banner-screen-size-button-wrapper:hover{
  border: 1px solid white;
}

.product-banner-screen-size-button-wrapper:hover .product-banner-screen-size-code-for-white-bg {
  border-top: 1px solid #191919;
  color: #191919;
}

.product-banner-screen-size-button-wrapper:hover  .product-banner-screen-size {
  color: #191919;
}

.border-for-red-bg .product-banner-screen-size-button-wrapper {
  border: 1px solid #A6A1A1;
}

.border-for-white-bg .product-banner-screen-size-button-wrapper {
  border: 1px solid black;
}

.border-for-black-bg .active {
  border: 1px solid #C3A376;
}

.border-for-black-bg .active:hover {
  border: 1px solid #D5B891;
}

.border-for-red-bg .active {
  border: 1px solid black;
}

.border-for-white-bg .active {
  border: 1px solid red;
}

.border-for-black-bg .active .product-banner-screen-size-code {
  border-top: 1px solid #C3A376;
  background: rgba(195, 163, 118, 0.25);
  height: 32px;
  line-height: 32px;
}

.border-for-black-bg .active:hover .product-banner-screen-size-code{
  border-top: 1px solid #D5B891;
  background: rgba(213, 184, 145, 0.25);
}

.border-for-red-bg .active .product-banner-screen-size-code {
  border-top: 1px solid black;
  background: rgba(0, 0,0, 0.25);
  height: 32px;
  line-height: 32px;
}

.border-for-white-bg .active .product-banner-screen-size-code {
  border-top: 1px solid red;
  background: rgba(255, 0, 0, 0.25);
  height: 32px;
  line-height: 32px;
}



.product-banner-screen-size-code-for-red {
  border-top: 1px solid #A6A1A1;
  background: rgba(255, 255, 255, 0.25);
  height: 32px;
  line-height: 32px;
}

.product-banner-screen-size-code-for-grey {
  border-top: 1px solid #A6A1A1;
  background: rgba(255, 255, 255, 0.25);
  height: 32px;
  line-height: 32px;
}



.product-banner-screen-size-code-for-white-bg {
  border-top: 1px solid #A6A1A1;
  background: rgba(0, 0, 0, 0.25);
  height: 32px;
  line-height: 32px;
}




.product-banner-screen-size-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.product-banner-size-wrapper {
  width: 124px;
  text-align: center;
}

.product-banner-screen-size {
  height: 63px;
  line-height: 63px;
}

@font-face { font-family: "Ionicons"; src: url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.eot?v=2.0.1"); src: url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.eot?v=2.0.1#iefix") format("embedded-opentype"), url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.ttf?v=2.0.1") format("truetype"), url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.woff?v=2.0.1") format("woff"), url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.svg?v=2.0.1#Ionicons") format("svg"); font-weight: normal; font-style: normal; }

.cc-CCInlineButton-module-button_2y1Rn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  height: 60px !important;
  width: 248px !important;
  text-align: center !important;
  font-size: 18px !important;
  line-height: 60px !important;
  white-space: nowrap;
  border-radius: 20px;
  border: 1px solid #000;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.cc-CCInlineButton-module-button_2y1Rn::after {
  font-family: "Ionicons";
  content: "\f370";
  margin-left: 30px;
  font-size: 24px;
  height: 60px !important;
  line-height: 60px;
}

/* .buy-button-script-wrapper {
  margin-top: 168px;
} */


.what-size-link {
  margin-top: 30px;
}




.product-banner-right-container {
  width: 920px;
  max-width: 920px;
}


.product-banner-right-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.product-banner-img-visible {
  display: block;
}

.product-banner-thumbnail-border {
  background: rgba(255, 255, 255, 0.25);
}

.product-banner-thumbnail {
  width: 46px !important;
  height: 28px !important;
  max-width: 46px !important;
  max-height: 28px !important;
  box-sizing: content-box;
  padding: 10px;
  cursor: pointer;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-clip: content-box !important;
  user-select: none;
  transform: translateY(20%);
}

/* ::-webkit-scrollbar {
  width: 0;
  height: 0;
} */






.trademarks-list-section {
  width: 100%;
}

.trademarks-list-container {
  padding-left: 216px;
  padding-top: 45px;
  padding-right: 216px;
  padding-bottom: 45px;
  width: 100%;
  margin: 0;
  
}

.trademarks-list-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

ul {
  padding-left: 0px !important;
}

.trademarks-img-wrapper {
  flex: 0 0 20%;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  margin-top:80px
}

.trademarks-img {
  width: 100%;
  height: auto;
}

.dark-image-area-header-section {
  width: 100%;
  padding-top: 120px;
}

.dark-image-area-header-container {
  margin-left: 102px;
  margin-right: 102px;
  background: rgba(255, 255, 255, 0.25);
  
}

.dark-image-area-header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100px;
  line-height: 100px;
}

.dark-image-area-header-right-list {
  float: right;
  display: flex;
  flex-direction: row;
}

.dark-image-area-header-right-list-element {
  margin-right: 60px;
}

.dark-image-area-header-text {
  height: 100px;
  line-height: 100px;
  margin: 0;
  padding-left: 50px;
}



.text-image-area-text-area {
  text-align: center;
}



.dark-image-area-center-area {
  padding-top: 110px;
  padding-bottom: 1200px;
}

.dark-image-area-center-area-header {
  width: 40%;
  margin: auto;
}

.dark-image-area-center-area-text {
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.learn-more-button-nomargin {
  width: 248px;
  height: 60px;
  box-sizing: content-box;
  border: none;
  height: 60px;
  line-height: 60px;
  text-align: center;
  border-radius: 4px;
  background: #C10019;
  transition: background 0.2s ease-in-out;
}

.learn-more-button-dark-red {
  width: 248px;
  height: 60px;
  box-sizing: content-box;
  border: none;
  height: 60px;
  line-height: 60px;
  text-align: center;
  margin: 0px auto;
  border-radius: 4px;
  background: #64000D;
  transition: background 0.2s ease-in-out;
}

.learn-more-button-gold {
  width: 248px;
  height: 60px;
  box-sizing: content-box;
  border: none;
  height: 60px;
  line-height: 60px;
  text-align: center;
  margin: 0px auto;
  border-radius: 4px;
  /*if no support for background-clip*/
  background: linear-gradient(120deg, #D0B185, #D0B185, #D0B185,  #C3A376 , #E0C6A2 , #FFFFFF , #E0C6A2 , #C3A376 , #D0B185, #D0B185, #D0B185 );
  transition: background 0.2s ease-in-out;
}

.sizing-border {
  box-sizing: border-box;
}

.sizing-content {
  box-sizing: content-box;
}

.learn-more-button:hover {
  background: #64000D;
}


.learn-more-button-text {
  line-height: 49px;
  margin: 0;
}

.div-center {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.dark-image-area-button {
  margin-top: 60px;
}


.allproduct-specs-section {
  background: #262626;
  width: 100%;
  padding-bottom: 120px;
}

.allproduct-specs-container {
  max-width: 1620px;
  margin: auto;
}

.allproduct-specs-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.allproduct-specs-card-container {
  flex: 0 0 25%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  border-radius: 8px;;
}

.allproduct-specs-card-img-wrapper {
  max-width: 385px;
  background: #191919;
}

.allproduct-specs-card-img {
  max-width: 385px;
  height: auto;
}


.allproduct-specs-header-container {
  padding-top: 115px;
  padding-bottom: 60px;
}








.product-detail-photo-card-section {
  width: 100%;
  margin-bottom: 120px;
  margin-top: 120px;
}

.product-detail-photo-card-section-header {
  margin-bottom: 60px;
}

.product-detail-photo-card-container {
  width: 1620px;
  max-width: 1620px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.product-detail-photo-card-wrapper {
  flex: 0 0 33%;
}

.product-detail-photo-card-wrapper:last-of-type {
  flex: 0 0 33%;
}

.product-detail-photo-card-inner-wrapper {
  width: 522px;
  margin: auto;
}

.product-detail-photo-card-img-container {
  width: 100%;
  height: auto;
}

.product-detail-photo-card-upper-container {
  padding-top: 60px;
  padding-right: 60px;
  padding-left: 60px;
  padding-bottom: 0px !important;
  background: #F2EDF1;
  margin-bottom: 0px;
}

.product-detail-photo-card-lower-container {
  padding-top: 30px;
  padding-righT: 60px;
  padding-left: 60px;
  padding-bottom: 60px;
  background: #F2EDF1;
}

.product-detail-photo-card-img {
  width: 100%;
  height: auto;
}

.product-detail-photo-card-header {
  margin: 0;
}

.product-detail-photo-card-text {
  margin: 0px;
}

.product-detail-photo-card-link {
  margin-top: 60px;
}