.modal-fullscreen {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2020;
}

.modal-fullscreen__in {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    z-index: 2021;
}

.centered-image-big {
    width: 25%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.text-underline {
    text-decoration: underline;
}

.height-auto {
    height: auto;
}

.white-space-nowrap {
    white-space: nowrap;
}

.bg--clip-border{
    background-clip: border-box;
}

.bg--clip-content{
    background-clip: content-box;
}

.index-text-container {
    position: relative;
    top: 40%;
    transform: translateY(-50%);
}

.new-index-text-container {
    /* position: relative; */
    position: absolute;
    top: 37%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.logo--big {
    max-width: 320px;
}

.home-bg-img {
    background-image: url("/assets/img/home/web-banner.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 66.64%;
}

@media (min-width: 320px) and (max-width: 480px) {

    li {
       font-size: 20px !important;
       
    }
 
     .new-index-text-container {
        text-align: center;
        left: 50% !important;
        top: 51% !important;
     }   

     .home-bg-img {
        background-image: url("/assets/img/home/mobil.png");
        padding-top: 274.64%;
     }
 
 }


 @media (min-width: 768px) and (max-width: 1024px){
  
    li {
       font-size: 20px !important;
       
    }
 
     .new-index-text-container {
        left: 26% !important;
     }   

     .home-bg-img {
        background-image: url("/assets/img/home/tablet.png");
     }
    
  }


.max-width_1700 {
    max-width: 1700px;
    margin-left: auto;
    margin-right: auto;
}

.tv-tn-img {
    overflow-y: scroll;
    max-height: 310px;
    -ms-overflow-style: none;
}

.tv-tn-img::-webkit-scrollbar {
    display: none;
}

.tv-tn-video {
    -ms-overflow-style: none;
}

.tv-tn-video::-webkit-scrollbar {
    display: none;
}