{% extends 'base.html.twig' %}
{% block body %}
<section>
    <div class="full-section bg-red-carousel-org">
        <div class="padding-t-xxxl padding-b-xxl">
          <p class="text-xl-bold color-white text-align-center">About Us</p>
        </div>
      </div>

      <div class="section-full padding-t-l padding-b-60">
        <div class="col-sm-12">

            <div class="newsText">
              <h3 class="text-align-center">About Us</h3><p>Bringing more colour, passion and power to home entertainment, Toshiba is spear heading the future of TV through aspirational design and trend-setting innovation.</p><p>Founded in 1875, the brand is building on years of technical expertise, having already achieved international acclaim with the release of numerous world-first and Japanese-first products and services, including the launch of the first ever colour TV in 1972.</p><p>With such a strong technological heritage, Toshiba is now set to enthrall the next generation of viewers, powering the imagination and unlocking emotion using cutting-edge visual and audio technologies. Expanding the TV colour spectrum and delivering spectacular, life-like picture clarity, Toshiba promises to deliver a deeply immersive viewing experience, intensifying the impact of every on-screen thrill and adventure.</p><p>With Toshiba, the ingenuity of each TV design can be immediately felt and experienced. Bearing the hallmarks of Toshiba’s unique brand identity, our TVs are built to harmonize with the surrounding environment, offering minimalist and ultra-sleek finishes as well as user-friendly and intuitive design details, such as the brand’s distinctive ring motif. To ensure a more authentic audio experience, our TVs’ slim bezel frames are also made to accommodate the latest audio technologies and solutions.</p><p>Determined to uphold and build upon its reputation for value and high quality, Toshiba continues to set and to regulate the Quality Assurance standards for its TVs, conducting rigorous engineer testing on all models.</p><h3 class="text-align-center">Toshiba/Vestel Partnership</h3><p>Building on decades of technical know-how, Toshiba remains at the cutting-edge of essential design and must-have innovation. Tried, tested and affectionately prized by millions of people around the globe, this much-loved brand is still delivering the high quality and user-friendly TVs for which it has become so well-known.</p><p>Strengthened by their pan-European licensing agreement, Vestel and Toshiba have reinforced their manufacturing power and further extended their renowned engineering capabilities - all to bring viewers more value and more of the latest TV technologies.</p><p>Collaborating on new designs and innovation, both companies are working together to move the brand forward, combining their expertise and resource to ensure the creation of a dynamic and aspirational TV product range.</p><p>Whilst Toshiba’s Japanese-led design team is still integral to the design of each TV, the vast manufacturing expertise and production capacity of Vestel is reinvigorating the brand proposition, driving the scale and volume required to deliver the genuine value for which Toshiba has always been known.</p>

            </div>
          </div>
      </div>
</section>
{% endblock %}