{% extends 'base.html.twig' %}
{% block body %}
<section>
  <div class="full-section bg-red-carousel-org">
    <div class="padding-t-xxxl padding-b-xxl">
      <p class="text-xl-bold color-white text-align-center">Add new product</p>
    </div>
  </div>

  <div class="full-section">
    <div class="container-1620">
      <div class="wrapper-row-align-center-center">
        <div class="flex-0064">

          <div class="full-section padding-t-s">
            <div class="text-align-center">
              <p class="text-s color-red-500" id="idForm-0-error-text"></p>
            </div>
          </div>
          <form class="margin-t-xxs margin-b-xl" id="idForm-0" method="POST" enctype="multipart/form-data">
            <div class="flex-between-wrap-start padding-t-xs ">
              <div class="container-row-2 margin-t-xs">
                <input class="register-input width-100 padding-l-s" type="text" name="model" placeholder="Model Number*" id="idForm-0-input-0">
              </div>
              <div class="container-row-2 margin-t-xs">
                <input class="register-input width-100 padding-l-s" type="text" name="serial" placeholder="Serial Number*" id="idForm-0-input-1">
              </div>
              <div class="container-row-2 margin-t-xs">
                <input class="register-input width-100 padding-l-s" type="text" autocomplete="off" name="date" placeholder="Date of purchase (dd-mm-yy)*" id="idForm-0-input-2">
              </div>
              <div class="container-row-2 margin-t-xs">
                <input class="register-input width-100 padding-l-s" type="text" name="place" placeholder="Where did you purchase your product?*" id="idForm-0-input-3">
              </div>
              <div class="flex-0064 margin-t-xs">
                <input class="register-input width-100 padding-l-s" type="file" name="proof" placeholder="Proof of purchase*" id="idForm-0-input-4">
                <label for="idForm-0-input-4" class="custom-file-upload">
                  Proof of purchase*
              </label>
              </div>
              <button name="submit" class="learn-more-button margin-t-xs" id="idForm-button-0">Upload</button>
            </div>
            <div class="padding-v-xxs">
              <p class="margin-b-0 color-grey-500 text-xs">Accepted file format: .jpeg, .png, .pdf  |  Maximum file size: 3MB</p>
            </div> 
          </form>
          <div class="container-1620">
            <div class="wrapper-row-align-center-center">
              <div class="flex-0064">
          
      {{message}}
        </div>
      </div>
      </div>
    </div>
  <script>
    window.onload = function() {
      $('#idForm-0-input-2').datepicker();
      var $datepicker = $('#ui-datepicker-div');
      $datepicker.css({
        top: '1000px',
        left: '1000px'
      });
    }
    
  </script>
  <script type="text/javascript" src="/assets/js/navbarStyler.js"></script>
  <script>navbarStyler('black');</script>
</section>
{% endblock %}    
