{% extends 'base.html.twig' %}
{% block body %}
<div class="section filtersPart bg-black-gold-page" >

        {% set generalColor = "" %}
        {% set filterColor = "bg-white-opacity-03" %}
        {% set filterTextColor = "color-grey-700" %}
        {% set filterSelector = "filter-selector-red" %}
        {% set filterSelectorTextColor = "color-red-500" %}
        {% set colorForNavbar = "grey" %}



    {% include 'filterbar.html.twig' %}

    <div class="filterStyleCatled-tv"  data-category="0" id="main-append-div">


            {% set allProducts = ["UltraHD 4K TV", "Android TV","Smart TV","FULL HD & HD TV"] %}
            <!--filter home search section end-->
            {% for catName in allProducts %}
                {% set css = [] %}
                {% set catID = 1 %}
                {% if catName == "UltraHD 4K TV" %}
                {% set css = ["bg-black-gold", "", "color-white", "all-product-box-list", "all-product-box-list-element", "color-grey-100", "all-product-box-button", "bg-gold", "color-gold-500", "color-gold-500", "color-grey-100", "color-gold-gradient","oled"] %}

                {# {% elseif catName == "XUHD TV" %}
                {% set catID = 7 %}
                {% set css = ["bg-white", "bg-red-carousel-content", "color-white", "all-product-box-list-for-red-bg", "all-product-box-list-element-for-red-bg", "color-grey-100", "all-product-box-button", "bg-red-700", "color-white", "color-grey-700", "color-grey-100","xuhd"] %} #}

                {% elseif catName == "Android TV" %}
                {% set catID = 6 %}
                {% set css = ["bg-white", "bg-red-carousel-content", "color-white", "all-product-box-list-for-red-bg", "all-product-box-list-element-for-red-bg", "color-grey-100", "all-product-box-button", "bg-red-700", "color-white", "color-grey-700", "color-grey-100","uhd"] %}

                {% elseif catName == "FULL HD & HD TV" %}
                {% set catID = 3 %}
                {% set css = ["bg-white", "bg-grey-100-content", "color-grey-700", "all-product-box-list", "all-product-box-list-element", "color-grey-700", "all-product-box-button", "bg-red-500", "color-white", "color-grey-700", "color-grey-700","led"] %}

                {% elseif catName == "Smart TV" %}
                {% set catID = 2 %}
                {% set css = ["bg-white", "bg-grey-100-content", "color-grey-700", "all-product-box-list", "all-product-box-list-element", "color-grey-700", "all-product-box-button", "bg-red-500", "color-white", "color-grey-700", "color-grey-700","smart"] %}

                {# {% else %}
                {% set catID = 4 %}
                {% set css = ["bg-white", "bg-red-carousel-content", "color-white", "all-product-box-list-for-red-bg", "all-product-box-list-element-for-red-bg", "color-grey-100", "all-product-box-button", "bg-red-500", "color-white", "color-grey-700" ,"color-grey-700","oth"] %} #}

                {% endif %}


                <div class="full-section result padding-b-120 {{css[0]}} cat_{{css[11]}} ">
                    <div class="container-1620">
                      <div class="text-align-center responsive-header-margin filtersPageh" >
                          <p class="text-xxl-bold {% if catName == "OLED TV" %} color-gold-gradient {% else %} {{css[9]}} {% endif %}">
                              {{catName | raw}}
                          </p>
                      </div>
                      <div class="filterLoading showDefault"></div>
                      <div class="noResultByFilter">No matching products to display </div>
                      <div class="flex-between-wrap-3 filterRes filterResType{{catID}}">
                        </div>
                    </div>
                </div>

{#


<div class="full-section result padding-b-120 {{css[0]}} ">
    <div class="container-1620">
      <div class="text-align-center responsive-header-margin filtersPageh" >
          <p class="text-xxl-bold {% if catName == "OLED TV" %} color-gold-gradient {% else %} {{css[9]}} {% endif %}">
              {{catName | raw}}
          </p>
      </div>
      <div class="filterLoading"></div>
      <div class="noResultByFilter">No matching products to display </div>



        <div class="flex-between-wrap-3 filterRes">
         {% for serie,serieVal in value %}

            <div style="display:none !important;" class="padding-t-xs  container-row-3 {{css[1]}}">
                <div class="text-align-center wrapper-column-center-center width-100">
                    <div class="width-80 margin-b-m">
                        <a href="{{ app.request.baseUrl }}/{{country.code}}/{{lang.code}}/product-detail/{{serieVal[0][0].link}}" class="width-100">
                            <div class="width-100">
                                <img class="cursor-pointer" style="width: 100%;" src=" {{ serieVal[0][0].image }}"/>
                            </div>
                        </a>
                    </div>
                    <p class="height-for-card-header width-for-card-header {{css[2]}} text-m-l-bold overflow-wrap">{{ serie }}</p>
                    <!-- <p class="margin-b-s margin-t-xs color-grey-400 text-xs">{{serieVal[0][0].name}}</p> -->
                    <ul class="{{css[3]}}">
                    {% for productSerie in serieVal %}
                    {% if productSerie[0] is defined %}
                        <li class="{{css[4]}} {{css[5]}}">

                        <a href = "{{ path('getProductBySef', { 'country': country.code, 'language': lang.code, 'productLink' :productSerie[0].link }) }}"><p class="cursor-pointer text-s margin-b-0 line-height-inherit {{css[10]}}">{{ productSerie[0].inc }}</p></a>

                        </li>
                         {% endif %}
                    {% endfor %}
                    </ul>
                    <a href="{{ app.request.baseUrl }}/{{country.code}}/{{lang.code}}/product-detail/{{serieVal[0][0].link}}" class="cursor-pointer width-100">
                        <button class="margin-b-xs {{css[6]}} {{css[7]}} text-xs {{css[8]}}">
                            Learn more
                        </button>
                    </a>
                </div>
            </div>

                    {% endfor %}
        </div>
    </div>
</div>


#}

            {% endfor %}
        </div>
    </div>
    <script>
        $(window).scroll(function() {
            $('#filterHeader').toggleClass('black-bg', $(this).scrollTop() > 50);
        });
    </script>
    <script type="text/javascript" src="/assets/js/filter/allProductFilter.js"></script>
    <!-- <script type="text/javascript" src="/assets/js/mobileFilterHandler.js"></script> -->
    <script type="text/javascript" src="/assets/js/navbarStyler.js"></script>
    <!-- <script type="text/javascript" src="/assets/js/filterHandler.js"></script> -->
    <script>navbarStyler('black');</script>
{% endblock %}
