{% extends 'base.html.twig' %}
{% block body %}
<section>
  <div class="container-fluid pt-5 pb-14 bg--light-grey">
    <div class="container text-center pt-5 w-100">
      <div class="w-100 d-flex flex-row justify-content-center align-items-center">
        <img class="logo--big w-25 height-auto" src="/assets/img/Logo_AndroidTV_Black_Toshiba.png"/>
      </div>
      <h1 class="pt-1 mb-0">TV that fits perfectly into your world</h1>
    </div>
  </div>

  <div class="container-1620 mt-n10">
    <div class="width-100">
      <div class="max-width_1700 width-100">
        <img class="height-auto width-100" src="/assets/img/toshiba-tiny/Toshiba_Connect_TV_UI_Stand.png" />
      </div>
    </div>
  </div>




  <div class="container-1620 position-relative pb-1">

		<div class="sub-header sub-header--pdp sub-header--light sub-header__marker">

			<div class="sub-header__title">

				<h3>Android TV</h3>

			</div>

			<div class="sub-header__navigation">

				<ul>

					<li>
						<a href="#overview">Overview</a>
					</li>

					<li>
						<a href="#assistant">The Google Assistant</a>
					</li>

					<li>
						<a href="#apps">Apps</a>
					</li>

					<li>
						<a href="#chromecast">Chromecast built-in</a>
					</li>

					<li>
						<a href="#features">Features</a>
          </li>

          <li>
						<a href="#model">Model</a>
					</li>

				</ul>

			</div>

		</div>

	</div>






  <div class="section container-fluid pt-6" id="overview">
    <div class="container pb-3">
      <div class="text-center">
        <h4 class="col-9 margin-auto mb-0">
          Explore thousands of movies, shows, games and get answers to your questions on the big screen with Android TV and Google Voice Assistant. Plus, with Chromecast built-in, simply cast movies, shows and photos from all your family’s devices.
        </h4>
        
      </div>

    </div>








    <div class="container-fluid">

      <div class="container">
  
        <div class="row">
  
          <div class="col-12">
  
            <div class="features">
  
  
              <div class="features__item">
  
                <div class="features__container px-md-3 px-xl-4">
  
                  <div class="features__image">
  
                    <img src="/assets/img/Logo_HDR_MonoBlack_Toshiba.png" alt="4K HDR" />
  
                  </div>
  
                </div>
  
              </div>

              <div class="features__item">
  
                <div class="features__container px-md-3 px-xl-4">
  
                  <div class="features__image">
  
                    <img src="/assets/img/dolbyvision.png" alt="4K HDR" />
  
                  </div>
  
                </div>
  
              </div>

              <div class="features__item">
  
                <div class="features__container px-md-3 px-xl-4">
  
                  <div class="features__image">
  
                    <img src="/assets/img/hdrid.png" alt="4K HDR" />
  
                  </div>
  
                </div>
  
              </div>

              <div class="features__item">
  
                <div class="features__container px-md-3 px-xl-4">
  
                  <div class="features__image">
  
                    <img src="/assets/img/widecolor.png" alt="4K HDR" />
  
                  </div>
  
                </div>
  
              </div>

              <div class="features__item">
  
                <div class="features__container px-md-3 px-xl-4">
  
                  <div class="features__image">
  
                    <img src="/assets/img/netflix.png"  alt="4K HDR" />
  
                  </div>
  
                </div>
  
              </div>

              <div class="features__item">
  
                <div class="features__container px-md-3 px-xl-4">
  
                  <div class="features__image">
  
                    <img src="/assets/img/alexalight.png" alt="4K HDR" />
  
                  </div>
  
                </div>
  
              </div>

              <div class="features__item">
  
                <div class="features__container px-md-3 px-xl-4">
  
                  <div class="features__image">
  
                    <img src="/assets/img/primevideo.png" alt="4K HDR" />
  
                  </div>
  
                </div>
  
              </div>

              <div class="features__item">
  
                <div class="features__container px-md-3 px-xl-4">
  
                  <div class="features__image">
  
                    <img src="/assets/img/dolbyvision.png" alt="4K HDR" />
  
                  </div>
  
                </div>
  
              </div>

              <div class="features__item">
  
                <div class="features__container px-md-3 px-xl-4">
  
                  <div class="features__image">
  
                    <img src="/assets/img/alexalight.png" alt="4K HDR" />
  
                  </div>
  
                </div>
  
              </div>

              <div class="features__item">
  
                <div class="features__container px-md-3 px-xl-4">
  
                  <div class="features__image">
  
                    <img src="/assets/img/hdrid.png" alt="4K HDR" />
  
                  </div>
  
                </div>
  
              </div>
  
            </div>
  
          </div>
  
        </div>
  
      </div>
  
    </div>

  </div>

  <div class="section container-fluid pt-6" id="assistant">
    <div class="container">
      <div class="d-flex flex-row justify-content-between align-items-center flex-wrap">
        <div class="col-6">
          <div class="w-100">
            <img class="w-100 height-auto" src="/assets/img/toshiba-tiny/GoogleAssistant_KeyVisual_Toshiba.png" />
          </div>
        </div>
        <div class="offset-1 col-4">
          <div class="w-100 text-center">
            <h2 >A little help on your big screen</h2>
            <h4 >Quickly access all your favourite movies and shows, get answers on screen, and more with built-in Google Assistant. You can even create the perfect viewing environment by adjusting room temperature, lighting or controlling other connected devices, simply by using your voice.</h4>
          </div>
        </div>
        <div class="offset-1"></div>
      </div>
    </div>
  </div>

  <div class="section container-fluid py-6" id="apps">
    <div class="container-1620">
      <div class="d-flex flex-row justify-content-between align-items-center flex-wrap">
        <div class="offset-1 col-4">
          <div class="w-100 text-center">
            <h2>Explore a world of apps</h2>
            <h4>Android TV offers thousands of movies, shows, and games from Google Play, YouTube and your favourite apps* including Netflix 
              original programming.</h4>
              <p class=""><small>* Subscriptions may be required for certain content providers.</small></p>
              <div class="w-100 d-flex flex-row justify-content-between align-items-center flex-wrap">
                <div class="col-6 py-1">
                  <div class="w-100 d-flex flex-row justify-content-center">
                    <img class="w-100 height-auto logo--big" src="/assets/img/Logo_YouTubeKids_ColourBlack_Toshiba.png " alt=" ">
                  </div>
                </div>
                <div class="col-6 py-1">
                  <div class="w-100 d-flex flex-row justify-content-center">
                    <img class="w-100 height-auto logo--big" src="/assets/img/Logo_PrimeVideo_Colour_Toshiba.png " alt=" ">
                  </div>
                </div>
                <div class="col-6 py-1">
                  <div class="w-100 d-flex flex-row justify-content-center">
                    <img class="w-100 height-auto logo--big" src="/assets/img/Logo_AndroidTV_Colour_Toshiba.png " alt=" ">
                  </div>
                </div>
              </div>
          </div>
        </div>
        <div class="offset-1"></div>
        <div class="col-6">
          <div class="w-100">
            <img class="w-100 height-auto" src="/assets/img/toshiba-tiny/AndroidTV_KeyVisual_Toshiba.png" />
          </div>
        </div>
        
      </div>
    </div>
  </div>

  <div class="section container-fluid pt-6 bg--light-grey" id="chromecast">
    <div class="container">
      <div class="offset-2 col-8 text-center">
        <h4 class="">Upgrade your viewing experience</p>
        <h2 class="">Watch with Chromecast</h2>
        <h4 class="">Watch movies, shows, live TV, YouTube and photos streaming on your TV from all family’s devices. Sharing your content has never been easier with built-in Chromecast.</h4>
      </div>
    </div>
  </div>
      
  <div class="w-100 pt-5 bg--light-grey">
    <img class="w-100 height-auto" src="/assets/img/toshiba-tiny/Hero_Chromecast_KeyVisual_Toshiba.png"/>
  </div>



  <div class="section container-fluid py-6 section" id="features">

		<div class="container">

			<div class="row pb-3">

				<div class="col-12 align-text--center">

					<h2>Additional features</h2>

				</div>

			</div>

			<div class="row">

				<div class="col-4">

					<div class="content-card">

						<div class="content-card__image">

							<a href="{{ path('truPictureEng', { 'country': country.code, 'language': lang.code }) }}">

								<img class="cld-responsive" src="/assets/img/toshiba-tiny/Enhanced_Resolution_Toshiba.png" alt="Shuttle taking off" />

							</a>

						</div>

						<div class="content-card__text bg--light-grey p-3">

							<h3>TRU Resolution</h3>

							<p>TRU Resolution upscales a wide variety of non-4K content, delivering a more refined image that feels fully immersive.</p>

							<a href="{{ path('truPictureEng', { 'country': country.code, 'language': lang.code }) }}">Learn more</a>

						</div>

					</div>

				</div>

				<div class="col-4">

					<div class="content-card">

						<div class="content-card__image">

							<a href="{{ path('truPictureEng', { 'country': country.code, 'language': lang.code }) }}">

								<img class="cld-responsive" src="/assets/img/toshiba-tiny/Enhanced_MicroDimming_Toshiba.png" alt="Military helicopter flying" />

							</a>

						</div>

						<div class="content-card__text bg--light-grey p-3">

							<h3>TRU Micro Dimming</h3>

							<p>TRU Micro Dimming improves contrast, focussing on all the different regions of the image.</p>

							<a href="{{ path('truPictureEng', { 'country': country.code, 'language': lang.code }) }}">Learn more</a>

						</div>

					</div>

				</div>

				<div class="col-4">

					<div class="content-card">

						<div class="content-card__image">

							<a href="{{ path('sound', { 'country': country.code, 'language': lang.code }) }}">

								<img class="cld-responsive" src="/assets/img/toshiba-tiny/Helicopter_Sound_Toshiba.png" alt="Man with lightsabers under a bridge" />

							</a>

						</div>

						<div class="content-card__text bg--light-grey p-3">

							<h3>Cinematic sound</h3>

              <p>Everything you need to create a cinematic sound experience. Seamlessly combining Dolby Audio Processing, subwoofer and speakers, designed by Onkyo.</p>

              <a href="{{ path('sound', { 'country': country.code, 'language': lang.code }) }}">Learn more</a>

						</div>

					</div>

				</div>

			</div>

		</div>

  </div>










  <div class="section container-fluid pdp-hero pdp-hero--grey" id="model">

		<div class="container">

			<div class="row pdp-hero__desktop">

				<div class="col-5">

					<div class="pdp-hero__title">

						<h1>
							UL7 Premium UHD<br />
							TRU Picture TV
						</h1>

					</div>

					<div class="pdp-hero__sizes">

						<div class="size-selectors size-selectors--grey">

							<div class="size-selectors__item active">

								<div class="size-selectors__size">

									<h3>55"</h3>

								</div>

								<div class="size-selectors__serial">

									<p>55VL5A63DB</p>

								</div>

							</div>

							<div class="size-selectors__item">

								<div class="size-selectors__size">

									<h3>65"</h3>

								</div>

								<div class="size-selectors__serial">

									<p>65VL5A63DB</p>

								</div>

							</div>

							<div class="size-selectors__item">

								<div class="size-selectors__size">

									<h3>75"</h3>

								</div>

								<div class="size-selectors__serial">

									<p>75VL5A63DB</p>

								</div>

							</div>

						</div>

						<a href="">What size do I need?</a>

					</div>

				</div>

				<div class="col-5 offset-1 align-vertical--middle">

					<img class="cld-responsive" src="/assets/img/toshiba-tiny/55VL5A63DB_Front.png" alt="UL7 Toshiba TV" />

				</div>

				<div class="col-1">

					<div class="pdp-hero__thumbnails">

						<ul>

							<li>
								<img class="cld-responsive" src="/assets/img/toshiba-tiny/55VL5A63DB_Front.png" alt="UL7 Toshiba TV" />
							</li>

							<li>
								<img class="cld-responsive" src="/assets/img/toshiba-tiny/55VL5A63DB_Front.png" alt="UL7 Toshiba TV" />
							</li>

							<li>
								<img class="cld-responsive" src="/assets/img/toshiba-tiny/55VL5A63DB_Front.png" alt="UL7 Toshiba TV" />
							</li>

							<li>
								<img class="cld-responsive" src="/assets/img/toshiba-tiny/55VL5A63DB_Front.png" alt="UL7 Toshiba TV" />
							</li>

							<li>
								<img class="video" src="./build/img/video-icon.svg" alt="" />
								<img class="cld-responsive" src="/assets/img/toshiba-tiny/55VL5A63DB_Front.png" alt="UL7 Toshiba TV" />
							</li>

						</ul>

					</div>

				</div>

			</div>

			<div class="row pdp-hero__mobile">

				<div class="col-12">

					<div class="pdp-hero__sizes">

						<div class="size-selectors size-selectors--grey">

							<div class="size-selectors__item active">

								<div class="size-selectors__size">

									<h3>55"</h3>

								</div>

								<div class="size-selectors__serial">

									<p>55VL5A63DB</p>

								</div>

							</div>

							<div class="size-selectors__item">

								<div class="size-selectors__size">

									<h3>65"</h3>

								</div>

								<div class="size-selectors__serial">

									<p>65VL5A63DB</p>

								</div>

							</div>

							<div class="size-selectors__item">

								<div class="size-selectors__size">

									<h3>75"</h3>

								</div>

								<div class="size-selectors__serial">

									<p>75VL5A63DB</p>

								</div>

							</div>

						</div>

						<a href="">What size do I need?</a>

					</div>

				</div>


			</div>

		</div>

  </div>
  









<div class="container-fluid fixed-sub-header fixed-sub-header--dark nav-down">

  <div class="w-100">

    <div class="row">

      <div class="col-12">

        <div class="fixed-sub-header__container">

          <div class="fixed-sub-header__title">

            <h3>Android TV</h3>

          </div>

          <div class="fixed-sub-header__navigation">

            <ul>

              <li>
                <a class="fixed-sub-header__link active" href="#overview">Overview</a>
              </li>

              <li>
                <a class="fixed-sub-header__link" href="#assistant">The Google Assistant</a>
              </li>

              <li>
                <a class="fixed-sub-header__link" href="#apps">Apps</a>
              </li>

              <li>
                <a class="fixed-sub-header__link" href="#chromecast">Chromecast built-in</a>
              </li>

              <li>
                <a class="fixed-sub-header__link" href="#features">Features</a>
              </li>

              <li>
                <a class="fixed-sub-header__link" href="#model">Model</a>
              </li>

            </ul>

          </div>

          <div class="fixed-sub-header__top to-top">

            <img src="/assets/img/toshiba-new/to-top-icon.svg" alt="To The Top" />

          </div>

        </div>

      </div>

    </div>

  </div>

</div>

  <script src="/assets/js/product-detail/fixedHeader.js" type="text/javascript"></script>
  <script src="/assets/js/navbar/navbarColor.js" type="text/javascript"></script>


</section>
{% endblock %}    