<!doctype html>
<html lang="en">

<head>
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">

    <!-- Bootstrap CSS -->
    
    <!-- Site CSS -->
    <link href="/assets/css/main.css" rel="stylesheet">
    <link href="/assets/css/menu.css" rel="stylesheet">
    <link href="/assets/css/constants.css" rel="stylesheet">
    <link href="/assets/css/newnormal.css" rel="stylesheet">
    <link href="/assets/css/mobileicons.css" rel="stylesheet">
    <link href="/assets/css/navigationbar.css" rel="stylesheet">
    <link href="/assets/css/allproduct.css" rel="stylesheet">
    <link href="/assets/css/productdetailpage.css" rel="stylesheet">
    <link href="/assets/css/allproductfullspecs.css" rel="stylesheet">
    <link href="/assets/css/common.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="/assets/css/buyingguide.css" rel="stylesheet">
    <link href="/assets/css/index.css" rel="stylesheet">
    
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/black-tie/jquery-ui.css" type="text/css">
    
  
    <link href="/assets/css/normalize.css" rel="stylesheet">
    <link href="/assets/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/global.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/new/new.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    
    <!-- Fonts-->
    <title>Toshiba TV</title>
</head>

<body>
    <!--navigation menu bar -->
    <!--home image section-->
    <!---->
    {% include "general/navbar.html.twig" %}
    {% block body %}  {% endblock %}
    {% set url = app.request.attributes.get('_route') %}

    {% include "general/footer.html.twig" %}


    <!-- Optional JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="/assets/js/allofthem.js" type="text/javascript"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/assets/bootstrap/dist/js/bootstrap.min.js"></script>
    <script
        src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"
        integrity="sha256-0YPKAwZP7Mp3ALMRVB2i8GXeEndvCq3eSl/WsAl1Ryk="
        crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/d9e7b7c917.js"></script>
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    </body>


</html>