{% extends 'base.html.twig' %}
{% block body %}
<section>

  <div class="container-fluid pt-5 pb-17 bg--light-grey">
    <div class="container text-center pt-5 w-100">
      <h4 class="color--grey3 mb-0">{{staticText.BUYINGGUIDE}}</h4>
      <h1 class="mb-0">{{staticText.CHOOSINGRIGHT}}</h1>
    </div>
  </div>

  <div class="container-1620 mt-n10">
    <div class="width-100">
      <div class="max-width_1700 width-100">
        <img class="height-auto width-100" src="/assets/img/buying-guide/BuyingGuide-hero-image.png" />
      </div>
    </div>
  </div>

  <div class="container-1620">

		<div class="sub-header sub-header--pdp sub-header--light sub-header__marker">

			<div class="sub-header__title">

				<h3>{{staticText.BUYINGGUIDE}}</h3>

			</div>

			<div class="sub-header__navigation">

				<ul>

					<li>
						<a href="#overview">{{staticText.OVERVIEW}}</a>
					</li>

					<li>
						<a href="#screensize">{{staticText.SCREENSIZE}}</a>
					</li>

					<li>
						<a href="#resolution">{{staticText.RESOLUTION}}</a>
					</li>

					<li>
						<a href="#pictureenhancement">{{staticText.PICTUREENHANCEMENT}}</a>
					</li>

					<li>
						<a href="#smarttv">{{staticText.BUYINGSMARTTV}}</a>
          </li>

          {# <li>
						<a href="#compare">Compare</a>
					</li> #}

				</ul>

			</div>

		</div>

	</div>




  <div class="container-fluid pt-6" id="overview">
    <div class="container">
      <div class="text-center">
        <h4 class="col-9 margin-auto mb-0 pb-3">
         {{staticText.WEUNDERSTANDTEXT}}
        </h4>
      </div>
    </div>
  </div>







    <div class="section-full padding-t-xxl" id="screensize" >
      <div class="container-1620">
        <div class="wrapper-row-start">
          <div class="container-row-2 wrapper-row-align-center-center padding-h-xxs">
            <div class="max-width-522-px text-align-center">
              <div>
                <p class="margin-b-0 padding-h-xs text-xl-bold color-grey-700">{{staticText.CHOOSERIGHTSCREENCOMPARE}}</p>
                <p class="margin-b-0 margin-t-s text-m-s color-grey-700">{{staticText.CHOOSINGRIGHTDESCRIPTION}}
                </p>
                <div class="margin-t-m wrapper-row-center" id="buying-guide-inchcm-section">
                  <button class=" buying-guide-inchcm-selected text-xs" id="buying-guide-button-1">
                    inches
                  </button>
                  <button class="buying-guide-inchcm text-xs" id="buying-guide-button-2">
                    cm
                  </button>
                </div>

                <div class="margin-t-ms">

                  <div class="flex-between-center padding-all-xs bg-white">
                    <div class="flex-0050">
                      <p class="float-leftt margin-b-0 text-m-s-bold color-grey-700">{{staticText.BUYINGDISTANCE}}</p>
                    </div>
                    <div class="wrapper-row-start-nowrap flex-0050">
                      <div class="flex-0050">
                        <p class="float-rightt margin-b-0 text-m-s-bold color-grey-700">HD</p>
                      </div>
                      <div class="flex-0050">
                        <p class="float-rightt margin-b-0 text-m-s-bold color-grey-700">4K</p>
                      </div>
                    </div>
                  </div>

                  <div class="flex-between-center padding-all-xs bg-grey-100">
                    <div class="flex-0050">
                      <p class="float-leftt margin-b-0 text-m-s color-grey-700">1-2 m</p>
                    </div>
                    <div class="wrapper-row-start-nowrap flex-0050 table-size" id="table-size-1">
                      <div class="flex-0050">
                        <p class="float-rightt margin-b-0 text-m-s color-grey-700">24-32''</p>
                      </div>
                      <div class="flex-0050">
                        <p class="float-rightt margin-b-0 text-m-s color-grey-700">43-50''</p>
                      </div>
                    </div>
                  </div>

                  <div class="flex-between-center padding-all-xs bg-white">
                    <div class="flex-0050">
                      <p class="float-leftt margin-b-0 text-m-s color-grey-700">2-3 m</p>
                    </div>
                    <div class="wrapper-row-start-nowrap flex-0050 table-size">
                      <div class="flex-0050">
                        <p class="float-rightt margin-b-0 text-m-s color-grey-700">24-32''</p>
                      </div>
                      <div class="flex-0050">
                        <p class="float-rightt margin-b-0 text-m-s color-grey-700">43-50''</p>
                      </div>
                    </div>
                  </div>

                  <div class="flex-between-center padding-all-xs bg-grey-100">
                    <div class="flex-0050">
                      <p class="float-leftt margin-b-0 text-m-s color-grey-700">3-4 m</p>
                    </div>
                    <div class="wrapper-row-start-nowrap flex-0050 table-size">
                      <div class="flex-0050">
                        <p class="float-rightt margin-b-0 text-m-s color-grey-700">24-32''</p>
                      </div>
                      <div class="flex-0050">
                        <p class="float-rightt margin-b-0 text-m-s color-grey-700">43-50''</p>
                      </div>
                    </div>
                  </div>

                  <div class="flex-between-center padding-all-xs bg-white">
                    <div class="flex-0050">
                      <p class="float-leftt margin-b-0 text-m-s color-grey700">More than 4m</p>
                    </div>
                    <div class="wrapper-row-start-nowrap flex-0050 table-size">
                      <div class="flex-0050">
                        <p class="float-rightt margin-b-0 text-m-s color-grey700">24-32''</p>
                      </div>
                      <div class="flex-0050">
                        <p class="float-rightt margin-b-0 text-m-s color-grey700">43-50''</p>
                      </div>
                    </div>
                  </div>


                </div>
              </div>
            </div>
          </div>

          <div class="container-row-2">
            <div class="width-100">
              <div class="width-100">
                <div class="width-100 bg-red-500 padding-all-xs">
                  <p class="margin-b-0 text-m color-white text-align-center">{{staticText.SCREENSIZECALCULATOR}}</p>
                </div>
                <div class="padding-h-p-s padding-v-p-s bg-grey-100">
                  <div class="width-100 flex-between-wrap-2 text-align-center">
                    <div class="container-row-2">
                      <div class="wrapper-row-2">
                        <p class="margin-b-0 text-s color-grey-700">{{staticText.BUYINGSCREENRESOLUTION}}</p>
                        <select id="calculator-resolution" class="margin-t-xxs buying-guide-select padding-l-xs text-xl-bold color-red-500">
                          <option value="HD" class="buying-guide-select color-red-500">HD</option>
                          <option value="4K" class="buying-guide-select color-red-500">4K</option>
                        </select>
                      </div>
                    </div>
                    <div class="container-row-2">
                      <div class="wrapper-row-2">
                        <p class="margin-b-0 text-s color-grey700">{{staticText.BUYINGDISTANCE}}</p>
                        <select id="calculator-distance" class="margin-t-xxs buying-guide-select padding-l-xs text-xl-bold color-red-500">
                          <option value="1-2">1-2m</option>
                          <option value="2-3">2-3m</option>
                          <option value="3-4">3-4m</option>
                          <option value="4-5">More Than 4m</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="margin-t-m">
                    <p class="margin-b-0 text-s color-grey-700">{{staticText.OURRECOMMENDATION}}</p>
                    <div class="buying-guide-calculator-result">
                      <div id="calculator-result"></div>
                      <img class="margin-t-xxs width-p-150" src="/assets/img/buying-guide/buyingguidetv@2x.png"/>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

      </div>
    </div>
    </div>








  <div class="section-full padding-t-xxl" id="resolution" >
    <div class="container-1620">
      <div class="width-100 wrapper-row-align-center-center">
        <div class="">
          <p class="margin-b-0 text-align-center text-xl-bold color-grey-700 margin-t-xs">{{staticText.BUYINGUNDERSTANDING}}</p>
          {# <p class="margin-b-0 text-align-center text-xl-bold color-grey-700 margin-t-xxxs">and screen technology</p> #}
        </div>
      </div>
      <div class="flex-between-wrap margin-t-xxl">
        <div class="container-row-4">
          <div class="wrapper-in-row text-align-center">
            <p class="margin-b-0 text-m-l-bold color-grey-700">OLED</p>
            <p class="margin-b-0 text-m-s color-grey-700 min-height-300-px">{{staticText.BUYINGOLED}}</p>

            <div class="four-images-first"></div>
          </div>
        </div>

        <div class="container-row-4">
          <div class="wrapper-in-row text-align-center">
            <p class="margin-b-0 text-m-l-bold color-grey-700">Ultra HD</p>
            <p class="margin-b-0 text-m-s color-grey-700 min-height-300-px">{{staticText.BUYINGULTRAHD}}</p>

            <div class="four-images-second"></div>
          </div>
        </div>

        <div class="container-row-4">
          <div class="wrapper-in-row text-align-center">
            <p class="margin-b-0 text-m-l-bold color-grey-700">Full HD</p>
            <p class="margin-b-0 text-m-s color-grey-700 min-height-300-px">{{staticText.BUYINGFULLHD}}</p>

            <div class="four-images-third"></div>
          </div>
        </div>

        <div class="container-row-4">
          <div class="wrapper-in-row text-align-center">
            <p class="margin-b-0 text-m-l-bold color-grey-700">HD ready</p>
            <p class="margin-b-0 text-m-s color-grey-700 min-height-300-px">{{staticText.BUYINGHDREADY}}</p>

            <div class="four-images-fourth"></div>
          </div>
        </div>
      </div>

    </div>
  </div>

<!-- RESPONSIVE BURADA -->


  <div class="full-section padding-t-xxl" id="pictureenhancement" >
    <div class="container-1620-width">
      <div class="width-850 text-align-center">
        <p class="margin-b-0 text-xl-bold color-grey-700 margin-t-xs">{{staticText.BUYINGPICTUREENHANCEMENTHEADER}}</p>
      </div>

      <div class="flex-between margin-t-m container-1620" id="image-selector">

        <div class="container-row-3 bgTabs"  data-id="hdr">
          <div class="wrapper-in-row bg-grey-100 selection-card-selected vertical-center text-align-center user-select-none cursor-pointer" id="hdr-container" data-id="hdr">
            <p class="margin-b-0 text-l-bold text-m color-grey-700" data-id="hdr">{{staticText.BUYINGHIGHDYNAMICRANGE}}</p>
            <p class="margin-b-0 text-s color-grey-700 margin-l-xs margin-r-xs" data-id="hdr">{{staticText.BUYINGHIGHDYNAMICRANGEDESC}}</p>
          </div>
        </div>
        <div class="container-row-3 bgTabs" data-id="tru">
          <div class="wrapper-in-row bg-grey-100 vertical-center text-align-center user-select-none cursor-pointer" data-id="tru" id="tru-container" >
            <p class="margin-b-0 text-l-bold text-m color-grey-700" data-id="tru">{{staticText.BUYINGTRUMICROHEADER}}</p>
            <p class="margin-b-0 text-s color-grey-700 margin-l-xs margin-r-xs" data-id="tru">{{staticText.BUYINGTRUMICRODESC}}</p>
          </div>
        </div>
        <div class="container-row-3 bgTabs"  data-id="widecolor">
          <div class="wrapper-in-row bg-grey-100 vertical-center text-align-center user-select-none cursor-pointer"  data-id="widecolor" id="widecolor-container">
            <p class="margin-b-0 text-l-bold text-m color-grey-700"  data-id="widecolor">{{staticText.BUYINGWCGHEADER}}</p>
            <p class="margin-b-0 text-s color-grey-700 margin-l-xs margin-r-xs"  data-id="widecolor">{{staticText.BUYINGWCGDESC}}</p>
          </div>
        </div>
      </div>

      <div class="width-100 wrapper-row-nowrap-center">





                    <div class="bgTabContainers" id="HighDynamicContainer" >
                      <div class="width-100">
                        <div class="container-1620">
                    <div class="angledSlider" id="HighDynamicContainer" >
                          <div class="image-sliding-over-container padding-b-60">  <div class="cursor-pointer lp-img-slider" id="lp-img-slider-2">
                            </div>
                            <div class="img1" id="image-3">

                              <div class="slider-img-text-left">

                              </div>
                            </div>
                            <div class="img2">
                            <div class="slider-img-text-right">

                              </div>
                              <div class="slider-img-text-top">
                                <p class="text-s color-white">*For demonstration purposes only.</p>
                              </div>
                            </div>
                            <p class="text-m-l color-white rightText">Dolby Vision HDR</p>
                            <p class="text-m-l color-white leftText">Standard TV</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    </div>



                  <div class="bgTabContainers" id="TruContainer" >
                    <div class="width-100">
                      <div class="container-1620">
                  <div class="angledSlider" id="TruContainer" >
                        <div class="image-sliding-over-container padding-b-60">  <div class="cursor-pointer lp-img-slider" id="lp-img-slider-2">
                          </div>
                          <div class="img1" id="image-3">

                          </div>
                          <div class="img2">
                            <div class="slider-img-text-top">
                              <p class="text-s color-white">*For demonstration purposes only.</p>
                            </div>
                          </div>
                          <p class="text-m-l color-white rightText">Dolby Vision HDR</p>
                          <p class="text-m-l color-white leftText">Standard TV</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  </div>

                  <div class="bgTabContainers" id="wcContainer" >
                    <div class="width-100">
                      <div class="container-1620">
                  <div class="angledSlider" id="wcContainer" >
                        <div class="image-sliding-over-container padding-b-60">  <div class="cursor-pointer lp-img-slider" id="lp-img-slider-2">
                          </div>
                          <div class="img1" id="image-3">

                          </div>
                          <div class="img2">
                            <div class="slider-img-text-top">
                              <p class="text-s color-white">*For demonstration purposes only.</p>
                            </div>
                          </div>
                          <p class="text-m-l color-white rightText">Dolby Vision HDR</p>
                          <p class="text-m-l color-white leftText">Standard TV</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  </div>






       


<div class="full-section margin-t-120" id="smarttv">
  <div class="container-1620">
    <div class="flex-between-wrap-start width-100">
      <div class="container-row-2 width-100">
        <div class="width-100">
          <img class="width-100" src="/assets/img/toshiba-tiny/ToshibaConnect_KeyVisual_Toshiba.png" />
        </div>
      </div>

      <div class="container-row-2 width-100">
        <div class="width-100 padding-all-ms text-align-center">
          <p class="margin-b-0 text-xl-bold color-grey-700">{{staticText.BUYINGUNDERSTANDINGSMART}}</p>
          <p class="margin-t-m margin-b-0 text-m color-grey-700">{{staticText.BUYINGUNDERSTANDINGSMARTDESC}}
          </p>
          <div class="wrapper-row-align-center-center text-align-center padding-v-s">
            <div class="horizontal-line-gray"></div>
            <div class="padding-v-xxs bg-white">
              <p class="margin-b-0 text-xs-bold color-grey-400 custom-spacing">{{staticText.BUYINGOS}}</p>
            </div>
            <div class="horizontal-line-gray"></div>
          </div>

          <div class="width-100 wrapper-row-align-center-center">
            <div class="width-80 flex-between-center margin-t-ms">
              <div class="w-80 d-flex flex-row justify-content-center">
                <div class="w-100 height-auto ">
                  <img class="width-80 height-auto" src="/assets/img/Logo_AndroidTV_Black_Toshiba.png" >
                </div>
                <div class="w-100 height-auto ">
                  <img class="width-80 height-auto" src="/assets/img/home-page-logos/smarttvlogo@2x.png" >
                </div>
              </div>
              <!-- <div class="container-row-3-full">
                <div class="width-100 text-align-center">
                  <img class="width-80 height-auto" src="/assets/img/Logo_Roku_Black_Toshiba.png" >
                </div>
              </div> -->
              <!-- <div class="container-row-3-full">
                <div class="width-100 text-align-center">
                  <img class="width-80 height-auto" src="/assets/img/Logo_ToshibaConnect_MonoBlack_Toshiba.png" >
                </div>
              </div> -->
            </div>
          </div>



          <div class="wrapper-row-a-center margin-t-ms">
            <a href="{{ path('smartTv', { 'country': country.code, 'language': lang.code }) }}">
              <button class="learn-more-button text-m-s color-white margin-t-xxs margin-v-xxs">
                {{staticText.LEARNMORE}}
              </button>
            </a>
            <a href="{{ path('getCategoryBySef', { 'country': country.code, 'language': lang.code, 'sef': 'smart-tv' }) }}">
              <button class="learn-more-button-border text-m-s color-red-500 margin-t-xxs margin-v-xxs">
                {{staticText.BUYINGVIEWSMARTBUTTON}}
              </button>
            </a>

          </div>
        </div>
      </div>

    </div>


    <div class="flex-between-wrap-reverse margin-t-xxl width-100" id="sound">

      <div class="container-row-2">
        <div class="width-100 padding-all-ms text-align-center">
          <p class="margin-b-0 text-xl-bold color-grey-700">{{staticText.BUYINGUNDERSTANDINGSOUND}}</p>
          <p class="margin-t-m margin-b-0 text-m color-grey-700">{{staticText.BUYINGUNDERSTANDINGSOUNDDESC}}
          </p>
          <div class="wrapper-row-center margin-t-s">
            <a href="{{ path('landingPage', { 'country': country.code, 'language': lang.code }) }}">
              <button class="learn-more-button text-m-s color-white margin-r-13-wo-last margin-l-0">
                {{staticText.BUYINGVIEWSOUNDBARSBUTTON}}
              </button>
            </a>
          </div>
        </div>
      </div>




      <div class="container-row-2">
        <div class="width-100">
          <img class="width-100" src="/assets/img/toshiba-tiny/Sound_KeyVisual_Toshiba.png" />
        </div>
      </div>
    </div>
  </div>
</div>


<!---  RESPONSIVE HERE !!!!!  -->

{# <div class="full-section padding-t-xxl padding-b-xxl" id="compare">
  <div class="container-1620-full">
    <div class="text-align-center">
        <p class="margin-b-0 text-xl-bold color-grey-700 margin-t-xs">Compare TVs</p>
        <a href="#"><p class="margin-b-0 padding-t-xs color-red-500 text-ms-link">View all TVs</p></a>
    </div>
    <div class="flex-between-nowrap-start margin-t-m">


      <div class="custom-col margin-t-xs">
        <div class="width-100 bg-black-gold">
          <div class="wrapper-row-center width-100 max-height-260-px padding-h-s padding-t-m">
            <img class="max-width-custom height-auto" src="/assets/img/toshiba-tiny/55VL5A63DB_Front.png" />
          </div>
          <div class="width-100 text-align-center margin-t-ms padding-b-m border-bottom-white">
            <p class="margin-b-0 text-l-bold color-gold">OLED</p>
            <a href="#" class="margin-t-xs"><p class="margin-b-0 margin-t-xs text-ms-link color-gold-text">View now</p></a>
          </div>
          <div class="width-100 padding-h-s padding-t-m">
            <div class="flex-between-center padding-v-xs">
              <p class="margin-b-0 text-m-s-bold color-white">Screen type</p>
              <p class="margin-b-0 text-m-s color-white">OLED</p>
            </div>

            <div class="flex-between-center padding-v-xs">
              <p class="margin-b-0 text-m-s-bold color-white">Resolution</p>
              <p class="margin-b-0 text-m-s color-white">3840 x 2160</p>
            </div>

            <div class="flex-between-center padding-v-xs">
              <p class="margin-b-0 text-m-s-bold color-white">Sound</p>
              <p class="margin-b-0 text-m-s color-white">DAP</p>
            </div>

            <div class="flex-between-center padding-v-xs">
              <p class="margin-b-0 text-m-s-bold color-white padding-r-xs">Operating System</p>
              <p class="white-space-nowrap margin-b-0 text-m-s color-white">Android TV</p>
            </div>
          </div>
          <div class="wrapper-row-center padding-t-m padding-b-xs">
            <a href="{{ path('getCategoryBySef', { 'country': country.code, 'language': lang.code, 'sef' :categories[3].link }) }}">
              <button class="learn-more-button-frame bg-gold">
                View OLED TVs
              </button>
            </a>
          </div>
        </div>
      </div>

      <div class="custom-col margin-t-xs">
        <div class="width-100 bg-black-gold">
          <div class="wrapper-row-center width-100 max-height-260-px padding-h-s padding-t-m">
            <img class="max-width-custom height-auto" src="/assets/img/toshiba-tiny/55VL5A63DB_Front.png" />
          </div>
          <div class="width-100 text-align-center margin-t-ms padding-b-m border-bottom-white">
            <p class="margin-b-0 text-l-bold color-gold">Premium UHD</p>
            <a href="#" class="margin-t-xs"><p class="margin-b-0 margin-t-xs text-ms-link color-gold-text">View now</p></a>
          </div>
          <div class="width-100 padding-h-s padding-t-m">
            <div class="flex-between-center padding-v-xs">
              <p class="margin-b-0 text-m-s-bold color-white">Screen type</p>
              <p class="margin-b-0 text-m-s color-white">OLED</p>
            </div>

            <div class="flex-between-center padding-v-xs">
              <p class="margin-b-0 text-m-s-bold color-white">Resolution</p>
              <p class="margin-b-0 text-m-s color-white">3840 x 2160</p>
            </div>

            <div class="flex-between-center padding-v-xs">
              <p class="margin-b-0 text-m-s-bold color-white">Sound</p>
              <p class="margin-b-0 text-m-s color-white">DAP</p>
            </div>

            <div class="flex-between-center padding-v-xs">
              <p class="margin-b-0 text-m-s-bold color-white padding-r-xs">Operating System</p>
              <p class="white-space-nowrap margin-b-0 text-m-s color-white">Android TV</p>
            </div>
          </div>
          <div class="wrapper-row-center padding-t-m padding-b-xs">
            <a href="{{ path('getCategoryBySef', { 'country': country.code, 'language': lang.code, 'sef' :categories[0].link }) }}">
              <button class="learn-more-button-frame bg-gold">
                View Premium UHD TVs
              </button>
            </a>
          </div>
        </div>
      </div>

      <div class="custom-col margin-t-xs">
        <div class="width-100 bg-red-carousel">
          <div class="wrapper-row-center width-100 max-height-260-px padding-h-s padding-t-m">
            <img class="max-width-custom height-auto" src="/assets/img/toshiba-tiny/55VL5A63DB_Front.png" />
          </div>
          <div class="width-100 text-align-center margin-t-ms padding-b-m border-bottom-white">
            <p class="margin-b-0 text-l-bold color-white">Ultra HD 4K</p>
            <a href="#" class="margin-t-xs"><p class="margin-b-0 margin-t-xs text-ms-link color-white">View now</p></a>
          </div>
          <div class="width-100 padding-h-s padding-t-m">
            <div class="flex-between-center padding-v-xs">
              <p class="margin-b-0 text-m-s-bold color-white">Screen type</p>
              <p class="margin-b-0 text-m-s color-white">LED</p>
            </div>

            <div class="flex-between-center padding-v-xs">
              <p class="margin-b-0 text-m-s-bold color-white">Resolution</p>
              <p class="margin-b-0 text-m-s color-white">3840 x 2160</p>
            </div>

            <div class="flex-between-center padding-v-xs">
              <p class="margin-b-0 text-m-s-bold color-white">Sound</p>
              <p class="margin-b-0 text-m-s color-white">DAP</p>
            </div>

            <div class="flex-between-center padding-v-xs">
              <p class="margin-b-0 text-m-s-bold color-white padding-r-xs">Operating System</p>
              <p class="white-space-nowrap margin-b-0 text-m-s color-white">Toshiba Connect</p>
            </div>
          </div>
          <div class="wrapper-row-center padding-t-m padding-b-xs">
            <a href="{{ path('getCategoryBySef', { 'country': country.code, 'language': lang.code, 'sef' :categories[1].link }) }}">
              <button class="learn-more-button-frame bg-red-600 color-white cursor-pointer">
                View Ultra HD TVs
              </button>
            </a>
          </div>
        </div>
      </div>

      <div class="custom-col margin-t-xs">
        <div class="width-100 bg-grey-100">
          <div class="wrapper-row-center width-100 max-height-260-px padding-h-s padding-t-m">
            <img class="max-width-custom height-auto" src="/assets/img/toshiba-tiny/55VL5A63DB_Front.png" />
          </div>
          <div class="width-100 text-align-center margin-t-ms padding-b-m border-bottom-white">
            <p class="margin-b-0 text-l-bold color-grey-700">Full HD</p>
            <a href="#" class="margin-t-xs"><p class="margin-b-0 margin-t-xs text-ms-link color-grey-700">View now</p></a>
          </div>
          <div class="width-100 padding-h-s padding-t-m">
            <div class="flex-between-center padding-v-xs">
              <p class="margin-b-0 text-m-s-bold color-grey-700">Screen type</p>
              <p class="margin-b-0 text-m-s color-grey-700">LED</p>
            </div>

            <div class="flex-between-center padding-v-xs">
              <p class="margin-b-0 text-m-s-bold color-grey-700">Resolution</p>
              <p class="margin-b-0 text-m-s color-grey-700">1920 x 1080</p>
            </div>

            <div class="flex-between-center padding-v-xs">
              <p class="margin-b-0 text-m-s-bold color-grey-700">Sound</p>
              <p class="margin-b-0 text-m-s color-grey-700">DAP</p>
            </div>

            <div class="flex-between-center padding-v-xs">
              <p class="margin-b-0 text-m-s-bold color-grey-700 padding-r-xs">Operating System</p>
              <p class="white-space-nowrap margin-b-0 text-m-s color-grey-700">Toshiba Connect</p>
            </div>
          </div>
          <div class="wrapper-row-center padding-t-m padding-b-xs">
            <a href="{{ path('getCategoryBySef', { 'country': country.code, 'language': lang.code, 'sef' :categories[2].link }) }}">
              <button class="learn-more-button">
                View Full HD TVs
              </button>
            </a>
          </div>
        </div>
      </div>

      <div class="custom-col margin-t-xs">
        <div class="width-100 bg-grey-100">
          <div class="wrapper-row-center max-height-260-px width-100 padding-h-s padding-t-m">
            <img class="max-width-custom height-auto" src="/assets/img/toshiba-tiny/55VL5A63DB_Front.png" />
          </div>
          <div class="width-100 text-align-center margin-t-ms padding-b-m border-bottom-white">
            <p class="margin-b-0 text-l-bold color-grey-700">HD Ready</p>
            <a href="#" class="margin-t-xs"><p class="margin-b-0 margin-t-xs text-ms-link color-grey-700">View now</p></a>
          </div>
          <div class="width-100 padding-h-s padding-t-m">
            <div class="flex-between-center padding-v-xs">
              <p class="margin-b-0 text-m-s-bold color-grey-700">Screen type</p>
              <p class="margin-b-0 text-m-s color-grey-700">LED</p>
            </div>

            <div class="flex-between-center padding-v-xs">
              <p class="margin-b-0 text-m-s-bold color-grey-700">Resolution</p>
              <p class="margin-b-0 text-m-s color-grey-700">1920 x 1080</p>
            </div>

            <div class="flex-between-center padding-v-xs">
              <p class="margin-b-0 text-m-s-bold color-grey-700">Sound</p>
              <p class="margin-b-0 text-m-s color-grey-700">DAP</p>
            </div>

            <div class="flex-between-center padding-v-xs">
              <p class="margin-b-0 text-m-s-bold color-grey-700 padding-r-xs">Operating System</p>
              <p class="white-space-nowrap margin-b-0 text-m-s color-grey-700">Toshiba Connect</p>
            </div>
          </div>
          <div class="wrapper-row-center padding-t-m padding-b-xs">
            <a href="{{ path('getCategoryBySef', { 'country': country.code, 'language': lang.code, 'sef' :categories[3].link }) }}">
              <button class="learn-more-button">
                View HD Ready TVs
              </button>
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div> #}

<div class="container-fluid fixed-sub-header fixed-sub-header--dark nav-down">

  <div class="w-100">

    <div class="row">

      <div class="col-12">

        <div class="fixed-sub-header__container">

          <div class="fixed-sub-header__title">

            <h3>{{staticText.BUYINGGUIDE}}</h3>

          </div>

          <div class="fixed-sub-header__navigation">

            <ul>

              <li>
                <a class="fixed-sub-header__link active" href="#overview">{{staticText.OVERVIEW}}</a>
              </li>

              <li>
                <a class="fixed-sub-header__link" href="#screensize">{{staticText.SCREENSIZE}}</a>
              </li>

              <li>
                <a class="fixed-sub-header__link" href="#resolution">{{staticText.RESOLUTION}}</a>
              </li>

              <li>
                <a class="fixed-sub-header__link" href="#pictureenhancement">{{staticText.PICTUREENHANCEMENT}}</a>
              </li>

              <li>
                <a class="fixed-sub-header__link" href="#smarttv">{{staticText.BUYINGSMARTTV}}</a>
              </li>

              <li>
                <a class="fixed-sub-header__link" href="#sound">{{staticText.BUYINGSOUND}}</a>
              </li>

              {# <li>
                <a class="fixed-sub-header__link" href="#compare">Compare</a>
              </li> #}

            </ul>

          </div>

          <div class="fixed-sub-header__top to-top">

            <img src="/assets/img/toshiba-new/to-top-icon.svg" alt="To The Top" />

          </div>

        </div>

      </div>

    </div>

  </div>

</div>

  <script src="/assets/js/product-detail/fixedHeader.js" type="text/javascript"></script>
  <script src="/assets/js/navbar/navbarColor.js" type="text/javascript"></script>


  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>

  <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">


  <script type="text/javascript" src="/assets/js/buyingGuideImageSelector.js"></script>
  <script type="text/javascript" src="/assets/js/buyingGuideTableHandler.js"></script>
  <script type="text/javascript" src="/assets/js/buying-guide.js"></script>


</section>
{% endblock %}
