{% extends 'base.html.twig' %}
{% block body %}
<section>
  <div class="section-full padding-t-xxxxl gray-100-bg padding-b-330">
    <div class="text-align-center wrapper-column-center-center width-850">
      <div class="max-width-250-px wrapper-row-center">
        <img class="safari-img-height-1" src="/assets/img/Logo_ToshibaConnect_Black_Toshiba.png"/>
      </div>
      <p class="margin-b-0 margin-t-10 text-xxxl-bold color-grey700">Designed with you in mind</p>

    </div>
  </div>

  <div class="full-section">
    <div class="container-1720 landing-img-container">
      <div class="wrapper-normal">
        <div class="width-100">
          <img class="height-auto width-100" src="/assets/img/toshiba-tiny/AlexaGoogle_ToshibaConnect_Toshiba.png" />
        </div>
      </div>
    </div>
    <div class="container-1720 margin-t--250 bg-grey-100" id="sticky-anchor">
        <div class="padding-anchor-card">
          <div class="flex-between-wrap">
            <div>
              <p class="margin-b-0 text-m-l-bold color-grey-700">Toshiba Connect</p>
            </div>
            <div class="wrapper-row-start-a-center-nowrap overflow-x-scroll" id="anchor-container">
              <a class="margin-r-60-wo-last " href="#overview">
                <p class="margin-b-0 cursor-pointer  text-m-s color-grey-700 white-space-nowrap">Overview</p>
              </a>
              <a class="margin-r-60-wo-last " href="#apps">
                <p class="margin-b-0 cursor-pointer  text-m-s color-grey-700 white-space-nowrap">Apps</p>
              </a>
              <a class="margin-r-60-wo-last " href="#voiceassistant">
                <p class="margin-b-0 cursor-pointer  text-m-s color-grey-700 white-space-nowrap">Voice Assistant</p>
              </a>
              <a class="margin-r-60-wo-last " href="#trupictureengine">
                <p class="margin-b-0 cursor-pointer  text-m-s color-grey-700 white-space-nowrap">TRU Picture Engine</p>
              </a>
              <a class="margin-r-60-wo-last" href="#features">
                <p class="margin-b-0 cursor-pointer  text-m-s color-grey-700 white-space-nowrap">Features</p>
              </a>
              <a class="margin-r-60-wo-last" href="#models">
                <p class="margin-b-0 cursor-pointer  text-m-s color-grey700 white-space-nowrap">Models</p>
              </a>
            </div>
          </div>
        </div>
      </div>

  </div>

  <div class="section-full padding-t-xxl" id="overview">
    <div class="container-1344">
      <div class="text-align-center ">
        <p class="margin-b-0 text-m color-grey700">
          The Toshiba Connect TV range brings you the very best in TV that’s designed with you in mind, offering more flexibility and a truly cinematic experience. With TRU Picture Engine, experience your favourite shows and movies from Prime Video, Netflix & NowTV in better detail, that’s smoothed and up-scaled to perfection. You can even control your TV, set reminders, check the weather and more with your voice, using either Alexa or Google Assistant. The choice is yours.
        </p>
        
      </div>

    </div>


    <div class="full-section padding-v-l">
      <div class="container-1520">
          <div class="flex-between-wrap-edit">
              <div class="container-row-4-2 margin-t-s margin-b-s">
                  <div class="width-100 wrapper-row-align-center-center">
                      <div class="width-60">
                          <img class="width-100 height-auto" src="/assets/img/dolbyvision.png" alt=" ">
                      </div>
                  </div>
              </div>

              <div class="container-row-4-2 margin-t-s margin-b-s">
                  <div class="width-100 wrapper-row-align-center-center">
                      <div class="width-60">
                          <img class="width-100 height-auto" src="/assets/img/hdrid.png" alt=" ">
                      </div>
                  </div>
              </div>

            <div class="container-row-4-2 margin-t-s margin-b-s">
                <div class="width-100 wrapper-row-align-center-center">
                    <div class="width-60">
                        <img class="width-100 height-auto" src="/assets/img/widecolor.png" alt=" ">
                    </div>
                </div>
            </div>

            <div class="container-row-4-2 margin-t-s margin-b-s">
              <div class="width-100 wrapper-row-align-center-center">
                  <div class="width-60">
                      <img class="width-100 height-auto" src="/assets/img/freeview.png" alt=" ">
                  </div>
              </div>
          </div>

          <div class="container-row-4-2 margin-t-s margin-b-s">
            <div class="width-100 wrapper-row-align-center-center">
                <div class="width-60">
                    <img class="width-100 height-auto" src="/assets/img/alexalight.png" alt=" ">
                </div>
            </div>
        </div>

        <div class="container-row-4-2 margin-t-s margin-b-s">
          <div class="width-100 wrapper-row-align-center-center">
              <div class="width-60">
                  <img class="width-100 height-auto" src="/assets/img/primevideo.png" alt=" ">
              </div>
          </div>
      </div>

      <div class="container-row-4-2 margin-t-s margin-b-s">
        <div class="width-100 wrapper-row-align-center-center">
            <div class="width-60">
                <img class="width-100 height-auto" src="/assets/img/primevideo.png" alt=" ">
            </div>
        </div>
    </div>


          </div>
      </div>

  </div>

  <div class="section-full padding-t-120 gray-20-bg" id="apps">
      <div class="text-align-center container-1340">
        <p class="margin-b-0 text-xxl-bold color-grey700 margin-t-120">Entertainment made easy</p>
        <p class="margin-b-0 text-m color-grey700 margin-t-45">From the latest movies and trending music to your favourite boxsets, your Toshiba TV has got it all. The top streaming apps built in as standard – up to date and ready to go. Never miss your favourite TV shows, music and film with Amazon Prime Video, Amazon Prime Music, Netflix, YouTube and Freeview Play all built in as standard.</p>
      </div>
      <div class="width-100 wrapper-row-center margin-t-60">
        <button class="learn-more-button text-m-s color-white">
          Learn more
        </button>
      </div>
      
      <div class="width-100 margin-t-120">
        <img class="width-100 height-auto" src="/assets/img/toshiba-tiny/TVStandUILeaves_ToshibaConnect_Toshiba.png"/>
      </div>
  </div>

  <div class="section-full padding-t-120 white-bg padding-b-120" id="voiceassistant">
    <div class="container-1620">
      <div class="width-100 wrapper-row-align-center-center">
        <div class="max-width-600-px">
          <p class="margin-b-0 text-align-center margin-t-10 text-xl-bold color-grey700">Get talking</p>
        </div>
      </div>
      
      <div class="wrapper-row-center width-100 margin-t-60">

        <div class="three-cards-container-small margin-t-xs">
          <div class="width-100 gray-100-bg-content">
            <img class="width-100 height-auto overflow-hidden" src="/assets/img/alexabuiltin.png"/>
            <div class="padding-all-60">
              <p class="margin-b-0 text-l-bold color-grey700">TV to make the every day easier</p>
              <p class="margin-b-40 margin-t-20 text-m-s color-grey700 height-160">Whether it’s helping the kids with their homework, looking up recipe’s or playing your favourite playlists, simply ask Alexa, built-in to the Toshiba Connect TV.</p>
              <a href="#">
                <button class="learn-more-button-big">
                  View TV range
                </button>
              </a>
            </div>
          </div>
        </div>

        <div class="three-cards-container-big margin-t-xs">
          <div class="width-100 gray-100-bg-content">
            <img class="width-100 height-auto overflow-hidden" src="/assets/img/amazongoogle.png"/>
            <div class="padding-all-60">
              <p class="margin-b-0 text-l-bold color-grey700">Choose your voice assistant</p>
              <p class="margin-b-40 margin-t-20 text-m-s color-grey700 height-160">Get all the latest apps including Prime Video, Netflix & NowTV in better detail with TRU Picture Engine and control your TV with your voice, using either Alexa or Google Assistant.</p>
              <a href="#">
                <button class="learn-more-button-big">
                  View TV range
                </button>
              </a>
            </div>
          </div>
        </div>

        <div class="three-cards-container-small margin-t-xs ">
          <div class="width-100 gray-100-bg-content">
            <img class="width-100 height-auto overflow-hidden" src="/assets/img/alexaitself.png"/>
            <div class="padding-all-60">
              <p class="margin-b-0 text-l-bold color-grey700">Toshiba Connect Microphone</p>
              <p class="margin-b-40 margin-t-20 text-m-s color-grey700 height-160">The Toshiba Connect microphone accessory, lets you control your Toshiba TV with your voice. Talk to Alexa to play music, hear the news and more.</p>
              <a href="#">
                <button class="learn-more-button-big">
                  View TV range
                </button>
              </a>
            </div>
          </div>
        </div>
      </div> 
    </div>
  </div>


  <div class="full-section padding-t-60 padding-b-60" id="trupictureengine">
    <div class="container-1620">
      <div class="flex-between-wrap-center">
        <div class="padding-v-p-s padding-h-p-s container-row-2-wide text-align-center">
          <div class="max-width-200-px margin-auto wrapper-row-align-center-center">
            <img class="width-100 height-auto" src="/assets/img/toshiba-tiny/Logo_TRUPictureEngine_ColourBlack_Toshiba.png" />
          </div>
          <p class="text-xl-bold color-grey700 margin-b-0 margin-t-20 ">TV made for TRU life</p>
          <p class="padding-h-45 text-m-s color-grey700 margin-b-0 margin-t-40">Toshiba’s TRU Picture technology provides smooth, more detailed viewing, up-scaled to the highest resolution whatever your content. So, whatever you’re watching, we make sure it looks it’s best.</p>
          <div class="wrapper-row-center width-100 margin-t-60">
            <a href="#">
              <button class="learn-more-button">Learn more</button>
            </a>
          </div>
          
        </div>
        <div class="container-row-2-wide">
          <img class="width-100" src="/assets/img/ForestTriangle_TRUPicture_Toshiba.png" />
        </div>
      </div>
    </div>
  </div>

  <div class="section-full padding-t-120 white-bg padding-b-120" id="features">
    <div class="container-1620">
      <div class="width-750">
        <p class="margin-b-0 text-align-center margin-t-10 text-xl-bold color-grey700">Additional features</p>
      </div>
      <div class="flex-between-wrap width-100 margin-t-60">

        <div class="container-row-3 ">
          <div class="width-100 gray-100-bg-content">
            <img class="width-100 height-280 overflow-hidden" src="/assets/img/Shuttle_Sound_Toshiba.png"/>
            <div class="width-100 padding-b-60">
              <p class="margin-b-0 text-l-bold color-grey700 text-align-center margin-t-60">Dolby Audio Processing</p>
              <p class="padding-h-60 margin-b-40 margin-t-20 text-m-s color-grey700 height-160">Dolby Audio Processing provides an enhanced experience whatever you’re watching, with richer, clearer and more powerful sound..</p>
              <a class="padding-h-60 margin-b-0 text-xs-link color-red500">Learn more</a>
            </div>
          </div>
        </div>

        <div class="container-row-3">
          <div class="width-100  gray-100-bg-content ">
            <img class="width-100 height-280 overflow-hidden" src="/assets/img/toshiba-tiny/Helicopter_Sound_Toshiba.png"/>
            <div class="width-100 padding-b-60">
              <p class="margin-b-0 text-l-bold color-grey700 text-align-center margin-t-60">Onkyo sound</p>
              <p class="padding-h-60 margin-b-40 margin-t-20 text-m-s color-grey700 height-160">We incorporate speakers designed by Onkyo for a cinematic sound experience.</p>
              <a class="padding-h-60 margin-b-0 text-xs-link color-red500">Learn more</a>
            </div>
          </div>
        </div>

      </div>
      
    </div>
    
  </div>


<div class="all-product-white-bg padding-b-xxl" id="models">
        
        <div class="all-product-section">
            <div class="container-1620">
                <div class="product-section-header-container">
                    <p class="text-l-bold color-grey700">
                        Explore Toshiba Connect TVs
                    </p>
                    <a href="#">
                      <p class="margin-b-0 margin-t-xs color-red-500 text-s-link">View all Toshiba Connect TVs</p>
                    </a>
                </div>



                <div class="flex-between-wrap-3">

                    <div class="padding-t-xs  container-row-3">
                        <div class="text-align-center padding-b-m bg-black-gold width-100">
                            <div class="width-100 overflow-hidden padding-t-m padding-h-ms margin-b-m">
                                <img class="width-100 height-auto" src="/assets/img/unknowntv.png"/>
                            </div>
                            <p class="padding-h-m color-gold-400 text-l-bold overflow-wrap">Premium 4K Toshiba Connect TVs</p>
                            <a href="http://127.0.0.1:8000/uk/uk/product-detail/55UL7A63DB">
                                <p class="color-gold-400 text-s-link">View now</p>
                            </a>
                        </div>
                    </div>


                    <div class="padding-t-xs  container-row-3">
                      <div class="text-align-center padding-b-m bg-red-carousel width-100">
                          <div class="width-100 overflow-hidden padding-t-m padding-h-ms margin-b-m">
                              <img class="width-100 height-auto" src="/assets/img/55VL5A63DB_Front.png"/>
                          </div>
                          <p class="padding-h-m color-white text-l-bold overflow-wrap">Ultra HD 4K 
                            Toshiba Connect TVs</p>
                          <a href="http://127.0.0.1:8000/uk/uk/product-detail/55UL7A63DB">
                              <p class="color-white text-s-link">View now</p>
                          </a>
                      </div>
                  </div>

                  <div class="padding-t-xs  container-row-3">
                    <div class="text-align-center padding-b-m bg-grey-100 width-100">
                        <div class="width-100 overflow-hidden padding-t-m padding-h-ms margin-b-m">
                            <img class="width-100 height-auto" src="/assets/img/24WL3A63DB_Front.png"/>
                        </div>
                        <p class="padding-h-m color-grey-700 text-l-bold overflow-wrap">Premium 4K Toshiba Connect TVs</p>
                        <a href="http://127.0.0.1:8000/uk/uk/product-detail/55UL7A63DB">
                            <p class="color-grey-700 text-s-link">View now</p>
                        </a>
                    </div>
                </div>



                </div>
            </div>
        </div>
    </div>

  
  <script type="text/javascript" src="/assets/js/anchorHandler.js"></script>
  <script>//anchorHandler(250)</script>
  <script type="text/javascript" src="/assets/js/navbarStyler.js"></script>
  <script>navbarStyler('gray');</script>
  <script type="text/javascript" src="/assets/js/scrollAnimation.js"></script>

</section>
{% endblock %}    