{% extends 'base.html.twig' %}
{% block body %}
<section>
  <div class="full-section bg-red-carousel-org">
    <div class="padding-t-xxxl padding-b-xxl">
      <p class="text-xl-bold color-white text-align-center">{{staticText.SUPPORTGETINTOUCH}}</p>
    </div>
  </div>

  <div class="full-section">
    <div class="container-1620 mb-5">
      <div class="d-flex flex-row justify-content-between flex-wrap align-items-start pt-5">
        <div class="col-lg-7 col-xl-8 padding-b-xxl">

        <div>
            <p class="margin-b-0 text-l-bold">{{staticText.SUPPORTEMAILUS}}</p>
            <p class="margin-b-0 text-m-s">{{staticText.SUPPORTEMAILUSDESC}}</p>
        </div>

        <div id="myModal" class="popup-modal">
          <!-- The Close Button -->
          <span class="close-serial">&times;</span>

          <!-- Modal Content (The Image) -->
          <img class="modal-content" id="img01">

          <!-- Modal Caption (Image Text) -->
          <div id="caption">
              <span style="color: blue; background-color: grey; font-weight: bold;"> {{ staticText.MAINMENUSUPPORT |upper }}-{{ staticText.SUPPORTMODEL |upper }} </span><span style="color:red; background-color:grey; font-weight: bold;">  {{ staticText.CONTACTFORMSERIALNUMBER |upper }}</span>
          </div>
      </div>

      <div id="myModal1" class="popup-modal">
        <!-- The Close Button -->
        <span class="close-model">&times;</span>

        <!-- Modal Content (The Image) -->
        <img class="modal-content" id="img02">

        <!-- Modal Caption (Image Text) -->
        <div id="caption1">
            <span style="color: blue; background-color: grey; font-weight: bold;"> {{ staticText.MAINMENUSUPPORT |upper }}-{{ staticText.SUPPORTMODEL |upper }} </span><span style="color:red; background-color:grey; font-weight: bold;">  {{ staticText.CONTACTFORMSERIALNUMBER |upper }}</span>
        </div>
    </div>

            <form class="" id="idForm-0" action="{{ path('supportContact', { 'country': country.code, 'language': lang.code }) }}" method="POST" enctype="multipart/form-data">


                <div class="width-100 flex-between-center-nowrap py-2 py-lg-5">
                    <div class="greyLineContact"></div>
                    <div class="padding-h-s">
                        <p class="white-space-nowrap margin-b-0 contactFormSubTitle text-xxs color-grey-400">{{staticText.CONTACTABOUTYOU}}</p>
                    </div>
                    <div class="greyLineContact"></div>
                </div>

                <div class="full-section">
                  <div class="text-align-center">
                    {% if errorMessage != "" %}
                    <p class="margin-b-0 text-m-s color-red-500" id="idForm-0-error-text">{{ errorMessage }}</p>
                    {% endif %}
                    {% if message != "" %}
                    <p class="margin-b-0 text-m-s" style="color: green;" id="idForm-0-error-text"><i class="fa fa-info fa"> {{ message }}</i>

                      </p>

                    {% endif %}
                  </div>
                </div>
                <div class="flex-between-wrap-start">
                    <div class="container-row-2 ">
                        <input class="register-input width-100 padding-l-s" type="text" name="name" placeholder="{{staticText.CONTACTUSNAME}}*" id="idForm-0-input-0">

                    </div>
                    <div class="container-row-2">
                        <input class="register-input width-100 padding-l-s" type="text" name="email" placeholder="E-mail*" id="idForm-0-input-1">
                    </div>
                    <div class="container-row-2 margin-t-xs">
                        <input class="register-input width-100 padding-l-s" type="text" name="phone" placeholder="Phone" id="idForm-0-input-2">
                    </div>
                    <div class="container-row-2 margin-t-xs contactSelectbox">
                        <select class="pl-4 width-100 bg-white register-input" name="selectCountry" id="idForm-1-input-3">
                          {% for _country in countries %}
                            {% if _country.code == country.code %}
                            <option class="color-grey-500" value="{{ _country.id }}" selected>{{ _country.name|raw }}</option>
                            {% else %}
                            <option class="color-grey-500" value="{{ _country.id }}">{{ _country.name|raw }}</option>
                            {% endif %}
                          {% endfor %}
                        </select>
                    </div>
                </div>


                <div class="width-100 flex-between-center-nowrap py-2 py-lg-2">
                    <div class="greyLineContact"></div>
                    <div class="padding-h-s">
                        <p class="white-space-nowrap margin-b-0 contactFormSubTitle text-xxs color-grey-400">{{staticText.CONTACTTOSHIBAPRODUCT}}</p>
                    </div>
                    <div class="greyLineContact"></div>
                </div>


                <div class="flex-between-wrap-start">
                <div class="container-row-2 margin-t-xs"  style="display: table;">
                    <input class="register-input width-100 padding-l-s" type="text" name="model" placeholder="{{staticText.CONTACTMODELNUMBER}}" id="idForm-1-input-0">
                    <div class="input-group-addon"  style="display:none;">
                      <a id="open-modal-pop1" ><img id="myImg1" style="display:none;" src="/assets/img/new-support-serial.png" alt="Image Caption 3" style="width:100%;max-width:300px">
                        <i class="fa fa-info fa-fw"></i></a>

                    </div>
                </div>
                <div class="container-row-2 margin-t-xs"  style="display: table;">
                    <input class="register-input width-100 padding-l-s" type="text" name="serial" placeholder='{{staticText.CONTACTSERIALNUMBER}}' id="idForm-1-input-1">
                    <div class="input-group-addon"  style="display:none;">
                      <a  id="open-modal-pop" ><img id="myImg" style="display:none;" src="/assets/img/new-support-serial.png" alt="Image Caption 3" style="width:100%;max-width:300px">
                        <i class="fa fa-info fa-fw"></i></a>

                    </div>
                </div>
                <div class="container-row-2 margin-t-xs contactSelectbox">
                    <select class="pl-4 width-100 bg-white register-input" placeholder="" name="selectCountry" id="idForm-1-input-3">



                        <option value="1" selected>Currys</option>
                        <option value="2" selected>AO.com</option>
                        <option value="3" selected>John Lewis</option>
                        <option value="4" selected>Argos</option>
                        <option value="5" selected>Amazon</option>

                        <option value="-9" selected>Other(please specify)</option>

                        <option  value="-1" selected>{{staticText.CONTACTWHEREYOUPURCH}}</option>


                    </select>
                    <input style="display:none;" class="register-input width-100 padding-l-s" type="text" name="tvWhere" placeholder="{{staticText.CONTACTWHEREYOUPURCH}}" id="idForm-1-input-2">
                </div>

                <div class="container-row-2 margin-t-xs ">
                    <input class="register-input retailerName width-100 padding-l-s" style="display:none;" type="text" name="rname" placeholder="Retailer name*" id="idForm-0-input-0">
                </div>
                <div style="display:none;" class="container-row-2 margin-t-xs">

                <label class="register-input width-100 margin-t-xs" for="myfile">
                  <div class="w-100 d-flex flex-row justify-content-between">
                    <p class="mb-0 color-grey-400 pl-4">Attachment</p>
                    <div class="div-btn text-align-center"><p class="cursor-pointer color-white">Upload File</p></div>
                  </div>
                </label>
                <input type="file" id="myfile" name="myfile">


                </div>



                </div>



                <div class="width-100 flex-between-center-nowrap py-2 py-lg-2">
                    <div class="greyLineContact"></div>
                    <div class="padding-h-s">
                        <p class="white-space-nowrap margin-b-0 contactFormSubTitle text-xxs color-grey-400">{{staticText.CONTACTMESSAGE}}</p>
                    </div>
                    <div class="greyLineContact"></div> 
                </div>

                <div class="width-100">
                    <textarea name="subject" class="input-border width-100 padding-h-s padding-t-xs color-grey-700" placeholder="{{staticText.CONTACTSUBJECT}}"></textarea>
                </div>

                <div class="width-100 margin-t-s">
                    <textarea name="message" class="input-border width-100 min-height-350-px padding-h-s padding-v-xxs color-grey-700" placeholder="{{staticText.CONTACTMESSAGE}}"></textarea>
                </div>
                <button type="submit" name="submit" class="mt-3 mt-lg-5 learn-more-button float-rightt">{{staticText.SENDMESSAGE}}</button>
            </form>

        </div>



        <div class="col-lg-5 col-xl-4 flex-between-center-nowrap">
          <div class="w-100">
            <div class="width-100 bg-grey-100 py-2 px-2">
              <p class="margin-b-0 text-l color-grey-700">{{staticText.SUPPORTCHATLIVE}}</p>
              <p class="margin-t-xxs margin-b-0 text-m-s color-grey-700">{{staticText.SUPPORTONLINETIME}}</p>
              <p class="margin-t-xxs margin-b-0 text-m-s color-grey-700">{{staticText.SUPPORTONLINETIME2}}</span></p>
              <div class="width-100 contact-widget cursor-pointer">
                  <div class="contact-widget-icon-container">
                      <div class="wrapper-row-start">
                        <ion-icon class="contact-widget-icon" name="call"></ion-icon>
                        <div class="green-circle-container">
                            <div class="green-circle">
                            </div>
                        </div>
                      </div>

                  </div>
                  
                  <div class="width-100 flex-between-center-nowrap">
                    <p class="margin-b-0 text-m-s color-grey-400">{{staticText.ONLINENOW}}</p>
                    <p class="margin-b-0 text-m-s color-red-500">{{staticText.STARTCHAT}}</p>
                  </div>
              </div>
              
            </div>


            <div class="w-100 bg-grey-100 margin-t-s padding-t-m px-2 py-2">
                <p class="margin-b-0 text-l color-grey-700">{{staticText.SUPPORTCALLUS}}</p>
                <p class="margin-t-xxs margin-b-0 text-m-s color-grey-700">{{staticText.SUPPORTONLINETIME}}</p>
                <p class="margin-t-xxs margin-b-0 text-m-s color-grey-700">{{staticText.SUPPORTONLINETIME2}}</p>

                <div class="width-100 margin-t-30">
                    <p class="margin-b-0 contact-phone contactPhoneNumber color-red-500">{{staticText.CALLNUMBER}}</p>
                </div>
              </div>
            <p class="touchusinformation">{{staticText.SUPPORTMAINDESC}}</p>



          </div>

          <!-- <div class="width-100 margin-t-ms">
            <p class="margin-b-0 text-s color-grey-400 max-width-422-px">Calls from landlines cost up to 9p per minute, mobile tariffs may vary – please check with your provider</p>
          </div> -->

        </div>
      </div>

    </div>
  </div>

  <div class="container-fluid py-6 bg--light-grey">
    <div class="container">
    <div class="row pb-3">
      <div class="col-12 align-text--center">
        <h2>{{staticText.SUPPORTGETINTOUCH}}</h2>
      </div>
    </div>
    <div class="row">
    
    
    
    
    <div class="col-4">
      <div class="content-card">
        <div class="content-card__text white-bg p-2 align-text--left">
            <p class="margin-b-0 text-l color-grey-700">Chat live</p>
            <p class="margin-t-xxs margin-b-0 text-m-s color-grey-700">{{staticText.SUPPORTONLINETIME}}</p>
            <p class="margin-t-xxs margin-b-0 text-m-s color-grey-700">{{staticText.SUPPORTONLINETIME2}}</p>
            <div class="width-100 contact-widget  bg--light-grey cursor-pointer">
              <div class="contact-widget-icon-container">
                  <div class="wrapper-row-start">
                    <ion-icon class="contact-widget-icon" name="call"></ion-icon>
                    <div class="green-circle-container">
                        <div class="green-circle">
                        </div>
                    </div>
                  </div>
              </div>
              
              <div class="width-100 flex-between-center-nowrap">
                <p class="margin-b-0 text-m-s color-grey-400">{{staticText.ONLINENOW}}</p>
                <p class="margin-b-0 text-m-s color-red-500">{{staticText.STARTCHAT}}</p>
              </div>
            </div>
        </div>
      </div>
    </div>
    
    
    
    
    <div class="col-4">
      <div class="content-card">
        <div class="content-card__text white-bg p-2 align-text--left">
    
        <p class="margin-b-0 text-l color-grey-700">{{staticText.SUPPORTCALLUS}}</p>
        <p class="margin-t-xxs margin-b-0 text-m-s color-grey-700">{{staticText.SUPPORTONLINETIME}}</p>
        <p class="margin-t-xxs margin-b-0 text-m-s color-grey-700">{{staticText.SUPPORTONLINETIME2}}</p>
        <div class="width-100 margin-t-30 ">
            <p class="margin-b-0 contact-phone color-red-500 supportmodelCallUs">{{staticText.CALLNUMBER}}</p>
        </div>
    
        </div>
      </div>
    </div>
    
      <div class="col-4">
        <div class="content-card">
          <div class="content-card__text white-bg p-2 align-text--left">
    
    
          <p class="margin-b-0 text-l color-grey-700">{{staticText.SUPPORTEMAILUS}}</p>
    
          <p class="margin-t-xxs margin-b-0 text-m-s color-grey-700">{{staticText.SUPPORTEMAILUSDESC}}</p>
    
          <div class="btn__container supportmodelEmailUs width-100">
            <a class="btn btn--red" href="{{ path('supportContact', { 'country': country.code, 'language': lang.code }) }}">{{staticText.SUPPORTEMAILUS}}</a>
          </div>
    
    
          </div>
        </div>
      </div>
    </div>
    </div>
    
    <p class="touchusinformation">{{staticText.SUPPORTMAINDESC}}</p>
    </div>
  <script>
    var modal = document.getElementById("myModal");
    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img = document.getElementById("myImg");
    var aClick = document.getElementById('open-modal-pop');
    var modalImg = document.getElementById("img01");
    aClick.onclick = function(){
    modal.style.display = "block";
    modalImg.src = img.src;


    }

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close-serial")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
    modal.style.display = "none";
    }
  </script>
  <script>
    var modelModal = document.getElementById("myModal1");
    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var modelImg = document.getElementById("myImg1");
    var aClickModel = document.getElementById('open-modal-pop1');
    var modelModalImg = document.getElementById("img02");
    aClickModel.onclick = function(){
    modelModal.style.display = "block";
    modelModalImg.src = modelImg.src;


    }

    // Get the <span> element that closes the modal
    var spanModel = document.getElementsByClassName("close-model")[0];

    // When the user clicks on <span> (x), close the modal
      spanModel.onclick = function() {
    modelModal.style.display = "none";
      }
  </script>
  <script type="text/javascript" src="/assets/js/checkBoxParentStyler.js"></script>
  <script type="text/javascript" src="/assets/js/navbarStyler.js"></script>
  <script>navbarStyler('black');</script>
</section>
{% endblock %}
