{% extends 'base.html.twig' %}
{% block body %}
<section>
  <div class="full-section bg-red-carousel-org">
    <div class="padding-t-xxxl padding-b-xxl">
      <p class="text-xl-bold color-white text-align-center">Dashboard</p>
    </div>
  </div>

  <div class="full-section padding-v-xxl">
    <div class="container-1620">
      <div class="flex-between-nowrap-start">
        {% for product in productArray %}
        <div class="flex-0032">
          <div class="width-100 border-radius-custom overflow-hidden">
            <div class="width-100 bg-grey-100 padding-t-m padding-h-m">
              <p class="margin-b-0 text-align-center text-m-l-bold color-grey-700">Your registered product</p>
              <img class="margin-t-m width-100 height-auto" src="/assets/img/55VL5A63DB_Front.png">
              <p class="margin-b-0 margin-t-ms text-align-center text-m-bold color-grey-700">{{product.code}}</p>
              <div class="flex-between-center-nowrap margin-t-ms">
  
                <div class="container-row-2-full border-grey-right padding-b-s text-align-center">
                  <p class="margin-b-0 text-m-s color-grey-700">Model Number</p>
                  <p class="margin-b-0 text-m-s-bold color-grey-700">{{product.code}}</p>
                </div>
  
                {# <div class="container-row-2-full border-grey-left padding-b-s text-align-center">
                  <p class="margin-b-0 text-m-s color-grey-700">Serial Number</p>
                  <p class="margin-b-0 text-m-s-bold color-grey-700">7766078700112</p>
                </div> #}
  
              </div>


              {# <div class="flex-between-center-nowrap border-grey-top" id="img-large-btn">
                <div class="width-100 cursor-pointer padding-t-xs padding-b-xs text-align-center">
                  <p class="margin-b-0 text-m-s color-grey-700">Proof of purchase</p>
                  <p class="margin-b-0 text-m-s-bold color-grey-700">Click to enlarge image</p>
                </div>
  
              </div> #}


            </div>
            {% if product.status == 0%}
            <div class="width-100 bg-grey-600 text-align-center padding-v-xs">
              <p class="margin-b-0 text-m-s color-white">Product status</p>
              <p class="margin-b-0 text-m-s-bold color-white">Pending approval</p>
            </div>
            {% else %}
            <div class="width-100 bg-grey-600 text-align-center padding-v-xs">
              <p class="margin-b-0 text-m-s color-white">Product status</p>
              <p class="margin-b-0 text-m-s-bold color-white">Approved</p>
            </div>
            {% endif %}
          </div>

        </div>
        {% endfor %}
        <a class="flex-0032 cursor-pointer" href="{{path('addNewProduct', { 'country': country.code, 'language': lang.code })}}">
          <div class="width-100 wrapper-row-align-center-center height-500 add-product-border">
            <div class="text-align-center" id="add-product-btn">
                <ion-icon class="add-icon" name="add-circle"></ion-icon>
                <p class="margin-b-0 text-l-bold color-grey-400">Add new product</p>
            </div>
          </div>
        </a>
        <div class="flex-0032">
          <div class="width-100 border-radius-custom overflow-hidden">
            <div class="width-100 bg-grey-100 padding-t-m padding-h-m padding-b-m">
              <p class="margin-b-0 text-l color-grey-700">Hello, {{ user.name }}</p>
              <p class="margin-b-0 text-s color-grey-700">Register and manage your Toshiba products</p>
              <a href="{{path('addNewProduct', { 'country': country.code, 'language': lang.code })}}">
                <button class="learn-more-button-big margin-t-xs">Add new product</button>
              </a>
              <button class="learn-more-button-big margin-t-xs"><a href="{{ path('editProfile', { 'country': country.code, 'language': lang.code }) }}">Edit profile</a></button>
              <button class="learn-more-button-border-big margin-t-xs"><a href="{{ path('logout', { 'country': country.code, 'language': lang.code }) }}">Logout</a> <ion-icon class="dashboard-logout-icon" name="exit"></ion-icon></button>
            </div>
          </div>
          
        </div>
      </div>
      
    </div>
  </div>

  <div class="full-screen-section wrapper-row-align-center-center bg-black-opacity-08 display-none" id="proof-modal">
    <div class="width-50-p">
      <img class="width-100 height-auto" src="/assets/img/55VL5A63DB_Front.png">
    </div>
  </div>
  <script type="text/javascript" src="/assets/js/navbarStyler.js"></script>
  <script>navbarStyler('black')</script>
  <script type="text/javascript" src="/assets/js/dashboard.js"></script>
</section>
{% endblock %}    
