{% extends 'base.html.twig' %}
{% block body %}
<section>
  <div class="full-section bg-red-carousel-org">
    <div class="padding-t-xxxl padding-b-xxl">
      <p class="text-xl-bold color-white text-align-center">Edit profile</p>
    </div>
  </div>

<div class="full-section">
<div class="container-1620">
    <div class="wrapper-row-align-center-center">
        <div class="flex-0064">

          <div class="full-section padding-t-s">
            <div class="text-align-center">
            {% if message != "" %}
              <p class="text-s color-red-500" id="idForm-0-error-text">{{message}}</p>
            {% endif %}  
            </div>
          </div>
        <form class="margin-t-xxs margin-b-xl" id="idForm-0" action="{{ path('editProfile', { 'country': country.code, 'language': lang.code }) }}" method="POST" enctype="multipart/form-data">
              <div class="flex-between-wrap-start padding-t-xs ">
                <div class="container-row-2 margin-t-xs">
                  <input class="register-input width-100 padding-l-s" value="{{ user.name }}" type="text" name="name" placeholder="Your Name*" id="idForm-1-input-0">
                </div>
                <div class="container-row-2 margin-t-xs">
                  <input class="register-input width-100 padding-l-s" value="{{ user.email }}" type="email" name="email" placeholder="Your email address*" id="idForm-0-input-1">
                </div>
                <div class="container-row-2 margin-t-xs">
                  <input class="register-input width-100 padding-l-s" value="{{ user.phone}}" type="text" name="phone" placeholder="Your phone number" id="idForm-0-input-2">
                </div>
                <div class="container-row-2 margin-t-xs">
                  <input class="register-input width-100 padding-l-s" vale="{{ user.birthDate|date("m/d/Y") }}" type="text" name="birthdate" placeholder="Date of birth(dd-mm-yyyy)" id="idForm-0-input-3">
                </div>
                <div class="container-row-2 margin-t-xs">
                  <input class="register-input width-100 padding-l-s" value="" type="text" name="gender" placeholder="Gender" id="idForm-0-input-4">
                </div>
                <div class="container-row-2 margin-t-xs">
                  <input class="register-input width-100 padding-l-s" value="{{ user.education }}" type="text" name="education" placeholder="Education" id="idForm-0-input-5">
                </div>
                <div class="container-row-2 margin-t-xs">
                  <input class="register-input width-100 padding-l-s" type="text" value="{{ user.education }}" name="place" placeholder="Employment status" id="idForm-0-input-6">
                </div>
              </div>

              <div class="flex-between-wrap-start padding-t-xs">
                <div class="container-row-2 margin-t-xs">
                  <input class="register-input width-100 padding-l-s" value="{{ user.address }}" type="text" name="address" placeholder="Address*" id="idForm-0-input-7">
                </div>
                <div class="container-row-2 margin-t-xs">
                  <input class="register-input width-100 padding-l-s" value="{{ user.city }}" type="text" name="city" placeholder="City" id="idForm-0-input-8">
                </div>
                <div class="container-row-2 margin-t-xs">
                  <select class="width-100 padding-l-s bg-white register-input" name="selectCountry" id="idForm-0-input-10">
                  {% for selectCountry in countries %}
                  {% if user.country.id == selectCountry.id %}
                    <option class="color-grey-500" value="{{ selectCountry.id }}" selected>{{ selectCountry.name }}</option>
                  {% else %}  
                    <option class="color-grey-500" value="{{ selectCountry.id }}">{{ selectCountry.name }}</option>
                  {% endif %}  
                  {% endfor %}  
                  </select>
                </div>
                <div class="container-row-2 margin-t-xs">
                  <input class="register-input width-100 padding-l-s" value="{{ user.zipCode }}" type="text" name="postcode" placeholder="Postcode*" id="idForm-0-input-11">
                </div>
              </div>

              <div class="wrapper-row-start-a-center">
                <div class="margin-t-xs margin-r-xs">
                  <button class="learn-more-button" type="submit" name="submit">Submit</button>
                </div>
                <div class="margin-t-xs">
                  <button class="learn-more-button-border" type="cancel" name="cancel"><a href="{{ path('dashboard', { 'country': country.code, 'language': lang.code }) }}">Cancel</a></button>
                </div>
              </div>
              
          </form>
        </div>
      </div>
    </div>
  </div>
  <script>
    window.onload = function() {
      $('#idForm-0-input-2').datepicker();
    }
    
  </script>
  <script type="text/javascript" src="/assets/js/navbarStyler.js"></script>
  <script>navbarStyler('black');</script>
</section>
{% endblock %}    
