{% extends 'base.html.twig' %}
{% block body %}
<section>
    <div class="full-section bg-red-carousel-org">
        <div class="padding-t-xxxl padding-b-xxl">
          <p class="text-xl-bold color-white text-align-center">Environmental Policy</p>
        </div>
      </div>

      <div class="section-full padding-t-l padding-b-60">
        <div class="col-sm-12">

            <div class="newsText">
                <h3 class="text-align-center">Management Of Chemicals</h3><h4>Reach</h4><p>The European Union (EU) chemical regulation, REACH (Registration, Evaluation, Authorization and Restriction of Chemicals), entered into force on 1 June 2007.</p><p>Vestel will meet all REACH requirements and we are committed to provide our customers with information about the chemical substances in our products according to REACH regulation.</p><p>Based on Toshiba's Commitment to put concern for the environment as a priority in all our business activities so as to protect people's safety and health as well as the world's natural resources, Vestel supports the overall goal of REACH and is committed to comply and to fulfil all legal obligations.</p><ul class="menu"><li><br><a href="https://toshiba-tv.com/files/vestel-toshiba-declaration.pdf" title="To download Vestel Declaration for television, click here." download="">To download Vestel Declaration for Television, click here.</a></li><li><br><a href="https://toshiba-tv.com/files/reach/vestel-repic-certificate.pdf" title="To download the REPIC certificate, click here" download="">To download the REPIC certificate, click here.</a></li></ul>

            </div>
          </div>
      </div>
</section>
{% endblock %}