<div class="full-section padding-t-xxxl filtersBar" id="filter-header-section1">
    <div class="filterSticky new-container padding-v-s padding-h-m {{filterColor}}">
        <div class="flex-between-center-nowrap">
            <div class="flex-between-center-nowrap" id="filter-left-container">

                <div class="margin-r-30 text-m-bold text-white {{filterTextColor}}">
                    Filter TVs
                </div>



                  {# <!--{{ filterSelector }}-->
                    <!---div class="filterGroup flex-between-center-nowrap contactSelectbox">
                        <select class=" {{ filterSelectorTextColor }} text-xs margin-r-xxs " id="selector-add-filter">
                            <option value="" disabled selected>Add Filter</option>
                            {% for filter in filters %}
                            <option class="select-option" value="{{ filter.filterCategoryId }}">{{ filter.filterCategoryName }}</option>
                            {% endfor %}
                        </select>
                    </div--->

                    <!----disabled selected hidden--> #}
                    <div class="filterGroup flex-between-center-nowrap filterSelecboxes">
                        {% for filter in filters %}
                        <div class="contactSelectbox fcatid{{ filter.filterCategoryId }}">
                        <select class="filter-selector ftselect text-xs " data-fcatid="{{ filter.filterCategoryId }}" data-value="{{ filter.filterCategoryId }}">
                            <option value="0" >{{ filter.filterCategoryName }}</option>
                            {% for value in filter.values %}
                            <option value="{{ value.id }}">{{ value.name }}</option>
                            {% endfor %}
                        </select>
                      </div>
                        {% endfor %}
                    </div>



                      <div class="filterGroup filter-header-left-container-button-wrapper filterApply">
                          <button class="filter-header-left-button-grey bg-grey-600 text-xs color-grey-400">
                              Apply
                          </button>
                      </div>



                    <div class="filterGroup filter-header-left-container-button-wrapper filterCancel">
                        <button class="filter-header-left-button-grey bg-grey-600 text-xs color-grey-400" id="button-cancel">
                            Cancel
                        </button>
                    </div>

                    <div class="filter-header-left-container-button-wrapper addFilter">
                        <button class="filter-header-left-button-grey bg-grey-600 text-xs color-grey-400" id="">
                            Add Filters
                        </button>
                    </div>


            </div>
            <!-- <div class="filter-header-right-container">
                <div class="white-space-nowrap filter-header-right-text filterResultCount">
                    <span>27</span> products
                </div>
                <div class="contactSelectbox filterOrder">
                    <select class="filter-selector text-xs">
                        <option value="recommended">Recommended</option>
                        <option value="1">Newest First</option>
                        <option value="2">Oldest First </option>
                        <option value="3">Price (Low to High)</option>
                        <option value="4">Price (High to Low)</option>
                    </select>
                </div>
            </div> -->
        </div>
    </div>
</div>

<style>

.filterSticky.shrink {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 99;
}


</style>
