{% extends 'base.html.twig' %}
{% block body %}
<div class="bigSearchHeader">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <h1 class="ptop30 mbottom30">Product forum</h1>
                <form class="form-inline tsbSearch bigSearch">
                    <a href="./Support-home.html">
                        <ion-icon name="home" class="searchHomeIcon"></ion-icon>
                    </a>
                    <div class="input-group tsbSearch">
                        <div class="input-group-prepend
                                        border-0">
                            <button id="button-addon4" type="button" class="btn
                                            btn-link text-info">
                                <ion-icon class="light iconsearch lg" name="search"></ion-icon>
                            </button>
                        </div>
                        <input type="search" id="bigSearch" placeholder="Search for an answer" aria-describedby="button-addon4" class="form-control border-0 tsbinput">

                        </input>
                    </div>
                </form>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>
    <div class="headerBottom">
        <div class="container ">
            <div class="col-lg-12">
                <div class="col-lg-6 fleft">
                    <button class="btn btn-primary ellipse red">Ask a question</button>
                </div>
                <div class="col-lg-6 fright">
                    <div class="dropdown filterOptions light">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Most recent</button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--support home search section end-->
    <div class="container mbottom30">
        <div class="row">
            <div class="col-lg-12 text-center mtop30">
                <span class="thrCount mbottom30">128 threads</span>
                <ul class="col-lg-12 mtop30 commentList">
                    <li class="forumItem col-lg-8 fleft">
                        <p class="name">David Smith <span class="dot">.</span> <span class="dateLog">10 gün önce</span></p>
                        <span class="redText fleft">Lorem ipsum dolor sit amet, poor signal sadipscing elitr</span>
                        <p class="comment fleft ptop15">Sed diam nonumy eirmod tempor invidunt ut labore et dolore magna signal quality erat, diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum […]</p>
                    </li>
                    <div class="commentLog col-lg-4 mbottom30">
                        <ul class="cLogIconlist">
                            <li class="done">
                                <ion-icon name="ios-checkmark-circle-outline" class="fit iSolved"></ion-icon><span class="solved">Solved</span> </li>
                            <li>
                                <ion-icon name="eye" class="fit iView"></ion-icon> <span class="viewCount">154</span> </li>
                            <li>
                                <ion-icon name="chatbubbles" class="fit iComment"></ion-icon> <span class="commentCount">24</span> </li>
                        </ul>

                    </div>
                    <li class="forumItem col-lg-8 fleft">
                        <p class="name">David Smith <span class="dot">.</span> <span class="dateLog">10 gün önce</span></p>
                        <span class="redText fleft">Lorem ipsum dolor sit amet, poor signal sadipscing elitr</span>
                        <p class="comment fleft ptop15">Sed diam nonumy eirmod tempor invidunt ut labore et dolore magna signal quality erat, diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum […]</p>
                    </li>
                    <div class="commentLog col-lg-4 mbottom30">
                        <ul class="cLogIconlist">
                            <li class="done">
                                <ion-icon name="ios-checkmark-circle-outline" class="fit iSolved"></ion-icon><span class="solved">Solved</span> </li>
                            <li>
                                <ion-icon name="eye" class="fit iView"></ion-icon> <span class="viewCount">154</span> </li>
                            <li>
                                <ion-icon name="chatbubbles" class="fit iComment"></ion-icon> <span class="commentCount">24</span> </li>
                        </ul>

                    </div>

                </ul>
                <div class="pagination fright mtop30">
                    <span class="number">Page 1 of 10</span>
                    <a href="#">
                        <ion-icon name="ios-arrow-back" class="pIcon left"></ion-icon>
                    </a>
                    <a href="#">
                        <ion-icon name="ios-arrow-forward" class="pIcon right"></ion-icon>
                    </a>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
{% endblock %}    