{% extends 'base.html.twig' %}
{% block body %}
<div class="bigSearchHeader">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <h1 class="ptop30 mbottom30">Product forum</h1>
                <form class="form-inline tsbSearch bigSearch">
                    <a href="./Support-home.html">
                        <ion-icon name="home" class="searchHomeIcon"></ion-icon>
                    </a>
                    <div class="input-group tsbSearch">
                        <div class="input-group-prepend
                                        border-0">
                            <button id="button-addon4" type="button" class="btn
                                            btn-link text-info">
                                <ion-icon class="light iconsearch lg" name="search"></ion-icon>
                            </button>
                        </div>
                        <input type="search" id="bigSearch" placeholder="Search for an answer" aria-describedby="button-addon4" class="form-control border-0 tsbinput">

                        </input>
                    </div>
                </form>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>
    <div class="headerBottom">
        <div class="container ">
            <div class="col-lg-12">
                <div class="col-lg-6 fleft">
                    <button class="btn btn-primary ellipse red">Ask a question</button>
                </div>
                <div class="col-lg-6 fright">
                    <div class="dropdown filterOptions light">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Most recent</button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--support home search section end-->
    <div class="container mbottom30">
        <div class="row">
            <div class="col-lg-12 mtop30">
                <div class="col-lg-8 fleft">
                    <h2 class="bigHead">Lorem ipsum dolor sit amet, consetetur sadipscing elitr?</h2>
                    <p class="forumText">
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
                        sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo
                        duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. <br><br> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                        invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor
                        sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
                        takimata sanctus est Lorem ipsum dolor sit amet.<br><br> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
                        accusam et justo duo dolores et.
                    </p>
                    <h3 class="done">Accepted solution</h3>
                    <div class="acceptTextBox">
                        <p class="name"> <b>David Smith</b> <span class="dot">.</span> <span class="dateLog">10 days ago</span></p>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
                            gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                    </div>
                    <h3 class="mtop30">Write a reply</h3>
                    <hr class="w-100 b2">
                    <form class="contact">
                        <div class="form-group col-lg-12 p-0 ">
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Your answer"></textarea>
                        </div>
                        <div class="form-group col-lg-6 fleft p-0 pright15">

                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Your email">

                        </div>
                        <div class=" form-group col-lg-6 fleft p-0 pleft15 ">
                            <input type="email " class="form-control " id="exampleFormControlInput1 " placeholder="Your email ">

                        </div>
                    </form>
                    <p class="col-lg-9 fleft p-0 note mbottom30">Your email address will not be shared with users</p>
                    <button class="btn resetRadius red large w-100 col-lg-3 fleft mbottom30">Post reply</button>
                    <div class="clearfix"></div>
                    <h3 class="mtop30">All replies</h3>
                    <hr class="b2">
                    <div class="Replies">
                        <p class="name"> <b>David Smith</b> <span class="dot">.</span> <span class="dateLog">10 days ago</span></p>
                        <p class="forumText">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
                            gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                    </div>
                    <hr class="b2">
                    <div class="Replies">
                        <p class="name"> <b>David Smith</b> <span class="dot">.</span> <span class="dateLog">10 days ago</span></p>
                        <p class="forumText">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
                            gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                    </div>
                    <hr class="b2">
                    <div class="Replies">
                        <p class="name"> <b>David Smith</b> <span class="dot">.</span> <span class="dateLog">10 days ago</span></p>
                        <p class="forumText">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
                            gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                    </div>
                    <hr class="b2">

                </div>
                <div class="col-lg-4 fleft">
                    <div class="guestBox">
                        <p class="name"> <b>David Smith</b> <span class="dot">.</span> <span class="dateLog">10 days ago</span></p>
                        <hr class="m0  light">
                        <div class="commentLog col-lg-4 mbottom30 ">
                            <ul class="cLogIconlist d-inline-block">
                                <li class="done w-100">
                                    <ion-icon name="ios-checkmark-circle-outline" class="fit iSolved"></ion-icon><span class="solved">Solved</span> </li>
                                <li class="w-100">
                                    <ion-icon name="eye" class="fit iView"></ion-icon> <span class="viewCount">154 views</span> </li>
                                <li class="w-100">
                                    <ion-icon name="chatbubbles" class="fit iComment"></ion-icon> <span class="commentCount">24 replies</span> </li>
                            </ul>

                        </div>
                    </div>
                    <div class="questionList mtop30 w-100">
                        <h3 class="mtop30">Write a reply</h3>
                        <hr class="light">
                        <ul class="questions">
                            <li> <a href="#" class="redUrl uLine">Lorem ipsum dolor sit amet, consetetur sadipscing elitr?</a> </li>
                            <li> <a href="#" class="redUrl uLine">Lorem ipsum dolor sit amet, consetetur sadipscing elitr?</a> </li>
                            <li> <a href="#" class="redUrl uLine">Lorem ipsum dolor sit amet, consetetur sadipscing elitr?</a> </li>
                            <li> <a href="#" class="redUrl uLine">Lorem ipsum dolor sit amet, consetetur sadipscing elitr?</a> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
{% endblock %}    