{% extends 'base.html.twig' %}
{% block body %}
<section class="home">
        <div class="w-100">
        <div class="row ">
        
        {% if lang.code == "eu" %}
        <div class="col-12">
            <div class="home-bg-img">
            {# <img class="width-100 height-auto" style="visibility: hidden;" src="/assets/img/home/web-banner.jpg" /> #}
            </div>
             <div class="col-md-6 col-md-offset-6 new-index-text-container">
             <ul class="w-100 ">
                            {# <li class="w-100"><img class="centered-image-big" src="/assets/img/tru-picture-engine.png"></li> #}
                            <li class="text-xl-bold color-white mt-1">BIG SCREEN MOMENTS</li>
                            <li class="text-l color-white">FOR EVERY HOME</li>
                            {# <li class="text-xxl-bold color-white mt-1">FOR <span class="text-xxl color-white">TRU</span> LIFE</li> #}
                            <li class="text-m color-white mt-1">Enjoy all your favourite content with our stunning</li>
                            <li class="text-m color-white mb-0">4K resolution and epic TRU picture engine.</li>
                            <li class="text-m color-white mt-1">The new Toshiba UL20 Smart TV, available now.</li>
                            <div class="btn__container mt-1">
                                <a class="btn btn--red header-logo-btn" href="http://uk-uk.toshiba-tv.com/uk/uk/product-detail/40UL2063DB-ult">{{ staticText.LEARNMORE }}</a>
                            </div>

            </ul>
             </div>
        </div>
        {% elseif lang.code == "uk" %}
        <div class="col-12">
            <div class="home-bg-img">
            {# <img class="width-100 height-auto" style="visibility: hidden;" src="/assets/img/home/web-banner.jpg" /> #}
            </div>
             <div class="col-md-6 col-md-offset-6 new-index-text-container">
             <ul class="w-100 ">
                            {# <li class="w-100"><img class="centered-image-big" src="/assets/img/tru-picture-engine.png"></li> #}
                            <li class="text-xl-bold color-white mt-1">BIG SCREEN MOMENTS</li>
                            <li class="text-l color-white">FOR EVERY HOME</li>
                            {# <li class="text-xxl-bold color-white mt-1">FOR <span class="text-xxl color-white">TRU</span> LIFE</li> #}
                            <li class="text-m color-white mt-1">Enjoy all your favourite content with our stunning</li>
                            <li class="text-m color-white mb-0">4K resolution and epic TRU picture engine.</li>
                            <li class="text-m color-white mt-1">The new Toshiba UL20 Smart TV, available now.</li>
                            <div class="btn__container mt-1">
                                <a class="btn btn--red header-logo-btn" href="http://uk-uk.toshiba-tv.com/uk/uk/product-detail/40UL2063DB-ult">{{ staticText.LEARNMORE }}</a>
                            </div>

            </ul>
             </div>
        </div>
        {% else %}
        <div class="col-6 p-0">
                    <div class="width-100">
                        <img class="width-100 height-auto" src="/assets/img/toshiba-tiny/TRUPicture_PDP_KeyVisual_Toshiba-min.png" />
                    </div>
                </div>
                <div class="col-6 bg--red-pattern p-0">

                    <ul class="w-100 text-center index-text-container">
                        <li class="w-100"><img class="centered-image-big" src="/assets/img/tru-picture-engine.png"></li>
                        <li class="text-xxl-bold color-white mt-2">TV MADE</li>
                        <li class="text-xxl-bold color-white mt-1">FOR <span class="text-xxl color-white">TRU</span> LIFE</li>
                        <li class="text-m color-white mb-0">Feel part of whatever you watch with</li>
                        <li class="text-m color-white mb-0">TRU Picture Engine’s smooth, upscaled and</li>
                        <li class="text-m color-white mb-0">and more detailed picture quality.</li>
                        <li class="mt-3 mb-3"><a href="{{ path('truPictureEng', { 'country': country.code, 'language': lang.code }) }}"><button class="learn-more-button-white color-grey700 text-m-s">{{staticText.LEARNMORE}}</button></a></li>
                    </ul>

                </div>
            {# <div class="row">
                <div class="col-6 p-0">
                    <div class="width-100">
                        <img class="width-100 height-auto" src="/assets/img/toshiba-tiny/TRUPicture_PDP_KeyVisual_Toshiba-min.png" />
                    </div>
                </div>
                <div class="col-6 bg--red-pattern p-0">

                    <ul class="w-100 text-center index-text-container">
                        <li class="w-100"><img class="centered-image-big" src="/assets/img/tru-picture-engine.png"></li>
                        <li class="text-xxl-bold color-white mt-2">TV MADE</li>
                        <li class="text-xxl-bold color-white mt-1">FOR <span class="text-xxl color-white">TRU</span> LIFE</li>
                        <li class="text-m color-white mb-0">Feel part of whatever you watch with</li>
                        <li class="text-m color-white mb-0">TRU Picture Engine’s smooth, upscaled and</li>
                        <li class="text-m color-white mb-0">and more detailed picture quality.</li>
                        <li class="mt-3 mb-3"><a href="{{ path('truPictureEng', { 'country': country.code, 'language': lang.code }) }}"><button class="learn-more-button-white color-grey700 text-m-s">Learn More</button></a></li>
                    </ul>

                </div>
            </div> #}

        </div>
        {% endif %}
    </section>
    <!--home image section end-->

    <!--home product explore section-->

    <div class="w-100 pt-5 pb-5">
        <div class="container">
            <div class="text-center">
                <h2>{{staticText.EXPLORETVS}}</h2>
            </div>
            <div class="wrapper-row-center padding-b-m">
                    <a href = "{{ path('allProduct', { 'country': country.code, 'language': lang.code }) }}"><h5 class="pt-1 text-underline color--red5">{{ staticText.SEEDETAILS }}</h5></a>
            </div>
            <div class="row">
              {% if featuredCategories[0].categoryName is defined %}
                <div class="col-3">
                    <div class="w-100 bg--black-pattern bg--clip-border p-2">
                        <div class="w-100">
                            <img draggable="false" class="w-100 height-auto" src="/assets/img/toshiba-tiny/49UL7A63DB_Front_Screenfill.png"/>
                        </div>
                        <div class="text-center mt-4">
                            <h2 class="white-space-nowrap color--gold" style="font-size: 25px !important;">{{featuredCategories[0].categoryName| raw}} </h2>
                            <div>
                                <a href="{{ path('getCategoryBySef', { 'country': country.code, 'language': lang.code, 'sef': featuredCategories[0].categoryLink }) }}"><p class="text-underline color--gold3">{{ staticText.VIEWNOW }}</p></a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if featuredCategories[4].categoryName is defined %}
                <div class="col-3">
                    <div class="w-100 bg--red-pattern bg--clip-border p-2">
                        <div class="w-100">
                            <img draggable="false" class="w-100" src="/assets/img/toshiba-tiny/49UL7A63DB_Front_Screenfill.png"/>
                        </div>
                        <div class="text-align-center mt-4">
                            <h2 class="white-space-nowrap color--white" style="font-size: 25px !important;"> {{featuredCategories[4].categoryName|raw}}</h2>
                            <div>
                                <a href="{{ path('getCategoryBySef', { 'country': country.code, 'language': lang.code, 'sef': featuredCategories[4].categoryLink }) }}"><p class="text-underline color--white">{{ staticText.VIEWNOW }}</p></a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if featuredCategories[3].categoryName is defined %}
                <div class="col-3">
                    <div class="w-100 bg--light-grey bg--clip-border p-2">
                        <div class="w-100">
                            <img draggable="false" class="w-100" src="/assets/img/toshiba-tiny/24WL3A63DB_Front.png"/>
                        </div>
                        <div class="text-center mt-4">
                            <h2 class="white-space-nowrap color--grey7" style="font-size: 25px !important;">{{featuredCategories[3].categoryName|raw}}</h2>
                            <div>
                                <a href="{{ path('getCategoryBySef', { 'country': country.code, 'language': lang.code, 'sef': featuredCategories[3].categoryLink }) }}"><p class="text-underline color--red5">{{ staticText.VIEWNOW }}</p></a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if featuredCategories[1].categoryName is defined %}
                <div class="col-3">
                    <div class="w-100 bg--light-grey bg--clip-border p-2">
                        <div class="w-100">
                            <img draggable="false" class="w-100" src="/assets/img/toshiba-tiny/55VL5A63DB_Front.png"/>
                        </div>
                        <div class="text-center mt-4">
                            <h2 class="white-space-nowrap color--grey7" style="font-size: 25px !important;">{{featuredCategories[1].categoryName|raw}}</h2>
                            <div>
                                <a href="{{ path('getCategoryBySef', { 'country': country.code, 'language': lang.code, 'sef': featuredCategories[1].categoryLink }) }}"><p class="text-underline color--red5">{{ staticText.VIEWNOW }}</p></a>
                            </div>
                        </div>
                    </div>
                </div>

                {% endif %}

            </div>
        </div>
    </div>

    <div class="w-100 bg--light-grey py-5">
        <div class="container">
            <div class="text-center">
                <h2>{{ staticText.SMARTERTHAN }}</h2>
                <a href="{{ path('smartTv', { 'country': country.code, 'language': lang.code }) }}" ><p class="text-underline color--red5 mt-1">{{ staticText.VIEWALLSMARTTV }}</p></a>
                <p class="py-2 px-4">
                    {{staticText.HOMESMARTTVTEXT}}
                </p>
            </div>

            <div class="row text-align-center">
                {# <div class="col-4 centered-col-first">

                <div class="product-card">
                    <div class="w-100 py-1 padding6-index">
                        <img class="height-auto" src="/assets/img/Logo_AndroidTV_Black_Toshiba.png"/>
                    </div>
                    <div class="product-card__image">
                        <img class="w-100 height-auto" src="/assets/img/toshiba-tiny/TVStand_AndroidTV_Toshiba.png"/>
                    </div>
                    <div class="product-card__text home-page-bg-colour">
                        <h3 class="py-1">Do more with</br> your TV</h3>
                    </div>
                    <div class="w-100 d-flex flex-row justify-content-center pb-1 home-page-bg-colour ">

                        <div class="btn__container">

                            <a class="btn btn--red new-btn-padding" href="{{ path('androidTv', { 'country': country.code, 'language': lang.code }) }}">Learn more</a>

                        </div>

                    </div>
                </div>
                </div> #}

                <div class="col-lg-4 newCol-centered">
                <div class="product-card">
                    <div class="w-100 py-1 padding6-index">
                        <img class="height-auto" src="/assets/img/home-page-logos/smarttvlogo@2x.png"/>
                    </div>
                    <div class="product-card__image">
                        <img class="w-100 height-auto" src="/assets/img/home-page-logos/TVStand_ToshibaConnect_Toshiba.png"/>
                    </div>
                    <div class="product-card__text home-page-bg-colour">
                        <h3 class="py-1">{{ staticText.HOMESMARTMINI}}</h3>
                    </div>
                    <div class="w-100 d-flex flex-row justify-content-center pb-1 home-page-bg-colour">

                        <div class="btn__container">

                            <a class="btn btn--red new-btn-padding" href="{{ path('smartTv', { 'country': country.code, 'language': lang.code }) }}">{{ staticText.LEARNMORE }}</a>

                        </div>

                    </div>
                </div>
</div>
</div>
        </div>
    </div>

    <div class="container-fluid py-6">

		<div class="container">

			<div class="row pb-3">

				<div class="col-12 align-text--center">

					<h2>{{staticText.NEEDHELP}}</h2>

				</div>

			</div>

			<div class="row">

				<div class="col-6">

					<div class="content-card">

						<div class="content-card__text bg--light-grey p-4 align-text--center">

							<h3>{{staticText.HOMEPRODUCTSUPPORT}}</h3>

							<p>{{staticText.HOMEPRODUCTSUPPORTTEXT}}</p>

							<div class="btn__container btn__container--inline">

								<a class="btn btn--red" href="{{ path('supportHome', { 'country': country.code, 'language': lang.code }) }}">{{staticText.HOMEPRODUCTSUPPORT}}</a>

								<a class="btn btn--red-outline" href="https://toshiba-tv.com/warranty">{{staticText.SUPPORTWARRANTY}}</a>

							</div>

						</div>

					</div>

				</div>

				<div class="col-6">

					<div class="content-card">

						<div class="content-card__text bg--light-grey p-4 align-text--center">

							<h3>{{staticText.CANTDECIDE}}</h3>

							<p>{{staticText.CANTDECIDETEXT}}</p>

							<div class="btn__container">

								<a class="btn btn--red" href="{{ path('buyingGuide', { 'country': country.code, 'language': lang.code }) }}">{{ staticText.LEARNMORE }}</a>

							</div>

						</div>

					</div>

				</div>

			</div>

		</div>

	</div>

     {% endblock %}
