{% extends 'base.html.twig' %}
{% block body %}
<section>
  <div class="section-full padding-t-xxxxl gray-100-bg padding-b-330">
    <div class="text-align-center max-width-750">
      <h4 class="color--grey3 mb-0">{{staticText.PREMIUMUHDHEADER}}</h4>
      <!-- <p class="margin-b-0 margin-t-10 text-xxxl-bold color-grey700">Experience Ultra HD at it's very best</p> -->
      <h1 class="mb-0">{{staticText.PREMIUMUHDDESC}}</h1>

    </div>
  </div>

  <div class="container-1620">
    <div class="container-1720 landing-img-container">
      <div class="wrapper-normal">
        <div class="width-100">
          <img class="height-auto width-100" src="/assets/img/landing-page-hero/Premium-UHD-hero-image.png" />
        </div>

      </div>
    </div>
    <div class="container-1720 margin-t--311 bg-grey-100" id="sticky-anchor">
      <div class="sub-header sub-header--pdp sub-header--light sub-header__marker">

        <div class="sub-header__title">

          <h3>{{staticText.PREMIUMUHDHEADER}}</h3>

        </div>

        <div class="sub-header__navigation">

          <ul>

            <li>
              <a href="#overview">{{staticText.OVERVIEW}}</a>
            </li>

            <li>
              <a href="#trupicture">{{staticText.TRUPICTURE}}</a>
            </li>

            <li>
              <a href="#widecolourgamut">{{staticText.WCG}}</a>
            </li>

            <li>
              <a href="#hdr">HDR</a>
            </li>

            <li>
              <a href="#smart">{{staticText.SMART}}</a>
            </li>

            <li>
              <a href="#gaming">{{staticText.GAMING}}</a>
            </li>

          </ul>

        </div>

      </div>
        </div>

  </div>
  <div class="section-full padding-t-xxl" id="overview">
    <div class="container-1344">
      <div class="text-align-center ">
        <p class="margin-b-0 text-m color-grey700">
          {{staticText.PREMIUMUHDDESCMIDDLE}}
        </p>

      </div>

    </div>
  </div>



<div class="container-fluid py-5 padding-v-l">

		<div class="container">

			<div class="row">

				<div class="col-12">

					<div class="features">


                        <div class="features__item">

							<div class="features__container px-md-3 px-xl-4">

								<div class="features__image">

									<img src="/assets/img/landing-page-hero/4k-uhd.png" alt="4K HDR">

								</div>

							</div>

						</div>


                        <div class="features__item">

							<div class="features__container px-md-3 px-xl-4">

								<div class="features__image">

									<img src="http://63.35.162.212/uploads/images/media/dolbyaudio.png" alt="Dolby Vision">

								</div>

							</div>

						</div>





                        <div class="features__item">

							<div class="features__container px-md-3 px-xl-4">

								<div class="features__image">

									<img src="http://63.35.162.212/uploads/images/media/hdr10-hybrid.png" alt="Hybrid">

								</div>

							</div>

						</div>


                        <div class="features__item">

							<div class="features__container px-md-3 px-xl-4">

								<div class="features__image">

									<img src="/assets/img/landing-page-hero/wcg.png" alt="Wide Colour Gamut">

								</div>

							</div>

						</div>


                        <div class="features__item">

							<div class="features__container px-md-3 px-xl-4">

								<div class="features__image">

									<img src="http://63.35.162.212/uploads/images/media/netflix.png" alt="Netflix">

								</div>

							</div>

						</div>


                        <div class="features__item">

							<div class="features__container px-md-3 px-xl-4">

								<div class="features__image">

									<img src="/assets/img/landing-page-hero/prime-video.png" alt="Prime Video">

								</div>

							</div>

						</div>


            <div class="features__item">

							<div class="features__container px-md-3 px-xl-4">

								<div class="features__image">

									<img src="/assets/img/landing-page-hero/dolby-vision.png" alt="Dolby Vision">

								</div>

							</div>

						</div>


					</div>

				</div>

			</div>

		</div>

	</div>




<!--
    <div class="full-section padding-v-l">
      <div class="container-1520">
          <div class="flex-between-wrap-edit">
              <div class="container-row-4-2 margin-t-s margin-b-s">
                  <div class="width-100 wrapper-row-align-center-center">
                      <div class="width-60">
                          <img class="width-100 height-auto" src="/assets/img/4k-uhd.png" alt=" ">
                      </div>
                  </div>
              </div>

              <div class="container-row-4-2 margin-t-s margin-b-s">
                  <div class="width-100 wrapper-row-align-center-center">
                      <div class="width-60">
                          <img class="width-100 height-auto" src="/assets/img/dolbyvision.png" alt=" ">
                      </div>
                  </div>
              </div>

            <div class="container-row-4-2 margin-t-s margin-b-s">
                <div class="width-100 wrapper-row-align-center-center">
                    <div class="width-60">
                        <img class="width-100 height-auto" src="/assets/img/hdrid.png" alt=" ">
                    </div>
                </div>
            </div>

            <div class="container-row-4-2 margin-t-s margin-b-s">
              <div class="width-100 wrapper-row-align-center-center">
                  <div class="width-60">
                      <img class="width-100 height-auto" src="/assets/img/widecolor.png" alt=" ">
                  </div>
              </div>
          </div>

          <div class="container-row-4-2 margin-t-s margin-b-s">
            <div class="width-100 wrapper-row-align-center-center">
                <div class="width-60">
                    <img class="width-100 height-auto" src="/assets/img/netflix.png" alt=" ">
                </div>
            </div>
        </div>

        <div class="container-row-4-2 margin-t-s margin-b-s">
          <div class="width-100 wrapper-row-align-center-center">
              <div class="width-60">
                  <img class="width-100 height-auto" src="/assets/img/primevideo.png" alt=" ">
              </div>
          </div>
      </div>

      <div class="container-row-4-2 margin-t-s margin-b-s">
        <div class="width-100 wrapper-row-align-center-center">
            <div class="width-60">
                <img class="width-100 height-auto" src="/assets/img/dolbyvision.png" alt=" ">
            </div>
        </div>
    </div>


          </div>
      </div>

  </div> -->


  <div class="full-section gray-100-bg padding-t-60 padding-b-60" id="trupicture">
    <div class="container-1620">
      <div class="flex-between-wrap-reverse">
        <div class="container-row-2 wrapper-row-align-center-center">
          <div class="width-80">
            <p class="margin-b-0 text-m color-grey400">{{staticText.PREMIUMUHDTRUHEADER}}</p>
            <p class="text-xxl-bold color-grey700 margin-b-0 margin-t-10 ">{{staticText.TVMADEFORTRULIFE}}</p>
            <p class="text-m-s color-grey700 margin-b-0 margin-t-40">{{staticText.PREMIUMUHDDESC2}}</p>
            <div class="width-100 margin-t-55">
              <div class="flex-between-wrap-button">
                <a href="{{ path('truPictureEng', { 'country': country.code, 'language': lang.code }) }}">
                  <button class="margin-t-xs learn-more-button ">
                    <p class="text-m-s color-white margin-b-0">{{staticText.LEARNMORE}}</p>
                  </button>
                </a>
                  <button class="margin-t-xs learn-more-button-border" id="video-button">
                    <i class="fa fa-play"></i>
                      {{staticText.WATCHOURVIDEO}}
                  </button>
              </div>
                <div class="position-fixedd wrapper-column-center-center bg-black-opacity-08 display-none" id="video-modal">
                  <div class="wrapper-column-center-center">
                    <span style="
    position: absolute;
    cursor: pointer;
    width: 50px;
    height: 50px;
    z-index: 999999999;
    display: block;
    top: 0px;
    right: 0px;
    font-size: 24pt;
    line-height: 50px;
    text-align: center;
" class="closetru"><i class="fa fa-times"></i></span>

                    <video width="640" height="360" controls id="tru-video">
                      <source src="/assets/img/Explainer_TRUPicture_Toshiba.mp4" type="video/mp4">
                    </video>
                  </div>
                </div>
            </div>
          </div>
        </div>
        <div class="container-row-2">
          <div class="width-100 wrapper-row-align-center-center">
            <img class="image-row-2 height-auto" src="/assets/img/toshiba-tiny/ForestTriangle_TRUPicture_Toshiba.png" />
          </div>
        </div>

      </div>
    </div>
  </div>



  <div class="full-section-normal padding-v-75 container-1620">
    <div class="container-1340">
      <div class="width-100 flex-between-wrap-3-3">
        <div class="container-row-3-3">
          <div class="max-width-270-px wrapper-row-align-center-center">
            <img class="width-100 height-auto" src="/assets/img/flow.png"/>

          </div>
          <div>
              <p class="tru-position">{{staticText.TRUFLOWMINIDESC}}</p>
          </div>
        </div>

        <div class="container-row-3-3">
          <div class="max-width-270-px wrapper-row-align-center-center">
            <img class="width-100 height-auto" src="/assets/img/resolution.png"/>
          </div>
          <div>
            <p class="tru-position">{{staticText.TRURESOLUTIONMINIDESC}}</p>
          </div>
        </div>

        <div class="container-row-3-3">
          <div class="max-width-270-px wrapper-row-align-center-center">
            <img class="width-100 height-auto" src="/assets/img/micro.png"/>
          </div>
          <div>
            <p class="tru-position">{{staticText.TRUMICROMINIDESC}}</p>
          </div>
        </div>

      </div>
    </div>
  </div>



  <div class="full-section margin-t-120" id="widecolourgamut" >
    <div class="container-1620">
      <div class="width-850 text-align-center">
        <p class="margin-b-0 text-m-l color-grey400">{{staticText.WCG}}</p>
        <p class="margin-b-0 text-xxxl-bold color-grey700 margin-t-20">{{staticText.LIFELIKECOLOUR}}</p>
        <p class="margin-b-0 text-m-s color-grey700 margin-t-45">{{staticText.LIFELIKEDESC}}</p>
      </div>

      <div class="width-100 margin-t-120 angledSlider" id="landingPageQS">
        <div class="image-sliding-over-container padding-b-60">  <div class="cursor-pointer lp-img-slider" id="lp-img-slider-1">
          </div>
          <div class="img1" id="image-1">


          </div>
          <div class="img2">
          <div class="slider-img-text-right">

            </div>
            <div class="slider-img-text-top">
              <p class="text-s color-white">*For demonstration purposes only.</p>
            </div>
          </div>
          <p class="text-m-l color-white rightText">{{staticText.DOLBYVISIONHDR}}</p>
          <p class="text-m-l color-white leftText">Standard TV</p>
        </div>
      </div>



    </div>
  </div>




  <div class="full-section padding-t-120" id="hdr" >
    <div class="container-1620">
      <div class="width-850 text-align-center">
        <p class="margin-b-0 text-m-l color-grey400">{{staticText.DOLBYVISIONHDR}}</p>
        <p class="margin-b-0 text-xxxl-bold color-grey700 margin-t-20">{{staticText.DRAMATICHEADER}}</p>
        <p class="margin-b-0 text-m-s color-grey700 margin-t-45">{{staticText.DRAMATICDESC}}</p>
      </div>

      <div class="width-100 angledSlider margin-t-120">
        <div class="image-sliding-over-container padding-b-60">
        <div class="cursor-pointer lp-img-slider" id="lp-img-slider-2"></div>
          <div class="img1" id="image-2">

          </div>
          <div class="img2">
            <div class="slider-img-text-top">
              <p class="text-s color-white">*For demonstration purposes only.</p>
            </div>
          </div>

          <p class="text-m-l color-white rightText">{{staticText.DOLBYVISIONHDR}}</p>
          <p class="text-m-l color-white leftText">Standard TV</p>

        </div>
      </div>
    </div>
  </div>


  <div class="full-section margin-t-120">
    <div class="container-1620">
      <div class="width-850 text-align-center">
        <p class="margin-b-0 text-xxxl-bold color-grey700 margin-t-20">{{staticText.CINEMATICSOUND}}</p>
        <p class="margin-b-0 text-m-s color-grey700 margin-t-45">{{staticText.CINEMATICSOUNDDESC}}</p><br>
        <div class="btn__container">
								<a class="btn btn--red" href="/uk/uk/soundbars">{{staticText.LEARNMORE}}</a>

							</div>
      </div>


      <div class="width-100 margin-t-120 width-100 ">
        <img class="width-100 height-auto" src="/assets/img/Helicopter_Sound_Toshiba.png">
      </div>
    </div>
  </div>

  <div class="full-section" id="smart" >
    <div class="container-1620">
      <div class="width-1040 text-align-center">
        <p class="margin-b-0 text-m-l color-grey400">{{staticText.SMART}} TV</p>
        <p class="margin-b-0 text-xxl-bold color-grey700 margin-t-20">{{staticText.NEVERMISSYOUR}}</p>
        <p class="margin-b-0 margin-h-60 margin-h text-m-s color-grey700 margin-t-20">{{staticText.NEVERMISSYOURDESC}}</p>
          <div class="wrapper-row-align-center-center text-align-center margin-t-45">
            <div class="horizontal-line-gray"></div>
            <div class="padding-v-30 white-bg">
              <p class="margin-b-0 text-xxs-bold color-grey400 voiceAsistant">{{staticText.INTRODUCINGVOICE}}</p>
            </div>
            <div class="horizontal-line-gray"></div>
          </div>
          <div class="width-100 wrapper-column-center-center">
            <div class="flex-between-center-nowrap">
              <div class="height-60-px  container-row-2-2 padding-h-s">
                <img class="height-100 width-auto" src="/assets/img/Logo_WorksWithAlexa_Colour_Toshiba.png">
              </div>
              <div class="height-60-px  flex-between-center-nowrap padding-h-s">
                <img class="height-100 width-auto" src="/assets/img/google-assistant.png">
              </div>
            </div>
          </div>

          <a href="{{ path('smartTv', { 'country': country.code, 'language': lang.code }) }}">
            <button class="learn-more-button margin-t-65">
              <p class="text-m-s color-white margin-b-0">{{staticText.LEARNMORE}}</p>
            </button>
          </a>


          <p class="text-xxs color-grey700 margin-t-20">*{{staticText.SELECTEDMODELS}}</p>
        </div>


        <div class="width-100 margin-t-120 width-100 keyVis">
        </div>
      </div>
    </div>
  </div>


  <div class="full-section padding-t-120 padding-b-120" id="gaming" >
    <div class="container-1620">
      <div class="width-1040 text-align-center">
        <p class="margin-b-0 text-m-l color-grey400">{{staticText.GAMINGMODE}}</p>
        <p class="margin-b-0 text-xxl-bold color-grey700 margin-t-20">{{staticText.BETTERGAMING}}</p>
        <p class="margin-b-0 margin-h-60 margin-h text-m-s color-grey700 margin-t-30">{{staticText.BETTERGAMINGDESC}}</p>
        </div>
        <div class="margin-t-45 width-100 betterGaming">

        </div>
      </div>
    </div>
  </div>



  <div class="full-section padding-b-xxl padding-t-xxl bg-black-gold">
    <div class="container-1620">
        <div class="text-align-center">
            <p class="text-xl-bold color-white">
            {{staticText.PREMIUMUHDCHOOSE}}
            </p>
        </div>

        <div class="flex-between-wrap-3">
          {% for key, value in uhdProducts %}
            <div class="padding-t-20 container-row-3 ">
                <div class="text-align-center wrapper-row-3">
                    <div class="padding-h-ms">
                        <img class="width-100" src="{{ value[0].path }}"/>
                    </div>
                    <p class="product-header color-white text-m-l-bold">{{ value[0].code }}</p>
                    <p class=" product-code color-grey200 text-xs">{{ value[0].serie }}</p>
                    <ul class="all-product-box-list">
                      {% for serie in value %}
                        <li class="all-product-box-list-element color-grey100">
                          <a href ="{{ path('getProductBySef', { 'country': country.code, 'language': lang.code, 'productLink' :value[0].link }) }}"> <p class="color-grey-400 text-m-s cursor-pointer margin-b-0 line-height-inherit">{{ serie.inc }}</p></a>

                        </li>
                        {% endfor %}
                    </ul>
                    <a href="{{ path('getProductBySef', { 'country': country.code, 'language': lang.code, 'productLink' :value[0].link }) }}" class="cursor-pointer">
                        <button class="margin-b-20 all-product-box-button gold-bg">
                            <p class="all-product-box-button-text text-s color-gold-text">{{staticText.LEARNMORE}}</p>
                        </button>
                    </a>

                </div>
            </div>
            {% endfor %}
            </div>

        </div>
      </div>

      <div class="container-fluid fixed-sub-header fixed-sub-header--dark nav-down">

        <div class="w-100">

          <div class="row">

            <div class="col-12">

              <div class="fixed-sub-header__container">

                <div class="fixed-sub-header__title">

                  <h3>{{staticText.PREMIUMUHDHEADER}}</h3>

                </div>

                <div class="fixed-sub-header__navigation">

                  <ul>

                    <li>
                      <a class="fixed-sub-header__link active" href="#overview">{{staticText.OVERVIEW}}</a>
                    </li>

                    <li>
                      <a class="fixed-sub-header__link" href="#trupicture">{{staticText.TRUPICTURE}}</a>
                    </li>

                    <li>
                      <a class="fixed-sub-header__link" href="#widecolourgamut">{{staticText.WCG}}</a>
                    </li>

                    <li>
                      <a class="fixed-sub-header__link" href="#hdr">HDR</a>
                    </li>

                    <li>
                      <a class="fixed-sub-header__link" href="#smart">{{staticText.SMART}}</a>
                    </li>

                    <li>
                      <a class="fixed-sub-header__link" href="#gaming">{{staticText.GAMING}}</a>
                    </li>

                  </ul>

                </div>

                <div class="fixed-sub-header__top to-top">

                  <img src="/assets/img/toshiba-new/to-top-icon.svg" alt="To The Top" />

                </div>

              </div>

            </div>

          </div>

        </div>

      </div>



  <script src="/assets/js/product-detail/fixedHeader.js" type="text/javascript"></script>
  <script src="/assets/js/navbar/navbarColor.js" type="text/javascript"></script>
  <script type="text/javascript" src="/assets/js/buying-guide.js"></script>
  <!---script type="text/javascript" src="/assets/js/imageQualitySlider.js"></script--->
  <script type="text/javascript" src="/assets/js/truVideoOpener.js"></script>
  <script type="text/javascript" src="/assets/js/navbarStyler.js"></script>
  <!-- <script type="text/javascript" src="/assets/js/anchorHandler.js"></script> -->
  <!-- <script>navbarStyler('gray');</script> -->
  <script type="text/javascript" src="/assets/js/scrollAnimation.js"></script>

  <script>
  $(document).ready(function(){
      $(".closetru").click(function(){
        $("#video-modal").addClass("display-none");
      })

  });
  </script>


</section>
{% endblock %}
