{% extends 'base.html.twig' %}
{% block body %}
{% block stylesheets %}

    <link href="/assets/css/lightbox/lightbox.css" rel="stylesheet">
    <link href="/assets/js/fancybox/jquery.fancybox-1.3.4.css" rel="stylesheet">
{% endblock %}
<section>
    <div class="full-section bg-red-carousel-org ">
        <div class="padding-t-xxxl padding-b-xxl">
          <p class="text-xl-bold color-white text-align-center">Media Library</p>
        </div>
      </div>

      <div class="section-full padding-t-l padding-b-60">
        <div class="container-1620">

            <div class="row newsList">
                <div class="col-sm-12">
                    <div class="newsText"></div>
                    <h3 class="text-align-center">Media Library</h3>
                    <div class="row media-library-search">
                          <input class="form-control input-lg" style="
width: 100%;
display: block;
margin-bottom: 25px;
height: 60px;
background-color: #efefef;
border: 1px solid #efefef;
box-shadow: 1px 1px #ccc;
font-size: 21pt;
text-indent: 20px;
color: #c9000b;
" id="filterLibraryList" name="q" type="text" placeholder="Search">

                    </div>
                    {% for product in products %}
                    <div class="row showMedia" data-code="{{product.code}}">
                          <div class="showMediaBtn">
                              <div class="col-md-12">
                                  <h4>{{ product.name|raw }} / {{ product.code }}</h4>
                              </div>
                              {#% for image in product.images % }
                              <!--img src="{{ image.path }}" onclick="openModal();currentSlide({{ image.id }})" class="hover-shadow"-->

                              % endfor %#}
                            </div>
                          <div class="mediaCont">
                        </div>
                    </div>
                      {% endfor %}


                      
                </div>
            </div>

        </div>
      </div>
</section>

<!--script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>

<script type="text/javascript" src="/assets/js/fancybox/jquery.fancybox-1.3.4.js"></script-->


<style>
.row.showMedia .showMediaBtn{
    width: 100%;
    height: 37px;
    line-height: 30px;
    padding: 5px;
    margin: auto;
    border: 1px solid #999;
    cursor: pointer;
    margin-bottom: 15px;
}
.row.showMedia .mediaCont{
    min-height:150px;
    display: none;
    width: 100%;
}

.row.showMedia .mediaCont img {
    height: 150px;
    width: auto;
    float: left;
    margin-right: 25px;
}



</style>
<script>


$(document).ready(function(){
      $(".row.showMedia").click(function(){
        if(!$(this).hasClass("active")){
            $(this).find(".mediaCont").show();
            $(this).find(".mediaCont").addClass("loading");
            $(this).addClass("active");


            var target = $(this).find(".mediaCont");
              $.ajax({
                  type: 'POST',
                  url:'http://63.35.162.212/uk/uk/media-library-ajax/'+$(this).attr("data-code"),
                  //url:'http://localhost:8000/uk/uk/media-library-ajax/'+$(this).attr("data-code"),
                  success: function(data){
                      //  $('#main-append-div').html("");
                        target.html("");
                        target.removeClass("loading");

                        $.each(data.images,function(k,v){
                          if(v.path !== undefined){
                              target.append('<a href="'+v.path+'"><img src="'+v.path+'"></a>');
                          }

                        })
                        //$(this).find(".mediaCont").addClass("loading");


                      }
                      });





        }else{
            $(this).find(".mediaCont").hide();
            $(this).removeClass("active");
        }

      })
})



$("#filterLibraryList").keyup(function(){
    var word = $("#filterLibraryList").val();
    $( ".row.showMedia").hide();
    $( ".row.showMedia:contains('"+word+"')" ).show();

})


/*

    // Open the Modal
    function openModal() {
      document.getElementById("myModal").style.display = "block";
    }

    // Close the Modal
    function closeModal() {
      document.getElementById("myModal").style.display = "none";
    }

    var slideIndex = 1;
    showSlides(slideIndex);

    // Next/previous controls
    function plusSlides(n) {
      showSlides(slideIndex += n);
    }

    // Thumbnail image controls
    function currentSlide(n) {
      showSlides(slideIndex = n);
    }

    function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("demo");
      var captionText = document.getElementById("caption");
      if (n > slides.length) {slideIndex = 1}
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";
      dots[slideIndex-1].className += " active";
      captionText.innerHTML = dots[slideIndex-1].alt;
    }*/
    </script>
{% endblock %}
