{% extends 'base.html.twig' %}
{% block body %}
<section>




  <div class="container-fluid pt-6 pb-16  ">
      <div class="container padding-t-45 text-center w-100">
        <h1 class="mb-0">{{data.title|raw}}</h1>
      </div>
    </div>



      <div class="container-1620 mt-n10">
        <div class="width-100">
          <div class="max-width_1700 width-100">
            <img class="height-auto width-100" src="{{ data.images.desktop[0].path }}">
          </div>




      <div class="section-full padding-t-l padding-b-60">
        <div class="col-sm-12">



          <div class="container">

  <div class="row">

    <div class="col col-lg-2 newsSidebar">
      <em>{{ data.createdAt|date("m/d/Y")}}</em>
      <strong>Share this article</strong>
      <a href="#"><span class="fa fa-facebook"></span></a>
      <a href="https://twitter.com/intent/tweet?text={{data.title|url_encode}}+{{path(app.request.attributes.get('_route'),
     app.request.attributes.get('_route_params'))}}"><span class="fa fa-twitter"></span></a>
    </div>
    <div class="col col-lg-9">
    {{ data.description |raw|raw  }}
    </div>
  </div>
</div>









            <div class="newsText">

            </div>
          </div>
      </div>
</section>








<div class="full-section padding-b-xxl gray-100-bg padding-t-m padding-b-m newsCol">
    <div class="container-1620">
        <div class="text-align-center margin-b-30">
            <p class="text-m-bold">
                More News
            </p>
        </div>
        <div class="flex-between-wrap-3">
        <div class="row">
        {% for moreNew in moreNews %}
        <div class="col-4">


                        <div class="padding-t-20 container-row-3 white-bg" style="height: 100%;">
                <div class=" wrapper-row-3 padding-all-30">
                    <div class="padding-h-ms padding-t-ms">
                        <img class="width-100" src="{{moreNew.path}}">
                    </div>
                    <strong class="product-header text-m-bold">{{ moreNew.title|raw }}</strong>


                    <a href="{{ path('newsDetail', { 'country': country.code, 'language': lang.code, 'sef': moreNew.sef }) }}" class="cursor-pointer">
                      Learn more
                    </a>

                </div>
            </div>



                        </div>

        {% endfor %}
                </div>
                </div>
                </div>
      </div>










{% endblock %}
