{% extends 'base.html.twig' %}
{% block body %}
<section>

  <div class="full-section bg-red-carousel-org">
    <div class="padding-t-xxxl padding-b-xxl">
      <p class="text-xl-bold color-white text-align-center">News</p>
    </div>
  </div>

  <div class="section-full bg-grey-100 padding-t-l newsListing">
    <div class="container-1620">
      <div class="flex-between-wrap-start"><!----max-height-744-px--->
        <div class="flex-00654 bg-white  margin-t-s">
          <img class="width-100 height-auto" src="{{featured.images.desktop[0].path}}">
          <div class="padding-h-m padding-v-m bg-white cursor-pointer">
            <p class="margin-b-0 color-grey-500 text-m-s">{{featured.createdAt}}</p>
            <p class="margin-b-0 margin-t-xs color-grey-700 text-l-bold overflow-hidden">{{featured.title|raw}}</p>
            <a class=" cursor-pointer" href="{{ path('newsDetail', { 'country': country.code, 'language': lang.code, 'sef': featured.text[0].sef }) }}">
              <p class="margin-b-0 margin-t-xs text-ms-link color-red-500">Read more</p>
            </a>
          </div>
        </div>


        {% for row in news %}

        <div class="flex-00327 bg-white max-height-744-px margin-t-s">
          <img class="width-100 height-auto" src="{{row.images.desktop[0].path}}">
          <div class="padding-h-m padding-v-m cursor-pointer">
            <p class="margin-b-0 color-grey-500 text-m-s">{{row.createdAt}}</p>
            <p class="margin-b-0 margin-t-xs color-grey-700 text-l-bold height-200-px overflow-hidden">{{row.text[0].title|raw}}</p>
            <a class=" cursor-pointer" href="{{ path('newsDetail', { 'country': country.code, 'language': lang.code, 'sef': row.text[0].sef }) }}">
              <p class="margin-b-0 margin-t-xs text-ms-link color-red-500">Read more</p>
            </a>
          </div>
        </div>



        {% endfor %}


      </div>


{#
  <div class="margin-t-s wrapper-row-start-a-center float-rightt">
    <p class="margin-b-0 text-m-s color-grey-500">Page 1 of 10</p>
    <div class="margin-l-xs wrapper-row-start-a-center news-border-dark">
      <div class="cursor-pointer wrapper-row-start-a-center news-border-light"><ion-icon class="news-page-icon" name="arrow-round-back"></ion-icon></div>
      <div class="cursor-pointer wrapper-row-start-a-center"><ion-icon class="news-page-icon" name="arrow-round-forward"></ion-icon></div>
    </div>

  </div>
  #}


    </div>
  </div>






  <script type="text/javascript" src="/assets/js/navbarStyler.js"></script>
  <script>navbarStyler('black');</script>
</section>
{% endblock %}
