{% extends 'base.html.twig' %}
{% block body %}

    {% set mainDivClass = "" %}

    {% if category.link == "androidtv" %}
    {% set mainDivClass = "c" %}
    {% elseif category.link == "smart-tv" %}
    {% set mainDivClass = "b" %}
    {% endif %}


    {% if category.link == "smart-tv" %}
    {% set generalColor2 = "bg-grey-100" %}

    {% elseif category.link == "androidtv" %}
    {% set generalColor2 = "bg-red-carousel" %}

    {% elseif category.link == "xuhd-tv" %}
    {% set generalColor2 = "bg-red-carousel" %}

    {% elseif category.link == "ultra-hd-tv" %}
    {% set generalColor2 = "bg-black-gold" %}

    {% elseif category.link == "full-hd-tv" %}
    {% set generalColor2 = "bg-grey-100" %}

    {% endif %}



    <div class="section {{generalColor2}} filtersPart">


    {% if category.link == "smart-tv" %}
    {% set generalColor = "" %}
    {% set filterColor = "bg-black-opacity-03" %}
    {% set filterTextColor = "color-grey-700" %}
    {% set filterSelector = "filter-selector-red" %}
    {% set filterSelectorTextColor = "color-red-500" %}
    {% set colorForNavbar = "grey" %}

    {% elseif category.link == "androidtv" %}
    {% set generalColor = "" %}
    {% set filterColor = "bg-white-opacity-01" %}
    {% set filterTextColor = "color-white" %}
    {% set filterSelector = "filter-selector-pink" %}
    {% set filterSelectorTextColor = "color-red-200" %}
    {% set colorForNavbar = "black" %}

    {% elseif category.link == "xuhd-tv" %}
    {% set generalColor = "" %}
    {% set filterColor = "bg-white-opacity-05" %}
    {% set filterTextColor = "color-grey-700" %}
    {% set filterSelector = "filter-selector-red" %}
    {% set filterSelectorTextColor = "color-red-500" %}
    {% set colorForNavbar = "black" %}

    {% elseif category.link == "ultra-hd-tv" %}
    {% set generalColor = "" %}
    {% set filterColor = "bg-white-opacity-03" %}
    {% set filterTextColor = "color-white" %}
    {% set filterSelector = "filter-selector-pink" %}
    {% set filterSelectorTextColor = "color-red-200" %}
    {% set colorForNavbar = "black" %}

    {% elseif category.link == "full-hd-tv" %}
    {% set generalColor = "" %}
    {% set filterColor = "bg-black-opacity-03" %}
    {% set filterTextColor = "color-grey-700" %}
    {% set filterSelector = "filter-selector-red" %}
    {% set filterSelectorTextColor = "color-red-500" %}
    {% set colorForNavbar = "grey" %}

    {% endif %}
        <div class="{{generalColor}} filterStyleCat{{catInfo.categoryLink}}"  data-category="{{ category.id }}" id="category-section-id">


                                  {% include 'filterbar.html.twig' %}

            {% set css = [] %}
            {% if catInfo.categoryLink == 'smart-tv' %}
                {% set css = ["", "", "color-grey-700", "all-product-box-list", "all-product-box-list-element", "color-grey-700", "all-product-box-button", "bg-red-500", "color-grey-700", "color-grey-700", "color-grey-700"] %}

            {% elseif catInfo.categoryLink == 'androidtv' %}
                {% set css = ["", "", "color-white", "all-product-box-list", "all-product-box-list-element", "color-grey-100", "all-product-box-button", "bg-gold", "color-gold-500", "color-white", "color-grey-100"] %}

            {% elseif catInfo.categoryLink == 'xuhd-tv' %}
                {% set css = ["", "", "color-white", "all-product-box-list-for-red-bg", "all-product-box-list-element-for-red-bg", "color-grey-100", "all-product-box-button", "bg-red-700", "color-white", "color-white", "color-grey-100"] %}

            {% elseif catInfo.categoryLink == 'ultra-hd-tv' %}
                {% set css = ["", "", "color-white", "all-product-box-list", "all-product-box-list-element", "color-grey-100", "all-product-box-button", "bg-gold", "color-gold-500", "new-gradient-text", "color-grey-100"] %}

            {% elseif catInfo.categoryLink == 'full-hd-tv' %}
                {% set css = ["", "", "color-grey-700", "all-product-box-list", "all-product-box-list-element", "color-grey-700", "all-product-box-button", "bg-red-500", "color-grey-700", "color-grey-700", "color-grey-700"] %}

            {% else %}
                {% set css = ["", "", "color-grey-700", "all-product-box-list", "all-product-box-list-element", "color-grey-700", "all-product-box-button", "bg-red-500", "color-grey-700", "color-grey-700", "color-grey-700"] %}
            {% endif %}

            <div class="full-section padding-b-120 {{css[0]}}">
                <div class="container-1620">
                    <div class="text-align-center responsive-header-margin filtersPageh" >
                        <p class="text-xxl-bold {% if catInfo.categoryLink == "uhd-tv" %} color-gold-gradient {% else %} {{css[9]}} {% endif %}">
                        {{catInfo.categoryName | raw}}
                        </p>
                    </div>
                    <div class="filterLoading"></div>
                    <div class="noResultByFilter">No matching products to display </div>
                    <div class="flex-between-wrap-3 margin-t-l filterRes" id="appended-div">
                    {% set url = "" %}
                    {% for key,value in productCat %}
                        <div class="padding-t-xs container-row-3 {{css[1]}} product-selection old-product">
                            <div class="text-align-center wrapper-column-center-center wrapper-column-center-center">
                                <div class="padding-t-m width-80 margin-b-m">
                                    <img style="width: 100%;" src="http://63.35.162.212/uploads/files/files/{{value[0].image}}"/>
                                </div>
                                <p class="product-header {{css[2]}} text-m-l-bold">{% if value[0].seriesDescription != "" %}{{ value[0].seriesDescription }} {%else%} {{key}} {% endif %}</p>
                                <p class=" product-code color-grey200 text-xs">{% if value[0].seriesDescription != "" %}{{ key }}{%else%} {{value[0].seriesDescription}} {% endif %}</p>
                                <ul class="{{css[3]}}">
                                {% set url = value[0].link %}
                                {% for prodSerie in value %}
                                {% if prodSerie.link is defined %}
                                 {#|sort|reverse|column('inc')#}
                                    <li class="{{css[4]}} {{css[5]}}">
                                        <a href ="{{ path('getProductBySef', { 'country': country.code, 'language': lang.code, 'productLink' :prodSerie.link }) }}"><p class="{{css[10]}} text-s cursor-pointer margin-b-0 line-height-inherit">{{ prodSerie.inc }}</p> </a>
                                    </li>
                                    {% endif %}
                                {% endfor %}
                                
                                </ul>
                                <a href="{{ path('getProductBySef', { 'country': country.code, 'language': lang.code, 'productLink' :url }) }}" class="cursor-pointer width-100">
                                    <button class="margin-b-20 {{css[6]}} {{css[7]}} text-xs {{css[8]}}">
                                        {{staticText.LEARNMORE}}
                                    </button>
                                </a>

                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>


        </div>
    </div>
    <!-- <script type="text/javascript" src="/assets/js/mobileFilterHandler.js"></script> -->
    <script type="text/javascript" src="/assets/js/navbarStyler.js"></script>
    <!-- <script type="text/javascript" src="/assets/js/filterHandler.js"></script> -->
    <script type="text/javascript" src="/assets/js/filter/filter.js"></script>
    <!---script>navbarStyler('{{colorForNavbar}}');</script--->
{% endblock %}
