{% extends 'base.html.twig' %}
{% block body %}
<div class="TVfilterHeader paddingFix">

        <div class="container">
            <div id="filterHeader" class="TVfilterBar mbottom30">
                <div class="container">
                    <div class="col-lg-12 fleft">
                        <span class="fleft mright15 boldText">UltraHD 4K TV</span>
                        <div class="filterTag">OLED
                            <a href="#">
                                <ion-icon name="close" class="fit"></ion-icon>
                            </a>
                        </div>
                        <div class="filterTag">Ultra HD
                            <a href="#">
                                <ion-icon name="close" class="fit"></ion-icon>
                            </a>
                        </div>

                        <button class="btn btn-outline-primary pink Filteradd" onclick="hideFilteradd()">Add filters  <ion-icon name="add" class="pinkIcon fit"></ion-icon></button>
                        <div class="col-lg-10 hideFilterItem" style="display: none;">
                            <div class="dropdown filterOptions">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                          Dropdown button
                                                                        </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                            <div class="dropdown filterOptions">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                              Dropdown button
                                                                            </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                            <div class="dropdown filterOptions">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                                  Dropdown button
                                                                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                            <button class="btn btn-primary pink">Apply<ion-icon name="add" class="pinkIcon fit"></ion-icon></button>
                            <button class="btn btn-outline-primary pink" class="cancelFilter" onclick="cancelFilter()">Cancel</ion-icon></button>
                        </div>
                        <div class="col-lg-3 fright productCount">
                            <span class="count">31 Product</span>
                            <div class="dropdown filterOptions">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                                                  Dropdown button
                                                                                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="row">
                <div class="col-lg-12">
                    <!--PrBoxSearchList -->
                    <div class="col-lg-12 mbottom30 ptop30 filterProducts">
                        <div class="container">
                            <h2 class="centerText gold large mtop30 ptop30">Premium 4K TVs</h2>
                            <div class="col-lg-4 col-sm-12 fleft red transparent mbottom30 ">
                                <div class="PrBoxListItem result">
                                    <img src="/assets/img/tvsample.png" alt="" class="mtop30 mbottom30 w-100">
                                    <span class="tvCode">TL7A63DB</span>
                                    <h2 class="centerText ">Premium 4K TVs</h2>
                                    <p class="incBox">55' 66' 75' </p>
                                    <div class="clearfix"></div>
                                    <button class="btn resetRadius gold w-100">Learn more</button>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-12 fleft red transparent  mbottom30 ">
                                <div class="PrBoxListItem result">
                                    <img src="/assets/img/tvsample.png" alt="" class="mtop30 mbottom30 w-100">
                                    <span class="tvCode">TL7A63DB</span>
                                    <h2 class="centerText ">Premium 4K TVs</h2>
                                    <p class="incBox">55' 66' 75' </p>
                                    <div class="clearfix"></div>
                                    <button class="btn resetRadius gold w-100">Learn more</button>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-12 fleft red  transparent mbottom30 ">
                                <div class="PrBoxListItem result">
                                    <img src="/assets/img/tvsample.png" alt="" class="mtop30 mbottom30 w-100">
                                    <span class="tvCode">TL7A63DB</span>
                                    <h2 class="centerText ">Premium 4K TVs</h2>
                                    <p class="incBox">55' 66' 75' </p>
                                    <div class="clearfix"></div>
                                    <button class="btn resetRadius gold w-100">Learn more</button>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-12 fleft  red transparent mbottom30 ">
                                <div class="PrBoxListItem result">
                                    <img src="/assets/img/tvsample.png" alt="" class="mtop30 mbottom30 w-100">
                                    <span class="tvCode">TL7A63DB</span>
                                    <h2 class="centerText ">Premium 4K TVs</h2>
                                    <p class="incBox">55' 66' 75' </p>
                                    <div class="clearfix"></div>
                                    <button class="btn resetRadius gold w-100">Learn more</button>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-12 fleft  red transparent  mbottom30 ">
                                <div class="PrBoxListItem result">
                                    <img src="/assets/img/tvsample.png" alt="" class="mtop30 mbottom30 w-100">
                                    <span class="tvCode">TL7A63DB</span>
                                    <h2 class="centerText ">Premium 4K TVs</h2>
                                    <p class="incBox">55' 66' 75' </p>
                                    <div class="clearfix"></div>
                                    <button class="btn resetRadius gold w-100">Learn more</button>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-12 fleft red transparent mbottom30 ">
                                <div class="PrBoxListItem result">
                                    <img src="/assets/img/tvsample.png" alt="" class="mtop30 mbottom30 w-100">
                                    <span class="tvCode">TL7A63DB</span>
                                    <h2 class="centerText ">Premium 4K TVs</h2>
                                    <p class="incBox">55' 66' 75' </p>
                                    <div class="clearfix"></div>
                                    <button class="btn resetRadius gold w-100">Learn more</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--PrBoxSearchList End-->
                </div>
            </div>
        </div>

    </div>
    <!--filter home search section end-->
    </div>
    </div>
    </div>
{% endblock %}    