{% extends 'base.html.twig' %}
{% block body %}
<div class="resultHeader">

        <h1 class="centerText head">Press Releases</h1>
    </div>
    <!--support model container-->
    <div class="grayBox col-lg-12">
        <div class="container mbottom30">
            <div class="row">
                <div class="col-lg-8 fleft">
                    <div class="largePressBox">
                        <div class="category">LATEST NEWS</div>
                        <img src="/assets/img/largepressbox.png" class="w-100" alt="">
                        <div class="ptop15 pleft30 content">
                            <span class="date mbottom30">6th June 2018</span>
                            <h2 class="mtop15">Toshiba TVs Partner with England & Great Britain Men’s Teams, and Vitality Hockey Women’s World Cup…</h2>
                            <a href="#" class="redUrl uLine p-0 mtop15"> Read more</a>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4 pressBox">
                    <img src="/assets/img/pressbox.png" class="w-100" alt="">
                    <div class="ptop15 pleft30 content">

                        <span class="date mbottom30">6th June 2018</span>
                        <h2 class="mtop15">Toshiba Launches Expansive New Range of Trend-setting TVs</h2>
                        <a href="#" class="redUrl uLine p-0 mbottom15"> Read more</a>
                    </div>

                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 d-flex justify-content-around">
                    <div class="col-lg-4 pressBox">
                        <img src="/assets/img/pressbox.png" class="w-100" alt="">
                        <div class="ptop30 pleft30 content">

                            <span class="date mbottom30">6th June 2018</span>
                            <h2 class="mtop15">Toshiba Launches Expansive New Range of Trend-setting TVs</h2>
                            <a href="#" class="redUrl uLine p-0 mtop30"> Read more</a>
                        </div>

                    </div>
                    <div class="col-lg-4 pressBox ">
                        <img src="/assets/img/pressbox.png" class="w-100" alt="">
                        <div class="ptop30 pleft30 content">

                            <span class="date mbottom30">6th June 2018</span>
                            <h2 class="mtop15">Toshiba Launches Expansive New Range of Trend-setting TVs</h2>
                            <a href="#" class="redUrl uLine p-0 mtop30"> Read more</a>
                        </div>

                    </div>
                    <div class="col-lg-4 pressBox">
                        <img src="/assets/img/pressbox.png" class="w-100" alt="">
                        <div class="ptop30 pleft30 content">

                            <span class="date mbottom30">6th June 2018</span>
                            <h2 class="mtop15">Toshiba Launches Expansive New Range of Trend-setting TVs</h2>
                            <a href="#" class="redUrl uLine p-0 mtop30"> Read more</a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="pagination fright mtop30">
                <span class="number">Page 1 of 10</span>
                <a href="#">
                    <ion-icon name="ios-arrow-back" class="pIcon left"></ion-icon>
                </a>
                <a href="#">
                    <ion-icon name="ios-arrow-forward" class="pIcon right"></ion-icon>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
