{% extends 'base.html.twig' %}
{% block body %}
<section>
        <div class="LandingPageHeader light ">
            <div class="headingText small">
                <h1 class="mbottom30 big">Toshiba Brings Home the Thrill of the Big Screen with New OLED TV Series</h1>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-12 landingTopImage">
                <div class="col-lg-2 d-none d-sm-block"></div>
                <div class="col-lg-8 col-sm-12">
                    <img src="/assets/img/articleHeader.png" alt="" class="img-responsive w-100">
                </div>
            </div>
        </div>
    </section>
    <div class="negativeTop250"></div>
    <!--landing page top section end-->

    <!--landing page ref section-->
    <section class="mbottom30">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 social">
                    <span class="date">24th April 2018</span>
                    <p class="boldText">Share this article</p>
                    <a href="#">
                        <ion-icon name="logo-facebook" class="redIcon"></ion-icon>
                    </a>
                    <a href="#">
                        <ion-icon name="logo-twitter" class="redIcon"></ion-icon>
                    </a>
                    <a href="#">
                        <ion-icon name="logo-linkedin" class="redIcon"></ion-icon>
                    </a>
                </div>
                <div class="col-lg-9">
                    <h3 class="big">Transforming every living room into an enthralling movie theatre, the X98 OLED HDR 4K Series is set to bring viewers to the edge of their seats with a sensational TV performance.</h1>
                        <p>Defined by incredible image precision, vibrant colour and spectacular on-screen contrasts, the X98 TV viewing experience is larger-than-life. Bringing the thrill of the big screen home, the 55” and 65” X98 TV models offer more
                            immersive cinema style viewing, thanks to their contemporary, ultra-sleek bezel frames.</p>
                        <p>Offering even greater access to compatible HDR content, the X98 TVs not only support HDR10, but also the newly developed standard, Hybrid Log Gamma or HLG. Future-proofing the X98 models, this HLG compatibility means that they
                            will one day enable viewers to watch free HDR over-the-air broadcasts. Of the new launch, European Sales and Marketing Director, Bart Kuijten, comments, “With this range, we are closing the gap between cinema and TV, working
                            with world-leading visual and audio partners to deliver a more deeply immersive viewing experience. Featuring an array of cinema-inspired technologies, our X98 models push the boundaries of current TV design, not only in terms
                            of picture and sound quality, but also in terms of future-proofing TV as a go-to home entertainment hub.”</p>
                </div>
            </div>
        </div>


    </section>
    <!--landing page ref section-->
    <!--landing page content  section-->
    <div class="row">
        <div class="col-lg-12 col-sm-12 grayBox">
            <div class="container">
                <h1 class="mbottom30 big text-center">More news</h1>
                <div class="row">
                    <div class="col-lg-12 d-flex justify-content-around">
                        <div class="col-lg-4 pressBox mbottom30">
                            <img src="/assets/img/pressbox.png" class="w-100" alt="">
                            <div class="ptop30 pleft30 content">

                                <span class="date mbottom30">6th June 2018</span>
                                <h2 class="mtop15">Toshiba Launches Expansive New Range of Trend-setting TVs</h2>
                                <a href="#" class="redUrl uLine p-0 mtop30"> Read more</a>
                            </div>

                        </div>
                        <div class="col-lg-4 pressBox mbottom30">
                            <img src="/assets/img/pressbox.png" class="w-100" alt="">
                            <div class="ptop30 pleft30 content">

                                <span class="date mbottom30">6th June 2018</span>
                                <h2 class="mtop15">Toshiba Launches Expansive New Range of Trend-setting TVs</h2>
                                <a href="#" class="redUrl uLine p-0 mtop30"> Read more</a>
                            </div>

                        </div>
                        <div class="col-lg-4 pressBox mbottom30">
                            <img src="/assets/img/pressbox.png" class="w-100" alt="">
                            <div class="ptop30 pleft30 content">

                                <span class="date mbottom30">6th June 2018</span>
                                <h2 class="mtop15">Toshiba Launches Expansive New Range of Trend-setting TVs</h2>
                                <a href="#" class="redUrl uLine p-0 mtop30"> Read more</a>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <hr class="b2 m-0">

    </div>
{% endblock %}    