

  {% extends 'base.html.twig' %}
  {% block body %}


	<!--

		Modal Parts if not Mobile Navbar

	-->

	{% if product.video.video is defined %}

		{% set video = product.video.video[0] %}

		<div class="modal-fullscreen d-none" id="video-section">

			{% if video.name == "youtubeVideo" %}

			<div class="modal-fullscreen__in">

				<iframe width="640" height="480" src="//www.youtube.com/embed/{{ video.path }}" frameborder="0" allowfullscreen></iframe>

			</div>

			{% else %}

			<div class="modal-fullscreen__in">

				<iframe width="640" height="480" src="{{ video.path }}" frameborder="0" allowfullscreen="true"></iframe>

			</div>


			{% endif %}



		</div>

	{% endif %}



	<div class="container-fluid pdp-hero pdp-hero--black">

		<div class="container">

			<div class="row pdp-hero__desktop pt-5">

				<div class="col-5">

					<div class="pdp-hero__title">

						<h1>
                            {% if product is not null %}{{product.text[0].name |raw}} {% endif %}
						</h1>

					</div>

					<div class="pdp-hero__rating">
						{% if product.series["desc"] is defined %}
							{% if product.series.desc != "" %}
								<p class="product-detail-description">{{ product.series.desc | raw }}</p>
							{% endif %}
						{% endif %}
						<!-- <div class="pdp-hero__stars">

							<ul>

								<li class="star full-star"></li>
								<li class="star full-star"></li>
								<li class="star full-star"></li>
								<li class="star half-star"></li>
								<li class="star no-star"></li>

							</ul>

							<h2>4.8</h2>

                        </div> -->

						<!-- <div class="pdp-hero__reviews">

							<p>28 reviews</p>

						</div> -->

					</div>


					<div class="pdp-hero__sizes">

						<div class="size-selectors size-selectors--black">

							<div class="size-selectors__item active">

								<div class="size-selectors__size">

									<h3>{{ product.series.mainSize }}''</h3>

								</div>

								<div class="size-selectors__serial">

									<p>{{product.series.name}} </p>

								</div>

                            </div>

                            {% for serie in product.series.products %}

                            <div class="size-selectors__item">

								<div class="size-selectors__size">

                                    <a href="{{ path('getProductBySef', { 'country': country.code, 'language': lang.code, 'productLink' :serie.link }) }}">

                                        <h3>{{serie["size"]}}''</h3>

                                    </a>

								</div>

								<div class="size-selectors__serial">

									<p>{{product.series.name}}</p>

								</div>

							</div>

                            {% endfor %}

						</div>

						<a href="{{ path('buyingGuide', { 'country': country.code, 'language': lang.code }) }}">What size do I need?</a>

					</div>

					<div class="d-none d-lg-block buy-button-script-wrapper pt-5" id="buy-button-script-wrapper">
                        <script type="text/javascript"
                            src="https://fi.global.commerce-connector.com/js/cc_fi-min.js"
                            data-token="4689d4d55fef1c8b99f4de5189d879c6c8454b8d"
                            data-ean="{{product.ean}}"
                            data-country="gb"
                            data-language="en"
                            data-displaylanguage="en"
                            data-trigger="click"
                            data-button-textcolor="#FFFFFF"
                            data-button-backgroundcolor="#FE0000"
                            data-button-text="Buy Now <i class='fa fa-shopping-cart'></i>"
                            data-subid="toshiba"
                            data-variant-selectiontype="none"
                            data-check="online"
                            data-deliverydisplayrule=""
                            data-cookie="true"
                            data-channel="online"
                            data-listtype="lightbox"
                            data-button-width="100%"
                            data-online-shopname="true"
                            data-online-productavl="true"
                            data-header="true"
                            data-header-backgroundcolor="#ffffff"
                            data-header-color="#000000"
                            data-header-logourl="https://logos-cdn.global.commerce-connector.com/brandlogos/logo-toshiba.png"
                            data-header-title="{{staticText["BUY_NOW2"]}}"
                            data-header-description= "{{ product.text[0].shortDescription }}"
                            data-header-close-color="#000000"
                            data-header-close-hover-color="#FE0000"
                            data-footer-backgroundcolor="#CCCCCC"
                            data-footer-color="#000000"
                            data-highlightcolor="#0a7bff"
                            data-style="#header-logo-url{width:100%;height:auto !important; position:relative; left:40%;top:15px}">
                    </script>
                    </div>

				</div>

                {% for slide in product.images %}

                    {% if loop.first %}

						<div class="col-6-1 tv-main-img pt-md-0 pt-xl-0 mt-3" data-tv-id="{{loop.index0}}">

                            <img class="cld-responsive" src="{{ slide.url }}{{slide.path}}" alt="UL7 Toshiba TV" />

						</div>

					{% else %}

						<div class="d-none px-1 col-6-1 tv-main-img mt-3" data-tv-id="{{loop.index0}}" >

							<img class="cld-responsive" src="{{ slide.url }}{{slide.path}}" alt="UL7 Toshiba TV" />

						</div>

                    {% endif %}


                {% endfor %}

				<div class="col-1">

					<div class="pdp-hero__thumbnails">

						<ul class="tv-tn-img mb-0" id="tv-tn-img">

							{% for slide in product.images %}


							<li>
								<img class="cld-responsive" src="{{ slide.url }}{{slide.path}}" alt="UL7 Toshiba TV" data-tn-id="{{loop.index0}}" />
							</li>


							{% endfor %}

							</ul>

							<ul class="mt-05" id="tv-tn-video">

								{% for slide in product.images %}

								{% if loop.first %}

								<li>
									<img class="video" src="/assets/img/toshiba-new/video-icon.svg" alt="" id="video-opener" />
									<img class="cld-responsive" src="{{ slide.url }}{{slide.path}}" alt="UL7 Toshiba TV" />
								</li>

								{% endif %}

								{% endfor %}

							</ul>

					</div>

				</div>

			</div>


			<div class="row pdp-hero__mobile">

				<div class="col-12">

					<div class="pdp-hero__sizes pb-0">

						<div class="size-selectors size-selectors--black">

							<div class="size-selectors__item active">

								<div class="size-selectors__size">

                                        <h3>{{ product.series.mainSize }}</h3>

								</div>

								<div class="size-selectors__serial">

									<p>{{product.series.name}}</p>

								</div>

                            </div>

                            {% for serie in product.series.products %}

                            <div class="size-selectors__item">

								<div class="size-selectors__size">

                                    <a href="{{ path('getProductBySef', { 'country': country.code, 'language': lang.code, 'productLink' :serie.name }) }}">

                                        <h3>{{serie["size"]}}''</h3>

                                    </a>

								</div>

								<div class="size-selectors__serial">

									<p>{{product.series.name}}</p>

								</div>

							</div>

                            {% endfor %}

						</div>

						<a href="#">What size do I need?</a>

					</div>

					<div class="pdp-hero__prices">

					</div>

				</div>

				<div class="d-block d-lg-none buy-button-script-wrapper mt-0 pt-0 pb-0" id="buy-button-script-wrapper">

					<script type="text/javascript"
						src="https://fi.global.commerce-connector.com/js/cc_fi-min.js"
						data-token="4689d4d55fef1c8b99f4de5189d879c6c8454b8d"
						data-ean="{{product.ean}}"
						data-country="gb"
						data-language="en"
						data-displaylanguage="en"
						data-trigger="click"
						data-button-textcolor="#FFFFFF"
						data-button-backgroundcolor="#FE0000"
						data-button-text="{{staticText['BUY_NOW2'] | raw}}"
						data-subid="toshiba"
						data-variant-selectiontype="none"
						data-check="online"
						data-deliverydisplayrule=""
						data-cookie="true"
						data-channel="online"
						data-listtype="lightbox"
						data-button-width="100%"
						data-online-shopname="true"
						data-online-productavl="true"
						data-header="true"
						data-header-backgroundcolor="#ffffff"
						data-header-color="#000000"
						data-header-logourl="https://logos-cdn.global.commerce-connector.com/brandlogos/logo-toshiba.png"
						data-header-title="{{staticText["BUY_NOW2"]}}"
						data-header-description="{{ product.text[0].shortDescription }}"
						data-header-close-color="#000000"
						data-header-close-hover-color="#FE0000"
						data-footer-backgroundcolor="#CCCCCC"
						data-footer-color="#000000"
						data-highlightcolor="#0a7bff"
						data-style="#header-logo-url{width:100%;height:auto !important; position:relative; left:40%;top:15px}">
				</script>
				</div>


			</div>

		</div>

	</div>

	<div class="container-fluid bg--light-grey py-5">

		<div class="container">

			<div class="row">

				<div class="col-12">

					<div class="features">

                        {% for smallFeature in product.feature.icon %}

                        <div class="features__item">

							<div class="features__container px-md-3 px-xl-4">

								<div class="features__image">

									<img src="{{smallFeature.icon}}" alt="4K HDR" />

								</div>

							</div>

						</div>

                        {% endfor %}

					</div>

				</div>

			</div>

		</div>

	</div>

	<div class="w-100 pdp-key-visual pt-6 position-relative">

		<div class="sub-header sub-header--pdp sub-header--dark sub-header__marker">

			<div class="sub-header__title">

				<h3>{% if product is not null %}{{product.text[0].name |raw}} {% endif %}</h3>

			</div>

			<div class="sub-header__navigation">

				<ul>

					<li>
						<a href="#voice-assistant">{{staticText.VOICEASSISTANT}}</a>
					</li>

					<li>
						<a href="#resolution">{{staticText.RESOLUTION}}</a>
					</li>

					<li>
						<a href="#hdr">HDR</a>
					</li>

					<li>
						<a href="#additional-features">{{staticText.ADDITIONALFEATURES}}</a>
					</li>

					<li>
						<a href="#specifications">{{staticText.TABSPECS}}</a>
					</li>

				</ul>

			</div>

		</div>

		<div class="pdp-key-visual__text py-6">

			<div class="container">

				<div class="row">

					<div class="col-8 offset-2 align-text--center sal">

						<h1>{{staticText.TRUPICTUREHEADER}}</h1>

						<p class="text-size--large mb-3">{{staticText.TRUDESCMIDDLE}}</p>

						<div class="btn__container">

							<a class="btn btn--white" href="{{ path('landingPage', { 'country': country.code, 'language': lang.code }) }}">{{staticText.LEARNMORE}}</a>

						</div>

					</div>

				</div>

			</div>

		</div>

		<div class="pdp-key-visual__background sal">

			<div class="pdp-key-visual__gradient"></div>

            <img class="w-100 height-auto" src="/assets/img/toshiba-tiny/trupicture.jpg" alt="" />

		</div>

	</div>

	<div class="container-fluid section pt-6 " id="voice-assistant">

		<div class="container">

			<div class="row">

				<div class="col-6 sal">

					<img class="cld-responsive" src="{{features[0].path}}" alt="{{features[1].name}}" />

				</div>

				<div class="col-4 offset-1 align-vertical--middle align-text--center sal">

					<h2>{{features[0].name}}</h2>

					<p class="text-size--large">{{features[0].des}}</p>

				</div>

			</div>

		</div>

	</div>

	<div class="container-fluid pt-6 section" id="resolution">

		<div class="container">

			<div class="row flex-direction--reverse">

				<div class="col-4 offset-1 align-vertical--middle align-text--center sal">

					<h2>{{features[1].name}}</h2>

					<p class="text-size--large">{{features[1].des}}</p>

				</div>

				<div class="col-6 offset-1 sal">

					<img class="cld-responsive" src="{{features[1].path}}" alt="{{features[1].name}}" />

				</div>

			</div>

		</div>

	</div>

	<div class="container-fluid pt-6 section" id="hdr">

		<div class="container">

			<div class="row">

				<div class="col-6 sal">

					<img class="cld-responsive" src="{{features[2].path}}" alt="{{features[2].name}}" />

				</div>

				<div class="col-4 offset-1 align-vertical--middle align-text--center sal">

					<h2>{{features[2].name}}</h2>

					<p class="text-size--large">{{features[2].des}}</p>

				</div>

			</div>

		</div>

	</div>

	<div class="container-fluid py-6 section" id="additional-features">

		<div class="container">

			<div class="row pb-3">

				<div class="col-12 align-text--center">

					<h2>{{staticText.SMARTERTHAN}}</h2>

				</div>

			</div>

			<div class="row">

				<div class="col-4">

					<div class="content-card">

						<div class="content-card__image">

							<a href="">

								<img class="cld-responsive" src="/assets/img/toshiba-new/pdp/sound-shuttle.jpg" alt="Shuttle taking off" />

							</a>

						</div>

						<div class="content-card__text bg--light-grey p-3">

							<h3>{{staticText.DOLBYAUDIOPROCESS}}</h3>

							<p>Dolby Audio Processing provides an enhanced experience whatever you’re watching, with richer, clearer and more powerful sound.</p>

							<a href="{{ path('landingPage', { 'country': country.code, 'language': lang.code }) }}">{{staticText.LEARNMORE}}</a>

						</div>

					</div>

				</div>

				<div class="col-4">

					<div class="content-card">

						<div class="content-card__image">

							<a href="">

								<img class="cld-responsive" src="/assets/img/toshiba-new/pdp/sound-helicopter.jpg" alt="Military helicopter flying" />

							</a>

						</div>

						<div class="content-card__text bg--light-grey p-3">

							<h3>{{staticText.SOUNDBYONKYO}}</h3>

							<p>{{staticText.SOUNDBARSPRECISIONDESC}}</p>

							<a href="{{ path('landingPage', { 'country': country.code, 'language': lang.code }) }}">{{staticText.LEARNMORE}}</a>

						</div>

					</div>

				</div>

				<div class="col-4">

					<div class="content-card">

						<div class="content-card__image">

							<a href="">

								<img class="cld-responsive" src="/assets/img/toshiba-new/pdp/gaming.jpg" alt="Man with lightsabers under a bridge" />

							</a>

						</div>

						<div class="content-card__text bg--light-grey p-3">

							<h3>{{staticText.BETTERGAMING}}</h3>

							<p>{{staticText.BETTERGAMINGDESC}}</p>

						</div>

					</div>

				</div>

			</div>

		</div>

	</div>

	<div class="container-fluid py-6 bg--dark-grey section" id="specifications">

		<div class="container">

			<div class="row pb-3">

				<div class="col-12 align-text--center">

					<h2>{{staticText.TABSPECS}} &amp; {{staticText.FEATURES}}</h2>

				</div>

			</div>

			<div class="row">

				<div class="col-12">

					<div class="specifications">

						<div class="specifications__item">

							<div class="specifications__container">

								<div class="specifications__text">

									<p>{{staticText.RESOLUTION}}</p>

									<h3>3840 x 2160</h3>

								</div>

							</div>

						</div>

						<div class="specifications__item">

							<div class="specifications__container">

								<div class="specifications__text">

									<p>{{staticText.BUYINGSCREENTYPETEXT}}</p>

									<h3>UHD 4K</h3>

								</div>

							</div>

						</div>

						<div class="specifications__item">

							<div class="specifications__container">

								<div class="specifications__text">

									<p>{{staticText.BUYINGHIGHDYNAMICRANGE}}</p>

									<h3>HDR10</h3>

								</div>

							</div>

						</div>

						<div class="specifications__item">

							<div class="specifications__container">

								<div class="specifications__text">

									<p>Processor</p>

									<h3>Dual core</h3>

								</div>

							</div>

						</div>

						<div class="specifications__item">

							<div class="specifications__container">

								<div class="specifications__text">

									<p>Picture quality</p>

									<h3>2100</h3>

								</div>

							</div>

						</div>

						<div class="specifications__item">

							<div class="specifications__container">

								<div class="specifications__image">

									<img class="w-100 height-auto" src="/assets/img/proddetail/eco.png" alt="" />

								</div>

							</div>

						</div>

						<div class="specifications__item">

							<div class="specifications__container">

								<div class="specifications__image">

									<img class="w-100 height-auto" src="/assets/img/proddetail/secure.png" alt="" />

								</div>

							</div>

						</div>

						<div class="specifications__item">

							<div class="specifications__container">

								<div class="specifications__image">

									<img class="w-100 height-auto" src="/assets/img/proddetail/share.png" alt="" />

								</div>

							</div>

						</div>

						<div class="specifications__item">

							<div class="specifications__container">

								<div class="specifications__image">

									<img class="w-100 height-auto" src="/assets/img/proddetail/social.png" alt="" />

								</div>

							</div>

						</div>

						<div class="specifications__item">

							<div class="specifications__container">

								<div class="specifications__image">

									<img class="w-100 height-auto" src="/assets/img/proddetail/remote.png" alt="" />

								</div>

							</div>

						</div>

					</div>

				</div>

			</div>

		</div>

	</div>

	<div class="container-fluid bg--black accordion__button">

		<div class="container">

			<div class="row py-3 align-text--center">

				<div class="col-12">

					<h4>{{staticText.TABSPECS}}</h4>

				</div>

			</div>

		</div>

	</div>

	<div class="container-fluid bg--black accordion">

		<div class="container">

			<div class="row pb-3">

				<div class="col-12 align-text--center sal">

					<div class="size-selectors size-selectors--black">

						<div class="size-selectors__item active">

							<div class="size-selectors__size">

								<h3>{{ product.series.mainSize }}''</h3>

							</div>

							<div class="size-selectors__serial">

								<p>{{product.text[0].title |raw}}</p>

							</div>

						</div>


						{% for serie in product.series.products %}

						<div class="size-selectors__item">

							<div class="size-selectors__size">

								<a href="{{ app.request.baseUrl }}/{{country.code}}/{{lang.code}}/product-detail/{{serie.link}}#redirected-serie">

									<h3>{{serie["size"]}}''</h3>

								</a>

							</div>

							<div class="size-selectors__serial">

								<p>{{serie.code}}</p>

							</div>

						</div>

						{% endfor %}

					</div>

				</div>

			</div>

			<div class="row pb-6 sal">

				<div class="col-6">

					<ul class="accordion__list">


						{% for spec in product.spec %}

						{% if loop.index % 2 == 0 %}

						<li class="accordion__item">

							<span class="accordion__toggle">{{ spec.name }}</span>

								<ul class="accordion__container">

									{% for specVal in spec.children %}

									<li>

										<div class="label">{{ specVal.name|raw }}</div>

										<div class="data">{{ specVal.value|raw }}</div>

									</li>

									{% endfor %}

								</ul>

							  </li>

						{% endif %}

						{% endfor %}

					</ul>

				</div>

				<div class="col-6">

					<ul class="accordion__list">



						{% for spec in product.spec %}

						{% if loop.index % 2 != 0 %}

						<li class="accordion__item">

							<span class="accordion__toggle">{{ spec.name }}</span>

								<ul class="accordion__container">

									{% for specVal in spec.children %}

									<li>

										<div class="label">{{ specVal.name|raw }}</div>

										<div class="data">{{ specVal.value|raw }}</div>

									</li>

									{% endfor %}

								</ul>

							  </li>

						{% endif %}

						{% endfor %}

					</ul>

				</div>

			</div>

		</div>

	</div>

	<div class="container-fluid py-6">

		<div class="container">

			<div class="row pb-3">

				<div class="col-12 align-text--center">

					{# <h2>Recently viewed</h2> #}

				</div>

			</div>

			<div class="row">


		{% if lastVisited is defined %}
        {% for row in lastVisited %}

				<div class="col-4">
					<div class="product-card product-card--black">
						<div class="product-card__image">
							<a href="">
								<img class="cld-responsive" src="{{ row.images[0].url|raw }}" alt="UL7 Premium UHD TRU Picture TV" />
							</a>
						</div>
						<div class="product-card__text">
							<h3>
								{{ row.text[0].name|raw }}
							</h3>
							<p>
								{{ row.text[0].title|raw }}</p>
						</div>
						<div class="product-card__size-selector">
							<ul>



								<li class="active">{{ row.series.mainSize|raw }}"</li>

				{% for inRow in row.series.products %}
				<a href="{{ path('getProductBySef', { 'country': country.code, 'language': lang.code, 'productLink' :inRow.link }) }}"> <li>{{ inRow.size }}"</li></a>

                {% endfor %}

							</ul>
						</div>
						<div class="product-card__button">
							<div class="btn__container">
								<a class="btn btn--gold" href="{{ path('getProductBySef', { 'country': country.code, 'language': lang.code, 'productLink' :row.series.mainLink }) }}">{{staticText.LEARNMORE}}</a>
							</div>
						</div>
					</div>
				</div>


        {% endfor %}
		{% endif %}






			</div>

		</div>

	</div>

	<div class="container-fluid pb-6">

		<div class="container">

			<div class="row pb-3">

				<div class="col-12 align-text--center">

					<h2>{{staticText.NEEDHELP}}</h2>

				</div>

			</div>

			<div class="row">

				<div class="col-6">

					<div class="content-card">

						<div class="content-card__text bg--light-grey p-4 align-text--center">

							<h3>{{staticText.HOMEPRODUCTSUPPORT}}</h3>

							<p>{{staticText.HOMEPRODUCTSUPPORTTEXT}}</p>

							<div class="btn__container btn__container--inline">

								<a class="btn btn--red" href="{{ path('landingPage', { 'country': country.code, 'language': lang.code }) }}">{{staticText.HOMEPRODUCTSUPPORT}}</a>

								<a class="btn btn--red-outline" href="{{ path('landingPage', { 'country': country.code, 'language': lang.code }) }}">{{staticText.WARRANTYBUTTON}}</a>

							</div>

						</div>

					</div>

				</div>

				<div class="col-6">

					<div class="content-card">

						<div class="content-card__text bg--light-grey p-4 align-text--center">

							<h3>{{staticText.CANTDECIDE}}</h3>

							<p>{{staticText.CANTDECIDETEXT}}</p>

							<div class="btn__container">

								<a class="btn btn--red" href="{{ path('landingPage', { 'country': country.code, 'language': lang.code }) }}">{{staticText.LEARNMORE}}</a>

							</div>

						</div>

					</div>

				</div>

			</div>

		</div>

	</div>

	<div class="container-fluid fixed-sub-header fixed-sub-header--dark nav-down">

		<div class="w-100">

			<div class="row">

				<div class="col-12">

					<div class="fixed-sub-header__container">

						<div class="fixed-sub-header__title">

							<h3>{% if product is not null %}{{product.text[0].name |raw}} {% endif %}</h3>

						</div>

						<div class="fixed-sub-header__navigation">

							<ul>

								<li>
									<a class="fixed-sub-header__link active" href="#voice-assistant">{{staticText.VOICEASSISTANT}}</a>
								</li>

								<li>
									<a class="fixed-sub-header__link" href="#resolution">{{staticText.RESOLUTION}}</a>
								</li>

								<li>
									<a class="fixed-sub-header__link" href="#hdr">HDR</a>
								</li>

								<li>
									<a class="fixed-sub-header__link" href="#additional-features">{{staticText.ADDITIONALFEATURES}}</a>
								</li>

								<li>
									<a class="fixed-sub-header__link" href="#specifications">{{staticText.TABSPECS}}</a>
								</li>

							</ul>

						</div>

						<div class="fixed-sub-header__top to-top">

							<img src="/assets/img/toshiba-new/to-top-icon.svg" alt="To The Top" />

						</div>

					</div>

				</div>

			</div>

		</div>

	</div>


<script src="/assets/js/product-detail/fixedHeader.js" type="text/javascript"></script>
<script src="/assets/js/product-detail/productDetail.js" type="text/javascript"></script>
<script src="/assets/js/product-detail/sal.min.js" type="text/javascript"></script>
<script src="/assets/js/product-detail/sal.polyfill.js" type="text/javascript"></script>
<script src="/assets/js/product-detail/salfile.js" type="text/javascript"></script>

{% endblock %}
