{% extends 'base.html.twig' %}
{% block body %}
<section>
  <div class="full-section bg-red-carousel-org">
    <div class="padding-t-xxxl padding-b-xxl">
      <p class="text-xl-bold color-white text-align-center">Register your product</p>
    </div>
  </div>

  <div class="full-section">
    <div class="container-1620">
      <div class="flex-between-nowrap-start">
        <div class="flex-0064">


          <div class="width-100 bg-grey-100 padding-all-s margin-t-xxl">
            <div class="wrapper-row-align-center-center">
                <ion-icon class="margin-r-s register-icon-big" name="checkmark"></ion-icon>
                <p class="margin-b-0 text-m-s color-grey-700"><span class="text-m-s-bold">Thank you for registering your Toshiba product.</span> We have sent you a confirmation email. In order for us to provide a more personalised service, please consider filling out the remaining information in the form below.</p>
            </div>
          </div>

          <div class="full-section padding-t-s">
            <div class="text-align-center">
              <p class="text-s color-red-500" id="idForm-0-error-text"></p>
            </div>
          </div>

          {% if  surveyStatus == 0 %}
          <form class="margin-t-xxs margin-b-xl" id="idForm-0" action="{{ path('registerNext', { 'country': country.code, 'language': lang.code }) }}" method="POST" enctype="multipart/form-data">
            <div class="flex-between-wrap-start padding-t-xs ">
              <div class="container-row-2 margin-t-xs">
                <input class="register-input width-100 padding-l-s" type="text" name="birthdate" placeholder="Date of birth(dd-mm-yyyy)" id="idForm-0-input-0">
              </div>
              <div class="container-row-2 margin-t-xs">
                <input class="register-input width-100 padding-l-s" type="text" name="gender" placeholder="Gender" id="idForm-0-input-1">
              </div>
              <div class="container-row-2 margin-t-xs">
                <input class="register-input width-100 padding-l-s" type="text" name="education" placeholder="Education" id="idForm-0-input-2">
              </div>
              <div class="container-row-2 margin-t-xs">
                <input class="register-input width-100 padding-l-s" type="text" name="place" placeholder="Employment status" id="idForm-0-input-3">
              </div>
            </div> 

            <div class="flex-between-wrap-start padding-t-xs ">
              <div class="container-row-2 margin-t-xs">
                <input class="register-input width-100 padding-l-s" type="text" name="influence" placeholder="What influenced your purchasing decision?" id="idForm-1-input-0">
              </div>
              <div class="container-row-2 margin-t-xs">
                <input class="register-input width-100 padding-l-s" type="text" name="use" placeholder="Where do you use your Toshiba TV?" id="idForm-1-input-1">
              </div>
              <div class="container-row-2 margin-t-xs">
                <input class="register-input width-100 padding-l-s" type="text" name="tvamount" placeholder="How many TVs do you have in your home?" id="idForm-1-input-2">
              </div>
              <div class="container-row-2 margin-t-xs">
                <input class="register-input width-100 padding-l-s" type="text" name="gaming" placeholder="Do you use the TV for gaming?" id="idForm-1-input-3">
              </div>
            </div>

          {% for question in questions %}
            {% if question.question_type == 0 %}
            <div class="width-100 margin-t-s bg-grey-100">
              <div class="padding-all-s">
                <p class="margin-b-0 text-m-s color-grey-700">{{ question.question }}</p>
                <div class="width-100 margin-t-xxs">
                {% for answer in answers[question.question_id] %}
                  <div class="checkbox-container">
                    <div class="wrapper-row-start-a-center-nowrap">
                      <input class="checkbox-style" type="checkbox" id="{{answer.answer_id}}" name="checkbox[{{ question.question_id }}][]" value="{{answer.answer_id}}">
                      <label for="{{answer.answer_id}}">{{ answer.answer }}</label>
                    </div>
                  </div>
                {% endfor %}  
                </div>
              </div>
            </div>


            {% elseif question.question_type == 1 %}
            <div class="width-100 margin-t-s bg-grey-100">
              <div class="padding-all-s">
                <p class="margin-b-0 text-m-s color-grey-700">{{ question.question }}</p>
                <div class="width-100 margin-t-xxs">
                  {% for answer in answers[question.question_id] %}
                  <div class="checkbox-container">
                    <div class="wrapper-row-start-a-center-nowrap">
                      <input class="checkbox-style" type="radio" id="{{answer.answer_id}}" name="checkbox[{{ question.question_id }}][]" value="{{answer.answer_id}}">
                      <label for="{{answer.answer_id}}">{{ answer.answer }}</label>
                    </div>
                  </div>
                  {% endfor %} 
                </div>
              </div>
            </div>
            {% elseif question.question_type == 2 %}


            <div class="width-100 margin-t-s">
              <input type="hidden" id="custId" name="hidden[]" value="{{question.question_id}}">
              <textarea name="text[{{question.question_id}}]" class="width-100 min-height-120-px padding-h-s padding-v-xxs color-grey-700" placeholder="{{ question.question }}"></textarea>
            </div>
            {% endif %}
            {% endfor %}
            <button type="submit" name="submit">Submit</button>
          </form>
        {% endif %}
        </div>
        <div class="flex-0032 margin-t-xxl">
          <div class="width-100 border-radius-custom overflow-hidden">
            <div class="width-100 bg-grey-100 padding-t-m padding-h-m">
              <p class="margin-b-0 text-align-center text-m-l-bold color-grey-700">Your registered product</p>
              <img class="margin-t-m width-100 height-auto" src="/assets/img/55VL5A63DB_Front.png">
              <p class="margin-b-0 margin-t-ms text-align-center text-m-bold color-grey-700">{% if product is not empty %}{{product.name}} {% endif %}</p>
              <div class="flex-between-center-nowrap margin-t-ms">
  
                <div class="container-row-2-full border-grey-right padding-b-s text-align-center">
                  <p class="margin-b-0 text-m-s color-grey-700">{{warrantyProduct.modelNo}}</p>
                  {# <p class="margin-b-0 text-m-s-bold color-grey-700">code</p> #}
                </div>
  
                <div class="container-row-2-full border-grey-left padding-b-s text-align-center">
                  <p class="margin-b-0 text-m-s color-grey-700">Serial Number</p>
                  <p class="margin-b-0 text-m-s-bold color-grey-700">{{warrantyProduct.serialNo}}</p>
                </div>
  
              </div>
            </div>
            <div class="width-100 bg-grey-600 text-align-center padding-v-xs">
              <p class="margin-b-0 text-m-s color-white">Product status</p>
              <p class="margin-b-0 text-m-s-bold color-white">Pending approval</p>
            </div>
          </div>
          <div class="width-100 margin-t-ms">
              {% if surveyStatus == 1 %}
              <a href="{{ redirectUrl }}">
                <button class="learn-more-button-big">
                  To the Dashboard
                </button>
              </a>
              {% endif %}
              
          </div>
          
          
          
        </div>
      </div>
      
    </div>
  </div>

  <script type="text/javascript" src="/assets/js/checkBoxParentStyler.js"></script>
  <script type="text/javascript" src="/assets/js/navbarStyler.js"></script>
  <script>navbarStyler('black');</script>
</section>
{% endblock %}    
