{% extends 'base.html.twig' %}
{% block body %}
<section>
  <div class="full-section bg-red-carousel-org">
    <div class="padding-t-xxxl padding-b-xxl">
      <p class="text-xl-bold color-white text-align-center">{{staticText.REGISTERHEADER}}</p>

      <div class="full-section">
        <div class="container-1620">
          <div class="wrapper-row-align-center-center">

            <div class="width-50-p min-height-100 wrapper-row-align-center-center align-items-stretchh">
              <div class="flex-0064 margin-t-m">
                <div class="width-100 bg-grey-100 padding-all-m">
                  <p class="margin-b-0 text-m-s color-grey-400">{{staticText.REGISTEREXISTINGCUSTOMER}}</p>
                  <p class="margin-b-0 text-m-bold color-grey-700">{{staticText.LOGIN}}</p>
                  <form action="{{ path('registerHome', { 'country': country.code, 'language': lang.code }) }}" method="POST">
                    <div class="width-100">
                      <div class="margin-t-ms">
                        <input class="register-input width-100 padding-l-s" type="text" name="email" placeholder="E-mail">
                      </div>
                      <div class="margin-t-xs">
                        <input class="register-input width-100 padding-l-s" type="password" name="pwd" placeholder="Password">
                      </div>
                      <div class="flex-between-center-nowrap">
                        <input class="btn-sm margin-t-xs" name="login" type="submit" value="{{staticText.LOGIN}}">
                        <div class="margin-l-xs">
                          <div>
                            <a href="{{ path('forgotPassword', { 'country': country.code, 'language': lang.code }) }}" class="float-rightt cursor-pointer margin-t-xs"><p class="margin-b-0 text-xxs color-grey-400 white-space-nowrap">{{staticText.FORGOTPASSWORD}}</p></a>
                          </div>
                          <div class="margin-t-xxs">
                            <a href="#" class="float-rightt cursor-pointer margin-t-xxs"><p class="margin-b-0 text-xxs color-grey-400 white-space-nowrap">{{staticText.RESENDACTIVATION}}</p></a>
                          </div>
                        </div>
                      </div>
                    </div> 
                  </form>
                </div>
              </div>
              <div class="flex-0036 min-height-100 bg-white padding-all-m margin-t-m wrapper-column-center-center">
                <div class="wrapper-column-center-center text-align-center">
                  <p class="white-space-nowrap margin-b-0 text-m-s color-grey-400">{{staticText.NEWCUSTOMER}}</p>
                  <a class="cursor-pointer" href="{{ path('register', { 'country': country.code, 'language': lang.code }) }}">
                    <p class="white-space-nowrap margin-b-0 text-m-bold color-grey-700">{{staticText.SUPPORTREGISTERBUTTON}}</p>
                  </a>
                  
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid py-6 bg--light-grey">
    <div class="container">
    <div class="row pb-3">
      <div class="col-12 align-text--center">
        <h2>{{staticText.SUPPORTGETINTOUCH}}</h2>
      </div>
    </div>
    <div class="row">
    
    
    
    
    <div class="col-4">
      <div class="content-card">
        <div class="content-card__text white-bg p-2 align-text--left">
            <p class="margin-b-0 text-l color-grey-700">{{staticText.SUPPORTCHATLIVE}}</p>
            <p class="margin-t-xxs margin-b-0 text-m-s color-grey-700">{{staticText.SUPPORTONLINETIME}}</p>
            <p class="margin-t-xxs margin-b-0 text-m-s color-grey-700">{{staticText.SUPPORTONLINETIME2}}</p>
            <div class="width-100 contact-widget  bg--light-grey cursor-pointer">
              <div class="contact-widget-icon-container">
                  <div class="wrapper-row-start">
                    <ion-icon class="contact-widget-icon" name="call"></ion-icon>
                    <div class="green-circle-container">
                        <div class="green-circle">
                        </div>
                    </div>
                  </div>
              </div>
              <div class="width-100 flex-between-center-nowrap">
                <p class="margin-b-0 text-m-s color-grey-400">{{staticText.ONLINENOW}}</p>
                <p class="margin-b-0 text-m-s color-red-500">{{staticText.STARTCHAT}}</p>
              </div>
            </div>
        </div>
      </div>
    </div>
    
    
    
    
    <div class="col-4">
      <div class="content-card">
        <div class="content-card__text white-bg p-2 align-text--left">
    
        <p class="margin-b-0 text-l color-grey-700">{{staticText.SUPPORTCALLUS}}</p>
        <p class="margin-t-xxs margin-b-0 text-m-s color-grey-700">{{staticText.SUPPORTONLINETIME}}</p>
        <p class="margin-t-xxs margin-b-0 text-m-s color-grey-700">{{staticText.SUPPORTONLINETIME2}}</p>
        <div class="width-100 margin-t-30 ">
            <p class="margin-b-0 contact-phone color-red-500 supportmodelCallUs">{{staticText.CALLNUMBER}}</p>
        </div>
    
        </div>
      </div>
    </div>
    
      <div class="col-4">
        <div class="content-card">
          <div class="content-card__text white-bg p-2 align-text--left">
    
    
          <p class="margin-b-0 text-l color-grey-700">{{staticText.SUPPORTEMAILUS}}</p>
    
          <p class="margin-t-xxs margin-b-0 text-m-s color-grey-700">{{staticText.SUPPORTEMAILUSDESC}}</p>
    
          <div class="btn__container supportmodelEmailUs width-100">
            <a class="btn btn--red" href="{{ path('supportContact', { 'country': country.code, 'language': lang.code }) }}">{{staticText.SUPPORTEMAILUS}}</a>
          </div>
    
    
          </div>
        </div>
      </div>
    </div>
    </div>
    
    <p class="touchusinformation">{{staticText.SUPPORTMAINDESC}}</p>
    </div>
  <script>
    window.onload = function() {
      $('#idForm-0-input-2').datepicker();
    }
    
  </script>
  <script type="text/javascript" src="/assets/js/navbarStyler.js"></script>
  <script>navbarStyler('black');</script>
</section>
{% endblock %}    
