{% extends 'base.html.twig' %}
{% block body %}
<section>
  <div class="full-section bg-red-carousel-org">
    <div class="padding-t-xxxl padding-b-xxl">
      <p class="text-xl-bold color-white text-align-center">Register your product</p>
    </div>
  </div>

  <div class="full-section padding-t-xxl">
    <div class="container-1620">
      <div class="flex-between-nowrap-start">
        <div class="flex-0064">

          <div class="full-section padding-t-s">
            <div class="text-align-center">
              <p class="text-s color-red-500" id="idForm-0-error-text"></p>
            </div>
          </div>
          <form class="margin-t-xxs margin-b-xl" id="idForm-0" method="POST" enctype="multipart/form-data">
            <div class="width-100 flex-between-center-nowrap">
                <div class="greyLineContact"></div>
                <div class="padding-h-s">
                    <p class="white-space-nowrap margin-b-0 contactFormSubTitle text-xxs color-grey-400">YOUR TOSHIBA PRODUCT</p>
                </div>
                <div class="greyLineContact"></div>
            </div>
            <div class="flex-between-wrap-start padding-t-xs ">
              <div class="container-row-2 margin-t-xs">
                <input class="register-input width-100 padding-l-s" value="" type="text" name="model" placeholder="Model Number*" id="idForm-0-input-0">
              </div>
              <div class="container-row-2 margin-t-xs">
                <input class="register-input width-100 padding-l-s" value="" type="text" name="serial" placeholder="Serial Number*" id="idForm-0-input-1">
              </div>
              <div class="container-row-2 margin-t-xs">
                <input class="register-input width-100 padding-l-s" type="text" autocomplete="off" name="date" placeholder="Date of purchase (dd-mm-yy)*" id="idForm-0-input-2">
              </div>
              <div class="container-row-2 margin-t-xs">
                <input class="register-input width-100 padding-l-s" type="text" name="place" placeholder="Where did you purchase your product?*" id="idForm-0-input-3">
              </div>
              <div class="flex-0064 margin-t-xs">
                <input class="register-input width-100 padding-l-s" type="file" name="proof" placeholder="Proof of purchase*" id="idForm-0-input-4">
                <label for="idForm-0-input-4" class="custom-file-upload">
                  Proof of purchase*
              </label>
              <p class="margin-l-xxs margin-t-xxs text-xxs color-grey-500">Accepted file format: .jpg, .jpeg, .png, .pdf | Maximum file size 3MB</p>
              <p class="margin-l-xxs margin-t-xxs text-xxs color-grey-700">PLEASE CLICK SEND BUTTON BEFORE ABOUT YOU**</p>
              </div>
              <button class="learn-more-button margin-t-xs" id="idForm-button-0">Send</button>
            </div>
          </form>

          <form class="margin-t-m margin-b-xl" id="idForm-1" method="POST">
            <div class="width-100 flex-between-center-nowrap">
                <div class="greyLineContact"></div>
                <div class="padding-h-s">
                    <p class="white-space-nowrap margin-b-0 contactFormSubTitle text-xxs color-grey-400">ABOUT YOU</p>
                </div>
                <div class="greyLineContact"></div>
            </div>
            <div class="flex-between-wrap-start padding-t-xs ">
              <div class="container-row-2 margin-t-xs">
                <input class="register-input width-100 padding-l-s" value="" type="text" name="name" placeholder="Your Name*" id="idForm-1-input-0">
              </div>
              <div class="container-row-2 margin-t-xs">
                <input class="register-input width-100 padding-l-s" value="" type="email" name="email" placeholder="Your email address*" id="idForm-1-input-1">
              </div>
              <div class="container-row-2 margin-t-xs">
                <input class="register-input width-100 padding-l-s" value="" type="text" name="phone" placeholder="Your phone number" id="idForm-1-input-2">
              </div>



              <div class="container-row-2 margin-t-xs contactSelectbox">
                  <select class="pl-4 width-100 bg-white register-input" name="selectCountry" id="idForm-1-input-3">
                    {% for _country in countries %}
                      {% if _country.code == country.code %}
                      <option class="color-grey-500" value="{{ _country.id }}" selected>{{ _country.name|raw }}</option>
                      {% else %}
                      <option class="color-grey-500" value="{{ _country.id }}">{{ _country.name|raw }}</option>
                      {% endif %}
                    {% endfor %}
                  </select>
              </div>






              <div class="container-row-2 margin-t-xs">
                <input class="register-input width-100 padding-l-s" value="" type="text" name="postcode" placeholder="Postcode*" id="idForm-1-input-4">
              </div>
              <div class="container-row-2 margin-t-xs">
                <input class="register-input width-100 padding-l-s" value="Address" type="text" name="address" placeholder="Address*" id="idForm-1-input-5">
              </div>
            </div>

            <div class="full-section">
              <div class="text-align-center">
                <p class="text-s color-red-500" id="idForm-1-error-text"></p>
              </div>
            </div>

            <div class="width-100 flex-between-center-nowrap margin-t-m">
                <div class="greyLineContact"></div>
                <div class="padding-h-s">
                    <p class="white-space-nowrap margin-b-0 contactFormSubTitle text-xxs color-grey-400">ACCOUNT PASSWORD</p>
                </div>
                <div class="greyLineContact"></div>
            </div>
            <div class="flex-between-wrap-start padding-t-xs ">
              <div class="container-row-2 margin-t-xs">
                <input class="register-input width-100 padding-l-s" value="" type="password" name="pwd" placeholder="Password" id="idForm-1-input-6">
              </div>
              <div class="container-row-2 margin-t-xs">
                <input class="register-input width-100 padding-l-s" value="" type="text" name="pwd2" placeholder="Confirm Password" id="idForm-1-input-7">
              </div>
              <div class="container-row-2 margin-t-xs margin-b-xs padding-t-xs padding-b-xs acceptPolicy">
                <div><input class="styled-checkbox" value="1" type="checkbox" id="checkboxPolicy">
                <label for="checkboxPolicy">
                </label></div>
                <span class="color-grey-400"> I agree to your <a href="#" data-toggle="modal" data-target="#myModal" class="text-xs-link color-red500">terms of privacy</a></span>
              </div>
              <div class="clear width-100"></div>
              <div class="container-row-2 width-100">
                <button class="learn-more-button" id="idForm-button-2">Next</button>
              </div>
            </div>
          </form>

        </div>
        <div class="flex-0032 margin-t-m">
          <div class="width-100 bg-grey-100 padding-all-m registerPageLoginBox">
            <p class="margin-b-0 text-xs color-grey-400">Already registered?</p><strong class="text-m-bold">Login</strong>
            <form action="{{ path('loginSupport', { 'country': country.code, 'language': lang.code }) }}" method="POST">
              <div class="width-100">
                <div class="margin-t-xs">
                  <input class="register-input width-100 padding-l-s" type="text" name="email" placeholder="E-mail address">
                </div>
                <div class="margin-t-xs">
                  <input class="register-input width-100 padding-l-s" type="password" name="pwd" placeholder="Password">
                </div>
                <div class="flex-between-center-nowrap">
                  <input name="login" class="btn-sm margin-t-xs" type="submit" value="Login">
                  <div class="margin-t-xs">
                    <div>
                      <a href="#" class="cursor-pointer margin-t-xs"><p class="margin-b-0 text-xxs color-grey-400">Forgot password?</p></a>
                    </div>
                    {# <div class="margin-t-xxs">
                      <a href="#" class="cursor-pointer margin-t-xs"><p class="margin-b-0 text-xxs color-grey-400">Re-send activation email</p></a>
                    </div> #}
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Terms of Privacy </h4>
        </div>
        <div class="modal-body">
          <p><a name="witryna"><strong>1. Privacy and Cookies Policy of the &nbsp;Controller’s Website</strong></a></p><p><strong>Basic Information</strong></p><p>Our Users’ trust is very important to us. Therefore we prepared this document to inform you about the rules for collecting and using transmitted data and using cookies by the website which is available at the following address:<span>&nbsp;</span><a href="https://www.toshiba-tv.com/"></a><a href="https://www.toshiba-tv.com/">https://www.toshiba-tv.com/</a>&nbsp; (hereunder referred to as: „<strong>the Website</strong>”).</p><p>In order to ensure the high level of security and high quality of service you are kindly asked to read this Policy.</p><p>We would like to inform you that we are the Controller of personal data, and “we” means Vestel Ticaret A.Ş with its operating office in Office: Organize Sanayi Bölgesi 45030 Manisa Turkey (hereunder referred to as: „the Collector”, „we”, „us”, „our”, „ours”).</p><p>Everyone using the Website (hereunder referred to as: „the User”) may contact us at the following e-mail address:<span>&nbsp;</span><a href="mailto:vesteltrade@vestel.com.tr">vesteltrade@vestel.com.tr</a><span>&nbsp;</span>&nbsp;</p><p><strong>Collection &nbsp;and processing of personal data</strong></p><p>The use of the Website automatically results in the collection of data regarding the User. These data include: &nbsp;IP address, visited sites within the Website, browser’s type, browser’s version, visiting hours, visiting frequency, country, city where the User enters the website. The above data can be collected by so called cookies and they can be recorded in the server’s logos. This information constitutes statistical data with regard to activities of our Users at the Website but cannot identify any person. The use of the Website does not require Users to provide their personal data. The User may transmit his/her personal data to the Controller also by means of an e-mail<span>&nbsp;</span><a href="mailto:vesteltrade@vestel.com.tr">vesteltrade@vestel.com.tr</a><span>&nbsp;</span>&nbsp;</p><p>The data provided to us automatically are processed on the basis of our legitimate interest in the form of the appropriate functioning of the Website. Data provided to us by the Users themselves are processed for taking of measures intended to conclude an agreement, including measures requested by a data subject prior to the conclusion of an agreement and for the purpose of starting and implementing commercial cooperation and also for the purpose of maintaining contacts (Controller’s legitimate interest); Providing data is voluntary but necessary for the achievement of goals mentioned. &nbsp;&nbsp;</p><p>&nbsp;We will store the User’s personal data for the required period of time which is necessary for the fulfillment of the aforementioned purposes.&nbsp;</p><p>The User’s personal data obtained by means of the Website, electronic correspondence, including correspondence with commercial representatives to the e-mail address of the Controller may be transmitted to the following categories of recipients: &nbsp;(I) suppliers of services providing the Controller with technical and organizational solutions allowing the management of the Controller’s organization, &nbsp;including entities operating communication and information systems or making available to the Controller communication and information tools (in particular suppliers of communication and information services); (II) entities affiliated by capital or persons with the Controller; (III) coworkers and employees of the Controller. &nbsp;&nbsp;</p><p>The User’s personal data are not and will not be transmitted to the third country or to an international organization.</p><p>The User has got the right to access the contents of his/her personal data, the right to rectification of his/her personal data, the right to data portability, the right to restriction of data processing, and the right to object to the processing of his/her personal data. In addition, the User has got the right to withdraw his/her consent with regard to data transmitted on the basis of the User’s consent.</p><p>The User has also got the right to lodge a complaint to a suitable supervisory authority in a manner and under the procedure prescribed by the applicable provisions of law on personal data protection, in particular the Act of Parliament on personal data protection, if the User finds that we have breached the aforementioned provisions. &nbsp;&nbsp;</p><p>With regard to the User’s personal data, there will be no automated decision-making and there will be no profiling of his/her data.</p><p>The security of personal data provided by Users is our top priority and we ensure, by applying suitable technical and organizational safeguards, that these data are duly protected against the access of unauthorized persons and against any other incidents of data disclosure, loss, damage or unauthorized alteration.</p><p><strong>Cookies files and other technologies used by &nbsp;the Website</strong></p><p>Cookies files constitute information data, in particular in the form of small text files, which are stored in the end device of the User and are intended for the use of the Website.</p><p>The User has got the possibility to control and manage cookies installed. However, if cookies files are blocked or erased, the use of the Website can be hindered.</p><p>Furthermore, the User has the possibility to manage cookies files by suitable settings of his/her browser. Detailed information with regard to the possibilities of modifying the browser’s settings, blocking and filtering cookies files can be found at the following address:<span>&nbsp;</span><a href="http://www.aboutcookies.org/"></a><br><a href="http://www.aboutcookies.org/">http://www.aboutcookies.org/</a><span>&nbsp;</span>or <br><span>&nbsp;</span><a href="http://www.cookiecentral.com/faq/"></a><a href="http://www.cookiecentral.com/faq/">http://www.cookiecentral.com/faq/</a>.</p><p><a name="email"><strong>2. Information Obligation with &nbsp;Regard to E-mail Correspondence with the Controller.&nbsp;</strong></a></p><p><a name="target_link_mjxw62zogi3damjxheydona_mfrx">The Controller of your personal data is with its operating office in Organize &nbsp;Sanayi Bölgesi 45030 Manisa Turkey.</a></p><p>The processing of your personal data will be performed:</p><ul><li>In connection with the actions intended to conclude an agreement, including taking of measures as requested by a data subject prior to the conclusion of an agreement;</li><li>On the basis of a legitimate interest of the Controller for contacting purposes.</li></ul><p>Your personal data are or may be transmitted to the following categories of recipients:</p><ul><li>Suppliers of services providing the Controller with technical and organizational solutions allowing to manage the Controller’s organization including entities operating communication and information systems or making available to the Controller communication and information tools (in particular suppliers of communication and information services);</li><li>Entities affiliated by capital and persons with the Controller;</li><li>Subcontractors, coworkers, employees.&nbsp;</li></ul><p>Your personal data are not and will not be transmitted to the third country or to an international organization.</p><p>Your personal data are stored for a required period of time which is necessary for the achievement of the purposes of processing.</p><p>You have got the right to access the contents of your personal data, the right to rectification of your personal data, the right to data portability, the right to restriction of data processing, and the right to object to the processing of your personal data.&nbsp;</p><p>You have got the right to lodge a complaint to a suitable supervisory authority in a manner and under the procedure prescribed by the applicable provisions of law on personal data protection if you believe that the processing of your personal data breaches the above provisions. &nbsp;&nbsp;</p><p>Providing personal data is voluntary but at the same time necessary for the fulfillment of purposes of processing.</p><p>In relation to your personal data, there will be no automated decision-making and your data will not be profiled.&nbsp;</p>

      </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
  
    </div>
  </div>
  <div class="container-fluid py-6 bg--light-grey">
    <div class="container">
    <div class="row pb-3">
      <div class="col-12 align-text--center">
        <h2>{{staticText.SUPPORTGETINTOUCH}}</h2>
      </div>
    </div>
    <div class="row">
    
    <div class="col-4">
      <div class="content-card">
        <div class="content-card__text white-bg p-2 align-text--left">
            <p class="margin-b-0 text-l color-grey-700">Chat live</p>
            <p class="margin-t-xxs margin-b-0 text-m-s color-grey-700">Monday to Saturday <span class="text-m-s-bold">9am - 6pm</span></p>
            <p class="margin-t-xxs margin-b-0 text-m-s color-grey-700">Sunday <span class="text-m-s-bold">10am - 4pm</span></p>
            <div class="width-100 contact-widget  bg--light-grey cursor-pointer">
              <div class="contact-widget-icon-container">
                  <div class="wrapper-row-start">
                    <ion-icon class="contact-widget-icon" name="call"></ion-icon>
                    <div class="green-circle-container">
                        <div class="green-circle">
                        </div>
                    </div>
                  </div>
              </div>
              <div class="width-100 flex-between-center-nowrap">
                <p class="margin-b-0 text-m-s color-grey-400">{{staticText.ONLINENOW}}</p>
                <p class="margin-b-0 text-m-s color-red-500">{{staticText.STARTCHAT}}</p>
              </div>
            </div>
        </div>
      </div>
    </div>
    
    
    
    
    <div class="col-4">
      <div class="content-card">
        <div class="content-card__text white-bg p-2 align-text--left">
    
        <p class="margin-b-0 text-l color-grey-700">Call us</p>
        <p class="margin-t-xxs margin-b-0 text-m-s color-grey-700">Monday to Saturday <span class="text-m-s-bold">9am - 6pm</span></p>
        <p class="margin-t-xxs margin-b-0 text-m-s color-grey-700">Sunday<span class="text-m-s-bold">10am - 4pm</span></p>

        <div class="width-100 margin-t-30 ">
            <p class="margin-b-0 contact-phone color-red-500 supportmodelCallUs">{{staticText.CALLNUMBER}}</p>
        </div>
    
        </div>
      </div>
    </div>
    
      <div class="col-4">
        <div class="content-card">
          <div class="content-card__text white-bg p-2 align-text--left">
    
    
          <p class="margin-b-0 text-l color-grey-700">Email us</p>
    
          <p class="margin-t-xxs margin-b-0 text-m-s color-grey-700">We'll respond within 2 working days. </p>
    
          <div class="btn__container supportmodelEmailUs width-100">
            <a class="btn btn--red" href="{{ path('buyingGuide', { 'country': country.code, 'language': lang.code }) }}">Email us</a>
          </div>
    
    
          </div>
        </div>
      </div>
    </div>
    </div>
    
    <p class="touchusinformation">Calls from landlines cost up to 9p per minute, mobile tariffs may vary - please check with your provider</p>
    </div>
  <script>
    window.onload = function() {
      $('#idForm-0-input-2').datepicker();
    }

  </script>
  <script>




  //var forms = ['idForm-1', 'idForm-2', 'idForm-3']
  //var actions = ['&action=upload', '&action=continue', '&action=finish']
  var perm;
  var reqState = false;

  var form1 = $('#idForm-0');
  var form3 = $('#idForm-1');

  var button1 = document.getElementById('idForm-button-0');
  var button3 = document.getElementById('idForm-button-2');

  // Address bulma
  // Error handling
  //40L1657DB
  //27710198600019
  //$pattern = "/^.*(?=.{8,})(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).*$/";
  /*
    Same form, check email and send address. Then show pwd section. After all full, send with next.
  */
  button1.addEventListener('click', handleForm1);
  button3.addEventListener('click', handleForm3);

  function handleForm1(e) {
    //console.log(form1);
    //console.log(form1[0].elements);
    e.preventDefault();
    sendRequest(form1, 'idForm-0', 'upload', 'idForm-1', 'idForm-0-error-text');
  }
  function handleForm3(e) {
    e.preventDefault();
    sendRequest(form3, 'idForm-1', 'continue', null, null)
  }

  function sendRequest2(form, formName, action, textID) {
    var values = [];
    var empty = [];
    var _name = $('#' + 'idForm-1-input-0')[0].value;
    var _email = $('#' + 'idForm-1-input-1')[0].value;
    var _phone = $('#' + 'idForm-1-input-2')[0].value;
    var _country = $('#' + 'idForm-1-input-3')[0].value;
    var _postcode = $('#' + 'idForm-1-input-4')[0].value;
    values.push(_name, _email, _phone, _country, _postcode);

    perm = 0;
    Array.prototype.forEach.call(values, function(el, index) {
      if(!el) {
        perm += 1;
        empty.push(index);
      }
    })
    if(perm === 0) {
      var formData = new FormData();
      formData.append('name', _name);
      formData.append('email', _email);
      formData.append('phone', _phone);
      formData.append('country', _country);
      formData.append('postcode', _postcode);
      formData.append('action', action);
      $.ajax({
        processData: false,
        contentType: false,
        type: 'POST',
        url:'{{ path('supportRegister', { 'country': country.code, 'language': lang.code }) }}',
        data: formData, // serializes the form's elements.
        success: function(data)
        {
          console.log(data);
          removeReq();
        }
      });
    } else {
      //console.log('Empty forms' + empty);
      var emptyElement;
      if(!reqState) {
        empty.forEach(function(el, index) {
        // idForm-2-input-0
        emptyElement = $('#' + formName + '-input-' + el);
        emptyElement[0].placeholder += ' ' + 'Required';
        emptyElement.addClass('register-border-red');
        })
        reqState = true;
      }
    }
  }

  function removeReq() {
    $('input').removeClass('register-border-red');
    //console.log($('input'));
    reqState = false;
  }


  function sendRequest(form, formName, action, nextForm, textID) {
    console.log(form);
    console.log('send-request');
    var form_data = new FormData($('#' + formName)[0]);
    form_data.append('action', action);
    perm = 0;
    var empty = [];

    Array.prototype.forEach.call(form[0].elements, function(el, index) {
      if(el.nodeName && el.nodeName.toLowerCase() === 'input' && !el.value) {
        perm += 1;
        empty.push(index);
      }
    })
    console.log(empty);
    if(perm === 0) {
      $.ajax({
        processData: false,
        contentType: false,
        type: 'POST',
        url:'{{ path('supportRegister', { 'country': country.code, 'language': lang.code }) }}',
        data: form_data, // serializes the form's elements.
        success: function(data)
        {
          console.log(data);
          removeReq();
          if(nextForm && textID) {
            handleSuccess(data, nextForm, textID, action);
          }
          if(action === 'continue') {
           console.log('continue');
           console.log(data);
           console.log(data.redirectUrl);
          }
          if(data.redirectUrl) {
            window.location.replace(data.redirectUrl);
          }
        }
      });
    } else {
      //console.log('Empty forms' + empty);
      var emptyElement;
      if(!reqState) {
        empty.forEach(function(el, index) {
        // idForm-2-input-0
        emptyElement = $('#' + formName + '-input-' + el);
        emptyElement[0].placeholder += ' ' + 'Required';
        emptyElement.addClass('register-border-red');
        })
        reqState = true;
      }

    }
  }
//40L1657DB
  //27710198600019
  function handleSuccess(data, element, textID, action) {
    if(data.error) {
      document.getElementById(textID).innerHTML = data.error;
      $('#' + element).addClass('display-none');
    }
    else {
      $('#' + element).removeClass('display-none');
      document.getElementById(textID).innerHTML = '';
    }
  }

  </script>
  <script type="text/javascript" src="/assets/js/navbarStyler.js"></script>
  <script>navbarStyler('black');</script>
  <script type="text/javascript" src="/assets/js/datePickerCustomStyler.js"></script>
</section>
{% endblock %}
