{% extends 'base.html.twig' %}
{% block body %}
<section>
  <div class="full-section bg-red-carousel-org">
    <div class="padding-t-xxxl padding-b-xxl">
      <p class="text-xl-bold color-white text-align-center">Request new password</p>

      <div class="full-section">
        <div class="container-1620">
          <div class="wrapper-row-align-center-center">

            <div class="width-50-p min-height-100 wrapper-row-align-center-center align-items-stretchh">
              <div class="flex-0064 margin-t-m">
                <div class="width-100 bg-grey-100 padding-all-m">
                  <p class="margin-b-0 text-m-s color-grey-400">Forgot Password?</p>
                  <p class="margin-b-0 text-m-bold color-grey-700">Get a new password</p>
                  <form>
                    <div class="width-100">
                      <div class="margin-t-ms">
                        <input class="register-input width-100 padding-l-s" type="text" name="email" placeholder="E-mail address">
                      </div>
                      <div class="margin-t-xs">
                        <input class="register-input width-100 padding-l-s" type="text" name="pwd" placeholder="New password">
                      </div>
                      <div class="margin-t-xs">
                        <input class="register-input width-100 padding-l-s" type="text" name="pwd" placeholder="Verify new password.">
                      </div>
                      <div class="flex-between-center-nowrap">
                        <input class="btn-sm margin-t-xs" type="submit" value="Send">
                        <div class="margin-l-xs">
                          <div class="margin-t-xxs">
                            <a href="#" class="float-rightt cursor-pointer margin-t-xxs"><p class="margin-b-0 text-xxs color-grey-400 white-space-nowrap">Re-send authentication email</p></a>
                          </div>
                        </div>
                      </div>
                    </div> 
                  </form>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  <script>
    window.onload = function() {
      $('#idForm-0-input-2').datepicker();
    }
    
  </script>
  <script type="text/javascript" src="/assets/js/navbarStyler.js"></script>
  <script>navbarStyler('black');</script>
</section>
{% endblock %}    
