{% extends 'base.html.twig' %}
{% block body %}
<section>
  <div class="position-fixedd bg-black-opacity-08 wrapper-row-align-center-center">
      <p class="color-white margin-b-0 text-xl-bold">Release date to be confirmed</p>
  </div>

  <div class="section-full padding-t-xxxxl bg-grey-100 padding-b-330">
    <div class="text-align-center width-850">
      <div class="width-100 wrapper-row-center">
        <img class="width-185 height-auto" src="/assets/img/Logo_Roku_Black_Toshiba.png"/>
      </div>
      <p class="margin-b-0 margin-t-xxs text-xxxl-bold color-grey-700">Roku TV heading goes here</p>
    </div>
  </div>

  <div class="full-section">
    <div class="container-1720 landing-img-container">
      <div class="width-100">
        <div class="width-100">
          <img class="height-auto width-100" src="/assets/img/75VL5A63DB_Front_Screenfill.png" />
        </div>
        <div class="width-100 bg-grey-100">
          <div class="padding-anchor-card">
            <div class="flex-between-wrap">
              <div>
                <p class="margin-b-0 text-m-l-bold color-grey-700">Roku TV</p>
              </div>
              <div class="wrapper-row-start-a-center-nowrap overflow-x-scroll">
                <a class="margin-r-60-wo-last cursor-pointer" href="#">
                  <p class="margin-b-0  text-m-s color-grey-700 white-space-nowrap">Overview</p>
                </a>
                <a class="margin-r-60-wo-last cursor-pointer" href="#">
                  <p class="margin-b-0  text-m-s color-grey-700 white-space-nowrap">Entertainment</p>
                </a>
                <a class="margin-r-60-wo-last cursor-pointer" href="#">
                  <p class="margin-b-0  text-m-s color-grey-700 white-space-nowrap">Apps</p>
                </a>
                <a class="margin-r-60-wo-last cursor-pointer" href="#">
                  <p class="margin-b-0  text-m-s color-grey-700 white-space-nowrap">Roku Voice</p>
                </a>
                <a class="margin-r-60-wo-last cursor-pointer" href="#">
                  <p class="margin-b-0  text-m-s color-grey-700 white-space-nowrap">Features</p>
                </a>
                <a class="margin-r-60-wo-last cursor-pointer" href="#">
                  <p class="margin-b-0  text-m-s color-grey700 white-space-nowrap">Model</p>
                </a>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>

  </div>

  <div class="section-full landing-relative-normalizer">
    <div class="container-1344">
      <div class="text-align-center ">
        <p class="margin-b-0 text-m color-grey700">
          Explore thousands of movies, shows, games and get answers to your questions on the big screen with Android TV and Google Voice Assistant. Plus, with Chromecast built-in, simply cast movies, shows and photos from all your family’s devices.
        </p>
        
      </div>

    </div>

    <div class="container-1620 margin-t-ms">
      <ul class="wrapper-row-start-a-center">
          <li class="trademarks-img-wrapper"><img class="trademarks-img" src="/assets/img/dolbyvision.png " alt=" "></li>
          <li class="trademarks-img-wrapper"><img class="trademarks-img" src="/assets/img/hdrid.png " alt=" "></li>
          <li class="trademarks-img-wrapper"><img class="trademarks-img" src="/assets/img/widecolor.png " alt=" "></li>
          <li class="trademarks-img-wrapper"><img class="trademarks-img" src="/assets/img/freeview.png " alt=" "></li>
          <li class="trademarks-img-wrapper"><img class="trademarks-img" src="/assets/img/netflix.png " alt=" "></li>
          <li class="trademarks-img-wrapper"><img class="trademarks-img" src="/assets/img/alexalight.png " alt=" "></li>
          <li class="trademarks-img-wrapper"><img class="trademarks-img" src="/assets/img/primevideo.png " alt=" "></li>
          <li class="trademarks-img-wrapper"><img class="trademarks-img" src="/assets/img/alexalight.png " alt=" "></li>
          <li class="trademarks-img-wrapper"><img class="trademarks-img" src="/assets/img/primevideo.png " alt=" "></li>
      </ul>
    </div>
  </div>

  
  <div class="full-section padding-b-60 padding-t-120">
    <div class="container-1620">
      <div class="flex-between-center">
        <div class="container-row-2">
          <div class="wrapper-in-row">
            <div class="width-100">
              <img class="width-100 height-auto" src="/assets/img/GoogleAssistant_KeyVisual_Toshiba.png" />
            </div>
          </div>
        </div>
        <div class="container-row-2 vertical-center">
          <div class="padding-h-xxl wrapper-in-row">
            <div class="padding-h-ms width-100 wrapper-row-center">
              <img class="width-200-px height-auto" src="/assets/img/Logo_YouTubeKids_ColourBlack_Toshiba.png"/>
            </div>
            <div class="margin-t-ms text-align-center">
              <p class="text-xl-bold color-grey-700 margin-b-0 margin-t-xxs ">A little help on your big screen</p>
              <p class="text-m color-grey-700 margin-b-0 margin-t-ms">Quickly access all your favourite movies and shows, get answers on screen, and more with built-in Google Assistant. You can even create the perfect viewing environment by adjusting room temperature, lighting or controlling other connected devices, simply by using your voice.</p>
            </div>
          </div>
        </div>
        
        
      </div>
    </div>
  </div>

  <div class="full-section padding-b-m margin-t-xxl">
    <div class="container-1620">
      <div class="flex-between-center">
        <div class="container-row-2">
          <div class="wrapper-in-row">
            <div class="padding-h-xxl text-align-center">
              <p class="text-xl-bold color-grey-700 margin-b-0 margin-t-xxs ">Never miss your favourite TV shows, music and film</p>
              <p class="text-m color-grey-700 margin-b-0 margin-t-ms">WiFi functionality grants access to a wide array of apps including Amazon Prime Video, Netflix, YouTue and Freeview Play, all built-in as standard. Everything you need for the latest in great TV entertainment.</p>
              <div class="flex-between-wrap-start margin-t-s">
                <div class="container-row-2 padding-h-xs padding-v-s">
                  <div class="wrapper-in-row">
                    <img class="width-200-px" src="/assets/img/Logo_YouTubeKids_ColourBlack_Toshiba.png" />
                  </div>
                </div>
                <div class="container-row-2 padding-h-xs padding-v-s">
                  <div class="wrapper-in-row">
                    <img class="width-200-px" src="/assets/img/Logo_PrimeVideo_Colour_Toshiba.png" />
                  </div>
                </div>
                <div class="container-row-2 padding-h-xs padding-v-s">
                  <div class="wrapper-in-row">
                    <img class="width-200-px" src="/assets/img/Logo_AndroidTV_Colour_Toshiba.png" />
                  </div>
                </div>
                <div class="container-row-2 padding-h-xs padding-v-s">
                  <div class="wrapper-in-row">
                    <img class="width-200-px" src="/assets/img/Logo_Roku_Colour_Toshiba.png" />
                  </div>
                </div>
                <div class="container-row-2 padding-h-xs padding-v-s">
                  <div class="wrapper-in-row">
                    <img class="width-200-px" src="/assets/img/Logo_TRUMicroDimming_ColourBlack_Toshiba.png" />
                  </div>
                </div>
                <div class="container-row-2 padding-h-xs padding-v-s">
                  <div class="wrapper-in-row">
                    <img class="width-200-px" src="/assets/img/Logo_TRUMicroDimming_ColourBlack_Toshiba.png" />
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="container-row-2">
          <div class="wrapper-in-row">
            <div class="width-100">
              <img class="width-100 height-auto" src="/assets/img/AndroidTV_KeyVisual_Toshiba.png" />
            </div>
          </div>
        </div>
        
        
      </div>
    </div>
  </div>

  <div class="section-full padding-t-xxl bg-white">
      <div class="text-align-center">
        <p class="margin-b-0 text-m-l color-grey-700">Upgrade your viewing experience</p>
        <p class="margin-b-0 text-xxl-bold color-grey-700 margin-t-xxs">Watch with Chromecast</p>
        <p class="margin-b-0 text-m color-grey-700 margin-t-ms">Watch movies, shows, live TV, YouTube and photos streaming on your TV from all family’s devices. Sharing your content has never been easier with built-in Chromecast.</p>
      </div>
      <div class="width-100 margin-t-xxl">
        <img class="width-100 height-auto" src="/assets/img/Hero_Chromecast_KeyVisual_Toshiba.png"/>
      </div>
  </div>

  <div class="section-full padding-t-xxl white-bg padding-b-xxl">
    <div class="container-1620">
      <div class="width-750">
        <p class="margin-b-0 text-align-center margin-t-xxs text-xl-bold color-grey-700">Additional features</p>
      </div>
      <div class="flex-between-wrap-3 width-100 margin-t-m">

        <div class="container-row-3 ">
          <div class="wrapper-in-row bg-grey-100-content">
            <img class="width-100 height-280 overflow-hidden" src="/assets/img/Enhanced_Resolution_Toshiba.png"/>
            <div class="padding-all-m">
              <p class="margin-b-0 text-l-bold color-grey-700">TRU Resolution</p>
              <p class="margin-b-ms margin-t-xs text-m-s color-grey-700 height-160">With Android TVs by Toshiba and Google Assistant, quickly access your favourite entertainment, control smart home devices, get answers on screen, and more using your voice.</p>
              <a class="margin-b-0 text-xs-link color-red-500">Learn more</a>
            </div>
          </div>
        </div>

        <div class="container-row-3 ">
          <div class="wrapper-in-row  bg-grey-100-content">
            <img class="width-100 height-280 overflow-hidden" src="/assets/img/Enhanced_MicroDimming_Toshiba.png"/>
            <div class="padding-all-m">
              <p class="margin-b-0 text-l-bold color-grey-700">TRU Resolution</p>
              <p class="margin-b-ms margin-t-xs text-m-s color-grey-700 height-160">With Android TVs by Toshiba and Google Assistant, quickly access your favourite entertainment, control smart home devices, get answers on screen, and more using your voice.</p>
              <a class="margin-b-0 text-xs-link color-red-500">Learn more</a>
            </div>
          </div>
        </div>

        <div class="container-row-3 ">
          <div class="wrapper-in-row bg-grey-100-content">
            <img class="width-100 height-280 overflow-hidden" src="/assets/img/Helicopter_Sound_Toshiba.png"/>
            <div class="padding-all-m">
              <p class="margin-b-0 text-l-bold color-grey-700">TRU Resolution</p>
              <p class="margin-b-ms margin-t-xs text-m-s color-grey-700 height-160">With Android TVs by Toshiba and Google Assistant, quickly access your favourite entertainment, control smart home devices, get answers on screen, and more using your voice.</p>
              <a class="margin-b-0 text-xs-link color-red-500">Learn more</a>
            </div>
          </div>
        </div>

      </div>
      
    </div>
    
  </div>


  <script type="text/javascript" src="/assets/js/imageQualitySlider.js"></script>
  <script type="text/javascript" src="/assets/js/navbarStyler.js"></script>
  <script>navbarStyler('gray');</script>

</section>
{% endblock %}    