{% extends 'base.html.twig' %}
{% block body %}

    <!--home image section end-->
    <div class="section bg-grey-100">
        <div class="full-section padding-b-120" id="get-current-route" data-val="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}">
                <div class="container-1620">
                {% if productCat|length > 0 %}
                {% set isExist = "Search results for" %}
                {% else %}
                {% set isExist = "No matched results" %}
                {% endif %}
                    <div class="text-align-center responsive-header-margin" >
                        <p class="text-xxl-bold color-gold-500">
                        {{ isExist }} - {{ searchTerm }}
                        </p>
                    </div>
                    
                    <div class="flex-between-wrap-3 margin-t-l">
                    {% if productCat|length > 0 %}
                    {% set url = "" %}
                    {% for key,value in productCat %}
                    {% if value[0].categoryLink == 'smart-tv' %}
                    {% set css = ["", "", "color-grey-700", "all-product-box-list", "all-product-box-list-element", "color-grey-700", "all-product-box-button", "bg-red-500", "color-grey-700", "color-grey-700", "color-grey-700"] %}

                    {% elseif value[0].categoryLink == 'oled-tv' %}
                        {% set css = ["", "bg-red-carousel-content", "color-white", "all-product-box-list", "all-product-box-list-element", "color-grey-100", "all-product-box-button", "bg-gold", "color-gold-500", "color-gold-400", "color-grey-100"] %}

                    {% elseif value[0].categoryLink == 'xuhd-tv' %}
                        {% set css = ["", "", "color-grey-700", "all-product-box-list", "all-product-box-list-element-for-red-bg", "color-grey-100", "all-product-box-button", "bg-red-700", "color-grey-700", "color-white", "color-grey-700"] %}

                    {% elseif value[0].categoryLink == 'uhd-tv' %}
                        {% set css = ["", "black-background", "color-white", "all-product-box-list", "all-product-box-list-element", "color-grey-100", "all-product-box-button", "bg-gold", "color-gold-500", "color-gold-400", "color-grey-100"] %}

                    {% elseif value[0].categoryLink == 'led-tv' %}
                        {% set css = ["", "", "color-grey-700", "all-product-box-list", "all-product-box-list-element", "color-grey-700", "all-product-box-button", "bg-red-500", "color-grey-700", "color-grey-700", "color-grey-700"] %}
                    {% else %}
                        {% set css = ["", "", "color-grey-700", "all-product-box-list", "all-product-box-list-element", "color-grey-700", "all-product-box-button", "bg-red-500", "color-grey-700", "color-grey-700", "color-grey-700"] %}
                    {% endif %}
                        <div class="padding-t-xs container-row-3 {{ css[1] }}">
                            <div class="text-align-center wrapper-column-center-center wrapper-column-center-center">
                                <div class="padding-t-m width-80 margin-b-m">
                                    <img style="width: 100%;" src="{{value[0].image}}"/>
                                </div>
                                <p class="product-header {{css[2]}} text-m-l-bold">{{ key }}</p>
                                <!-- <p class=" product-code color-grey200 text-xs">{{ value[0].name }}</p> -->
                                <ul class="{{css[3]}}">
                                {% set url = value[0].link %}
                                {% for prodSerie in value %}
                                 {#|sort|reverse|column('inc')#}
                                    <li class="{{css[4]}} {{css[5]}}">
                                        <a href ="{{ path('getProductBySef', { 'country': country.code, 'language': lang.code, 'productLink' :prodSerie.link }) }}"><p class="{{css[10]}} text-s cursor-pointer margin-b-0 line-height-inherit">{{ prodSerie.inc }}</p> </a> 
                                    </li>
                                {% endfor %}
                                </ul>
                                <a href="{{ path('getProductBySef', { 'country': country.code, 'language': lang.code, 'productLink' :url }) }}" class="cursor-pointer width-100">
                                    <button class="margin-b-20 {{css[6]}} {{css[7]}} text-xs {{css[8]}}">
                                        Learn more
                                    </button>
                                </a>
                            </div>
                        </div>
                    {% endfor %} {% endif %}
                    </div>
                   
                </div>
        </div>
    </div>

    {# <div class="container">
        <div class="row ">
            <!--PrBoxSearchList -->
            <div class="col-lg-12 col-sm-12 PrBoxSearchList mbottom30">
                <h2 class="fleft mleft15">Products <span class="resultCount">22 results</span> </h2>
                <button class="btn resetRadius red fright mright15">View all</button>
                <div class="clearfix"></div>
                <div class="col-lg-4 col-sm-12 fleft gold mbottom30 ">
                    <div class="PrBoxListItem result">
                        <img src="/assets/img/tvsample.png" alt="" class="mtop30 mbottom30 w-100">
                        <span class="tvCode">TL7A63DB</span>
                        <h2 class="centerText gold">Premium 4K TVs</h2>
                        <p class="incBox">55' 66' 75' </p>
                        <div class="clearfix"></div>
                        <button class="btn resetRadius gold w-100">Learn more</button>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12 fleft  red  mbottom30 ">
                    <div class="PrBoxListItem result">
                        <img src="/assets/img/tvsample.png" alt="" class="mtop30 mbottom30 w-100">
                        <span class="tvCode">TL7A63DB</span>
                        <h2 class="centerText">Premium 4K TVs</h2>
                        <p class="incBox">55' 66' 75' </p>
                        <div class="clearfix"></div>
                        <button class="btn resetRadius darkRed w-100">Learn more</button>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12 fleft  light mbottom30 ">
                    <div class="PrBoxListItem result">
                        <img src="/assets/img/tvsample.png" alt="" class="mtop30 mbottom30 w-100">
                        <span class="tvCode">TL7A63DB</span>
                        <h2 class="centerText">Premium 4K TVs</h2>
                        <p class="incBox">55' 66' 75' </p>
                        <div class="clearfix"></div>
                        <button class="btn resetRadius red w-100">Learn more</button>
                    </div>
                </div>
            </div>
            <!--PrBoxSearchList End-->

        </div>
    </div> #}
    {# <div class="container">
        <div class="row">
            <!--PrBoxPageSearchList -->
            <div class="col-lg-12 col-sm-12 PrBoxPageSearchList mtop30 mbottom30">
                <h2 class="fleft mleft15">Pages <span class="resultCount">2 results</span> </h2>

                <div class="clearfix"></div>
                <div class="col-lg-4 col-sm-12 fleft mbottom30 ">
                    <div class="PrBoxListItem result">
                        <div class="pageResultItem">
                            <h3 class="centerText gold">Experience Ultra HD at it’s very best</h2>
                                <p>[…] Lorem ipsum dolor sit amet, conse sadipscing, sed diam <span class="redText">TRU picture</span> ei tempor invidunt erat ut labore et dolore magna aliquyam […]</div>
                        </p>
                        <div class="clearfix">
                            <button class="btn resetRadius red w-100">Learn more</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12 fleft     mbottom30 ">
                    <div class="PrBoxListItem result">
                        <div class="pageResultItem">
                            <h3 class="centerText gold">Experience Ultra HD at it’s very best</h2>
                                <p>[…] Lorem ipsum dolor sit amet, conse sadipscing, sed diam <span class="redText">TRU picture</span> ei tempor invidunt erat ut labore et dolore magna aliquyam […]</div>
                        </p>
                        <div class="clearfix">
                            <button class="btn resetRadius red w-100">Learn more</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12 fleft    mbottom30 ">
                    <div class="PrBoxListItem result">
                        <div class="pageResultItem">
                            <h3 class="centerText gold">Experience Ultra HD at it’s very best</h2>
                                <p>[…] Lorem ipsum dolor sit amet, conse sadipscing, sed diam <span class="redText">TRU picture</span> ei tempor invidunt erat ut labore et dolore magna aliquyam […]</div>
                        </p>
                        <div class="clearfix">
                            <button class="btn resetRadius red w-100">Learn more</button>
                        </div>
                    </div>
                </div>

            </div>
            <!--PrBoxPageSearchList End-->
            <div class="container-fluid wrapper  p-0">
                <div class="helpList container-fluid p-0 mtop30">
                    <div class="row m-auto">
                        <div class="col-lg-12 col-12 helpListItem
                                light mbottom30 mright30">
                            <h3 class="centerText ptop30">Looking for help?</h2>
                                <span class="smalltext mbottom30">Our support centre has resources for setting-up and troubleshooting, along with warranties and manuals across our TV range.</span>
                                <div class="clearfix"></div>
                                <button class="btn resetRadius red
                                    mbottom30 mtop30">Show support results</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div> #}

    <!-- <script type="text/javascript" src="/assets/js/searchNavbar.js"></script> -->
    <!-- <script type="text/javascript" src="/assets/js/navbarStyler.js"></script>
    <script>navbarStyler('black');</script> -->
{% endblock %}    