{% extends 'base.html.twig' %}
{% block body %}
<section>
  <div class="section-full padding-t-xxxxl gray-100-bg padding-b-330">
    <div class="text-align-center width-750">
      <p class="margin-b-0 text-m-l color-grey300">{{staticText.SMART}} TV</p>
      <p class="margin-b-0 margin-t-10 text-xxxl-bold color-grey700">{{staticText.SMARTERTHAN}}</p>

    </div>
  </div>

  <div class="container-1620">
    <div class="container-1720 landing-img-container">
      <div class="wrapper-normal">
        <div class="width-100">
          <img class="height-auto width-100" src="/assets/img/smart-tv-logos/smart-tv-banner.png" />
        </div>
      </div>
    </div>
    <div class="container-1720 margin-t--311 bg-grey-100" id="sticky-anchor">
      <div class="sub-header sub-header--pdp sub-header--light sub-header__marker">

        <div class="sub-header__title">
  
          <h3>{{staticText.SMART}} TV</h3>
  
        </div>
  
        <div class="sub-header__navigation">
  
          <ul>
  
            <li>
              <a href="#overview">{{staticText.OVERVIEW}}</a>
            </li>
  
            <li>
              <a href="#apps">{{staticText.APPS}}</a>
            </li>
  
            <li>
              <a href="#operatingsystems">{{staticText.BUYINGOSTEXT}}</a>
            </li>
  
          </ul>
  
        </div>
  
      </div>
        </div>

  </div>

  
  <div class="full-section padding-b-60 padding-t-120" id="overview">
    <div class="container-1620">
    <div class="width-100">
      <p class="text-m color-grey-700 padding-h-m padding-b-xxl text-align-center">{{staticText.SMARTTVDESC}}</p>
    </div>
      <div class="flex-between-wrap" id="apps">
        <div class="container-row-2 padding-h-xs">
          <div class="width-100">
            <div class="width-100">
              <img class="width-100 height-auto" src="/assets/img/toshiba-tiny/ToshibaConnect_KeyVisual_Toshiba.png" />
            </div>
          </div>
        </div>
        <div class="container-row-2">
          <div class="width-100 wrapper-column-center-center">
            <div class="max-width-540 text-align-center">
              <p class="text-xl-bold color-grey700 margin-b-0 margin-t-10 ">{{staticText.SMARTTVNEVERMISS}}</p>
              <p class="text-m color-grey700 margin-b-0 margin-t-40">{{staticText.SMARTTVNEVERMISSDESC}}</p>
              <div class="flex-between-wrap-start margin-t-30">
                <div class="container-row-2-2 padding-v-xs">
                  <div class="width-100">
                    <img class="width-80" src="/assets/img/smart-tv-logos/STV-netflix.png" />
                  </div>
                </div>
                <div class="container-row-2-2 padding-v-xs">
                  <div class="width-100">
                    <img class="width-80" src="/assets/img/Logo_PrimeVideo_Colour_Toshiba.png" />
                  </div>
                </div>
                <div class="container-row-2-2 padding-v-xs">
                  <div class="width-100">
                    <img class="width-80" src="/assets/img/smart-tv-logos/STV-freeview.png" />
                  </div>
                </div>
                <!-- <div class="container-row-2-2 padding-v-xs">
                  <div class="width-100">
                    <img class="width-80" src="/assets/img/Logo_Roku_Colour_Toshiba.png" />
                  </div>
                </div> -->
                <div class="container-row-2-2 padding-v-xs">
                  <div class="width-100">
                    <img class="width-80" src="/assets/img/smart-tv-logos/STV-youtube.png" />
                  </div>
                </div>
                <div class="container-row-2-2 padding-v-xs">
                  <div class="width-100">
                    <img class="width-80" src="/assets/img/smart-tv-logos/STV-google.png" />
                  </div>
                </div>
                 <div class="container-row-2-2 padding-v-xs">
                  <div class="width-100">
                    <img class="width-80" src="/assets/img/smart-tv-logos/STV-rakuten.png" />
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        
        
      </div>
    </div>
  </div>

  {# <div class="section-full padding-t-120 gray-100-bg padding-b-120" id="operatingsystems">
    <div class="container-1620">
      <div class="text-align-center max-width-750">
        <p class="margin-b-0 margin-t-10 text-xl-bold color-grey700">Choose an operating system 
          that’s right for you</p>
      </div>
      <div class="wrapper-row-center width-100 margin-t-60">

        <!-- <div class="container-row-3 padding-h-xs">
          <div class="width-100">
            <div class="width-100 text-align-center margin-b-30">
              <p class="margin-b-0 text-m-s-bold color-grey500">Designed with you in mind </p>
            </div>
            <div class="width-100 max-height-250 overflow-hidden">
              <img class="width-100 height-auto" src="/assets/img/TVStand_AndroidTV_Toshiba.png"/>
            </div>
            
            <div class="padding-all-60 text-align-center bg-white">
              <p class="margin-b-0 text-m-l-bold color-grey700">Connect TV</p>
              <p class="margin-b-0 margin-t-20 text-m-s color-grey700 height-160">With Android TVs by Toshiba and Google Assistant, quickly access your favourite entertainment, control smart home devices, get answers on screen, and more using your voice.</p>
            </div>
            <div class="text-align-center padding-t-25 padding-h-140 padding-b-60 bg-grey-50 max-height-250">
              <p class="margin-b-0 text-xxs-bold color-grey500">VOICE ASSISTANT</p>
              <div class="margin-t-xxs width-100">
                <img class="max-width-240 width-100 height-auto" src="/assets/img/google-assistant.png" />
              </div>
              
            </div>
            <div class="column-center bg-white padding-v-s">
              <button class="all-product-box-button red-500-bg text-m-s color-white cursor-pointer">
                Learn more
              </button>
              <button class="all-product-box-button-border margin-t-20 text-m-s color-red500 cursor-pointer">
                Learn more
              </button>
            </div>
          </div>
        </div> -->

        <div class="container-row-3 padding-h-xs">
          <div class="width-100">
            <div class="width-100 text-align-center margin-b-30">
              <p class="margin-b-0 text-m-s-bold color-grey500">For a more connected home</p>
            </div>
            <div class="width-100 max-height-250 overflow-hidden">
              <img class="width-100 height-auto" src="/assets/img/TVStand_ToshibaConnect_Toshiba.png"/>
            </div>
            <div class="padding-all-60 text-align-center bg-white">
              <p class="margin-b-0 text-m-l-bold color-grey700">Android TV</p>
              <p class="margin-b-0 margin-t-20 text-m-s color-grey700 height-160">With Android TVs by Toshiba and Google Assistant, quickly access your favourite entertainment, control smart home devices, get answers on screen, and more using your voice.</p>
            </div>
            <div class="text-align-center padding-t-25 padding-b-60 bg-grey-50 max-height-250">
              <p class="margin-b-0 text-xxs-bold color-grey500">VOICE ASSISTANT</p>
              <div class="margin-t-s flex-between-nowrap-start padding-h-m vwidth-100">
                <div class="width-100 padding-h-xs">
                  <img class="max-width-240 width-100 height-auto" src="/assets/img/Logo_WorksWithAlexa_Colour_Toshiba.png" />
                </div>
                
                <div class="width-100 padding-h-xs">
                  <img class="max-width-240 width-100 height-auto" src="/assets/img/google-assistant.png" />
                </div>
              </div>
              
            </div>
            <div class="column-center bg-white padding-v-s">
              <!-- <button class="all-product-box-button red-500-bg text-m-s color-white cursor-pointer">
                Learn more
              </button>
              <button class="all-product-box-button-border margin-t-20 text-m-s color-red500 cursor-pointer">
                Learn more
              </button> -->
								<a class="all-product-box-button-border margin-t-20 color-red500 cursor-pointer" href="/uk/uk/android-tv">Learn more</a>

              
              
            </div>
          </div>
        </div>

      </div>
      
    </div>
    
  </div> #}

  <div class="container-fluid fixed-sub-header fixed-sub-header--dark nav-down">

    <div class="w-100">
  
      <div class="row">
  
        <div class="col-12">
  
          <div class="fixed-sub-header__container">
  
            <div class="fixed-sub-header__title">
  
              <h3>{{staticText.SMART}} TV</h3>
  
            </div>
  
            <div class="fixed-sub-header__navigation">
  
              <ul>
  
                <li>
                  <a class="fixed-sub-header__link active" href="#overview">{{staticText.OVERVIEW}}</a>
                </li>
  
                <li>
                  <a class="fixed-sub-header__link" href="#apps">{{staticText.OVERVIEW}}</a>
                </li>
  
                <li>
                  <a class="fixed-sub-header__link" href="#operatingsystems">{{staticText.BUYINGOSTEXT}}</a>
                </li>
              </ul>
  
            </div>
  
            <div class="fixed-sub-header__top to-top">
  
              <img src="/assets/img/toshiba-new/to-top-icon.svg" alt="To The Top" />
  
            </div>
  
          </div>
  
        </div>
  
      </div>
  
    </div>
  
  </div>

  <script src="/assets/js/product-detail/fixedHeader.js" type="text/javascript"></script>
  <script src="/assets/js/navbar/navbarColor.js" type="text/javascript"></script>
  <!-- <script type="text/javascript" src="/assets/js/imageQualitySlider.js"></script> -->
  <script type="text/javascript" src="/assets/js/navbarStyler.js"></script>

</section>
{% endblock %}    