{% extends 'base.html.twig' %}
{% block body %}
<section>

   <div class="section-full padding-t-xxxxl gray-100-bg padding-b-330">
   <div class="container-1620 text-align-center">
      <p class="margin-b-0 text-m-l color-grey300">{{staticText.BUYINGSOUND}}</p>
      <p class="margin-b-0 margin-t-10 text-xxxl-bold color-grey700">{{staticText.SOUNDBARDESC}}</p>
   </div>
    
  </div>

  <div class="container-1620">
    <div class="container-1720 landing-img-container">
      <div class="wrapper-normal">
        <div class="width-100">
          <img class="height-auto width-100" src="/assets/img/Shuttle_Sound_Toshiba.png" />
        </div>
      </div>
    </div>
    <div class="container-1720 margin-t--311 bg-grey-100" id="sticky-anchor">
      <div class="sub-header sub-header--pdp sub-header--light sub-header__marker">

        <div class="sub-header__title">
  
          <h3>{{staticText.BUYINGSOUND}}</h3>
  
        </div>
  
        <div class="sub-header__navigation">
  
          <ul>
  
            <li>
              <a href="#overview">{{staticText.OVERVIEW}}</a>
            </li>
  
            <li>
              <a href="#dolbyaudioprocessing">{{staticText.DOLBYAUDIOPROCESS}}</a>
            </li>
  
            <li>
              <a href="#soundbyonkyo">{{staticText.SOUNDBYONKYO}}</a>
            </li>
  
            <li>
              <a href="#soundbars">{{staticText.SOUNDBARS}}</a>
            </li>
  
          </ul>
  
        </div>
  
      </div>
      </div>

  </div>
  <div class="section-full padding-t-xxl padding-b-60" id="overview">
    <div class="container-1344">
      <div class="text-align-center ">
        <p class="margin-b-0 text-m color-grey700">
          {{staticText.SOUNDBARSDESC2}}
        </p>
        
      </div>

    </div>
  </div>


  <div class="full-section padding-t-120" id="dolbyaudioprocessing">
    <div class="container-1620">
      <div class="width-850 text-align-center">
        <p class="margin-b-0 text-xl-bold color-grey700 margin-t-20">{{staticText.DOLBYAUDIOPROCESS}}</p>
      </div>

      <div class="flex-between-nowrap-start margin-t-55 " id="image-selector">

        <div class="container-row-4"  data-id="virtual-sound">
          <div class="wrapper-row-4 vertical-center gray-100-bg selection-card-selected height-280 text-align-center user-select-none cursor-pointer" id="vs-container" data-id="virtual-sound">
            <p class="margin-b-0 text-l-bold color-grey700" data-id="virtual-sound">{{staticText.VIRTUALSURROUNDHEADER}}</p>
            <p class="margin-b-0 text-m-s color-grey700" data-id="virtual-sound">{{staticText.VIRTUALSURROUNDDESC}}</p>
          </div>
        </div>
        <div class="container-row-4"  data-id="volume-levelling">
          <div class="wrapper-row-4 vertical-center gray-100-bg height-280 text-align-center user-select-none cursor-pointer" id="vl-container" data-id="volume-levelling">
            <p class="margin-b-0 text-l-bold color-grey700" data-id="volume-levelling">{{staticText.VOLUMELEVELLING}}</p>
            <p class="margin-b-0 text-m-s color-grey700" data-id="volume-levelling">{{staticText.VOLUMELEVELLINGDESC}}</p>
          </div>
        </div>
        <div class="container-row-4" data-id="dialogue-enhancement">
          <div class="wrapper-row-4 vertical-center gray-100-bg height-280 text-align-center user-select-none cursor-pointer" data-id="dialogue-enhancement" id="de-container" >
            <p class="margin-b-0 text-l-bold color-grey700" data-id="dialogue-enhancement">{{staticText.DIALOGUEENCHEADER}}</p>
            <p class="margin-b-0 text-m-s color-grey700" data-id="dialogue-enhancement">{{staticText.DIALOGUEENCDESC}}</p>
          </div>
        </div>
        <div class="container-row-4"  data-id="bass-enhancement">
          <div class="wrapper-row-4 vertical-center gray-100-bg height-280 text-align-center user-select-none cursor-pointer"  data-id="bass-enhancement" id="bs-container">
            <p class="margin-b-0 text-l-bold color-grey700"  data-id="bass-enhancement">{{staticText.BASSENCHEADER}}</p>
            <p class="margin-b-0 text-m-s color-grey700"  data-id="bass-enhancement">{{staticText.BASSENCDESC}}</p>
          </div>
        </div>
      </div>

      <div class="width-100">
        <div class="image-sliding-over-container padding-b-60">
          <div class="image-s-1" id="img-sound">
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="full-section padding-t-60 padding-b-60" id="soundbyonkyo">
    <div class="container-1620">
      <div class="flex-between-wrap">
        <div class="container-row-2 text-align-center wrapper-column-center-center">
          <p class="margin-b-0 color-grey-400 text-align-center text-m">{{staticText.SOUNDBYONKYO}}</p>
          <p class="max-width-500-px text-xl-bold color-grey700 margin-b-0 margin-t-xxs ">{{staticText.SOUNDBARSPRECISION}}</p>
          <p class="max-width-430-px padding-h-45 text-m-s color-grey700 margin-b-0 padding-t-s">{{staticText.SOUNDBARSPRECISIONDESC}}</p>
          
        </div>
        <div class="container-row-2">
          <img class="width-100" src="/assets/img/toshiba-tiny/Sound_KeyVisual_Toshiba.png" />
        </div>
      </div>
    </div>
  </div>


<div class="container-fluid fixed-sub-header fixed-sub-header--dark nav-down">

  <div class="w-100">

    <div class="row">

      <div class="col-12">

        <div class="fixed-sub-header__container">

          <div class="fixed-sub-header__title">

            <h3>{{staticText.BUYINGSOUND}}</h3>

          </div>

          <div class="fixed-sub-header__navigation">

            <ul>

              <li>
                <a class="fixed-sub-header__link active" href="#overview">{{staticText.OVERVIEW}}</a>
              </li>

              <li>
                <a class="fixed-sub-header__link" href="#dolbyaudioprocessing">{{staticText.DOLBYAUDIOPROCESS}}</a>
              </li>

              <li>
                <a class="fixed-sub-header__link" href="#soundbyonkyo">{{staticText.SOUNDBYONKYO}}</a>
              </li>

              <li>
                <a class="fixed-sub-header__link" href="#soundbars">{{staticText.SOUNDBARS}}</a>
              </li>

            </ul>

          </div>

          <div class="fixed-sub-header__top to-top">

            <img src="/assets/img/toshiba-new/to-top-icon.svg" alt="To The Top" />

          </div>

        </div>

      </div>

    </div>

  </div>

</div>

  <script src="/assets/js/product-detail/fixedHeader.js" type="text/javascript"></script>
  <script src="/assets/js/navbar/navbarColor.js" type="text/javascript"></script>

  <script type="text/javascript" src="/assets/js/soundImageSelector.js"></script>
  <!-- <script>navbarStyler('gray');</script>
  <script type="text/javascript" src="/assets/js/anchorHandler.js"></script> -->
  <!-- <script type="text/javascript" src="/assets/js/scrollAnimation.js"></script> -->
</section>
{% endblock %}    