{% extends 'base.html.twig' %}
{% block body %}
<div class="bigSearchHeader mbottom30">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <h1 class="ptop30 mbottom30">Need help? We’re here</h1>
                <form class="form-inline tsbSearch bigSearch">
                    <a href="./Support-home.html">
                        <ion-icon name="home" class="searchHomeIcon"></ion-icon>
                    </a>
                    <div class="input-group tsbSearch">
                        <div class="input-group-prepend
                                        border-0">
                            <button id="button-addon4" type="button" class="btn
                                            btn-link text-info">
                                <ion-icon class="light iconsearch" name="search"></ion-icon>
                            </button>
                        </div>
                        <input type="search" id="bigSearch" placeholder="Enter your model number of keywords" aria-describedby="button-addon4" class="form-control border-0 tsbinput">
                        <span class="searchThinText"> <a href="#"> How do I find my model number?</a> </span>
                        </input>
                    </div>
                </form>
                <div class="clearfix"></div>
                <p class="searchBottomText">Bought your TV before 2018?
                    <a href="http://www.toshiba-om.net/" class="darklinkIcon">
                        <ion-icon name="log-in"></ion-icon>
                    </a>
                </p>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>
    <!--support home search section end-->
    <div class="container">
        <h1 class="mbottom30 big text-center">Frequently asked questions</h1>
        <div id="accordion" class="accordion">
            <div class="card mb-0">
                <div class="accordioItem">
                    <div class="card-header collapsed" data-toggle="collapse" href="#collapseOne">
                        <a class="card-title">
                                    Lorem ipsum dolor sit amet consetet sed diam nonumy?
                                </a>
                    </div>
                    <div id="collapseOne" class="card-body collapse" data-parent="#accordion">
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
                            gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
                        </p>
                    </div>
                </div>
                <div class="accordioItem">
                    <div class="card-header collapsed" data-toggle="collapse" href="#collapseOne">
                        <a class="card-title">
                                        Lorem ipsum dolor sit amet consetet sed diam nonumy?
                                    </a>
                    </div>
                    <div id="collapseOne" class="card-body collapse" data-parent="#accordion">
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
                            gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
                        </p>
                    </div>
                </div>
                <div class="accordioItem">
                    <div class="card-header collapsed" data-toggle="collapse" href="#collapseOne">
                        <a class="card-title">
                                            Lorem ipsum dolor sit amet consetet sed diam nonumy?
                                        </a>
                    </div>
                    <div id="collapseOne" class="card-body collapse" data-parent="#accordion">
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
                            gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
                        </p>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <div class="grayBox col-lg-12 mbottom30 mtop30">
        <h1 class="text-center">Video Tutorial</h1>
        <div class="container d-flex mobileDblock justify-content-around  ">
            <div class="bigPrVideoBox col-lg-4 light fleft mbottom30">
                <iframe height="315" class="w-100" src="https://www.youtube.com/embed/a_LtRORyX88" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <p class="fleft videoContext">Lorem ipsum poor signal dolor sit amet consetet sed diam nonumy</p>
                <p class="fright time">00:58</p>
            </div>
            <div class="bigPrVideoBox col-lg-4 light fleft mbottom30">
                <iframe height="315" class="w-100" src="https://www.youtube.com/embed/a_LtRORyX88" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <p class="fleft videoContext">Lorem ipsum poor signal dolor sit amet consetet sed diam nonumy</p>
                <p class="fright time">00:58</p>
            </div>
            <div class="bigPrVideoBox col-lg-4 light fleft mbottom30">
                <iframe height="315" class="w-100" src="https://www.youtube.com/embed/a_LtRORyX88" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <p class="fleft videoContext">Lorem ipsum poor signal dolor sit amet consetet sed diam nonumy</p>
                <p class="fright time">00:58</p>
            </div>
        </div>

    </div>
    <div class="col-lg-12 mbottom30 mtop30 text-center ">
        <h1 class="centerText headdark mtop30 p-0">From the Forum</h1>
        <div class="container mbottom30">
            <div class="row">
                <div class="col-lg-12 text-center mtop30">
                    <ul class="col-lg-12 mtop30 commentList">
                        <li class="forumItem col-lg-8 fleft">
                            <p class="name">David Smith <span class="dot">.</span> <span class="dateLog">10 gün önce</span></p>
                            <span class="redText fleft">Lorem ipsum dolor sit amet, poor signal sadipscing elitr</span>
                            <p class="comment fleft ptop15">Sed diam nonumy eirmod tempor invidunt ut labore et dolore magna signal quality erat, diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum […]</p>
                        </li>
                        <div class="commentLog col-lg-4 mbottom30">
                            <ul class="cLogIconlist">
                                <li class="done">
                                    <ion-icon name="ios-checkmark-circle-outline" class="fit iSolved"></ion-icon><span class="solved">Solved</span> </li>
                                <li>
                                    <ion-icon name="eye" class="fit iView"></ion-icon> <span class="viewCount">154</span> </li>
                                <li>
                                    <ion-icon name="chatbubbles" class="fit iComment"></ion-icon> <span class="commentCount">24</span> </li>
                            </ul>

                        </div>
                        <li class="forumItem col-lg-8 fleft">
                            <p class="name">David Smith <span class="dot">.</span> <span class="dateLog">10 gün önce</span></p>
                            <span class="redText fleft">Lorem ipsum dolor sit amet, poor signal sadipscing elitr</span>
                            <p class="comment fleft ptop15">Sed diam nonumy eirmod tempor invidunt ut labore et dolore magna signal quality erat, diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum […]</p>
                        </li>
                        <div class="commentLog col-lg-4 mbottom30">
                            <ul class="cLogIconlist">
                                <li class="done">
                                    <ion-icon name="ios-checkmark-circle-outline" class="fit iSolved"></ion-icon><span class="solved">Solved</span> </li>
                                <li>
                                    <ion-icon name="eye" class="fit iView"></ion-icon> <span class="viewCount">154</span> </li>
                                <li>
                                    <ion-icon name="chatbubbles" class="fit iComment"></ion-icon> <span class="commentCount">24</span> </li>
                            </ul>

                        </div>

                    </ul>

                </div>
                <div class="col-lg-12 text-center">
                    <span class="boldText mright15">Can’t find an answer?</span>
                    <button class="btn resetRadius red mbottom30 mtop30 mright15">Start a discussion</button>
                    <button class="btn btn-outline-danger red mbottom30 mtop30 mright15">Go to the forum</button>
                </div>
            </div>
        </div>


    </div>
    <div class="darkBox ">
        <div class="container-fluid ">
            <div class="row ">
                <div class="col-lg-12 col-sm-12 d-flex mobileDblock justify-content-center ptop30 pbottom15 ">
                    <div class="col-lg-4 col-sm-12 helpListItem light text-center light mbottom30 fleft ">
                        <h3 class="centerText ptop15 ">Register your warranty</h2>
                            <span class="smalltext mbottom30 ">Lorem ipsum dolor sit amet, consetetur sadipscing, sed
                                diam nonumy eirmod tempor invidunt erat ut labore et dolore magna aliquyam.</span>
                            <div class="clearfix "></div>
                            <button class="btn resetRadius red mbottom30 mtop30 ">Register now</button>
                            <button class="btn btn-outline-danger red mbottom30 mtop30 ">View warranty</button>
                    </div>
                    <div class="col-lg-4 col-sm-12 helpListItem light text-center light mbottom30 fleft ">
                        <h3 class="centerText ptop15 ">Can’t find an answer?</h2>
                            <span class="smalltext mbottom30 ">Lorem ipsum dolor sit amet, consetetur sadipscing, sed
                                diam nonumy eirmod tempor invidunt erat ut labore et dolore magna aliquyam.</span>
                            <div class="clearfix "></div>
                            <button class="btn resetRadius red mbottom30 mtop30 ">Ask the forum</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
{% endblock %}    