{% extends 'base.html.twig' %}
{% block body %}
<div class="bigSearchHeader mbottom30">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <h1 class="ptop30 mbottom30">Need help? We’re here</h1>
                <form class="form-inline tsbSearch bigSearch">
                    <a href="./Support-home.html">
                        <ion-icon name="home" class="searchHomeIcon"></ion-icon>
                    </a>
                    <div class="input-group tsbSearch">
                        <div class="input-group-prepend
                                        border-0">
                            <button id="button-addon4" type="button" class="btn
                                            btn-link text-info">
                                <ion-icon class="light iconsearch" name="search"></ion-icon>
                            </button>
                        </div>
                        <input type="search" id="bigSearch" placeholder="Enter your model number of keywords" aria-describedby="button-addon4" class="form-control border-0 tsbinput">
                        <span class="searchThinText"> <a href="#"> How do I find my model number?</a> </span>
                        </input>
                    </div>
                </form>
                <div class="clearfix"></div>
                <p class="searchBottomText">Bought your TV before 2018?
                    <a href="#" class="darklinkIcon">
                        <ion-icon name="log-in"></ion-icon>
                    </a>
                </p>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>
    <!--support home search section end-->
    <div class="container">
        <div id="accordion" class="accordion">
            <div class="card mb-0">
                <div class="accordioItem">
                    <div class="card-header collapsed" data-toggle="collapse" href="#collapseOne">
                        <a class="card-title">
                                    Lorem ipsum dolor sit amet consetet sed diam nonumy?
                                </a>
                    </div>
                    <div id="collapseOne" class="card-body collapse" data-parent="#accordion">
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
                            gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
                        </p>
                    </div>
                </div>
                <div class="accordioItem">
                    <div class="card-header collapsed" data-toggle="collapse" href="#collapseOne">
                        <a class="card-title">
                                        Lorem ipsum dolor sit amet consetet sed diam nonumy?
                                    </a>
                    </div>
                    <div id="collapseOne" class="card-body collapse" data-parent="#accordion">
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
                            gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
                        </p>
                    </div>
                </div>
                <div class="accordioItem">
                    <div class="card-header collapsed" data-toggle="collapse" href="#collapseOne">
                        <a class="card-title">
                                            Lorem ipsum dolor sit amet consetet sed diam nonumy?
                                        </a>
                    </div>
                    <div id="collapseOne" class="card-body collapse" data-parent="#accordion">
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
                            gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
                        </p>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <div class="grayBox col-lg-12 mbottom30">
        <h1 class="text-center">Video Tutorial</h1>
        <div class="container d-flex mobileDblock justify-content-around ">
            <div class="bigPrVideoBox col-lg-4 light fleft">
                <iframe height="315" class="w-100" src="https://www.youtube.com/embed/a_LtRORyX88" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <p class="fleft videoContext">Lorem ipsum poor signal dolor sit amet consetet sed diam nonumy</p>
                <p class="fright time">00:58</p>
            </div>
            <div class="bigPrVideoBox col-lg-4 light fleft">
                <iframe height="315" class="w-100" src="https://www.youtube.com/embed/a_LtRORyX88" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <p class="fleft videoContext">Lorem ipsum poor signal dolor sit amet consetet sed diam nonumy</p>
                <p class="fright time">00:58</p>
            </div>
            <div class="bigPrVideoBox col-lg-4 light fleft">
                <iframe height="315" class="w-100" src="https://www.youtube.com/embed/a_LtRORyX88" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <p class="fleft videoContext">Lorem ipsum poor signal dolor sit amet consetet sed diam nonumy</p>
                <p class="fright time">00:58</p>
            </div>
        </div>

    </div>
    <div class="col-lg-12 grayBox mbottom30 mtop30 text-center ">
        <h1 class="centerText headdark mtop30 ">Support quick links</h1>
        <p class="mbottom30 ">Choose a topic to see curated FAQs & videos</p>

        <!--repeat topic div-->
        <div class="col-lg-12 d-flex mobileDblock justify-content-center ">

            <a href="# " class="col-lg-4 fleft topicSelect d-flex justify-content-between ">
                <span>Setting up your TV</span>
                <ul class="topicRightList p-0 ">
                    <li class="radiusText ">6</li>
                    <li>FAQs</li>
                    <li class="radiusText ">4</li>
                    <li>Videos</li>
                </ul>
            </a>
            <a href="# " class="col-lg-4 fleft topicSelect d-flex justify-content-between ">
                <span>Setting up your TV</span>
                <ul class="topicRightList p-0 ">
                    <li class="radiusText ">6</li>
                    <li>FAQs</li>
                    <li class="radiusText ">4</li>
                    <li>Videos</li>
                </ul>
            </a>

        </div>
        <!--repeat topic div-->
        <!--repeat topic div-->
        <div class="col-lg-12 d-flex mobileDblock justify-content-center ">

            <a href="# " class="col-lg-4 fleft topicSelect d-flex justify-content-between ">
                <span>Setting up your TV</span>
                <ul class="topicRightList p-0 ">
                    <li class="radiusText ">6</li>
                    <li>FAQs</li>
                    <li class="radiusText ">4</li>
                    <li>Videos</li>
                </ul>
            </a>
            <a href="# " class="col-lg-4 fleft topicSelect d-flex justify-content-between ">
                <span>Setting up your TV</span>
                <ul class="topicRightList p-0 ">
                    <li class="radiusText ">6</li>
                    <li>FAQs</li>
                    <li class="radiusText ">4</li>
                    <li>Videos</li>
                </ul>
            </a>

        </div>
        <!--repeat topic div-->
    </div>
    <div class="darkBox ">
        <div class="container-fluid ">
            <div class="row ">
                <div class="col-lg-12 col-sm-12 d-flex mobileDblock justify-content-center ptop30 pbottom15 ">
                    <div class="col-lg-4 col-sm-12 helpListItem light text-center light mbottom30 fleft ">
                        <h3 class="centerText ptop15 ">Register your warranty</h2>
                            <span class="smalltext mbottom30 ">Lorem ipsum dolor sit amet, consetetur sadipscing, sed
                                diam nonumy eirmod tempor invidunt erat ut labore et dolore magna aliquyam.</span>
                            <div class="clearfix "></div>
                            <button class="btn resetRadius red mbottom30 mtop30 ">Register now</button>
                            <button class="btn btn-outline-danger red mbottom30 mtop30 ">View warranty</button>
                    </div>
                    <div class="col-lg-4 col-sm-12 helpListItem light text-center light mbottom30 fleft ">
                        <h3 class="centerText ptop15 ">Can’t find an answer?</h2>
                            <span class="smalltext mbottom30 ">Lorem ipsum dolor sit amet, consetetur sadipscing, sed
                                diam nonumy eirmod tempor invidunt erat ut labore et dolore magna aliquyam.</span>
                            <div class="clearfix "></div>
                            <button class="btn resetRadius red mbottom30 mtop30 ">Ask the forum</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
{% endblock %}    