{% extends 'base.html.twig' %}
{% block body %}


<div class="section-full red-carousel-bg padding-t-340 padding-b-45">
    <div class="container-1340">
        <div class="wrapper-normal">
            <div class="text-align-center">
                <p class="text-xxl-bold color-white">Need Help? We're here</p>
            </div>
            <div class="margin-t-80 support-form">
            <form method="post" action="{{ path('supportHome', { 'country': country.code, 'language': lang.code }) }}">
                <input name="search-input" id="support-search" class="pl-4 pl-md-5 input-wide text-xs color-white" placeholder="{{staticText.SUPPORTMODELNUMBERORQUERY}}"/>
                <button class="mt-4 mt-md-0 transparent-button" type="submit" name="submit" id="support-submit"><ion-icon class="support-search-icon" name="search"></ion-icon></button>
            </form>
                <a id="open-modal-pop" class="link-on-input color-grey700 text-xs-link"><img id="myImg" style="display:none;" src="/assets/img/new-support-serial.png" alt="Image Caption 3" style="width:100%;max-width:300px">
                <p class="mt-4 mt-md-0">How do I find my model number?</p></a>
            </div>
            <div class="text-align-center margin-t-40">
                <a href="http://www.toshiba-om.net/" class="color-grey700 text-xs-link">Bought your TV before 2017?</a>
            </div>
            <div>

            <div id="myModal" class="popup-modal">
                <!-- The Close Button -->
                <span class="close">&times;</span>

                <!-- Modal Content (The Image) -->
                <img class="modal-content" id="img01">

                <!-- Modal Caption (Image Text) -->
                <div id="caption">
                    <span style="color: blue; background-color: grey; font-weight: bold;"> {{ staticText.MAINMENUSUPPORT |upper }}-{{ staticText.SUPPORTMODEL |upper }} </span><span style="color:red; background-color:grey; font-weight: bold;">  {{ staticText.CONTACTFORMSERIALNUMBER |upper }}</span>
                </div>
            </div>

            </div>
        </div>
    </div>
</div>

{% if isSearch == 1 %}
{% if searchedArray|length %}



<div class="container py-5 py-md-0 d-block d-md-none">
    <div class="w-100 d-flex flex-row justify-content-between align-items-center flex-nowrap overflow-x-scroll" id="mobile-carousel">
        {% for product in searchedArray %}
            <div class="col-12" id="tv-1">
                <div class="all-product-box-wrapper gray-100-bg">
                    <img draggable="false" class="all-product-box-img" src="/assets/img/tvsample.png"/>
                    <p class="product-header color-grey700 text-m-l-bold">{{searchedArray[loop.index0].serieName}}</p>
                    <div class="product-year-section">
                        <p class="padding-all-10"></p>
                    </div>
                    <button class="all-product-box-button red-500-bg">
                        <a href="{{ path('supportModel', { 'country': country.code, 'language': lang.code, 'productLink': searchedArray[loop.index0].link }) }}" class="all-product-box-button-text text-xs color-white">Learn more</a>
                    </button>
                </div>
            </div>
        {% endfor %}
    </div>
</div>


<div id="carousel-faq" class="carousel slide px-5 py-5 d-none d-md-block" data-ride="carousel">
    <ol class="carousel-indicators" id="carousel-indicators">
        {% for product in searchedArray %}
            {% if loop.index0 == 0 %}
                <li data-target="#carousel-faq" data-slide-to="{{loop.index0}}" class="active"></li>
            {% endif %}
            {% if loop.index0 % 3 == 0 and loop.index0 != 0 %}
                <li data-target="#carousel-faq" data-slide-to="{{loop.index0 / 3}}"></li>
            {% endif %}
        {% endfor %}
    </ol>

    <div class="carousel-inner" id="wrapper-slider-5">
        {% for product in searchedArray %}
            {% if loop.index0 == 0 %}
                <div class="carousel-item active">
                    <div class="w-100 d-flex flex-row justify-content-between align-items-center">

                        <div class="col-4" id="tv-1">
                            <div class="all-product-box-wrapper gray-100-bg">
                                <img draggable="false" class="all-product-box-img" src="/assets/img/tvsample.png"/>
                                <p class="product-header color-grey700 text-m-l-bold">{{searchedArray[loop.index0].serieName}}</p>
                                <div class="product-year-section">
                                    <p class="padding-all-10"></p>
                                </div>
                                <button class="all-product-box-button red-500-bg">
                                    <a href="{{ path('supportModel', { 'country': country.code, 'language': lang.code, 'productLink': searchedArray[loop.index0].link }) }}" class="all-product-box-button-text text-xs color-white">Learn more</a>
                                </button>
                            </div>
                        </div>

                        <div class="col-4" id="tv-1">
                            <div class="all-product-box-wrapper gray-100-bg">
                                <img draggable="false" class="all-product-box-img" src="/assets/img/tvsample.png"/>
                                <p class="product-header color-grey700 text-m-l-bold">{{searchedArray[loop.index0 + 1].serieName}}</p>
                                <div class="product-year-section">
                                    <p class="padding-all-10"></p>
                                </div>
                                <button class="all-product-box-button red-500-bg">
                                    <a href="{{ path('supportModel', { 'country': country.code, 'language': lang.code, 'productLink': searchedArray[loop.index0 + 1].link }) }}" class="all-product-box-button-text text-xs color-white">Learn more</a>
                                </button>
                            </div>
                        </div>

                        <div class="col-4" id="tv-1">
                            <div class="all-product-box-wrapper gray-100-bg">
                                <img draggable="false" class="all-product-box-img" src="/assets/img/tvsample.png"/>
                                <p class="product-header color-grey700 text-m-l-bold">{{searchedArray[loop.index0 + 2].serieName}}</p>
                                <div class="product-year-section">
                                    <p class="padding-all-10"></p>
                                </div>
                                <button class="all-product-box-button red-500-bg">
                                    <a href="{{ path('supportModel', { 'country': country.code, 'language': lang.code, 'productLink': searchedArray[loop.index0 + 2].link }) }}" class="all-product-box-button-text text-xs color-white">Learn more</a>
                                </button>
                            </div>
                        </div>

                    </div>

                </div>
            {% endif %}

            {% if loop.index0 % 3 == 0 and loop.index0 != 0 %}

                <div class="carousel-item">

                    <div class="w-100 d-flex flex-row justify-content-between align-items-center">

                        {% if searchedArray[loop.index0] is defined %}

                            <div class="col-4" id="tv-1">
                                <div class="all-product-box-wrapper gray-100-bg">
                                    <img draggable="false" class="all-product-box-img" src="/assets/img/tvsample.png"/>
                                    <p class="product-header color-grey700 text-m-l-bold">{{searchedArray[loop.index0].serieName}}</p>
                                    <div class="product-year-section">
                                        <p class="padding-all-10"></p>
                                    </div>
                                    <button class="all-product-box-button red-500-bg">
                                        <a href="{{ path('supportModel', { 'country': country.code, 'language': lang.code, 'productLink': searchedArray[loop.index0].link }) }}" class="all-product-box-button-text text-xs color-white">Learn more</a>
                                    </button>
                                </div>
                            </div>

                        {% endif %}

                        {% if searchedArray[loop.index0 + 1] is defined %}

                            <div class="col-4" id="tv-1">
                                <div class="all-product-box-wrapper gray-100-bg">
                                    <img draggable="false" class="all-product-box-img" src="/assets/img/tvsample.png"/>
                                    <p class="product-header color-grey700 text-m-l-bold">{{searchedArray[loop.index0 + 1].serieName}}</p>
                                    <div class="product-year-section">
                                        <p class="padding-all-10"></p>
                                    </div>
                                    <button class="all-product-box-button red-500-bg">
                                        <a href="{{ path('supportModel', { 'country': country.code, 'language': lang.code, 'productLink': searchedArray[loop.index0 + 1].link }) }}" class="all-product-box-button-text text-xs color-white">Learn more</a>
                                    </button>
                                </div>
                            </div>

                        {% endif %}

                        {% if searchedArray[loop.index0 + 2] is defined %}

                            <div class="col-4" id="tv-1">
                                <div class="all-product-box-wrapper gray-100-bg">
                                    <img draggable="false" class="all-product-box-img" src="/assets/img/tvsample.png"/>
                                    <p class="product-header color-grey700 text-m-l-bold">{{searchedArray[loop.index0 + 2].serieName}}</p>
                                    <div class="product-year-section">
                                        <p class="padding-all-10"></p>
                                    </div>
                                    <button class="all-product-box-button red-500-bg">
                                        <a href="{{ path('supportModel', { 'country': country.code, 'language': lang.code, 'productLink': searchedArray[loop.index0 + 2].link }) }}" class="all-product-box-button-text text-xs color-white">Learn more</a>
                                    </button>
                                </div>
                            </div>

                        {% endif %}

                    </div>


                </div>

            {% endif %}

        {% endfor %}

    </div>
    <a class="carousel-control-prev" href="#carousel-faq" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-faq" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>



{% endif %}
{% endif %}


{# {% if isSearch  == 1 %}
{% if searchedArray|length > 0 %}
<div class="section-full margin-t-120 padding-b-120">
    <div class="container-1620-slider">
        <div class="wrapper-slider" id="wrapper-slider">
        {% for product in searchedArray %}
            <div class="all-product-box-container" id="tv-1">
                <div class="all-product-box-wrapper gray-100-bg">
                    <img draggable="false" class="all-product-box-img" src="/assets/img/tvsample.png"/>
                    <p class="product-header color-grey700 text-m-l-bold">{{product.serieName}}</p>
                    <div class="product-year-section">
                        <p class="padding-all-10"></p>
                    </div>
                    <button class="all-product-box-button red-500-bg">
                        <a href="{{ path('supportModel', { 'country': country.code, 'language': lang.code, 'productLink': product.link }) }}" class="all-product-box-button-text text-xs color-white">Learn more</a>
                    </button>
                </div>
            </div>

        {% endfor %}
        </div>
        <div class="wrapper-normal">
            <div class="wrapper-row-center" id="red-dots-container">
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endif %} #}

{% if searchedFaq|length > 0 %}
<div class="section-full margin-t-120">
    <div class="container-1240">
        <div class="w-100 text-align-center margin-b-60">
            <p class="margin-b-0 text-l color-grey700">{{staticText.SUPPORTFAQQUESTIONS}}</p>
        </div>
        <div class="wrapper-normal" id="search-faq-section">


            {% for faq,value in searchedFaq %}
            <p class="text-align-center text-m-l-bold color-grey700 margin-t-40">{{faq}}</p>
            <div class="faq-container margin-t-15 padding-h-30  gray-100-bg">
                {% for faqA in value %}
                <div class="cursor-pointer w-100 padding-all-20 white-border-top" data-id="faq-{{faqA.id}}">
                    <div class="text-m-s color-grey700 margin-b-0" id="faq-a2-{{faqA.id}}" data-id="faq-{{faqA.id}}">
                        {{faqA.question|raw}}
                    </div>
                    <div class="display-none" id="faq-q2-{{faqA.id}}" data-id="faq-{{faqA.id}}">
                        <p class="text-align-center text-m-s color-grey700 margin-b-0 display-none">{{faqA.answer|raw}}</p>
                    </div>

                </div>
                {% endfor %}
            </div>
            {% endfor %}

        </div>
    </div>
</div>
{% endif %}



{% if searchedArray|length < 1 %}
<div class="section-full padding-b-80">
    <div class="container-1620 padding-t-xxl">
        <div class="padding-b-45 text-align-center">
            <p class="margin-b-15 text-l-bold color-grey700">Don't have your model number?</p>
            <p class="margin-b-0 text-m color-grey700">Choose your product type</p>
        </div>
        <div class="d-flex flex-row justify-content-between align-items-center position-relative overflow-x-scroll text-align-center z-2001" id="tv-selection-section">
            {% if categories[0] is defined %}
            <div class="bg-tvchange position-relative col height-19vw margin-t-xs">
              <div class="d-none position-absolute absolute-full tvselect-cover z-2002" data-selected="0">
              </div>
                <div data-id="{{categories[0]["code"]}}" data-clicked="0" class="black-gold-bg-content h-full vertical-center cursor-pointer">
                    <p data-id="{{categories[0]["code"]}}" data-clicked="0" class="margin-b-0 text-l-bold color-gold">{{categories[0].name | raw}}</p>
                </div>
            </div>
            {% endif %}
            {% if categories[1] is defined %}
            <div class="bg-tvchange position-relative col height-19vw margin-t-xs">
              <div class="d-none position-absolute absolute-full tvselect-cover z-2002" data-selected="1">
              </div>
                <div data-id="{{categories[1].code}}" data-clicked="1" class="red-carousel-bg-content h-full vertical-center cursor-pointer">
                    <p data-id="{{categories[1]["code"]}}" data-clicked="1" class="margin-b-0 text-l-bold color-white">{{categories[1]["name"] | raw}}</p>
                </div>
            </div>
            {% endif %}
            {% if categories[2] is defined %}
            <div class="bg-tvchange position-relative col height-19vw margin-t-xs">
              <div class="d-none position-absolute absolute-full tvselect-cover z-2002" data-selected="2">
              </div>
                <div data-id="{{categories[2].code}}" data-clicked="2" class="gray-100-bg-content h-full vertical-center cursor-pointer">
                    <p data-id="{{categories[2]["code"]}}" data-clicked="2" class="margin-b-0 text-l-bold color-grey700">{{categories[2]["name"] | raw}}</p>
                </div>
            </div>
            {% endif %}
            {% if categories[3] is defined %}
            <div class="bg-tvchange position-relative col height-19vw margin-t-xs">
              <div class="d-none position-absolute absolute-full tvselect-cover z-2002" data-selected="3">
              </div>
                <div data-id="{{categories[3]["code"]}}" data-clicked="3" class="gray-100-bg-content h-full vertical-center cursor-pointer">
                    <p data-id="{{categories[3]["code"]}}" data-clicked="3" class="margin-b-0 text-l-bold color-grey700">{{categories[3]["name"] | raw}}</p>
                </div>
            </div>
            {% endif %}
            {% if categories[4] is defined %}
            <div class="bg-tvchange position-relative col height-19vw margin-t-xs">
              <div class="d-none position-absolute absolute-full tvselect-cover z-2002" data-selected="4">
              </div>
                <div data-id="{{categories[4]["code"]}}" data-clicked="4" class="grey-400-bg-content h-full vertical-center cursor-pointer">
                    <p data-id="{{categories[4]["code"]}}" data-clicked="4" class="margin-b-0 text-l-bold color-white">{{categories[4]["name"] | raw}}</p>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>


<div class="section-full display-none" id="screen-size-cards-section">
    <div class="container-1620">
            <div class="mb-1 w-100 d-flex flex-row justify-content-center align-items-center">
              <div>
                <p class="d-inline-block color-grey700 text-m">Select your screen size</p>
              </div>
                <div class="mb-1 ml-2 cursor-pointer" id="close-screen-size-section">
                  <ion-icon class="text-m-l" name="close-circle-outline"></ion-icon>
                </div>
            </div>
        <div class="wrapper-row-start-a-center-nowrap overflow-x-scroll" id="screen-size-cards-container">
        </div>
    </div>
</div>



{% endif %}




<div class="section-full">
    <div class="container-1620-slider">

        <div class="wrapper-slider" id="wrapper-slider-2">
        </div>
        <div class="wrapper-normal" id="wrapper-red-dots">
            <div class="wrapper-row-center" id="red-dots-container-2">

            </div>
        </div>
    </div>
</div>









<div id="carousel1" data-touch="true" class="carousel slide px-5 py-5 d-none d-md-block" data-ride="carousel">
    <ol class="carousel-indicators" id="carousel-indicators">

    </ol>

    <div class="carousel-inner" id="wrapper-slider-3">

    </div>
    <a class="carousel-control-prev" href="#carousel1" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon special-icon-width" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel1" role="button" data-slide="next">
      <span class="carousel-control-next-icon special-icon-width" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>



  <div class="container py-5 py-md-0 d-block d-md-none">
      <div class="w-100 d-flex flex-row justify-content-between align-items-center flex-nowrap overflow-x-scroll" id="mobile-carousel">

      </div>
  </div>

















<div class="section-full gray-100-bg padding-t-120">
    <div class="container-1620">
        <div class="w-100 text-align-center margin-b-45">
            <p class="margin-b-15 text-m-l-bold color-grey700">Support quick links</p>
            <p class="margin-b-0 text-s color-grey700">Choose a topic to see curated FAQs & videos</p>
        </div>
        <div class="flex-between-wrap-start margin" id="support-quick-links">
            {% set filterCatId = 0 %}

            {% for key, value in faqs %}
            {% set filterCatId = filterCatId + 1 %}
            <div class="container-row-2  margin-b-26">
                <div class="width-100 white-bg-content">
                    <div class="width-100  padding-all-45">
                        <div class="width-100  flex-between-center">
                            <div class=" wrapper-row-align-center">
                                <p class="margin-b-0 text-m-bold">{{key}}</p>
                            </div>
                            <div class="wrapper-row-align-center">
                                <div class="wrapper-row margin-r-30" >
                                    <button class="support-number-container text-align-center margin-r-10" data-id="faq-button-{{filterCatId}}">
                                        <p class="text-m-s margin-b-0 color-white" data-id="faq-button-{{filterCatId}}" >{{value|length}}</p>
                                    </button >
                                        <p class="text-s margin-b-0">FAQs</p>
                                </div>
                                <div class="wrapper-row ">

                                        {% if videos[key] is defined %}
                                        {% for key1, val1 in videos %}
                                        {% if videos[key] is defined %}
                                        {% if key == key1 %}

                                        {% if val1|length > 0 %}
                                         <button class="support-number-container text-align-center red-500-bg margin-r-10" id="video-button-{{filterCatId}}">
                                        <p class="text-s margin-b-0 color-white" data-id="video-button-{{filterCatId}}">{{val1|length}} </p>
                                        </button >
                                        <p class="text-s margin-b-0">Videos</p>
                                         {% endif %}
                                        {% endif %} {% endif %} {% endfor %} {% endif %}


                                </div>
                            </div>
                        </div>
                        <div class="faq-section display-none margin-t-20" id="faq-section-{{filterCatId}}">
                        {% for val in value %}
                            <div class="cursor-pointer flex-between gray-100-bg padding-all-10 margin-t-15" data-id="faq-{{val.id|raw}}">
                                <p class="margin-b-0 color-grey700 text-m" id="faq-q-{{val.id}}" data-id="faq-{{val.id}}">{{val.question|raw}}</p>
                                <ion-icon class="color-red500" name="arrow-round-up" id="faq-q-i-{{val.id}}"></ion-icon>
                            </div>
                            <div class="cursor-pointer flex-between gray-100-bg text-m-s padding-all-10 display-none" id="faq-a-{{val.id}}" data-id="faq-{{val.id}}">
                                <p class="margin-b-0 color-grey700" >{{val.answer|raw}}</p>
                            </div>
                            <div class="padding-h-10 display-none">
                                <div class="color-grey700 text-m-s" id="faq-a2-{{val.id}}">{{val.answer|raw}}</div>
                            </div>
                        {% endfor %}
                        </div>
                        {% for key1, val1 in videos %}
                        {% if videos[key] is defined %}
                        {% if key == key1 %}
                        <div class="video-section display-none margin-t-20"  id="video-section-{{filterCatId}}">
                        {% for videoVal in val1 %}
                        <div class="cursor-pointer videoBoxItem flex-between gray-100-bg padding-all-10 margin-t-15" data-id="video-{{videoVal.id|raw}}" data-video="{{videoVal.id|raw}}">
                            <img src="https://i.ytimg.com/vi/{{ videoVal.video }}/mqdefault.jpg" data-id= "video-modal-{{ videoVal.id }}">
                            <p class="margin-b-0 color-grey700 text-m" id="video-q2-{{videoVal.id}}" data-id="video-modal-{{ videoVal.id }}">{{ videoVal.title }}</p>
                        </div>
                        {# <div id="video-modal-{{ videoVal.id }}" data-video="{{ videoVal.id }}" class="video-modal display-none videoModals{{ videoVal.id }}" data-id="video-modal-{{ videoVal.id }}">
                                <iframe class="youtube-iframe" width="1024" height="640" src="//www.youtube.com/embed/{{ videoVal.video }}" frameborder="0" allowfullscreen="true"></iframe>


                        </div> #}
                        {% endfor %}
                        </div>
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>

            {% for key1, val1 in videos %}
                    {% if videos[key] is defined %}
                    {% if key == key1 %}
                    {% for videoVal in val1 %}
                    <div class="position-fixedd wrapper-column-center-center bg-black-opacity-08 display-none videoModals{{ videoVal.id }}" data-id="videoData{{videoVal.id}}">
            <div id="video-modal-{{ videoVal.id }}" data-video="{{ videoVal.id }}" class="container-1620 wrapper-column-center-center video-modal" data-id="video-modal-{{ videoVal.id }}">
                        <iframe  width="1024" height="640" src="//www.youtube.com/embed/{{ videoVal.video }}" frameborder="0" allowfullscreen="true"></iframe>
            </div>
            </div>
                    {% endfor %}
                    {% endif %}
                    {% endif %}
                    {% endfor %}
            {% endfor %}
        </div>


        </div>

        <div class="wrapper-row-center width-100 margin-t-45 padding-b-120 cursor-pointer">
            <a>
                <button id="show-more-button" class="learn-more-button">
                    Show more
                </button>
            </a>
        </div>
    </div>
</div>

<div class="full-section grey-700-bg py-5">
    <div class="container-1620">
        <div class="w-100 d-flex flex-row justify-content-between align-items-center flex-wrap flex-xl-nowrap">
            <div class="col-xl-6 white-bg py-5 mr-xl-2">
                <div class="width-100">
                    <div class="text-align-center">
                        <p class="margin-b-25 text-m-l-bold color-grey700">{{staticText.SUPPORTREGISTERWARRANTY}}</p>
                        <p class="text-m-s color-grey700">{{staticText.SUPPORTWARRANTYDESC}}</p>
                        <div class="w-100 d-flex flex-column flex-xl-row justify-content-center align-items-center">
                            <div class="mt-2 px-2">
                                <a href="{{ path('register', { 'country': country.code, 'language': lang.code }) }}">
                                    <div class="learn-more-button-nonresp red-500-bg">
                                        <p class="learn-more-button-text color-white">{{staticText.SUPPORTREGISTERBUTTON}}</p>
                                    </div>
                                </a>
                            </div>
                            <div class="mt-2 mt-xl-5 px-2">
                                <a href=" https://toshiba-tv.com/warranty">
                                    <div class="support-learn-more-button">
                                        <p class="support-learn-more-button-text">{{staticText.SUPPORTYWARRANTYBUTTON}}</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-xl-6 white-bg py-5 ml-xl-2">
                <div class="width-100">
                    <div class="text-align-center">
                        <p class="margin-b-25 text-m-l-bold color-grey700">{{staticText.SUPPORTCANTFIND}}</p>
                        <p class="text-m-s color-grey700">{{staticText.SUPPORTCANTFINDDESC}}</p>
                        <div class="w-100 d-flex flex-row justify-content-center align-items-center">
                            <div class="mt-2">
                                <a href="http://forum.toshiba-tv.com/">
                                    <div class="learn-more-button-nonresp red-500-bg">
                                        <p class="learn-more-button-text color-white">{{staticText.SUPPORTASKFORUMBUTTON}}</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




        </div>
    </div>
    <!----<div class="container-1620">
    <div class="flex-between-center">
    <img style="margin-top:15px;" src="/assets/img/proddetail/app.png"/>
    </div>
    </div>---->


    <div class="container-1620">
    <div class="flex-between-center margin-t-60  appTakeControl">
          <div class="col-lg-6 padding-60">
              <strong class="margin-b-25 text-l-bold">Take control from your smartphone</strong>
              <p>lorem ipsum loreim ipsumlorem ipsum loreim ipsumlorem ipsum loreim ipsumlorem ipsum loreim ipsumlorem ipsum loreim ipsumlorem ipsum loreim ipsum</p>
              <div>
                <a href="#"><img src="/assets/img/appBtn1.png"></a>
                <a href="#"><img src="/assets/img/appBtn2.png"></a>
              </div>
          </div>
          <div class="col-lg-6">
              <img src="/assets/img/appPhone.png">
          </div>
    </div>
    </div>



</div>

    <script>

        var tvSelectionSection = document.getElementById('tv-selection-section');
        tvSelectionSection.addEventListener('click', selectTVType);

        var screenSizeCards = document.querySelectorAll('.screen-size-selector');
        var screenSizeCardsContainer = document.getElementById('screen-size-cards-container');
        var bgTVChange = document.getElementsByClassName('bg-tvchange');

        var selectedTV;
        var returnedValue;
        var screenSizeFullArray = [];
        var screenSizeReducedArray = [];
        var productCodeFullArray = [];
        var productLinkFullArray = [];
        var productPhotoArray = [];


        function selectTVType(event) {

            if(event.target.textContent) {
                $(event.target)[0].classList.remove('bg-obl-gray');
                selectedTV = event.target.getAttribute('data-id');
                console.log(selectedTV);
                if(selectedTV && selectedTV !== null) {
                    Array.prototype.forEach.call(bgTVChange, function(el) {
                    $(el).find('.tvselect-cover')[0].classList.remove('d-none');
                    })

                    selectedCard = event.target.getAttribute('data-clicked');
                    console.log(document.querySelectorAll("[data-selected='" + selectedCard + "']")[0]);
                    document.querySelectorAll("[data-selected='" + selectedCard + "']")[0].classList.add('d-none');
                    $('#screen-size-cards-section').removeClass('display-none');
                    screenSizeCardsContainer.innerHTML = '';
                    htmlAnimation = '<div class="loader-container"> <div class="loader"></div> </div>';
                    screenSizeCardsContainer.insertAdjacentHTML('beforeend', htmlAnimation);

                    returnTVs();
                }

            }

            function handleScreenSizeView(productSizes, productCodes) {

                screenSizeCardsContainer.innerHTML = '';
                productSizes.sort(function (a,b) {
                    return a - b;
                });
                for (var i = 0 ; i < productSizes.length ; i++) {
                  var outSide = '<div class="col col-lg-2 position-relative" data-outside="'+i+'"></div>';
                  screenSizeCardsContainer.insertAdjacentHTML('beforeend', outSide);
                  console.log(document.querySelectorAll("[data-outside='" + i + "']"));
                  lastOutSide = document.querySelectorAll("[data-outside='" + i + "']")[0];
                  var grayOut = '<div class="d-none position-absolute sliderselect-cover absolute-full z-2002" data-select="'+productSizes[i]+'"></div>';
                  var htmlInserted = '<div class="slider-change w-100 margin-t-20 support-custom-height" data-click='+ productSizes[i] +' data-id=' + productSizes[i] + '> <div class="screen-size-selector vertical-center text-align-center h-full gray-100-bg-content cursor-pointer" data-id=' + productSizes[i] + '> <p class="screen-size-selector-text margin-b-0 text-l-bold" data-id=' + productSizes[i] + '>' + productSizes[i] + "''" + '</p> </div> </div>';
                  lastOutSide.insertAdjacentHTML('beforeend', grayOut);
                  lastOutSide.insertAdjacentHTML('beforeend', htmlInserted);
                }
            }

            function handleReturnedData(data) {
                console.log('MAIN DATA HERE!');
                console.log(data);
                $.each(data, function(index, value){
                    if(index === selectedTV) {
                        returnedValue = value;
                    }
                });
                screenSizeFullArray = [];
                screenSizeReducedArray = [];

                if(productCodeFullArray.length === 0) {
                    for(var i = 0 ; i < returnedValue.length ; i++) {
                        productCodeFullArray.push(returnedValue[i].code);
                        console.log(productCodeFullArray);
                        productLinkFullArray.push(returnedValue[i].baseUrl)
                        productPhotoArray.push(returnedValue[i].frontImage);
                        console.log(productLinkFullArray);
                    }
                }

                console.log(productPhotoArray)


                for(var i = 0 ; i < returnedValue.length ; i++) {
                    screenSizeFullArray.push(returnedValue[i].code.substring(0,2));
                        screenSizeReducedArray = screenSizeFullArray.filter(function(value, index, self) {
                            return self.indexOf(value) === index;
                        })
                }



                if(screenSizeReducedArray) {
                    handleScreenSizeView(screenSizeReducedArray, productCodeFullArray);
                }

                console.log(data);
                console.log(productCodeFullArray);
                console.log(screenSizeReducedArray);
            }


        function returnTVs() {
            //{"date" 12312, }

            $.ajax({
            url:'{{ path('allProducts', { 'country': country.code, 'language': lang.code }) }}',
            type: "GET",
            dataType: "json",
            data: {action: 'products'},
            async: true,
            success: handleReturnedData
        });
        }



        }


    </script>
    <script type="text/javascript" src="/assets/js/navbarStyler.js"></script>
    <script>navbarStyler('black');</script>
    <script type="text/javascript" src="/assets/js/wrapperSlider.js"></script>
    <script type="text/javascript" src="/assets/js/supportHome.js"></script>
    <script type="text/javascript" src="/assets/js/faqDropdown.js"></script>
    <script type="text/javascript" src="/assets/js/supportVideo.js"></script>
    <script type="text/javascript" src="/assets/js/supportHomeIIFE.js"></script>

    <script>
        modalFunction('support-quick-links', 'faq-q-', 'faq-a-');
        modalFunction('search-faq-section', 'faq-a2-', 'faq-q2-');
        modalFunction('support-quick-links', 'video-a2-', 'video-q2-');
    </script>
    <script>
    if($('.container-row-2.margin-b-26').length > 8) {
        $('.container-row-2.margin-b-26:gt(3)'). hide();
        $('#show-more-button').css("display", "block");
    }console.log($('#show-more-button').text());
        $('#show-more-button').on('click', function() {
        //toggle elements with class .ty-compact-list that their index is bigger than 2
        $('.container-row-2.margin-b-26:gt(3)').toggle();

        console.log($('#show-more-button').text());

          $(this).text() === 'Show less' ? $(this).text('Show more') : $(this).text('Show less');

        });


    </script>
    <style>
    #show-more-button {
        display:none;
        cursor: none !important;

    }
    #myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    }

    .popup-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999999999999; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    }

/* Modal Content (Image) */
    .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    }

    /* Caption of Modal Image (Image Text) - Same Width as the Image */
    #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
    }

    /* Add Animation - Zoom in the Modal */
    .modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
    }

    @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
    }

    /* The Close Button */
    .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    }


    .close:hover,
    .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
    }

    /* 100% Image Width on Smaller Screens */
    @media only screen and (max-width: 700px){
    .modal-content {
    width: 100%;
    }
    }
    </style>
    <script>
    var modal = document.getElementById("myModal");
    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img = document.getElementById("myImg");
    var aClick = document.getElementById('open-modal-pop');
    var modalImg = document.getElementById("img01");
    aClick.onclick = function(){
    modal.style.display = "block";
    modalImg.src = img.src;
   

    }

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
    modal.style.display = "none";
    }
    </script>
{% endblock %}
