{% extends 'base.html.twig' %}
{% block body %}
<section>
    <div class="section-full red-carousel-bg">
        <div class="container-1620">
            <p class="margin-b-0 text-xl-bold color-white padding-t-160 text-align-center padding-b-120">Product Support</p>
        </div>
    </div>

    <div class="section-full padding-t-120 padding-b-120">
        <div class="container-1620">
            <div class="flex-between">
                <div class="width-800 padding-h-68 padding-v-160 gray-100-bg">
                    <div class="">
                        <img class="w-100" src="{{ product.images }}">
                    </div>
                </div>
                <div class="width-800">
                    <div class="padding-h-120 margin-t-20">
                        <p class="margin-b-0 text-s color-grey500">{{product.name}}</p>
                        <p class="margin-b-0 text-l-bold color-grey700">{{product.text[0].name|raw}}</p>
                        <div class="margin-t-80">
                            <div class="product-banner-screen-size-wrapper border-for-black-bg">

                            <div class="product-banner-screen-size-button-wrapper active">
                                <a href="#">
                                    <div class="product-banner-size-wrapper">
                                        <div class="product-banner-screen-size text-m-l-bold color-grey300">{{ product.series.mainSize }}</div>
                                        <div class="product-banner-screen-size-code-for-white-bg text-s color-grey300">
                                           {{ product.name }}
                                        </div>
                                    </div>
                                </a>
                            </div>


                            {% if product.series.products[0] is defined %}


                            {% for series in product.series.products %}
                                <div class="product-banner-screen-size-button-wrapper">
                                    <a href="{{ path('supportModel', { 'country': country.code, 'language': lang.code,  'productLink': series.link  }) }}">
                                        <div class="product-banner-size-wrapper">
                                            <div class="product-banner-screen-size text-m-l-bold color-grey300">{{ series.size }}</div>
                                            <div class="product-banner-screen-size-code-for-white-bg text-s color-grey300">
                                               {{ series.name }}
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            {% endfor %}
                            {% endif %}
                            </div>
                        </div>

                        <div class="margin-t-80">
                            <p class="margin-b-0 text-m-s">{{staticText.SUPPORTDOWNLOADS}}</p>
                            {% for key,value in product.file %}
                            <a href="{{ uploadUrl }}{{ value[0].path }}">
                                <div class="cursor-pointer padding-t-13 padding-b-13 w-p-66 flex-between" style="border-bottom:1px solid #ddd;">

                                    <p class="margin-b-0 text-xs-bold color-grey700 ">{{value[0].type}}</p>
                                    <div>
                                        <p class="margin-b-0 text-xs color-grey400" >1.5Mb</p>
                                    </div>
                                </div>
                            </a>
                            {% endfor %}

                            <a href="http://63.35.162.212/uk/uk/pdf/{{ product.link }}">
                                <div class="cursor-pointer padding-t-13 padding-b-13 w-p-66 flex-between" style="border-bottom:1px solid #ddd;">

                                    <p class="margin-b-0 text-xs-bold color-grey700 ">Product PDF</p>
                                    {# <div>
                                        <p class="margin-b-0 text-xs color-grey400" >1.5Mb</p>
                                    </div> #}
                                </div>
                            </a>

                            {% for key,value in product.file %}
                            <a href="{{ uploadUrl }}{{ value[0].path }}">
                                <div class="cursor-pointer padding-t-13 padding-b-13 w-p-66 flex-between" style="border-bottom:1px solid #ddd;">

                                    <p class="margin-b-0 text-xs-bold color-grey700 ">{{value[0].type}}</p>
                                    <div>
                                        <p class="margin-b-0 text-xs color-grey400" >1.5Mb</p>
                                    </div>
                                </div>
                            </a>
                            {% endfor %}


                        </div>
                    </div>
                </div>

            </div>

        </div> 
    </div>

    <div class="section-full padding-t-120 gray-100-bg padding-b-120">
        <div class="container-1620">
            <div class="w-100 text-align-center margin-b-60">
                <p class="margin-b-0 text-l-bold color-grey700">{{staticText.SUPPORTFAQQUESTIONS}}</p>
            </div>
            <div class="wrapper-normal" id="model-faq-section">

                <p class="text-align-center text-m-l-bold color-grey700"></p>
                {% for faq in faqs %}
                <div class="faq-container margin-t-15 padding-h-30 white-bg ">
                    <div class="cursor-pointer w-100 padding-all-20 white-border-top" data-id="faq-{{ faq.id }}">
                        <p class="text-m color-grey700 margin-b-0" id="faq-a3-{{faq.id}}" data-id="faq-{{faq.id}}">{{ faq.question }}</p>
                        <div class="text-m-s color-grey700 margin-b-0 display-none" id="faq-q3-{{faq.id}}" data-id="faq-{{faq.id}}">
                            {{ faq.answer|raw }}
                        </div>
                    </div>
                </div>
                {% endfor %}


            </div>
        </div>
    </div>

    <div class="full-screen-section display-none" id="faq-modal-section">
        <div class="modal-container">
            <div class="wrapper-normal" id="faq-modal-section-wrapper">
                <div class="color-grey700 text-m" id="faq-modal-question"></div>
                <div id="faq-modal-answer"></div>
            </div>
        </div>
    </div>

    <div class="full-section white-bg padding-t-120  padding-b-120">
        <div class="container-1620">
            <div class="padding-b-60">
                <p class="text-align-center text-l-bold color-grey700 margin-b-0">{{staticText.SUPPORTVIDEOS}}</p>
            </div>

            {% for key,value in product.videos %}
            <div class="padding-b-20">
                <p class="text-align-center text-l-bold color-grey-200 margin-b-0">{{ key }}</p>
            </div>
            <div class="flex-between-wrap margin-t-xxl">
                {% for video in value %}
                <div class="container-row-4 margin-t-13 margin-b-13 ">
                    <div class="wrapper-row-3" >
                        <div class="width-100">
                                <img class="width-100 height-auto support-detail-video"  data-id="{{ video.id }}" data-video="{{ video.id }}" src="{{ video.thumbnail }}"/>
                        </div>
                        <div class="modal-fullscreen d-none" id="detail-video-section{{video.id}}" data-id="{{ video.id }}">
                            <div class="modal-fullscreen__in" id="modal-video{{video.id}}">
                                <iframe width="640" height="480" src="//www.youtube.com/embed/{{ video.video }}" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="flex-between-align-start width-100 gray-100-bg padding-all-30">
                            <div class="w-300">
                                <p class="margin-b-0 text-m-s color-grey700">{{ video.title }}</p>
                            </div>
                            <!-- <div class="w-50">
                                <p class="margin-b-0 text-m-s-bold color-grey700">00:58</p>
                            </div> -->
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>



    <script type="text/javascript" src="/assets/js/support-detail/support-detail-video.js"></script>
    <script type="text/javascript" src="/assets/js/faqDropdown.js"></script>
    <script>modalFunction('model-faq-section', 'faq-a3-', 'faq-q3-');</script>
</section>



<div class="container-fluid py-6 bg--light-grey">
<div class="container">
<div class="row pb-3">
  <div class="col-12 align-text--center">
    <h2>{{staticText.SUPPORTGETINTOUCH}}</h2>
  </div>
</div>
<div class="row">




<div class="col-4">
  <div class="content-card">
    <div class="content-card__text white-bg p-2 align-text--left">
        <p class="margin-b-0 text-l color-grey-700">Chat live</p>
        <p class="margin-t-xxs margin-b-0 text-m-s color-grey-700">Monday to Saturday <span class="text-m-s-bold">9am - 6pm</span></p>
        <p class="margin-t-xxs margin-b-0 text-m-s color-grey-700">Sunday <span class="text-m-s-bold">10am - 4pm</span></p>
        <div class="width-100 contact-widget  bg--light-grey cursor-pointer">
          <div class="contact-widget-icon-container">
              <div class="wrapper-row-start">
                <ion-icon class="contact-widget-icon" name="call"></ion-icon>
                <div class="green-circle-container">
                    <div class="green-circle">
                    </div>
                </div>
              </div>
          </div>
          <div class="width-100 flex-between-center-nowrap">
            <p class="margin-b-0 text-m-s color-grey-400">{{staticText.ONLINENOW}}</p>
            <p class="margin-b-0 text-m-s color-red-500">{{staticText.STARTCHAT}}</p>
          </div>
        </div>
    </div>
  </div>
</div>




<div class="col-4">
  <div class="content-card">
    <div class="content-card__text white-bg p-2 align-text--left">

    <p class="margin-b-0 text-l color-grey-700">Call us</p>
    <p class="margin-t-xxs margin-b-0 text-m-s color-grey-700">Monday to Saturday <span class="text-m-s-bold">9am - 6pm</span></p>
    <p class="margin-t-xxs margin-b-0 text-m-s color-grey-700">Sunday<span class="text-m-s-bold">10am - 4pm</span></p>
    <div class="width-100 margin-t-30 ">
        <p class="margin-b-0 contact-phone color-red-500 supportmodelCallUs">{{staticText.CALLNUMBER}}</p>
    </div>

    </div>
  </div>
</div>

  <div class="col-4">
    <div class="content-card">
      <div class="content-card__text white-bg p-2 align-text--left">


      <p class="margin-b-0 text-l color-grey-700">Email us</p>

      <p class="margin-t-xxs margin-b-0 text-m-s color-grey-700">We'll respond within 2 working days. </p>

      <div class="btn__container supportmodelEmailUs width-100">
        <a class="btn btn--red" href="{{ path('supportContact', { 'country': country.code, 'language': lang.code }) }}">Email us</a>
      </div>


      </div>
    </div>
  </div>
</div>
</div>

<p class="touchusinformation">Calls from landlines cost up to 9p per minute, mobile tariffs may vary - please check with your provider</p>
</div>

{% endblock %}
