{% extends 'base.html.twig' %}
{% block body %}
<div class="bigSearchHeader mbottom30">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <h1 class="ptop30 mbottom30">Need help? We’re here</h1>
                <form class="form-inline tsbSearch bigSearch">
                    <a href="./Support-home.html">
                        <ion-icon name="home" class="searchHomeIcon"></ion-icon>
                    </a>
                    <div class="input-group tsbSearch">
                        <div class="input-group-prepend
                                        border-0">
                            <button id="button-addon4" type="button" class="btn
                                            btn-link text-info">
                                <ion-icon class="light iconsearch" name="search"></ion-icon>
                            </button>
                        </div>
                        <input type="search" id="bigSearch" placeholder="Enter your model number of keywords" aria-describedby="button-addon4" class="form-control border-0 tsbinput">
                        <span class="searchThinText"> <a href="#"> How do I find my model number?</a> </span>
                        </input>
                    </div>
                </form>
                <div class="clearfix"></div>
                <p class="searchBottomText">Bought your TV before 2018?
                    <a href="#" class="darklinkIcon">
                        <ion-icon name="log-in"></ion-icon>
                    </a>
                </p>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>
    <!--support home search section end-->
    <div class="container-fluid mbottom30">
        <div class="row ">
            <div class="col-lg-12 text-center">
                <h1 class="centerText headdark mtop30">That doesn’t seem right</h1>
                <p class="mbottom30">We didn’t recognise that model number, double check you’ve entered it correctly or try choosing your product type below.</p>
            </div>


            <div class="col-lg-12 d-flex justify-content-center mbottom30 d-inline ">
                <a href="#" class="bottomActionBox fleft">
                    <div class="gold">

                        <h2 class="centerText">OLED</h2>
                        <ion-icon name="ios-arrow-down" class="arrow"></ion-icon>
                    </div>
                </a>
                <a href="#" class="bottomActionBox fleft">
                    <div class="red ">

                        <h2 class="centerText">Ultra HD</h2>
                        <ion-icon name="ios-arrow-down" class="arrow"></ion-icon>
                    </div>
                </a>
                <a href="#" class="bottomActionBox fleft">
                    <div class="light">

                        <h2 class="centerText">Full HD</h2>
                        <ion-icon name="ios-arrow-down" class="arrow"></ion-icon>
                    </div>
                </a>
                <a href="#" class="bottomActionBox fleft">
                    <div class="light ">

                        <h2 class="centerText">HD Ready</h2>
                        <ion-icon name="ios-arrow-down" class="arrow"></ion-icon>
                    </div>
                </a>
                <a href="#" class="bottomActionBox fleft">
                    <div class="gray ">

                        <h2 class="centerText">Soundbar</h2>
                        <ion-icon name="ios-arrow-down" class="arrow"></ion-icon>
                    </div>
                </a>

            </div>
            <div id="selectSizeboxArea" class="col-lg-12  text-center mbottom30">
                <span class="w-100 selectSizeTitle mbottom30 mtop30">Select your screen size <a href="#"
                        class="darklinkIcon">
                        <ion-icon name="close-circle-outline" class="fit"></ion-icon>
                    </a></span>
                <div class="col-lg-12 d-flex  justify-content-center mtop30 d-inline ">

                    <a href="#" class="selectsizeItem fleft">
                        <div class="">
                            <div class="lightGray">
                                <h2 class="centerText">75''</h2>
                                <ion-icon name="ios-arrow-down" class="arrow"></ion-icon>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="selectsizeItem fleft">
                        <div class="">
                            <div class="lightGray">
                                <h2 class="centerText">75''</h2>
                                <ion-icon name="ios-arrow-down" class="arrow"></ion-icon>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="selectsizeItem fleft">
                        <div class="">
                            <div class="lightGray">
                                <h2 class="centerText">75''</h2>
                                <ion-icon name="ios-arrow-down" class="arrow"></ion-icon>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="selectsizeItem fleft">
                        <div class="">
                            <div class="lightGray">
                                <h2 class="centerText">75''</h2>
                                <ion-icon name="ios-arrow-down" class="arrow"></ion-icon>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="selectsizeItem fleft">
                        <div class="">
                            <div class="lightGray">
                                <h2 class="centerText">75''</h2>
                                <ion-icon name="ios-arrow-down" class="arrow"></ion-icon>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="selectsizeItem fleft">
                        <div class="">
                            <div class="lightGray">
                                <h2 class="centerText">75''</h2>
                                <ion-icon name="ios-arrow-down" class="arrow"></ion-icon>
                            </div>
                        </div>
                    </a>


                </div>
            </div>
            <div id="selectSizeboxArea" class="col-lg-12 text-center ">
                <span class="w-100 selectSizeTitle mtop30 mbottom30">Select your model <a href="#" class="darklinkIcon">
                        <ion-icon name="close-circle-outline" class="fit"></ion-icon>
                    </a></span>
                <a href="#" class="fright gray pright30 d-none d-sm-block "> How do I find my model number?</a>
            </div>
            <!--Carousel Wrapper-->
            <div id="multi-item-example" class="col-lg-12 d-none d-sm-block carousel slide carousel-multi-item" data-ride="carousel">

                <!--Controls-->
                <div class="controls-top">

                    <a class="btn-floating" href="#multi-item-example" data-slide="prev">
                        <ion-icon name="ios-arrow-back" class="left"></ion-icon>

                    </a>
                    <a class="btn-floating " href="#multi-item-example " data-slide="next ">
                        <ion-icon name="ios-arrow-forward " class="right "></ion-icon>
                    </a>
                </div>
                <!--/.Controls-->

                <!--Indicators-->
                <ol class="carousel-indicators">
                    <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
                    <li data-target="#multi-item-example" data-slide-to="1"></li>
                    <li data-target="#multi-item-example" data-slide-to="2"></li>
                </ol>
                <!--/.Indicators-->

                <!--Slides-->
                <div class="carousel-inner mtop30 container d-flex " role="listbox">

                    <!--First slide-->
                    <div class="carousel-item active">

                        <div class="col-md-4 col-lg-4 carouselBox">
                            <div class="PrBoxListItem result text-center">
                                <img src="/assets/img/tvsample.png" alt="" class="mtop30 mbottom30 w-100">

                                <h2 class="centerText ">65VL5A63DB</h2>
                                <span class="tvYear text-center ">2018</span>

                                <div class="clearfix "></div>
                                <button class="btn resetRadius red w-100 ">Learn more</button>
                            </div>
                        </div>

                        <div class="col-md-4 col-lg-4 carouselBox ">
                            <div class="PrBoxListItem result text-center ">
                                <img src="/assets/img/tvsample.png " alt=" " class="mtop30 mbottom30 w-100">

                                <h2 class="centerText">65VL5A63DB</h2>
                                <span class="tvYear text-center">2018</span>

                                <div class="clearfix"></div>
                                <button class="btn resetRadius red w-100">Learn more</button>
                            </div>
                        </div>

                        <div class="col-md-4 col-lg-4 carouselBox">
                            <div class="PrBoxListItem result text-center">
                                <img src="/assets/img/tvsample.png" alt="" class="mtop30 mbottom30 w-100">

                                <h2 class="centerText ">65VL5A63DB</h2>
                                <span class="tvYear text-center ">2018</span>

                                <div class="clearfix "></div>
                                <button class="btn resetRadius red w-100 ">Learn more</button>
                            </div>
                        </div>

                    </div>
                    <!--/.First slide-->

                    <!--Second slide-->
                    <div class="carousel-item ">

                        <div class="col-md-4 col-lg-4 carouselBox ">
                            <div class="PrBoxListItem result text-center ">
                                <img src="/assets/img/tvsample.png " alt=" " class="mtop30 mbottom30 w-100">

                                <h2 class="centerText ">65VL5A63DB</h2>
                                <span class="tvYear text-center ">2018</span>

                                <div class="clearfix "></div>
                                <button class="btn resetRadius red w-100 ">Learn more</button>
                            </div>
                        </div>

                        <div class="col-md-4 col-lg-4 carouselBox ">
                            <div class="PrBoxListItem result text-center ">
                                <img src="/assets/img/tvsample.png " alt=" " class="mtop30 mbottom30 w-100">

                                <h2 class="centerText">65VL5A63DB</h2>
                                <span class="tvYear text-center">2018</span>

                                <div class="clearfix"></div>
                                <button class="btn resetRadius red w-100">Learn more</button>
                            </div>
                        </div>

                        <div class="col-md-4 col-lg-4 carouselBox">
                            <div class="PrBoxListItem result text-center">
                                <img src="/assets/img/tvsample.png" alt="" class="mtop30 mbottom30 w-100">

                                <h2 class="centerText ">65VL5A63DB</h2>
                                <span class="tvYear text-center ">2018</span>

                                <div class="clearfix "></div>
                                <button class="btn resetRadius red w-100 ">Learn more</button>
                            </div>
                        </div>

                    </div>
                    <!--/.Second slide-->


                </div>
                <!--/.Slides-->
               
            </div>
            <!--/.Carousel Wrapper-->

            <div class="onlyMobileCarouselItem col-sm-12 d-block d-sm-none d-flex justify-content-between ">
                <div class="carousel-item active ">

                    <div class="carouselBox ">
                        <div class="PrBoxListItem result text-center ">
                            <img src="/assets/img/tvsample.png " alt=" " class="mtop30 mbottom30 w-100 ">

                                <h2 class="centerText ">65VL5A63DB</h2>
                                <span class="tvYear text-center ">2018</span>

                                <div class="clearfix "></div>
                                <button class="btn resetRadius red w-100 ">Learn more</button>
                            </div>
                        </div>

                        <div class="carouselBox ">
                            <div class="PrBoxListItem result text-center ">
                                <img src="/assets/img/tvsample.png " alt=" " class="mtop30 mbottom30 w-100">

                            <h2 class="centerText ">65VL5A63DB</h2>
                            <span class="tvYear text-center ">2018</span>

                            <div class="clearfix "></div>
                            <button class="btn resetRadius red w-100 ">Learn more</button>
                        </div>
                    </div>

                    <div class="carouselBox ">
                        <div class="PrBoxListItem result text-center ">
                            <img src="/assets/img/tvsample.png " alt=" " class="mtop30 mbottom30 w-100 ">

                                <h2 class="centerText ">65VL5A63DB</h2>
                                <span class="tvYear text-center ">2018</span>

                                <div class="clearfix "></div>
                                <button class="btn resetRadius red w-100 ">Learn more</button>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>
{% endblock %}    