{% extends 'base.html.twig' %}
{% block body %}
<section>
  <div class="section-full padding-t-xxxxl bg-grey-100 padding-b-330">
    <div class="text-align-center width-850">
      <div class="width-100 wrapper-row-center">
        <img class="width-185 max-height-260-px" src="/assets/img/Logo_TRUPictureEngine_ColourBlack_Toshiba.png"/>
      </div>
      <p class="margin-b-0 margin-t-10 text-xxxl-bold color-grey700">{{staticText.TRUPICTUREHEADER}}</p>

    </div>
  </div>

  <div class="container-1620">
    <div class="container-1720 landing-img-container">
      <div class="wrapper-normal">
        <div class="width-100">
          <img class="height-auto width-100" src="/assets/img/tru-logos/tru-picture-engine-hero-image.png" />
        </div>
      </div>
    </div>
    <div class="container-1720 margin-t--311 bg-grey-100" id="sticky-anchor">
      <div class="sub-header sub-header--pdp sub-header--light sub-header__marker">

        <div class="sub-header__title">

          <h3>{{staticText.TRUPICTUREENGINE}}
          </h3>

        </div>

        <div class="sub-header__navigation">

          <ul>

            <li>
              <a href="#overview">{{staticText.OVERVIEW}}</a>
            </li>

            <li>
              <a href="#truflow">{{staticText.TRUFLOW}}</a>
            </li>

            <li>
              <a href="#trumicrodimming">{{staticText.TRUMICRODIMMING}}</a>
            </li>

            {# <li>
              <a href="#chromecast">{{staticText.CHROMECAST}}</a>
            </li> #}

            <li>
              <a href="#truresolution">{{staticText.TRURESOLUTION}}</a>
            </li>

            <li>
              <a href="#models">{{staticText.MODELS}}</a>
            </li>

          </ul>

        </div>

      </div>
      </div>

  </div>

  <div class="section-full padding-t-xxl" id="overview">
    <div class="container-1344">
      <div class="text-align-center ">
        <p class="margin-b-0 text-m color-grey700">
          {{staticText.TRUDESCMIDDLE}}
        </p>

        <button class=" margin-t-m learn-more-button-border" id="video-button">{{staticText.WATCHOURVIDEO}}</button>

        <div class="position-fixedd wrapper-column-center-center bg-black-opacity-08 display-none" id="video-modal">
                  <div class="wrapper-column-center-center">
                    <span style="
    position: absolute;
    cursor: pointer;
    width: 50px;
    height: 50px;
    z-index: 999999999;
    display: block;
    top: 0px;
    right: 0px;
    font-size: 24pt;
    line-height: 50px;
    text-align: center;
" class="closetru"><i class="fa fa-times"></i></span>

                    <video width="640" height="360" controls id="tru-video">
                      <source src="/assets/video/Toshiba_Product_Landscape.MP4" type="video/mp4">
                    </video>
                  </div>
                </div>




      </div>
    </div>
  </div>


  <div class="full-section padding-b-60 padding-t-120" id="truflow">
    <div class="container-1620">
      <div class="flex-between-wrap">

        <div class="container-row-2 vertical-center">
          <div class="width-100 text-align-center wrapper-column-center-center">
            <div class="padding-h-45 width-100 wrapper-row-center"> <!--max-height-260-px  css'i vardı silindi -->
              <img class="tru-images" src="/assets/img/tru-logos/tru-flow.png"/> <!--max-height-260-px  css'i vardı silindi -->
            </div>
            <div class="margin-t-ms text-align-center">
              <p class="text-m color-grey700 margin-b-0">{{staticText.TRUFLOWDESC}}</p>
            </div>
          </div>
        </div>

        <div class="container-row-2">
          <div class="width-100">
            <div class="width-100">
              <img class="width-100 height-auto" src="/assets/img/toshiba-tiny/TRUFlow_Toshiba.png" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="full-section padding-b-60 padding-t-120">
    <div class="container-1620">
      <div class="flex-between-wrap-reverse">

        <div class="container-row-2">
          <div class="width-100">
            <div class="width-100">
              <img class="width-100 height-auto" src="/assets/img/toshiba-tiny/River_MicroDimming_Toshiba.png" />
            </div>
          </div>
        </div>

        <div class="container-row-2 vertical-center" id="trumicrodimming">
          <div class="width-100 wrapper-column-center-center">
            <div class="padding-h-45 max-height-260-px width-100 wrapper-row-center">
              <img class="tru-images" src="/assets/img/tru-logos/tru-micro.png"/>
            </div>
            <div class="margin-t-ms text-align-center">
              <p class="text-m color-grey700 margin-b-0">{{staticText.TRUMICRODIMMINGDESC}}</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="full-section padding-b-60 padding-t-120" id="truresolution">
    <div class="container-1620">
      <div class="flex-between-wrap">

        <div class="container-row-2 vertical-center">
          <div class="width-100 wrapper-column-center-center">
            <div class="padding-h-45 max-height-260-px width-100 wrapper-row-center">
              <img class="tru-images" src="/assets/img/tru-logos/tru-resolution.png"/>
            </div>
            <div class="margin-t-ms text-align-center">
              <p class="text-m color-grey700 margin-b-0">{{staticText.TRURESOLUTIONDESC}}</p>
            </div>
          </div>
        </div>

        <div class="container-row-2">
          <div class="width-100">
            <div class="width-100">
              <img class="width-100 height-auto" src="/assets/img/TRUResolution_Toshiba.png" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-black-gold padding-t-xxl padding-b-xxl" id="models">

        <div class="all-product-section">
            <div class="all-product-container">
                <div class="wrapper-column-center-center text-align-center">
                    <p class="max-width-540 text-xxl-bold color-white">
                        {{staticText.TRUCHOOSEPICTUREMODEL}}
                    </p>
                </div>



                <div class="flex-between-wrap-3">
                    {% for key,value in truProducts %}
                    <div class="padding-t-xs container-row-3">
                        <div class="text-align-center width-100">
                            <div class="padding-t-m padding-h-ms margin-b-m">
                                <img class="width-100" src="{{ value[0].path }}"/>
                            </div>
                            <p class="height-for-card-header width-for-card-header color-white text-m-l-bold overflow-wrap">{{ value[0].name | raw }}</p>
                            <p class="margin-b-s margin-t-xs color-grey-400 text-xs">{{key}}</p>
                            <ul class="all-product-box-list">
                            {% for serie in value %}
                                <li class="all-product-box-list-element color-grey-400">
                                <a href ="{{ path('getProductBySef', { 'country': country.code, 'language': lang.code, 'productLink' :value[0].link }) }}"></a>
                                <p class="color-grey-400 text-m-s cursor-pointer margin-b-0 line-height-inherit">{{ serie.inc }}</p>
                                </li>
                            {% endfor %}
                            </ul>
                            <a href="{{ path('getProductBySef', { 'country': country.code, 'language': lang.code, 'productLink' :value[0].link }) }}" class="cursor-pointer">
                                <button class="margin-b-xs all-product-box-button bg-gold color-gold-500">
                                    {{staticText.LEARNMORE}}
                                </button>
                            </a>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid fixed-sub-header fixed-sub-header--dark nav-down">

      <div class="w-100">

        <div class="row">

          <div class="col-12">

            <div class="fixed-sub-header__container">

              <div class="fixed-sub-header__title">

                <h3>{{staticText.TRUPICTUREENGINE}}

                </h3>

              </div>

              <div class="fixed-sub-header__navigation">

                <ul>

                  <li>
                    <a class="fixed-sub-header__link active" href="#overview">{{staticText.OVERVIEW}}</a>
                  </li>

                  <li>
                    <a class="fixed-sub-header__link" href="#truflow">{{staticText.TRUFLOW}}</a>
                  </li>

                  <li>
                    <a class="fixed-sub-header__link" href="#trumicrodimming">{{staticText.TRUMICRODIMMING}}</a>
                  </li>

                  <li>
                    <a class="fixed-sub-header__link" href="#truresolution">{{staticText.TRURESOLUTION}}</a>
                  </li>

                  <li>
                    <a class="fixed-sub-header__link" href="#models">{{staticText.MODELS}}</a>
                  </li>

                </ul>

              </div>

              <div class="fixed-sub-header__top to-top">

                <img src="/assets/img/toshiba-new/to-top-icon.svg" alt="To The Top" />

              </div>

            </div>

          </div>

        </div>

      </div>

    </div>


</div>

  <script src="/assets/js/product-detail/fixedHeader.js" type="text/javascript"></script>
  <script src="/assets/js/navbar/navbarColor.js" type="text/javascript"></script>
  <script type="text/javascript" src="/assets/js/imageQualitySlider.js"></script>
  <script type="text/javascript" src="/assets/js/truVideoOpener.js"></script>
  <!-- <script type="text/javascript" src="/assets/js/navbarStyler.js"></script> -->

  <script>
  $(document).ready(function(){
      $(".closetru").click(function(){
        $("#video-modal").addClass("display-none");
      })

  });
  </script>
  
</section>
{% endblock %}
