{% extends 'base.html.twig' %}
{% block body %}
<!--filter tv search section-->
    <div class="section">

        <div class="filter-section-mobile padding-h-20 padding-t-13 padding-b-13">
        <div class="w-100">
            <div class="flex-between">
                <div class="flex-start">
                    <p class="margin-b-0 text-m-s-bold color-white text-align-center" id="filter-section-mobile-main-text">Ultra HD 4K TVs</p>
                </div>
                <div class="flex-end">
                    <p class="margin-b-0 text-xs color-white margin-r-10 text-align-center" id="filter-section-mobile-text">15 products</p>
                    <select class="filter-selector-mobile text-xs" id="filter-selector-mobile">
                        <option class="select-option" value="">Filters</option>
                        <option class="select-option" value="size">Screen Size</option>
                        <option class="select-option" value="res">Resolution</option>
                        <option class="select-option" value="os">Operating system</option>
                        <option class="select-option" value="vassist">Voice assistant</option>
                        <option class="select-option" value="keyfeat">Key features</option>
                    </select>
                </div>

            </div>
            

            <div class="flex-start flex-wrap padding-t-5" id="filter-bottom-section">
                <div class="margin-r-10 margin-t-10 display-none-important wrapper-row-align-center" id="size">
                    <select class="filter-selector-mobile-bottom text-xs" >
                        <option value="1">47''</option>
                        <option value="2">53''</option>
                        <option value="3">57''</option>
                        <option value="4">75</option>
                    </select>
                    <ion-icon class="close-icon" name="close" id="filter-index-1"></ion-icon>
                </div>

                <div class="margin-r-10 margin-t-10 display-none-important wrapper-row-align-center" id="res">
                    <select class="filter-selector-mobile-bottom text-xs" >
                        <option value="1">HD</option>
                        <option value="2">Full HD</option>
                        <option value="3">Ultra HD</option>
                        <option value="4">4K</option>
                    </select>
                    <ion-icon class="close-icon" name="close" id="filter-index-2"></ion-icon>
                </div>

                <div class="margin-r-10 margin-t-10 wrapper-row-align-center display-none-important" id="os">
                    <select class="filter-selector-mobile-bottom text-xs" >
                        <option value="1">Android</option>
                        <option value="2">Other</option>
                    </select>
                    <ion-icon class="close-icon" name="close" id="filter-index-3"></ion-icon>
                </div>

                <div class="margin-r-10 margin-t-10 wrapper-row-align-center display-none-important" id="vassist">
                    <select class="filter-selector-mobile-bottom text-xs" >
                        <option value="1">Voice Assist Enabled</option>
                        <option value="2">No Voice Assist</option>
                    </select>
                    <ion-icon class="close-icon" name="close" id="filter-index-4"></ion-icon>
                </div>

                <div class="margin-r-10 margin-t-10 wrapper-row-align-center display-none-important" id="keyfeat">
                    <select class="filter-selector-mobile-bottom text-xs" >
                        <option value="1">Feature 1</option>
                        <option value="2">Feature 2</option>
                        <option value="3">Feature 3</option>
                        <option value="4">Feature 4</option>
                    </select>
                    <ion-icon class="close-icon" name="close" id="filter-index-5"></ion-icon>
                </div>
                
            </div>
        </div>
    </div>

        <div class="red-carousel-bg">
        <div class="full-section padding-t-180" id="filter-header-section">
                <div class="filter-header-container">
                    <div class="filter-header-wrapper bg-white-opacity-03">
                        <div class="filter-header-left-container">
                            <div class="white-space-nowrap filter-header-left-text text-m-l-bold color-white">
                                Ultra HD 4K TVs
                            </div>
                            <div class="filter-header-left-container-wrappable">
                                <select class="filter-selector text-xs">
                                    <option value="" disabled selected hidden>Screen size</option>
                                    <option value="1">47''</option>
                                    <option value="2">53''</option>
                                    <option value="3">57''</option>
                                    <option value="4">75''</option>
                                </select>

                                <select name="choice" class="filter-selector text-xs">
                                    <option value="" disabled selected hidden>Resolution</option>
                                    <option value="1">HD</option>
                                    <option value="2">Full HD</option>
                                    <option value="3">Ultra HD</option>
                                    <option value="4">4K</option>
                                </select>

                                <select class="filter-selector-wide text-xs">
                                    <option value="" disabled selected hidden>Operating system</option>
                                    <option value="1">Android</option>
                                    <option value="2">Other</option>
                                </select>

                                <select class="filter-selector text-xs">
                                    <option value="" disabled selected hidden>Voice assistant</option>
                                    <option value="1">Yes</option>
                                    <option value="2">No</option>>
                                </select>

                                <select class="filter-selector text-xs">
                                    <option value="" disabled selected hidden>Key features</option>
                                    <option value="1">Feature 1</option>
                                    <option value="2">Feature 2</option>
                                    <option value="3">Feature 3</option>
                                    <option value="4">Feature 4</option>
                                </select>
                                
                            </div>
                            

                            <div class="filter-header-left-container-button-wrapper">
                                <button class="filter-header-left-button red-200-bg text-xs color-grey700">
                                    Apply
                                </button>
                                <button class="filter-header-left-button-grey grey-600-bg text-xs color-grey400">
                                    Cancel
                                </button>
                            </div>
                            
                            
                        </div>
                        <div class="filter-header-right-container">
                            <div class="white-space-nowrap filter-header-right-text color-white">
                                27 products
                            </div>
                            <select class="filter-selector text-xs">
                                <option value="recommended">Recommended</option>
                                <option value="1">Newest First</option>
                                <option value="2">Oldest First </option>
                                <option value="3">Price (Low to High)</option>
                                <option value="4">Price (High to Low)</option>
                            </select> 
                        </div>
                    </div>
                </div>
            </div>

            <div class="full-section padding-b-120">
                <div class="container-1620">
                    <div class="text-align-center responsive-header-margin" >
                        <p class="text-xxl-bold color-white">
                        Ultra HD 4K TVs
                        </p>
                    </div>
                    <div class="all-product-wrapper ">
            
                        <div class="padding-t-20 container-row-3 ">
                            <div class="text-align-center wrapper-row-3">
                                <div class="padding-t-55 padding-h-45 margin-b-45">
                                    <img class="w-100" src="/assets/img/tvsample.png"/>
                                </div>
                                <p class="product-header color-white text-m-l-bold">VL5A Ultra HD TRU picture TV</p>
                                <p class="product-code color-grey100 text-xs">55VL5A63DB</p>
                                <ul class="all-product-box-list-for-red-bg">
                                    <li class="all-product-box-list-element-for-red-bg color-grey100">
                                        55''
                                    </li>
                                    <li class="all-product-box-list-element-for-red-bg color-grey100">
                                        65''
                                    </li>
                                    <li class="all-product-box-list-element-for-red-bg color-grey100">
                                        75''
                                    </li>
                                </ul>
                                <a href="http://127.0.0.1:8000/uk/uk/product-detail/55UL7A63DB" class="cursor-pointer">
                                    <button class="margin-b-20 all-product-box-button red-700-bg">
                                        <p class="all-product-box-button-text text-xs color-white">Learn more</p>
                                    </button>
                                </a>
                                
                            </div>
                        </div>

                        <div class="padding-t-20 container-row-3 ">
                            <div class="text-align-center wrapper-row-3">
                                <div class="padding-t-55 padding-h-45 margin-b-45">
                                    <img class="w-100" src="/assets/img/tvsample.png"/>
                                </div>
                                <p class="product-header color-white text-m-l-bold">VL5A Ultra HD TRU picture TV</p>
                                <p class="product-code color-grey100 text-xs">55VL5A63DB</p>
                                <ul class="all-product-box-list-for-red-bg">
                                    <li class="all-product-box-list-element-for-red-bg color-grey100">
                                        55''
                                    </li>
                                    <li class="all-product-box-list-element-for-red-bg color-grey100">
                                        65''
                                    </li>
                                    <li class="all-product-box-list-element-for-red-bg color-grey100">
                                        75''
                                    </li>
                                </ul>
                                <a href="http://127.0.0.1:8000/uk/uk/product-detail/55UL7A63DB" class="cursor-pointer">
                                    <button class="margin-b-20 all-product-box-button red-700-bg">
                                        <p class="all-product-box-button-text text-xs color-white">Learn more</p>
                                    </button>
                                </a>
                                
                            </div>
                        </div>

                        <div class="padding-t-20 container-row-3 ">
                            <div class="text-align-center wrapper-row-3">
                                <div class="padding-t-55 padding-h-45 margin-b-45">
                                    <img class="w-100" src="/assets/img/tvsample.png"/>
                                </div>
                                <p class="product-header color-white text-m-l-bold">VL5A Ultra HD TRU picture TV</p>
                                <p class="product-code color-grey100 text-xs">55VL5A63DB</p>
                                <ul class="all-product-box-list-for-red-bg">
                                    <li class="all-product-box-list-element-for-red-bg color-grey100">
                                        55''
                                    </li>
                                    <li class="all-product-box-list-element-for-red-bg color-grey100">
                                        65''
                                    </li>
                                    <li class="all-product-box-list-element-for-red-bg color-grey100">
                                        75''
                                    </li>
                                </ul>
                                <a href="http://127.0.0.1:8000/uk/uk/product-detail/55UL7A63DB" class="cursor-pointer">
                                    <button class="margin-b-20 all-product-box-button red-700-bg">
                                        <p class="all-product-box-button-text text-xs color-white">Learn more</p>
                                    </button>
                                </a>
                                
                            </div>
                        </div>

                        <div class="padding-t-20 container-row-3 ">
                            <div class="text-align-center wrapper-row-3">
                                <div class="padding-t-55 padding-h-45 margin-b-45">
                                    <img class="w-100" src="/assets/img/tvsample.png"/>
                                </div>
                                <p class="product-header color-white text-m-l-bold">VL5A Ultra HD TRU picture TV</p>
                                <p class="product-code color-grey100 text-xs">55VL5A63DB</p>
                                <ul class="all-product-box-list-for-red-bg">
                                    <li class="all-product-box-list-element-for-red-bg color-grey100">
                                        55''
                                    </li>
                                    <li class="all-product-box-list-element-for-red-bg color-grey100">
                                        65''
                                    </li>
                                    <li class="all-product-box-list-element-for-red-bg color-grey100">
                                        75''
                                    </li>
                                </ul>
                                <a href="http://127.0.0.1:8000/uk/uk/product-detail/55UL7A63DB" class="cursor-pointer">
                                    <button class="margin-b-20 all-product-box-button red-700-bg">
                                        <p class="all-product-box-button-text text-xs color-white">Learn more</p>
                                    </button>
                                </a>
                                
                            </div>
                        </div>

                        <div class="padding-t-20 container-row-3 ">
                            <div class="text-align-center wrapper-row-3">
                                <div class="padding-t-55 padding-h-45 margin-b-45">
                                    <img class="w-100" src="/assets/img/tvsample.png"/>
                                </div>
                                <p class="product-header color-white text-m-l-bold">VL5A Ultra HD TRU picture TV</p>
                                <p class="product-code color-grey100 text-xs">55VL5A63DB</p>
                                <ul class="all-product-box-list-for-red-bg">
                                    <li class="all-product-box-list-element-for-red-bg color-grey100">
                                        55''
                                    </li>
                                    <li class="all-product-box-list-element-for-red-bg color-grey100">
                                        65''
                                    </li>
                                    <li class="all-product-box-list-element-for-red-bg color-grey100">
                                        75''
                                    </li>
                                </ul>
                                <a href="http://127.0.0.1:8000/uk/uk/product-detail/55UL7A63DB" class="cursor-pointer">
                                    <button class="margin-b-20 all-product-box-button red-700-bg">
                                        <p class="all-product-box-button-text text-xs color-white">Learn more</p>
                                    </button>
                                </a>
                                
                            </div>
                        </div>

                        <div class="padding-t-20 container-row-3 ">
                            <div class="text-align-center wrapper-row-3">
                                <div class="padding-t-55 padding-h-45 margin-b-45">
                                    <img class="w-100" src="/assets/img/tvsample.png"/>
                                </div>
                                <p class="product-header color-white text-m-l-bold">VL5A Ultra HD TRU picture TV</p>
                                <p class="product-code color-grey100 text-xs">55VL5A63DB</p>
                                <ul class="all-product-box-list-for-red-bg">
                                    <li class="all-product-box-list-element-for-red-bg color-grey100">
                                        55''
                                    </li>
                                    <li class="all-product-box-list-element-for-red-bg color-grey100">
                                        65''
                                    </li>
                                    <li class="all-product-box-list-element-for-red-bg color-grey100">
                                        75''
                                    </li>
                                </ul>
                                <a href="http://127.0.0.1:8000/uk/uk/product-detail/55UL7A63DB" class="cursor-pointer">
                                    <button class="margin-b-20 all-product-box-button red-700-bg">
                                        <p class="all-product-box-button-text text-xs color-white">Learn more</p>
                                    </button>
                                </a>
                                
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/assets/js/mobileFilterHandler.js"></script>
    <!--filter home search section end-->
    <!--Premium  4K TVs -->
{% endblock %}    