{% extends 'base.html.twig' %}
{% block body %}
<section>
    <div class="full-section bg-red-carousel-org">
        <div class="padding-t-xxxl padding-b-xxl">
          <p class="text-xl-bold color-white text-align-center">{{staticText.WARRANTYBUTTON}}</p>
        </div>
      </div>

      <div class="section-full padding-t-l padding-b-60">
        <div class="col-sm-12">

            <div class="newsText" style="width:80%;margin:auto;">
                  {{warranty|raw}}
            </div>
          </div>
      </div>
</section>
{% endblock %}
