// Theme file.
@import 'mixins.less';
@import 'variables.less';

.@{theme}-theme {

  &.fr-box.fr-basic {

    .fr-element {
      color: @editor-text;
      padding: @editor-padding;
      overflow-x: auto;
      min-height: (20px + (2 * @editor-padding));
    }
  }

  .fr-element {
    -webkit-user-select: auto;
  }

  &.fr-box {

    a.fr-floating-btn {
      .material-box-shadow (@editor-shadow-level);
      height: @floating-btn-size;
      width: @floating-btn-size;
      background: @floating-btn-bg;
      color: @floating-btn-text;
      .transition(background @transition-timing, color @transition-timing, transform @transition-timing;);
      left: 0;
      top: 0;
      line-height: (@floating-btn-size);
      border: @floating-btn-border;

      svg {
        .transition(transform @transition-timing;);
        fill: @floating-btn-text;
      }

      i,  svg {
        font-size: @floating-btn-font-size;
        line-height: @floating-btn-size;
      }

      &:hover {
        background: @floating-btn-hover-bg;

        svg {
          fill: @floating-btn-hover-text;
        }
      }
    }
  }

  .fr-wrapper {

    .fr-placeholder {
      font-size: @placeholder-size;
      color: @placeholder-color;
      top: 0;
      left: 0;
      right: 0;
    }

    ::-moz-selection {
      background: @selection-bg;
      color: @selection-text;
    }

    ::selection {
      background: @selection-bg;
      color: @selection-text;
    }
  }

  &.fr-box.fr-basic {

    .fr-wrapper {
      background: @editor-bg;
      border: @editor-border;
      border-top: 0;
      top: 0;
      left: 0;
    }
  }

  &.fr-box.fr-basic {

    &.fr-top .fr-wrapper {
      border-top: 0;
      .border-radius(0 0 @border-radius @border-radius);
      .material-box-shadow(@editor-shadow-level);
    }

    &.fr-bottom .fr-wrapper {
      border-bottom: 0;
      .border-radius(@border-radius @border-radius 0 0);
      .material-box-shadow(@editor-shadow-level, -1);
    }
  }

  @media (min-width: @screen-md) {

    .fr-box.fr-document {

      .fr-wrapper {

        .fr-element {
          margin: auto;
          .material-box-shadow(@editor-shadow-level);
        }
      }
    }
  }

  .fr-sticky-on {

    &.fr-sticky-ios {
      left: 0;
      right: 0;
    }
  }

  &.fr-box {

    .fr-counter {
      color: @gray;
      background: @editor-bg;
      border-top: @char-counter-border;
      border-left: @char-counter-border;
      .border-radius(@border-radius 0 0 0);
    }

    &.fr-rtl {

      .fr-counter {
        right: auto;
        border-right: @char-counter-border;
        .border-radius(0 @border-radius 0 0);
      }
    }
  }

  textarea.fr-code {
    background: @code-view-bg;
    color: @code-view-text;
  }

  &.fr-box.fr-code-view {

    &.fr-inline {
      .material-box-shadow(@editor-shadow-level);
    }
  }

  &.fr-box.fr-inline {

    .fr-command.fr-btn.html-switch {
      top: 0;
      right: 0;
      .material-box-shadow(@editor-shadow-level);
      background: @white;
      color: @btn-text;
    	-moz-outline: 0;
    	outline: 0;
      border: 0;
      padding: ((@btn-height - @btn-font-size) / 2) ((@btn-width - @btn-font-size) / 2);
      .transition(background @transition-timing);

      i {
        font-size: @btn-font-size;
        width: @btn-font-size;
      }

      &.fr-desktop:hover {
        background: @btn-hover-bg;
      }
    }
  }

  &.fr-popup {

    .fr-colors-tabs {
      .material-box-shadow(@editor-shadow-level);

      .fr-colors-tab {
        color: @ui-text;
        padding: 8px 0;

        &:hover,  &:focus {
          color: @ui-color;
        }

        &[data-param1="background"]::after {
        	bottom: 0;
        	left: 0;
        	background: @ui-color;
          .transition(transform @transition-timing);
        }

        &.fr-selected-tab {
          color: @ui-color;
        }
      }
    }

    .fr-color-hex-layer {

      .fr-input-line {
        padding: 8px 0 0;
      }

      .fr-action-buttons {

        button {
          background-color: @ui-color;
          .border-radius(@border-radius);

          &:hover {
            background-color: darken(@ui-color, 10%);
          }
        }
      }
    }

    .fr-color-set {
      line-height: 0;

      > span {

        > i,  > svg {
          bottom: 0;
          left: 0;
        }

        .fr-selected-color {
          color: @white;
          font-weight: 400;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
        }

        &:hover,  &:focus {
          outline: 1px solid @ui-text;
        }
      }
    }
  }

  .fr-drag-helper {
    background: @drag-helper-bg;
    z-index: 2147483640;
  }

  &.fr-popup {

    .fr-link {

      &:focus {
        outline: 0;
        background: @ui-hover-color;
      }
    }
  }

  &.fr-popup {

    .fr-file-upload-layer {
      border: dashed 2px @ui-disabled-color;
      padding: 25px 0;

      &:hover {
        background: @ui-hover-color;
      }

      &.fr-drop {
        background: @ui-hover-color;
        border-color: @ui-color;
      }

      .fr-form {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2147483640;
      }
    }

    .fr-file-progress-bar-layer {

      > h3 {
        margin: 10px 0;
      }

      > div.fr-loader {
        background: mix(@white, @ui-color, 70%);

        span {
          background: @ui-color;
          .transition(width @transition-timing);
        }

        &.fr-indeterminate {

          span {
            top: 0;
          }
        }
      }
    }
  }

  &.fr-box.fr-fullscreen {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  &.fr-modal .fr-modal-wrapper {

    .fr-modal-body .fr-help-modal {

      table {

        tr {
          border: 0;
        }

        tbody {

          tr {
            border-bottom: solid 1px @separator-color;
          }

          td:first-child {
            color: mix(@ui-text, @white, 70%);;
          }
        }
      }
    }
  }

  .fr-image-resizer {
    border: solid 1px @ui-color;

    .fr-handler {
      background: @ui-color;
      border: solid 1px @white;
    }
    .handler-size(@handler-size);

    @media(min-width: @screen-lg) {
      .handler-size(@handler-size-lg);
    }
  }

  &.fr-image-overlay {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2147483640;
  }

  &.fr-popup {

    .fr-image-upload-layer {
      border: dashed 2px @ui-disabled-color;
      padding: 25px 0;

      &:hover {
        background: @ui-hover-color;
      }

      &.fr-drop {
        background: @ui-hover-color;
        border-color: @ui-color;
      }

      .fr-form {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2147483640;
      }
    }

    .fr-image-progress-bar-layer {

      > h3 {
        margin: 10px 0;
      }

      > div.fr-loader {
        background: mix(@white, @ui-color, 70%);

        span {
          background: @ui-color;
          .transition(width @transition-timing);
        }

        &.fr-indeterminate {

          span {
            top: 0;
          }
        }
      }
    }
  }

  &.fr-modal-head {

    .fr-modal-head-line {

      i {

        &.fr-modal-more {
          .transition(padding @transition-timing, width @transition-timing, opacity @transition-timing;);

          &.fr-not-available {
            opacity: 0;
            width: 0;
            padding: 12px 0;
          }
        }
      }
    }

    .fr-modal-tags {

      a {
        opacity: 0;
        .border-radius(@border-radius);
        color: @ui-color;
        .transition(opacity @transition-timing, background @transition-timing;);

        &.fr-selected-tag {
          background: @ui-focused-color;
        }
      }
    }
  }

  &div.fr-modal-body {

    .fr-preloader {
      margin: 50px auto;
    }

    div.fr-image-list {
      padding: 0;

      div.fr-image-container {
        .material-box-shadow(@editor-shadow-level);
        .border-radius(@border-radius);

        &.fr-image-deleting{

          &::after {
            .transition(opacity @transition-timing);
            background: @black;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
          }

          &::before {
            color: @white;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            margin: auto;
          }
        }

        &.fr-empty {
          background: @gray;

          &::after {
            margin: auto;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
          }
        }

        img {
          .transition(opacity @transition-timing, filter @transition-timing;);
        }

        .fr-delete-img,  .fr-insert-img {
          .transition(background @transition-timing, color @transition-timing;);
          .material-box-shadow(@editor-shadow-level);
          margin: 0;
        }

        .fr-delete-img {
          background: @modal-destroy-btn-bg;
          color: @modal-destroy-btn-text;
        }

        .fr-insert-img {
          background: @ui-bg;
          color: @ui-color;
        }
      }
    }
  }

  &&.fr-desktop .fr-modal-wrapper {

    .fr-modal-head {

      .fr-modal-tags a {

        &:hover {
          background: @ui-hover-color;
        }

        &.fr-selected-tag {
          background: @ui-focused-color;
        }
      }
    }

    div.fr-modal-body div.fr-image-list div.fr-image-container {

      .fr-delete-img:hover {
        background: @modal-destroy-btn-hover-bg;
        color: @modal-destroy-btn-hover-text;
      }

      .fr-insert-img:hover {
        background: @ui-hover-color;
      }
    }
  }

  .fr-line-breaker {
    border-top: 1px solid @ui-color;

    a.fr-floating-btn {
      left: calc(50% - (@floating-btn-size / 2));
      top: (-@floating-btn-size / 2);
    }
  }

  .fr-qi-helper {
    padding-left: @editor-padding;

    a.fr-btn.fr-floating-btn {
      color: @ui-text;
    }
  }

  &.fr-modal .fr-modal-wrapper {

    .fr-modal-body .fr-special-characters-modal {

      .fr-special-character {
        border: 1px solid @gray;
      }
    }
  }

  .fr-element {

    table {

      td.fr-selected-cell,  th.fr-selected-cell {
        border: 1px double @ui-color;
      }
    }
  }

  .fr-table-resizer {

    div {
      border-right: @table-resizer;
    }
  }

  &.fr-popup {

    .fr-table-colors-hex-layer {

      .fr-input-line {
        padding: 8px 0 0;
      }

      .fr-action-buttons {

        button {
          background-color: @ui-color;
          .border-radius(@border-radius);

          &:hover {
            background-color: darken(@ui-color, 10%);
          }
        }
      }
    }

    .fr-table-size {

      .fr-select-table-size {
        line-height: 0;

        > span {
          padding: 0px 4px 4px 0;

          > span {
            border: @insert-table-grid;
          }

          &.hover {

            > span {
              background: rgba(red(@ui-color), green(@ui-color), blue(@ui-color), 0.3);
              border: solid 1px @ui-color;
            }
          }
        }
      }
    }

    .fr-table-colors {
      line-height: 0;

      > span {

        > i {
          bottom: 0;
          left: 0;
        }

        &:focus {
          outline: 1px solid @ui-text;
        }
      }
    }
  }

  .fr-element {

    .fr-video {

      &::after {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }
  }

  &.fr-box .fr-video-resizer {
    border: solid 1px @ui-color;

    .fr-handler {
      background: @ui-color;
      border: solid 1px @white;
    }
    .handler-size(@handler-size);

    @media(min-width: @screen-lg) {
      .handler-size(@handler-size-lg);
    }
  }

  &.fr-popup {

    .fr-video-upload-layer {
      border: dashed 2px @ui-disabled-color;
      padding: 25px 0;

      &:hover {
        background: @ui-hover-color;
      }

      &.fr-drop {
        background: @ui-hover-color;
        border-color: @ui-color;
      }

      .fr-form {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2147483640;
      }
    }

    .fr-video-progress-bar-layer {

      > h3 {
        margin: 10px 0;
      }

      > div.fr-loader {
        background: mix(@white, @ui-color, 70%);

        span {
          background: @ui-color;
          .transition(width @transition-timing);
        }

        &.fr-indeterminate {

          span {
            top: 0;
          }
        }
      }
    }
  }

  &.fr-video-overlay {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2147483640;
  }

  .link-style-mixin(@sel){

    @{sel} {

      &.fr-strong {
        font-weight: 700;
      }
    }
  }

  .image-style-mixin(@sel) {

    @{sel} {

      &.fr-dib {
        margin: @image-margin auto;

        &.fr-fil {
          margin-left: 0;
        }

        &.fr-fir {
          margin-right: 0;
        }
      }

      &.fr-dii {
        margin-left: @image-margin;
        margin-right: @image-margin;
        max-width: calc(100% - (2 * @image-margin));

        &.fr-fil {
          margin: @image-margin @image-margin @image-margin 0;
          max-width: calc(100% - @image-margin);
        }

        &.fr-fir {
          margin: @image-margin 0 @image-margin @image-margin;
          max-width: calc(100% - @image-margin);
        }
      }
    }
  }

  .video-style(@cls: '') {

    .fr-video {

      &.fr-rv {
        height: 0;

        > iframe,  object,  embed {
          top: 0;
          left: 0;
        }
      }
    }
  }

  .fr-view {

    span[style~="color:"] a {
      color: inherit;
    }

    strong {
      font-weight: 700;
    }

    table {

      &.fr-alternate-rows {

        tbody tr:nth-child(2n) {
          background: lighten(@gray, 16%);
        }
      }

      td,  th {
        border: @table-border;
      }

      th {
        background: mix(@white, @editor-text, 90%);;
      }
    }

    &[dir="rtl"] {

      blockquote {
        border-right: solid 2px @blockquote-level1-color;
        margin-right: 0;

        blockquote {
          border-color: @blockquote-level2-color;

          blockquote {
            border-color: @blockquote-level3-color;
          }
        }
      }
    }

    blockquote {
      border-left: solid 2px @blockquote-level1-color;
      margin-left: 0;
      color: @blockquote-level1-color;

      blockquote {
        border-color: @blockquote-level2-color;
        color: @blockquote-level2-color;

        blockquote {
          border-color: @blockquote-level3-color;
          color: @blockquote-level3-color;
        }
      }
    }

    span.fr-emoticon {
      line-height: 0;

      &.fr-emoticon-img {
        font-size: inherit;
      }
    }

    .fr-text-bordered {
      padding: 10px 0;
    }

    .fr-class-highlighted {
      background-color:#ffff00;
    }

    .fr-img-caption {

      .fr-img-wrap {
        margin: auto;

        img {
          margin: auto;
        }

        > span {
          margin: auto;
        }
      }
    }
  }

  .fr-element {

    .fr-embedly {

      &::after {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }
  }

  &.fr-box .fr-embedly-resizer {
    border: solid 1px @ui-color;
  }

  &.fr-modal .fr-modal-wrapper {

    .fr-modal-body .fr-font-awesome-modal {

      .fr-font-awesome-title {
        border-bottom: solid 1px mix(@gray, @white, 30%);
      }
    }
  }

  .tui-image-editor-container{
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
  }

  .tui-editor-cancel-btn{
    background-color: @white;
    border: 1px solid @gray;
  }

  .tui-editor-save-btn{
    color: @white;
  }

  .examples-variante > a {
    font-size: @ui-font-size;
    font-family: @font-family;
  }

  .sc-cm-holder > .sc-cm {
    border-top: @ui-border-top !important;
  }

  .sc-cm__item_dropdown:hover > a,  .sc-cm a:hover {
    background-color: @ui-hover-color !important;
  }

  .sc-cm__item_active > a,  .sc-cm__item_active > a:hover,  .sc-cm a:active,  .sc-cm a:focus{
    background-color: @ui-focused-color !important;
  }

  .sc-cm-holder> .sc-cm:before {
    background-color: @ui-hover-color !important;
  }

  .fr-tooltip {
    top: 0;
    left: 0;
    .border-radius(@border-radius);
    .material-box-shadow(((@editor-shadow-level + 1) * min(@editor-shadow-level, 1)));
    background: @tooltip-bg;
    color: @tooltip-text;
    font-size: @tooltip-font-size;
    line-height: @tooltip-line-height;
    font-family: @font-family;
    .transition(opacity @transition-timing);
  }

  &.fr-toolbar, &.fr-popup {

    .fr-command.fr-btn {
      color: @btn-text;
    	-moz-outline: 0;
    	outline: 0;
      border: 0;
    	margin: 0px @btn-margin;
      .transition(background @transition-timing);
      padding: 0;
      width: @btn-width;
      height: @btn-height;

      &::-moz-focus-inner {
        border: 0;
      }

      &.fr-btn-text {
        width: auto;
      }

      i,  svg {
        font-size: @btn-font-size;
        width: @btn-font-size;
        margin: ((@btn-height - @btn-font-size) / 2) ((@btn-width - @btn-font-size) / 2);
      }

      span {
        font-size: @ui-font-size;
        line-height:  (@ui-font-size + 3px);
        min-width: (@btn-width - 2 * @btn-margin);
        height: (@btn-font-size + 3px);
        padding: 0 @btn-margin;
      }

      img {
        margin: ((@btn-height - @btn-font-size) / 2) ((@btn-width - @btn-font-size) / 2);
        width: @btn-font-size;
      }

      &.fr-active {
        color: @btn-active-text;
        background: @btn-active-bg;
      }

      &.fr-dropdown {

        &.fr-selection {
          width: auto;
        }

        i,  span,  img,  svg {
          margin-left: (((@btn-width - @btn-font-size) / 2) - @dropdown-arrow-width);
          margin-right: (((@btn-width - @btn-font-size) / 2) + @dropdown-arrow-width);
        }

        &.fr-active {
          color: @btn-text;
          background: @btn-selected-bg;

          &:hover,  &:focus {
            background: @btn-selected-bg !important;
            color: @btn-selected-text !important;

            &::after {
              border-top-color: @btn-selected-text !important;
            }
          }
        }

        &::after {
          width: 0;
        	height: 0;
        	border-left: @dropdown-arrow-width solid transparent;
        	border-right: @dropdown-arrow-width solid transparent;
        	border-top: @dropdown-arrow-width solid @btn-text;
          right: (((@btn-width - @btn-font-size) / 2 - @dropdown-arrow-width) / 2);
          top: ((@btn-height - @dropdown-arrow-width) / 2);
        }
      }

      &.fr-disabled {
        color: @btn-disabled-color;

        &::after {
          border-top-color: @btn-disabled-color !important;
        }
      }
    }

    &.fr-disabled {

      .fr-btn,  .fr-btn.fr-active {
        color: @btn-disabled-color;

        &.fr-dropdown::after {
          border-top-color: @btn-disabled-color;
        }
      }
    }
  }

  &.fr-desktop {

    .fr-command {

      &:hover,  &:focus,  &.fr-btn-hover,  &.fr-expanded {
        outline: 0;
        color: @btn-hover-text;
        background: @btn-hover-bg;

        &::after {
          border-top-color: @btn-hover-text !important;
        }
      }

      &.fr-selected {
        color: @btn-selected-text;
        background: @btn-selected-bg;
      }

      &.fr-active {

        &:hover,  &:focus,  &.fr-btn-hover,  &.fr-expanded {
          color: @btn-active-hover-text;
          background: @btn-active-hover-bg;
        }

        &.fr-selected {
          color: @btn-active-selected-text;
          background: @btn-active-selected-bg;
        }
      }
    }
  }

  &.fr-toolbar.fr-mobile, &.fr-popup.fr-mobile {

    .fr-command.fr-blink {
      background: @btn-active-bg;
    }
  }

  .fr-command.fr-btn {

    &.fr-options {
      width: @dropdown-options-width;
      margin-left: @dropdown-options-margin-left;

      &.fr-btn-hover,  &:hover,  &:focus {
        border-left: @dropdown-options-border-left;
      }
    }

    + .fr-dropdown-menu {
      right: auto;
      bottom: auto;
      height: auto;
      .border-radius(0 0 @border-radius @border-radius);

      &.test-height {

        .fr-dropdown-wrapper {
          height: auto;
          max-height: @dropdown-max-height;
        }
      }

      .fr-dropdown-wrapper {
        background: @ui-bg;
        padding: 0;
        margin: auto;
        .transition(max-height @transition-timing);
        margin-top: 0;
        max-height: 0;
        height: 0;

        .fr-dropdown-content {
          overflow: auto;
          max-height: @dropdown-max-height;

          ul.fr-dropdown-list {
            margin: 0;
            padding: 0;

            li {
              padding: 0;
              margin: 0;

              a {
                color: inherit;

                &.fr-active {
                  background: @dropdown-item-active-bg;
                }

                &.fr-disabled {
                  color: @btn-disabled-color;
                }
              }
            }
          }
        }
      }
    }

    &.fr-active {

      + .fr-dropdown-menu {
        .material-box-shadow(((@editor-shadow-level + 1) * min(@editor-shadow-level, 1)));

        .fr-dropdown-wrapper {
          height: auto;
          max-height: @dropdown-max-height;
        }
      }
    }
  }

  .fr-bottom > .fr-command.fr-btn {

    + .fr-dropdown-menu {
      .border-radius(@border-radius @border-radius 0 0);
      .material-box-shadow((@editor-shadow-level + 1) * min(@editor-shadow-level, 1), -1);
    }
  }

  &.fr-modal {
    color: @ui-text;
    font-family: @font-family;
    overflow-x: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2147483640;

    &.fr-middle {

      .fr-modal-wrapper {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
      }
    }

    .fr-modal-wrapper {
      .border-radius(@border-radius);
      margin: 20px auto;
      background: @modal-bg;
      .material-box-shadow(((@editor-shadow-level + 2) * min(@editor-shadow-level, 1)));
      border: @editor-border;
      border-top: @ui-border-top;

      @media (min-width: @screen-sm) and (max-width: @screen-sm-max) {
        margin: 30px auto;
      }

      @media (min-width: @screen-md) {
        margin: 50px auto;
      }

      .fr-modal-head {
        background: @ui-bg;
        .material-box-shadow(((@editor-shadow-level + 1) * min(@editor-shadow-level, 1)));
        border-bottom: @editor-border;
        .transition(height @transition-timing);

        .fr-modal-close {
          color: @ui-text;
          top: 0;
          right: 0;
          .transition(color @transition-timing);
        }

        h4 {
          margin: 0;
          font-weight: 400;
        }
      }

      div.fr-modal-body {

        &:focus {
          outline: 0;
        }

        button.fr-command {
          color: @ui-color;
          .transition(background @transition-timing);
          .border-radius(@border-radius);

          &:hover,  &:focus {
            background: @ui-hover-color;
            color: @ui-color;
          }

          &:active {
            background: @ui-focused-color;
            color: @ui-color;
          }
        }

        button::-moz-focus-inner {
          border: 0;
        }
      }
    }
  }

  &&.fr-desktop .fr-modal-wrapper {

    .fr-modal-head {

      i:hover {
        background: @ui-hover-color;
      }
    }
  }

  &.fr-overlay {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: @modal-overlay-color;
  }

  &.fr-popup {
    color: @ui-text;
    background: @ui-bg;
    .material-box-shadow(@editor-shadow-level);
    .border-radius(@border-radius);
    font-family: @font-family;
    border: @editor-border;
    border-top: @ui-border-top;

    .fr-input-focus {
      background: @ui-hover-light-color;
    }

    &.fr-above {
      border-top: 0;
      border-bottom: @ui-border-top;
      .material-box-shadow(@editor-shadow-level, -1);
    }

    .fr-input-line {
      padding: 8px 0;

      input[type="text"],  textarea {
        margin: 0px 0 1px 0;
        border-bottom: solid 1px @input-border-color;
        color: @ui-text;

        &:focus {
          border-bottom: solid 2px @ui-color;
        }
      }

      input + label,  textarea + label {
        top: 0;
        left: 0;
        .transition(color @transition-timing);
        background: @ui-bg;
      }

      input.fr-not-empty:focus + label,  textarea.fr-not-empty:focus + label {
        color: @ui-color;
      }

      input.fr-not-empty + label,  textarea.fr-not-empty + label {
        color: @input-label-color;
      }
    }

    .fr-buttons {
      .material-box-shadow(@editor-shadow-level);
      padding: 0 @btn-margin;
      line-height: 0;
      border-bottom: @editor-border;
    }

    .fr-layer {
      width: (@popup-layer-width * 0.75);

      @media (min-width: @screen-sm) {
        width: @popup-layer-width;
      }
    }

    .fr-action-buttons {

      button.fr-command {
        color: @ui-color;
        .transition(background @transition-timing);
        .border-radius(@border-radius);

        &:hover,  &:focus {
          background: @ui-hover-color;
          color: @ui-color;
        }

        &:active {
          background: @ui-focused-color;
          color: @ui-color;
        }
      }

      button::-moz-focus-inner {
        border: 0;
      }
    }

    .fr-checkbox {

      span {
        border: solid 1px @ui-text;
        .border-radius(@border-radius);
        .transition(background @transition-timing, border-color @transition-timing;);
      }

      input {
        margin: 0;
        padding: 0;

        &:checked + span {
          background: @ui-color;
          border-color: @ui-color;
        }

        &:focus + span {
          border-color: @ui-color;
        }
      }
    }

    &.fr-rtl {

      .fr-input-line {

        input + label,  textarea + label {
          left: auto;
          right: 0;
        }
      }
    }

    .fr-arrow {
      width: 0;
      height: 0;
      border-left: @arrow-size solid transparent;
      border-right: @arrow-size solid transparent;
      border-bottom: @arrow-size solid @ui-border-color;
      top: ((-@arrow-size * 2) + 1);
      margin-left: (-@arrow-size);
    }

    &.fr-above {

      .fr-arrow {
        top: auto;
        bottom: ((-@arrow-size * 2) + 1);
        border-bottom: 0;
        border-top: @arrow-size solid @ui-border-color;
      }
    }
  }

  &.fr-toolbar {
    color: @ui-text;
    background: @ui-bg;
    font-family: @font-family;
    padding: 0 @btn-margin;
    .border-radius(@border-radius);
    .material-box-shadow(@editor-shadow-level);
    border: @editor-border;
    border-top: @ui-border-top;

    &.fr-inline {

      .fr-arrow {
        width: 0;
        height: 0;
        border-left: @arrow-size solid transparent;
        border-right: @arrow-size solid transparent;
        border-bottom: @arrow-size solid @ui-border-color;
        top: ((-@arrow-size * 2) + 1);
        margin-left: (-@arrow-size);
      }

      &.fr-above {
        .material-box-shadow(@editor-shadow-level, -1);
        border-bottom: @ui-border-top;
        border-top: 0;

        .fr-arrow {
          top: auto;
          bottom: ((-@arrow-size * 2) + 1);
          border-bottom: 0;
          border-top-color: inherit;
          border-top-width: @arrow-size;
        }
      }
    }

    &.fr-top {
      top: 0;
      .border-radius(@border-radius @border-radius 0 0);
      .material-box-shadow(@editor-shadow-level);
    }

    &.fr-bottom {
      bottom: 0;
      .border-radius(0 0 @border-radius @border-radius);
      .material-box-shadow(@editor-shadow-level);
    }
  }

  .fr-separator {
    background: @separator-color;

    &.fr-vs {
      height: (@btn-height - 2 * @btn-margin);
      width: @separator-size;
      margin: @btn-margin;
    }

    &.fr-hs {
      height: @separator-size;
      width: calc(100% - (2 * @btn-margin));
      margin: 0 @btn-margin;
    }
  }
}